[2015-11-16 16:34] h-2 commented on #1272
fixed by #1285

[2015-11-16 16:34] #1272 closed

[2015-11-16 17:29] temehi commented on #1238
Yes! and the reason is if you pass `seqVector[i]` to `readRecord()` it will be reserved with the stream buffer size (which is usually bigger) and stays as it is, where as the intermediate variable is overwritten for every iteration. To avoid this one should use (it's also recommended) readRecords() to read a block of records, and use   `StringSet<CharString, Owner<ConcatDirect<> > >` to store them

[2015-11-16 17:52] h-2 commented on #1284
@AOIST on windows we only support MSVC++ right now, not gcc. So we can't help you with the problem.  However we do accept patches, so if you manage to fix it, we will integrate the fix.

[2015-11-16 18:09] h-2 commented on #1238
@catkira can you confirm this fixes your issue?

[2015-11-16 19:03] esiragusa commented on #1275
FYI I would close this issue rather than spending time on it. It does not improve anything objectively... that's really :nail_care:

[2015-11-16 19:04] #1284 closed

[2015-11-17 09:57] catkira commented on #1238
yes, its solved now. Thank you!

[2015-11-17 09:57] #1238 closed

[2015-11-17 11:13] h-2 commented on #1238
Although it is true that `readRecords()` is recommended, I still think there is a bug somewhere.
I am not convinced the reserved space should grow, if the saved strings are always the same size. @temehi can we discuss this again sometime?

[2015-11-18 15:49] h-2 opened #1289 "deprecate Dependent<Tight> StringSets"
... and also undocument `valueById()` `removeValueById()` as no one knows exactly what they are good for, their interfaces don't align with SequenceConcept, there are currently no tests being run and no app uses them.
Also redo StringSets Tutorial.

[2015-11-18 16:48] esiragusa commented on #1289
If you plan to keep these functions, you better mark them as deprecated in the dox! Or do you want to remove these functions?

[2015-11-19 13:44] h-2 commented on #1275
I disagree, the issue is basically already fiyed and it improves the quality of our tutorials which is good. even though it may not be essential I don't see any harm in the fix, so why not do it?

[2015-11-20 14:17] h-2 commented on #1289
@esiragusa deprecating would probably be enough. But they need to be removed from the tutorial, too.

[2015-11-25 12:38] h-2 commented on #507
@esiragusa Could you have a look at this? I have people complaining that they offer Lambda indexes in ro-group directories to their users, but these shouldn't be required to be writeable.
Thanks!

[2015-11-30 09:37] h-2 commented on #1274
mostly done, only minor issues remain:
http://cdash.seqan.de/buildSummary.php?buildid=155166

@marehr can you have a look at this?

[2015-11-30 09:39] h-2 commented on #1275
fixed by #1295

[2015-11-30 09:39] #1275 closed

[2015-11-30 17:11] temehi commented on #1276
This was fixed on develop #894. @esiragusa or @h-2

[2015-12-03 15:42] h-2 commented on #634
@esiragusa what is the state of this? Don't we have everything already?

[2015-12-03 15:43] h-2 commented on #522
@kreinert maybe something for the UGM?

[2015-12-08 13:08] marehr opened #1307 "Documentation error in the Metafuction tutorial"
In the Hint of [assignment 1](http://seqan.readthedocs.org/en/develop/Tutorial/Metafunctions.html#assignment-1):

Firstly, [Value](http://docs.seqan.de/seqan/develop/?p=ContainerConcept#Value) is mentioned, but not used in the solution.

Secondly, [value](docs.seqan.de/seqan/develop/?p=RandomAccessContainerConcept#value) is marked as deprecated. Thus, the solution would be written as

[code]

whic

[2015-12-08 16:26] abysslover opened #1308 "a feature request (inter-chromosomal structural variants) for mason_variator"
I have used mason_variator to simulate various types of structural variants.
The problem is that I need simulations for inter-chromosomal translocations and indels given two chromosome A and B.
For instance, some sequences are selected from A and moved to B and information about this mutation would be like A[position with respect to the original A chromosome, length], B[position with respect to th

[2015-12-09 09:58] NG0S opened #1309 "Documentation error with CIGAR format in Pairwise Sequence Alignment Tutorial"
In this tutorial, and in particular in the Assignment 5, the author considers "S" operations in CIGAR means substitutions. This is not true.
In accordance to SAM format specifications (http://samtools.github.io/hts-specs/SAMv1.pdf), "S" operations should mean soft-clipping, which is widely used with local aligners like bowtie --local, or even BLAST. The "M" operation means both match and mismatch.

[2015-12-09 11:47] h-2 commented on #1308
@holtgrewe can you have a look? Thank you.

[2015-12-09 11:57] h-2 commented on #1309
Can you point me to the tutorial? I couldn't find Assignment 5...
Also all internal functions that I just checked treat 'H' and 'S' as clipping.

[2015-12-09 12:11] NG0S commented on #1309
This is the tutorial i'm talking about:
http://seqan.readthedocs.org/en/master/Tutorial/PairwiseSequenceAlignment.html#tutorial-pairwise-sequence-alignment
and there:
https://github.com/seqan/seqan/blob/master/manual/source/Tutorial/PairwiseSequenceAlignment.rst#assignment-5

If I'm remembering correctly the bug with the Fragment Store and the soft-clipping (https://github.com/seqan/seqan/issues/5

[2015-12-10 16:11] h-2 opened #1310 "PackedStrings for non-packables should be regular strings"
One can create `String<short, Packed<Alloc<> > >` which does not make sense, because short cant be packed. Doing this not only increases overhead, but does not work, i.e. the tests fail in some cases.

TODO:
  * rename `String<TValue, Packed<THostspec> >` to `PackedString_<TValue, THostspec >`
  * make a metafunction that `PackedType_<String<TValue, TSpec> >` that sets `Type` `PackedString_<TValue

[2015-12-11 11:08] #973 closed

[2015-12-11 14:27] esiragusa commented on #1310
It would be more sinful to disable the Packed String spec on non-packable types. For that, it suffices to introduce PackableAlphabetConcept refining AlphabetConcept, then decorate the PackedString implementation with concept checking.

[2015-12-11 15:03] h-2 commented on #1310
Ok, can you provide a few more hints to @smehringer on this? Thanks!

[2015-12-12 21:34] h-2 commented on #507
fixed

[2015-12-12 21:34] #507 closed

[2015-12-17 12:21] holtgrewe commented on #1308
I think that this is a very important point. Its impact on the Mason could would be quite large and I will have to look into this and see what has to be changed to make it work.

[2016-01-04 16:01] rrahn commented on #1276
@temehi is this issue now fixed?

[2016-01-05 08:50] rrahn commented on #858
@smehringer Can we close this?

[2016-01-06 12:34] smehringer commented on #858
@rrahn Not yet. I was busy otherwise and there are several code snippets that need to be looked at  carefully because they do not resemble an actual function or program. I think Hannes suggested to always  have a "basic.cpp"-file where all snippets are listed in main().

[2016-01-06 13:54] rrahn commented on #858
Ah great. Yes, something I also suggest.

[2016-01-07 11:38] smehringer commented on #858
Then I'll do that.

[2016-01-07 11:46] rrahn commented on #858
Maybe wait with this until next Monday.
We are basically restructuring the layout of the tutorials and the manual page.
We can then discuss the details about this.

[2016-01-11 11:06] xenigmax commented on #1127
Hmm. What should I do for this exactly?
@rrahn Can you explain it more? :)

[2016-01-11 11:14] xenigmax commented on #974
It seems Safari specific bug.
It was not reproduced in Chrome.

[2016-01-11 11:49] rrahn commented on #974
Ok I'll have a check later.

[2016-01-11 12:03] xenigmax commented on #977
1)
From "/modifier/modifier_string.h"
https://github.com/seqan/seqan/blob/master/include/seqan/modifier/modifier_string.h#L72-L74
[code]
</b>

2)
From "http://docs.seqan.de/seqan/master/class_ModifiedString.html"
```.. <h3>Examples</ h3 ><h4>Using ModReverseString</h4> .. ```

3)
From "https://www.w3.org/wiki/HTML/Elements/h1,_h2,_h3,_h4,_h5,_and_h6"
By definition, "H3" is larger than "H4".

So I

[2016-01-11 15:25] xenigmax commented on #724
@rrahn  , @h-2
1) Who maintains this page? - http://docs.seqan.de/
2) Is this OK to get the list of versions from above ?

If you agree, I will add some python codes to "/util/py_lib/seqan/dox/"
It will extract available versions from 1).

[2016-01-11 15:47] h-2 opened #1315 "replace __[u]intXt with C99 [u]intX_t"
- [x] remove platform specific typedefs in `platform_*.h` and add global typedefs from C99 to old-seqan-format (like current gcc)
  - [x] fix test-specific tests and remove platforms specific code from tests
  - [x] search and replace all
``c++
__int8t;
__int16t;
__int32t;
__int64t;
``
with
``c++
int8_t;
int16_t;
int32_t;
int64_t;
``
and also for the unsigned counter parts **everywhere in the libr

[2016-01-11 16:23] marehr commented on #1315
Just some reminders for me:

### 1) remove the file seqan/include/seqan/platform/windows_stdint.h and remove the include
Since C++11 is <cstdint> included.

Remove the include of the header file in
[code]
https://github.com/seqan/seqan/blob/develop/include/seqan/platform/platform_windows.h#L90

## 2) Move typedefs from seqan/include/seqan/platform/platform_gcc.h into global seqan/include/seqan/pla

[2016-01-11 16:38] h-2 commented on #977
hm, cannot reproduce it right now, will move it to backlog

[2016-01-11 21:17] rrahn commented on #1008
I postpone this to when we have actual freeBSD support.

[2016-01-12 11:20] h-2 commented on #1008
we do have actual freebsd support, this is the only remaining os-specific problem and I want to update the offical FreeBSD port to 2.x (http://www.freshports.org/biology/seqan).

[2016-01-12 11:53] h-2 opened #1320 "make C++11 formal requirement for 2.1.0 and remove old code"
- [x] make FindCXX11 a requirement for any build, as all supported 2.1 compilers support the required C++11 features
  - [x] include the std= parameter in SEQAN_CXX_FLAGS and get rid of CX11_CXX_FLAGS
  - [ ] find all occurences of `SEQAN_CXX11_STANDARD`, `SEQAN_CXX11_STL` and `SEQAN_CXX11_COMPLETE` and remove the outdated code and checks

see also #1349

[2016-01-12 17:51] xenigmax commented on #767
BamAlignmentReocrd seems not a proper example anymore.
So I tested it with "gapAnchor".
The first one is a Class, and second one is a member function (a constructor in this case.).
[code]

Here are questions.

Who can decide the UI/UX kind of things?
@rrahn , probably?

[2016-01-12 18:17] #1309 closed

[2016-01-12 20:19] #1034 closed

[2016-01-13 14:24] marehr opened #1326 "cmake detects c++11, but does not set the compiler flag"
`cmake -DCMAKE_C_COMPILER=gcc -DCMAKE_CXX_COMPILER=g++ ../../seqan`
detects c++11

[code]

but `make VERBOSE=1` shows that there is no compiler flag set

[code]
=======

A workaround is to explicitly set the compiler flag.

`cmake -DCMAKE_C_COMPILER=gcc -DCMAKE_CXX_COMPILER=g++ -DCMAKE_CXX_FLAGS=-std=c++11 ../../seqan`

[2016-01-14 10:52] h-2 commented on #1326
apps and tests need to explicitly state that they want c++11 with `find_package(CXX11)` and then `set (CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} ${SEQAN_CXX_FLAGS} ${CXX11_CXX_FLAGS}")` See for example the sequences' test CMakeLists.
[For the demos I already changed it so that is always included if detected]

As part of #1320 you can have this always be detected as part of FindSeqAn and fail otherwise.

[2016-01-14 10:52] #1326 closed

[2016-01-14 12:53] xenigmax commented on #724
@rrahn, Would you check below?
http://docs.seqan.de/seqan/master_version_test/

The version selector is on a fixed layer as you requested.
If you like it, I will make another PR.

Please feel free to say anything :)

[2016-01-14 12:58] rrahn commented on #724
That looks very good :+1:
Could you align the label and box to the right side of the sidebar.
I think it looks a little bit better. :nail_care: I know

[2016-01-14 13:05] xenigmax commented on #724
@rrahn , I did. Would you check again?
Any other comments?

[2016-01-14 13:19] h-2 commented on #1025
not necessary anymore once #1320 is done

[2016-01-14 13:19] #1025 closed

[2016-01-14 13:57] alvinwt commented on #987
Hi @esiragusa, I get this error when I run razers3. How do I fix this problem?

[2016-01-14 14:08] h-2 opened #1330 "remove apps/seqan_flexbar"
because we have two external apps that supersede it.

[2016-01-14 14:14] h-2 opened #1331 "clarify app situation"
Even if we won't move out all the apps for 2.1.0, are there some that could just be deleted?
 E.g.
  - [ ] why do we have three different razers versions in the tree? Is there any benefit to using one of the older versions? @weese  can you clarify?
  - [ ] What about seqcons and seqcons2? @holtgrewe can you clarify?

Are there other tools which are so outdated, unused or otherwise suffering bitrot

[2016-01-15 02:04] esiragusa commented on #987
@alvinwt I don't know what's the problem with razers3... I would suggest you to use Yara instead. See http://www.seqan.de/projects/yara/ for instructions.

[2016-01-15 09:29] h-2 commented on #987
@alvinwt how is this related to the issue with seqan_flexbar?

@mmokrejs have you try using one of the flexbar forks:
 * http://github.com/seqan/flexbar
 * http://github.com/seqan/flexcat
The flexbar app "inside" of the seqan library repository will be removed in favor of these.

[2016-01-15 09:32] h-2 commented on #1206
@esiragusa Can you clarify what you mean with this request? Thanks!

[2016-01-15 12:29] rrahn commented on #1206
Well I think if we run the tests and everything on travis in release mode, assertion are not gonna be triggered.

[2016-01-15 12:59] rrahn commented on #724
Can you center the text and the drop down menu on the vertical axis?
You can then make PR.

[2016-01-15 16:59] temehi commented on #953
This is done! @h-2 @rrahn you may close the issue

[2016-01-15 17:33] h-2 commented on #953
@temehi great!

[2016-01-15 17:33] #953 closed

[2016-01-16 13:52] alvinwt commented on #987
@h-2 The error messages is exactly the same as the one in seqan_flexbar

[2016-01-18 11:04] h-2 commented on #987
@alvinwt then please file a bug report in the respective repository :smiley:

[2016-01-18 11:09] h-2 commented on #987
ah, sorry about that. I misunderstood.

The problem seems to be with non-conformant fasta or fastq file. DO you have unexpected characters in the file? E.g. are you perhaps reading a file with non-Dna characters? Or do you have empty lines in your sequence? Does a header line not start with the proper character ('>') ?

[2016-01-18 11:57] alvinwt commented on #987
@h-2 I realized that it was due to compression i.e fastq.gz as the input file. After I uncompressed the file, the error was gone. It didn't say in the documentation that compressed files are not allowed so I'm not sure if that is the problem.

[2016-01-18 12:21] rrahn commented on #987
Usually it should work with current master. Have you tried?
There was a bug when decompressing parallel compressed gzip files.
It should be fixed in 2.0.1. Here the link to the issue #1195.

[2016-01-19 10:21] mr-c commented on #1320
Great to hear, :+1:

[2016-01-19 10:41] rrahn commented on #880
Superseded by #1336

[2016-01-19 11:17] rrahn opened #1337 "Add find interface for JST"
- [x]  Add find interface for JST traversal
- [x]  Add Horspool search
- [x]  Add ShiftAnd/ShiftOr search
- [x]  Add Meyer's search

[2016-01-19 11:18] rrahn opened #1338 "Port SIMD-Align code from Stefan's Thesis"
From https://github.com/budach/seqan/tree/develop

[2016-01-20 09:50] mr-c opened #1342 "failure to build from source with GCC6"
Hello from Debian-med,

GCC 6 is likely to be the default compiler for the upcoming Debian "stretch" release. While GCC 6 has not been released, Debian has begun the search for software that will need updating.

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=811841

You may be able to find out more about this issue at https://gcc.gnu.org/gcc-6/changes.html

Example error:

[code]

[2016-01-20 10:18] temehi commented on #1276
@rrahn as I said in previous comment the issue is not an issue on the develop branch and it doesn't make sense to fix it for master. I would say let's wait until the commits on develop are merged to master as well.

[2016-01-20 10:23] rrahn commented on #1276
:ok_hand:

[2016-01-20 10:39] rrahn commented on #1342
Hey, thanks for pointing to it.
The seqan version seems a little bit old, though :confused:

[2016-01-20 10:41] rrahn opened #1343 "Update distributed seqan packages"
We need to keep the distributed seqan packages up to date.
- [ ] Debian package
- [ ] MacPorts
- [ ] FreeBSD

[2016-01-20 10:42] rrahn commented on #1343
See #1342 as an example for outdated seqan packages.

[2016-01-20 10:52] mr-c commented on #1342
We are working on the packages for v2.0.1; looks like we had build problems with v2.0 https://lists.debian.org/debian-med/2015/07/msg00045.html

[2016-01-20 10:54] mr-c opened #1344 "v1.4.1: please make the build reproducible"
FYI: another issue found in Debian

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=809058

[code]

[2016-01-20 10:57] h-2 commented on #1343
I maintain freebsd and updates are already underway:
https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=204127

[2016-01-20 11:31] h-2 commented on #1342
I will add gcc-6 to our build matrix. You might want to wait for seqan-2.0.2 and/or seqan-2.1.0 which are to be released in the next two weeks, though. There have been fixes, also build related, that should make deploying the package a lot easier.

[2016-01-20 11:33] h-2 commented on #1344
There are no further updates for seqan-1.*
But can you point us to documents that explain how ensure this for seqan2?

[2016-01-20 11:35] h-2 commented on #1344
Is the dddoc issue the only problem for reproducability? Because if yes, I can assure you the entire dddoc system has been removed :)

[2016-01-20 11:38] #1344 closed

[2016-01-20 11:38] mr-c commented on #1344
That was the only problem for reproducibility; thanks!

Mie, 20 ian. 2016, 12:35, Hannes Hauswedell <notifications@github.com> a
scris:

--
Michael R. Crusoe     CWL Community Engineer     crusoe@ucdavis.edu
<mcrusoe@msu.edu>
Common Workflow Language project    University of California, Davis
https://impactstory.org/MichaelRCrusoe http://twitter.com/biocrusoe

[2016-01-20 11:40] h-2 opened #1345 "GCC6 warnings"
GCC6 warns about things that it didnt warn about before, especially

`-Wmisleading-indentation`
  * [x] razers/outputFormat.h [in #1409]
  * [x] razers/razers.cpp [in #1409]
  * [x] razers/razers_matepairs.h [in #1409]
  * [x] consensus_base.h [in #1409]
  * [x] index_dfi.h [in #1409]
  * [x] snp_store.h [in #1412]
  * [x] fiona.cpp [in #1412]
  * ~~seqcons.cpp [only master]~~
  * ~~seqan_flexlib.

[2016-01-20 11:49] h-2 commented on #1268
fixed by #1316

[2016-01-20 11:49] #1268 closed

[2016-01-20 11:53] h-2 commented on #1189
#1320 will change the behaviour to always use c++14 for everything if available and otherwise use c++11 for everything.

#1327 will add a whole bunch of modern compilers to our travis builds

[2016-01-20 11:53] #1189 closed

[2016-01-20 11:55] h-2 commented on #1342
I have just built the current master branch with gcc-6. There were no errors, only some new warnings that will be fixed prior to the next release, please see #1345

@mr-c can you keep us up to date on the debian packages in #1343 ? Thanks a lot!

[2016-01-20 11:55] #1342 closed

[2016-01-20 12:28] h-2 opened #1348 "travis compiler selection"
~~- [ ] once gcc6 is whitelisted, add it master and develop builds~~ not possible right now
  - [x] after that remove gcc-4.8 and clang-3.4 from the develop builds

[2016-01-20 12:48] h-2 opened #1349 "supported platforms [develop / 2.1.*]"
- [x] FATAL CHECKS:
     -  MSVC < 2015
     - clang, gcc or icc don't provide `-std=c++11`

  - [x] WARNINGS:
     - clang < 3.5
     - gcc < 4.9
     - any icc or other unknown compilers

  - [x] remove dead code for old platforms
  - [x] Update all documentation (website, README.rst ...)
  - [x] throw out c-compiler detection (set language to CXX)

[2016-01-20 13:28] h-2 commented on #1042
implemented in #1316

[2016-01-20 13:28] #1042 closed

[2016-01-20 14:09] h-2 commented on #1276
fixed in 2.1.0

[2016-01-20 14:09] #1276 closed

[2016-01-20 14:10] h-2 commented on #1206
moved to backlog

[2016-01-20 14:13] h-2 commented on #1074
@catkira are there any news on this item? Did I understand correctly that it only happens on windows, and that gcc and clang initialize properly?

Can you sum up
  - how large the impact of the error is
  - how large the overhead of your fix is
  - make a pull request?

Thanks a lot!

[2016-01-20 14:14] h-2 commented on #1073
@rrahn can this be closed?

[2016-01-20 14:14] esiragusa commented on #1206
Hmm in my opinion that should be fixed, it's probably a very easy change...

[2016-01-20 14:15] h-2 commented on #1030
fixed by #1299

[2016-01-20 14:15] #1030 closed

[2016-01-20 14:16] h-2 commented on #880
fixed by #1336

[2016-01-20 14:16] #880 closed

[2016-01-20 14:16] esiragusa commented on #1074
@h2 please read the thread above: do not apply this fix, rather investigate the issue further.

[2016-01-20 14:17] h-2 commented on #831
@xenigmax can you have a look? Thanks!

[2016-01-20 14:19] #1073 closed

[2016-01-20 14:25] h-2 commented on #1274
if our upstream bugs in the intel compiler are not fixed in time this will be moved to 2.1.1

[2016-01-20 14:31] h-2 commented on #958
fixed in #1316

[2016-01-20 14:31] #958 closed

[2016-01-20 14:33] h-2 commented on #712
@temehi this would be nice to have, maybe you could do it with a student as a PMSB proejct?

[2016-01-20 14:37] h-2 commented on #903
@marehr  you are the new SIMD-guy, right? ^^

[2016-01-20 14:46] h-2 commented on #1074
@esiragusa well if the memory is unitialized and it need to be initialized, what's the problem with memset?

[2016-01-20 14:50] rrahn commented on #903
@marehr We can have a look at it together.
I need this as well for merging the SIMD align code from the master's thesis (see #1338)

[2016-01-20 15:09] h-2 commented on #1198
can reactivate the test and see how it fares with our new travis setup ( #1347)?

[2016-01-20 15:17] esiragusa commented on #1074
As @catkira wrote, PackedString is supposed not to rely on zero-initialized memory. This is true for all other SeqAn containers.

Initialization does not happen at allocation time. If you place a memset there, all properly implemented containers will imply that memory is initialized twice, while PackedString will rely on zero-initialized memory which is wrong.

[2016-01-20 16:05] h-2 commented on #1074
@esiragusa Thanks for the explanation! So the memset should be in the PackedString's constructor + resize?

[2016-01-20 16:10] h-2 commented on #514
We can now use numeric_limits in develop! @smehringer, ca you make our (Meta)-functions call these: http://en.cppreference.com/w/cpp/types/numeric_limits/max

[2016-01-20 16:13] esiragusa commented on #1074
To reproduce the error on GCC or Clang, @catkira suggested to do:

```memset((void)data, 0xFFFFFFFF, count * sizeof(TValue));```

You should check if PackedString is correctly implemented.

[2016-01-20 16:17] catkira commented on #1074
I think the correct way would be to make sure that packet_string initializes newly allocated memory when it uses it for the first time. Its more efficient than doing a memset.
I guess that is what the author of packet_string had in mind, because its "almost" working, just some bits dont get initialized correctly.

[2016-01-20 16:33] h-2 commented on #1345
the maybe-uninitialized is also triggered by g++5 on travis:
http://cdash.seqan.de/viewBuildError.php?type=1&buildid=160258

[2016-01-20 16:53] marehr commented on #903
@rrahn at least one is nice to me :D

[2016-01-21 15:16] cpockrandt commented on #1198
Still failing (timeout), see #1354

[2016-01-21 15:32] rrahn opened #1355 "Replace SeqAn threads and atomic wrappers by C++11 STL"
- [x] replace seqan threads with std::thread
- [x] fix static linking against pthread lib
- ~~replace atomic intrinsics with std::atomic~~ (moved to SeqAn3)
- [x] update manual
- [x] add note to changelog

[2016-01-21 20:42] rrahn commented on #1355
Apparently, we still might need the intrinsics in order to allow atomic operations on standard integral and pointer types. See the following function: https://github.com/seqan/seqan/blob/develop/include/seqan/parallel/parallel_sequence.h#L116.
However, the __sync builtins could be replaced by __atomic builtins for gcc and clang, which support memory order settings like STL does: http://en.cpprefer

[2016-01-22 08:54] rrahn opened #1357 "Fatal crash/ Failed Assert in Banded Alignment"
I'm using Banded aligner to find potentially low-quality but important spike-in control alignments from single-molecule sequencing data (PacBio, Oxford Nano).  When these potential alignments turn out to be junk, bandedAlignment is sometimes either failing on an assert (Debug) or just out-right seg-faulting (Release), instead of getting the expected junk alignment or graceful failure I would expec

[2016-01-22 10:03] h-2 commented on #1345
`-Wmaybe-uninitialized` already fixed by #1356

[2016-01-22 10:04] h-2 commented on #1343
Obviously this is a post-release TODO, although one could start with the 2.0.1...

[2016-01-22 12:16] rrahn commented on #528
@holtgrewe If I get this right, then toViewPosition does not need a right/left version, as there is always a unique view position to any source position. The other way around it makes sense, as a view position in a gap is between 2 source anchors can be projected to either the left or the right anchor.
If there is nothing else intended I would just update the toSourcePosition version.

[2016-01-22 13:28] h-2 commented on #1331
clarified by #1351

[2016-01-22 13:28] #1331 closed

[2016-01-22 13:43] holtgrewe commented on #528
Consider the case below. I believe `view-to-source(5)` is ambiguous as well as `source-to-view(10)`.

[code]

[2016-01-22 13:56] rrahn commented on #528
Well then I don't understand which functions are meant to be updated?
I only know of toViewPosition and toSourcePosition which works on Gap data structures.
Here a sourcePosition can be mapped to a viewPosition which is always well defined, as there must be a view position for every source position. This is not the case for the other way around, where a gap has no source position. So the example a

[2016-01-22 14:37] holtgrewe commented on #528
[code]

For source to gap consider the two following cases:

1. "Limit gaps object to `source-to-view([0, 3))`"
2. "Give me view coordinates of the character at source pos 3"

[2016-01-24 10:14] rrahn commented on #1246
Hey Snædís,

so I took a look into the BamTagsDict implementation. As far as I could see it, the host of the BamTagsDict is already in the Bam-Tags format.
Moreover, if you call the constructor with ```records.tags``` the dictionary will store a reference to the record's tags member. Hence modifying the tags via the BamTagDict should be transparently applied to the record.tags field. I documented

[2016-01-24 11:49] rrahn commented on #1357
Hi Brett,

I just checked your example from above with current master and it turned out to be ok.
Can you verify that your example works with 2.0.1 or master of SeqAn?
Thank you.

[2016-01-25 12:37] #1246 closed

[2016-01-25 12:38] rrahn commented on #869
Fixed by #1358

[2016-01-25 12:38] #869 closed

[2016-01-25 12:38] rrahn commented on #1161
Fixed by #1361

[2016-01-25 12:38] #1161 closed

[2016-01-25 14:31] xenigmax commented on #724
@rrahn  Again, it seems a SafraI specific problem as we discussed.
I will find a way for reproducing your situation.
I can't see anything odd with Chrome / FireFox.

[2016-01-25 15:01] h-2 opened #1368 "detect OpenMP globally, like CXX_STANDARD"
~~OpenMP detection globally and include openmp flags into SEQAN_CXX_FLAGS~~
  - [x] use system's FindOpenMP.cmake and don't ship it with seqan

[2016-01-25 16:13] snaedis88 commented on #1246
Hey René.

I tried both of your suggestions and they work very well.
I am not sure why this didn't work for me earlier, although I suspect it might have been a copy issue like you suggested.
Thank you for your reply and the "new" function.

/Snædís

[2016-01-25 16:42] h-2 commented on #706
Should be fixed by #1329
If not, please reopen.

[2016-01-25 16:42] #706 closed

[2016-01-25 16:45] h-2 commented on #1330
fixed in #1350

[2016-01-25 16:45] #1330 closed

[2016-01-25 17:56] h-2 opened #1372 "blast module on windows"
The blast module triggers multiple bugs on windows:
http://blogs.msdn.com/b/vcblog/archive/2015/06/02/constexpr-complete-for-vs-2015-rtm-c-11-compiler-c-17-stl.aspx?CommentPosted=true&PageIndex=5#comments

  - [x] deactivate blast module for 2.1.0 on Windows [ in #1396 ]
  - [ ] reevaluate after next update to Visual Studio; or
  - [ ] reevaluate at 2.1.2 if to replace the blast code with C++98 co

[2016-01-25 18:00] h-2 commented on #1108
@weese are there any changes you have that we could integrate? otherwise i will postpone to after 2.1.0

[2016-01-26 16:35] h-2 commented on #1348
done in #1370

[2016-01-26 16:35] #1348 closed

[2016-01-27 10:44] rrahn commented on #1172
@temehi is this still a problem?

[2016-01-27 11:00] rrahn commented on #710
@jtroehr ping

[2016-01-27 11:03] rrahn commented on #565
@temehi ping

[2016-01-27 11:10] rrahn commented on #1105
@xp3i4 What is the state here?

[2016-01-27 12:36] esiragusa commented on #1172
@rrahn this issue will be solved when our KNIME nodes will be built for 2.1.0 (see the explanation above). You can close the issue now or perhaps wait until it's solved...

[2016-01-27 12:44] rrahn commented on #1172
@esiragusa Ah I see. Thanks for the update.

[2016-01-27 13:53] h-2 commented on #1102
Why do we detect java at all?

[2016-01-27 13:56] rrahn commented on #1102
Because of the cdt.

[2016-01-27 16:32] rrahn commented on #527
Fixed by #1360.

[2016-01-27 16:32] #527 closed

[2016-01-27 16:35] rrahn commented on #528
Fixed by #1360

toViewPosition with left projection can be solved as:
[code]
If required we can add a convenience function to do just that, but for now this should be fine.

[2016-01-27 16:35] #528 closed

[2016-01-27 23:52] rrahn commented on #1084
Ok the parallel_queue_example error: fatal error C1001: An internal error has occurred in the compiler.
seems to be a known bug: https://social.msdn.microsoft.com/Forums/vstudio/en-US/62365d65-c1e0-404f-a2c3-bded754d7ae5/regression-in-visual-studio-2015-update-1?forum=vcgeneral
So I will disable this demo for now until the problem is fixed upstream.
@h-2 Maybe you can ask the constexpr guy if he k

[2016-01-28 08:42] temehi commented on #1172
@esiragusa @rrahn I was looking more into it. Sorry to say this but I don't think the YaraIndexer KNIME node of the new release  2.1.0 will work! The problem is related to the fact that the indexer doesn't output a single known file_type. The GenericKnimeNodes has a way to deal output-prefixes but yet it expects a common ending/extension for all the resulting files. Which is not the case for YaraI

[2016-01-28 09:01] rrahn commented on #1172
@temehi don't be sorry. Fix it! :stuck_out_tongue_winking_eye:
What do you mean with common? Can we not just put some ending to it like: file.index something?
I mean I don't know which files are output by the indexer at the end, but it would be ok to just give it some extension, or am I overseeing something here?

[2016-01-28 09:08] xp3i4 commented on #1105
I am working on related issues about longer reads.
I think it's better to refurbish the interface later if there exist effective features

[2016-01-28 09:35] rrahn opened #1380 "Enable parallel_queue demo for VS again"
At the moment we disabled the parallel queue demo under visual studio because of a bug:
https://social.msdn.microsoft.com/Forums/vstudio/en-US/62365d65-c1e0-404f-a2c3-bded754d7ae5/regression-in-visual-studio-2015-update-1?forum=vcgeneral
Here, using the ```pragma omp``` definition from within a macro causes the compiler to crash.
This is not the case if we would directly use ```#pragma omp```
So e

[2016-01-28 09:47] rrahn commented on #1084
OK once #1381 has passed and #1372 is fixed I think we are good on windows.

[2016-01-28 10:20] rrahn commented on #159
Fixed by #1377

[2016-01-28 10:20] #159 closed

[2016-01-28 10:41] h-2 commented on #1172
Our indexes consist of a bunch of files with all sorts of endings. This a bad design anyway, and in the future we should find some way to stuff the files into one, like `.tar`. Then we could arbitrarily compress this, as well. But for the short term we need a different soluation.
@temehi can we not hack around this some way? This effects all SeqAn tools that save indexes to disk, also Lambda (whic

[2016-01-28 10:50] xenigmax commented on #496
Hmm.  This will take some time... But I will try..

[2016-01-28 11:39] rrahn commented on #496
@xenigmax In case we can move this to 2.2.0. It's only dox stuff, so it does not break any of the code.

[2016-01-28 14:35] esiragusa commented on #1172
Yara usees ```ArgParseOption::OUTPUT_PREFIX``` See https://github.com/seqan/seqan/blob/develop/apps/yara/indexer.cpp#L139.

This thing enforces all index files to have have a common prefix but, as far as I can see, not a common extension. Is that the problem? Do you know what's the correct way of using the argparse?

@h-2 Keep in mind that one wants to memory map the index. With tar it will be imp

[2016-01-28 14:47] h-2 commented on #1320
fixed by #1382

[2016-01-28 14:47] #1320 closed

[2016-01-28 14:51] h-2 opened #1385 "add support for Clang on Windows"
- [ ] get clang/C2 working on our build machines
  - [ ] adapt the platform detection to accomodate for MSCV and CLANG being defined
  - [ ] test and fix broken stuff
  - [ ] update README.RST and homepage

[2016-01-28 14:52] h-2 commented on #1349
blocked by #1385

[2016-01-28 14:54] h-2 commented on #1372
wait for #1385 and see if we need only block it on MSVC

[2016-01-28 15:01] h-2 commented on #1172
@esiragusa yes, I have thought about all these things, tar'ing without compression would still allow to memory map regions from the file. OTOH tar is overkill...
Ideally we would have an (endianess-independent) concatenation of files with a small index that has length and plainstring identifiers for the files contained. Then we could make our `open()` and `save()` plug into that.

[2016-01-28 16:39] cpockrandt commented on #1228
fixed with #1071

[2016-01-28 18:01] h-2 commented on #1372
do first [ ]  and then move to 2.1.1

[2016-01-28 19:59] esiragusa commented on #807
@h-2 @rrahn can you recycle this issue for 2.1.0?

Please **do not to bump yara version**. I just bumped it to 0.9.5 on develop but did not tag it yet. I am waiting for the seqan-v2.1.0 tag. Thanks.

[2016-01-29 08:25] rrahn commented on #807
Ok yara is already bumped.

[2016-01-29 09:55] temehi commented on #565
@rrahn you can close this issue now

[2016-01-29 09:56] #565 closed

[2016-01-29 13:12] h-2 opened #1387 "many unit and/or app tests don't cleanup /tmp"
Many tests create temporary files that are not deleted. This should be fixed.

[2016-01-29 13:14] rrahn commented on #903
Fixed by #1379.

[2016-01-29 13:14] #903 closed

[2016-01-31 10:37] marehr commented on #1315
was blocked by #1320, because this change requires c++11

[2016-01-31 16:01] h-2 commented on #1345
please also investigate these warnings on gcc5/mac:
http://cdash.seqan.de/viewBuildError.php?type=1&buildid=162389
`warning: array subscript is above array bounds`

[2016-01-31 20:53] h-2 opened #1398 "add support for OpenBSD"
- [ ] make sure everything builds on OpenBSD
  - [ ] make an OpenBSD-port

[2016-02-01 12:18] #1037 closed

[2016-02-01 16:39] h-2 opened #1403 "indexing and find tutorials"
- [ ] find() interface for online algorithms supports multiple needles but only one haystack, find() interface for indices is the other way around. Either one should add trivial for-loop wrappers to offer both for both, or one should explain clearly why this is the case.
 - [x] Pattern matching and Indices tutorials overlap strongly (see http://seqan.readthedocs.org/en/master/Tutorial/Indices.html

[2016-02-01 16:40] #920 closed

[2016-02-01 16:44] xenigmax commented on #496
@rrahn  Yeah.. I think that's a good idea.
@h-2  What do you think? Anyway I will be working on it. :)

[2016-02-01 18:19] #724 closed

[2016-02-01 18:44] marehr commented on #1315
@h-2 ticket can be closed?

[2016-02-01 18:52] h-2 commented on #1315
yep :+1:

[2016-02-01 18:52] #1315 closed

[2016-02-01 21:29] rrahn commented on #1403
The find interface needs to be modernised anyway.
So I propose to only focus on getting the documentation straight but defer larger code changes to 3.0.

[2016-02-01 22:41] #1349 closed

[2016-02-01 22:41] #1368 closed

[2016-02-02 16:07] h-2 commented on #1345
@rrahn I have problems with the last two, can you have look? Especially the one on Mac I cannot reproduce elsewhere... thanks!

[2016-02-02 17:48] h-2 opened #1410 "benchmark different compilers"
both compile times and speed of produced binaries.

Background: Just realised that Lambda (and possibly other SeqAn apps) have huge build time increases on GCC6. We need to find these things and report them before new compiler releases...

[2016-02-02 22:17] h-2 opened #1411 "benchmark different build flags"
It would be quite important to systematically assess the influence of `-O3` vs `-O2` and the linker options `-flto`, `-flto=n` and `-fuse-ld=gold` on (a) build time of SeqAn programs; and (b) performance of the binaries. Also static vs dynamic builds would be good to have...

@smehringer can you have a look at this once the benchmark has progressed further?

[2016-02-02 22:18] #1410 closed

[2016-02-02 22:19] h-2 commented on #1410
in favor of #1411

[2016-02-03 10:22] rrahn commented on #514
@xenigmax I assigned this to you in case you like some other task than dox stuff :smile:

[2016-02-03 14:47] rrahn commented on #831
Apparently the current solution does not work as it generates html files with invalid characters for windows platforms.
What we really need to do, is to replace the ```::``` part of the html file nam with the encoding scheme used by the write_html.py.
But be cautious the ```::``` is also used to for displaying member functions which might cause some troubles to generically apply the encoding to al

[2016-02-03 14:49] esiragusa commented on #1172
@temehi I don't get what's the problem with ```ArgParseOption::OUTPUT_PREFIX```. Am I misusing it?

[2016-02-03 14:51] esiragusa commented on #1172
@temehi I guess lambda has the same issue... @h-2 I know you :heart: KNIME

[2016-02-03 15:50] rrahn commented on #831
@xenigmax I wrote this little snippet here:
[code]
We could use this!

[2016-02-03 15:56] temehi commented on #1172
@esiragusa  I don't think the problem is from yara side. All we can do is set the argument type to "ArgParseOption::OUTPUT_PREFIX". I think GenericKnimeNodes is not handling the situation properly. I am going to write an issue on their repository, though the repo don't seem to be active

[2016-02-03 16:49] h-2 commented on #1345
@rrahn can you look at the mac warning? [making you ticket owner]

[2016-02-03 17:06] xenigmax commented on #831
@rrahn
Hey.. I'm sorry but I'm really confused about those things..
I found another thing that does not work properly.

There are some cases which use "#" multiple times. Below is an example.
http://docs.seqan.de/seqan/master/?p=Fragment#Fragment%23fragmentBegin

Should we seprate this from the current one?

[2016-02-03 17:37] xenigmax commented on #831
@rrahn
In the .js code you suggested, we added "_" for skipping after discussion.

But there is a file which contains "_" in the middle of the name.
http://docs.seqan.de/seqan/master/macro_SEQAN_95HOST.html
So the .js should ignore first "_" only.

[2016-02-03 18:25] xenigmax commented on #831
@rrahn
All right.
As far as I know, those 3 cases are not working.
There can be more but I can't figure out now.
I will fix all and will make a pull request.

**1. "::" in p**
example :
http://docs.seqan.de/seqan/master/?p=ArgParseArgument::ArgumentType
(not working in window system)

reason :
":" is not allowed in filename (windows)

**2. multiple "#"s**
example:
http://docs.seqan.de/seqan/master

[2016-02-03 18:49] xenigmax commented on #831
@rrahn
Sadly, I found another one.

The html pages for macros encode "_" in the middle of the name to "_95".
http://docs.seqan.de/seqan/master/?p=SEQAN_HOST
filename : macro_SEQAN**_95**HOST.html

But, html pages for global function do not.
http://docs.seqan.de/seqan/master/?p=arrayFill
filename : global_function**_**arrayFill.html

I have to do something more~!

[2016-02-03 20:24] xenigmax commented on #831
@rrahn
I have fixed everything I mentioned above.
Let me know if you find another problem.

[2016-02-03 20:49] rrahn commented on #831
Ok, this is all very messed up. I don't know if we will have some time in the future to improve this.
But your solutions seems to be quite good for the moment.
Maybe we can split the naming scheme in general in: entity, page name and anchor so we can treat them without all this if-then clutter.
Thanks a lot.

[2016-02-03 20:56] rrahn opened #1421 "Improving dox to properly define URI of the static pages."
At the moment we allow to search for certain pages using the `?p=` option.
However, since we have special characters within the file names we escape them in the write_html.py script. This wasn't properly dealt with in the current common.js script to determine the correct pages to redirect to.
#1414 fixes this for now. So the question is, whether we could replace this if-then voodoo to check the co

[2016-02-04 21:12] ryan-williams opened #1427 "Dox color scheme for sample commands is hard to read"
e.g. [Prerequisites](http://seqan.readthedocs.org/en/master/Tutorial/GettingStarted/MacMakefiles.html#prerequisites)

![](http://cl.ly/0O2m2R412z0B/Screen%20Shot%202016-02-04%20at%204.11.04%20PM.png)

[2016-02-05 09:49] rrahn commented on #1074
In our nightly builds we now see the problems: http://cdash.seqan.de/viewTest.php?onlyfailed&buildid=163427
Only 32 windows causes the packed string to break. So something related to the word width I guess.
And only on master. On develop this problem, does not occur anymore.
Second the test_sequence_v2 breaks when calling the reverse test on std::list. I think it should work though, but I open ano

[2016-02-05 09:51] rrahn opened #1428 "test_sequence_v2 fail for reverse test of std::list."
See build logs
here: http://cdash.seqan.de/testDetails.php?test=30033940&build=163415 and
here: http://cdash.seqan.de/testDetails.php?test=29792180&build=163416

[2016-02-06 00:45] xenigmax commented on #514
All right. Thank you for giving me a chance to work on "!dox issues". :clap:
However, I have a lecture on Monday (AlDaBi).
If you think this must be done urgently, I recommand you to assign this to others. :smile:
But thank you.

[2016-02-08 11:13] rrahn commented on #1228
Solved in #1071, but will be first included in next major release.

[2016-02-08 11:16] rrahn commented on #831
Fixed in #1414 and #1415

[2016-02-08 11:16] #831 closed

[2016-02-09 09:02] cpockrandt commented on #1277
I implemented it using ModPos but iterating over the modified string was much slower than constructing the bwt and iterating over it, probably because of cache misses (as @marehr pointed out).

[2016-02-09 10:36] h-2 opened #1433 ""Could not find page for null" error in dox"
@xenigmax something broke in the dox, maybe it is related to one of your PRs? Because now on both master and develop there is a red message on the start page. Can you have a look at this? Because we do need to fix it for the release. Thanks!

[2016-02-09 10:45] #858 closed

[2016-02-09 17:56] ryan-williams opened #1439 "Problem making an FM-Index from a StringSet"
I'm trying to FM-Index the reads from a `.bam` file.

I iterate over each read and added its `seq` to a `StringSet`, then build an `FMIndex` from that `StringSet`.

When I `save` the index, I end up with N small files with names of the form `*.txt.[0-9]+`, where N is the number of reads in the `.bam` file, so I must be doing something incorrectly; I assume the FM-index's on-disk representation sho

[2016-02-09 18:07] esiragusa commented on #1439
Hi @ryan-williams, to remove the 897 files you have to load your reads in a ConcatDirect StringSet.

In addition, I suggest you to use a Levels FMIndex instead of the default WaveletTree FMIndex because it's more efficient for the Dna Alphabet. See doc at http://docs.seqan.de/seqan/develop/class_FMIndexConfig.html and a complex example at https://github.com/seqan/seqan/blob/develop/apps/yara/misc_

[2016-02-09 20:06] h-2 opened #1441 "fix static build system"
- [x] fix problem with static builds for packages (currently not static when BUILDS_SYSTEM == APP*)
  - [x] deactivate static for regular builds (just keep it for PKG)

[2016-02-09 23:14] ryan-williams commented on #1439
Thanks @esiragusa! I've built it now with updated types:

[code]

Indeed the many small files are gone, and instead there is a `normal.bam.fmi.txt.concat` that has all the read sequences concatenated.

One question I still have: typically an FM-index can avoid storing the entire indexed sequence; is there another tweak that will enable that?

Sorry if these questions are already answered in the (c

[2016-02-10 08:32] h-2 opened #1442 "Release TODOs"
- [x] update and check copyright year
  - [x] bump app versions

[2016-02-10 09:02] rrahn commented on #1345
I updated the gcc5 compiler and it now works.

[2016-02-10 09:02] #1345 closed

[2016-02-10 10:13] #1433 closed

[2016-02-10 14:53] h-2 opened #1448 "Debug some cmake issues"
- activate SEQAN_FIND_DEBUG and SEQAN_STATIC_APPS
- run cmake on the directory
- see that e.g. yara has

`SEQAN_LIBRARIES            pthread;execinfo;elf;/usr/lib/libz.so;/usr/lib/libbz2.so`
- configure the build to only build yara, i.e. `SEQAN_BUILD_SYSTEM="APP:yara"`
- do the same, see that it prints:

`SEQAN_LIBRARIES            pthread;execinfo;elf;/usr/lib/libz.a;/usr/lib/libbz2.a`

→ in one

[2016-02-10 20:59] h-2 commented on #1428
Fixed by #1436

[2016-02-10 20:59] #1428 closed

[2016-02-10 21:00] h-2 commented on #1337
Added via #1434

[2016-02-10 21:00] #1337 closed

[2016-02-10 21:02] h-2 commented on #751
Done via #1401

[2016-02-10 21:02] #751 closed

[2016-02-10 21:10] h-2 commented on #1084
@rrahn @catkira is there anything legt to do Herr vor can it be closed?

[2016-02-11 15:15] h-2 commented on #1084
@rrahn there are still errors on windows pertaining to the random module, can you have a look?

[2016-02-12 10:49] cpockrandt commented on #562
@h-2 Did the objective change again to removing all the comments containing "IOREV"?

[2016-02-12 17:40] h-2 commented on #1074
fixed by #1429

[2016-02-12 17:40] #1074 closed

[2016-02-12 17:41] h-2 commented on #1441
fixed by #1449

[2016-02-12 17:41] #1441 closed

[2016-02-12 17:43] h-2 commented on #1084
fixed by #1150 #1453 #1429

[2016-02-12 17:43] #1084 closed

[2016-02-12 17:47] h-2 commented on #562
@cpockrandt I have moved this to 3.0, i.e. we will resolve it when porting to the new codebase..

[2016-02-12 22:33] marehr commented on #525
@h-2 can be closed?

[2016-02-13 10:56] h-2 commented on #912
fixed by #1454

[2016-02-13 10:56] #912 closed

[2016-02-13 10:56] h-2 commented on #525
fixed by #1452

[2016-02-13 10:56] #525 closed

[2016-02-13 21:25] cpockrandt commented on #1439
Hi @ryan-williams,

indeed he FM-index is a self-index and does not need to store the text itself. This is not solved very well in SeqAn (yet) :smile:  and but you can avoid storing it by

    clear(getFibre(index, FibreText()));

The FMIndex can be specialized by two template parameters (by default it is ``FMIndex<void, FMIndexConfig<void> >``). The struct ``FMIndexConfig`` defines the data struc

[2016-02-14 13:34] h-2 commented on #1427
@ryan-williams indeed... @xenigmax can you have a look at it sometime?

[2016-02-14 23:14] catkira commented on #1084
Hi, i can not say this now, because I have switched with seqan to linux :smile_cat:

[2016-02-15 15:20] h-2 commented on #1289
"The Dependent-Tight StringSet is deprecated and will likely be removed within the SeqAn-2.x lifecycle."

  - [ ] add above  notice to the dox entry of `Spec Tight Dependent StringSet`
  - [ ] add notice to the `[set|get|remove][vV]alueById()` that they are deprecated and that one should use  version without `ById()` instead
  - [ ] add above notice the StringSets manual, just below `Specializatio

[2016-02-15 16:43] #1442 closed

[2016-02-15 16:44] h-2 commented on #807
via #1464 (yara not bumped)

[2016-02-15 16:44] #807 closed

[2016-02-16 15:07] h-2 commented on #1289
fixed by #1467

[2016-02-16 15:07] #1289 closed

[2016-02-17 13:42] greenify opened #1476 "Massive performance problems in BAM reader"
Hey all,

Last week I tested the performance of multiple libraries to read BAM and your BAM reader is 14x slower than htslib and even 7x slower than SeqAn - so I don't know what's going on there, but you might want to have a look at it ;-)

For 70m reads (2.4G) it takes:

[code]

You can find the test here:

https://github.com/greenify/bam-perf-test

[2016-02-17 13:59] h-2 commented on #1476
Since you are not using SeqAn's build system, did you turn on optimizations yourself? i.e. for SeqAn you should use -03

@esiragusa can you have a look at this? Thank you!

[2016-02-17 14:10] esiragusa commented on #1476
@h-2 probably not before end next week. You might want to have a look yourself if it's important...

[2016-02-17 14:20] h-2 commented on #1476
@esiragusa I won't have time in the next days... @rrahn if you have half an hour and want to get away from other things, feel free to checkout the benchmark!

[2016-02-17 14:54] h-2 commented on #1385
@cpockrandt can you take this for 2.1.1 ? Shouldn't be a lot of work and is potentially really cool.

[2016-02-17 15:02] h-2 opened #1477 "Add "Speeding up Builds"-Tutorial"
- [ ] see #924
  - [ ] recommend `-flto=n` for GCC
  - [ ] investigate PCH, see https://lists.fu-berlin.de/pipermail/seqan-dev/2016-February/msg00000.html

[2016-02-17 15:08] h-2 commented on #924
will be resolved by #1477

[2016-02-17 15:08] #924 closed

[2016-02-17 15:21] mr-c commented on #924
Yay!

On Wed, Feb 17, 2016 at 4:08 PM Hannes Hauswedell <notifications@github.com>
wrote:

--
Michael R. Crusoe     CWL Community Engineer     crusoe@ucdavis.edu
<mcrusoe@msu.edu>
Common Workflow Language project    University of California, Davis
https://impactstory.org/MichaelRCrusoe http://twitter.com/biocrusoe

[2016-02-17 20:26] mr-c opened #1478 "v2.1 SEQAN_BUILD_SYSTEM=SEQAN_RELEASE_LIBRARY make test fails"
[code]
[code]
[code]

[2016-02-17 20:36] mr-c commented on #1478
[code]

[2016-02-17 20:40] mr-c commented on #1478
For that matter, `make test` fails with no `SEQAN_BUILD_SYSTEM` defined due to missing test binaries.

[2016-02-17 20:53] marehr commented on #1478
Thank you for your bug report. I will look into it.

[2016-02-17 22:07] marehr commented on #1478
Could you run ```ctest --output-on-failure``` instead of ```make test```? It would be interesting why the test fails.

[2016-02-17 22:16] mr-c commented on #1478
@marehr output of the test failure is in https://github.com/seqan/seqan/issues/1478#issuecomment-185392826 the Python module sphinxcontrib.bibtex doesn't seem to be bundled with the source.

[2016-02-18 10:13] h-2 commented on #1478
@mr-c We will look into the failing tests, I have to admit we never run `make test`, but ctest directly. Also IMO the manual shouldn't be part of `SEQAN_RELEASE_LIBRARY` at all.

In any case, if you want to ship the seqan library, I recommend you use the library packages from
http://packages.seqan.de/
as they are much smaller and require no build dependencies at all (because there is no build). Th

[2016-02-18 10:27] mr-c commented on #1478
Thanks for the response!

We'd prefer to build and run the tests on all of Debian architectures while
making the packages to ensure that they will work.

For example, here is the output of the build for SeqAn 1.4.1:
https://buildd.debian.org/status/package.php?p=seqan

Since we are also shipping the apps (though in a seperate package), I've
switched to building the entire release for the Debian pa

[2016-02-18 10:32] h-2 commented on #1478
@marehr can you change the top-level CMakeLists.txt to not `add_subdirectory (manual)` for `SEQAN_RELEASE_LIBRARY and SEQAN_RELEASE_APPS, and also change it to not `add_subdirectory (apps)` for SEQAN_RELEASE_LIBRARY [the latter just removes the `-- Configuring apps` line].

And we should make the "make test" target depend on the regular make, so that it automatically builds the things it needs for

[2016-02-18 10:46] h-2 opened #1479 "Manual: The Build system"
- [ ] merge "Infrastructure/The Cmake based Build system" and "Build manual/Using the SeqAn Build System"
  - [ ] make sure they are up to date
  - [ ] add "Downstream Packager Perspective" that explains how we recommend to ship SeqAn in packaging systems

[2016-02-18 11:33] mr-c commented on #1478
Thanks @h-2 that worked

Here's the changes I made according to your instructions:
[code]

And the output
[code]

As for the package building, we (Debian/Debian-med) prefer to build from sources as close to upstream (SeqAn in this case) as possible. If the apps are only released concurrently with the library/tests/demos then it makes the most sense to have a single source Debian package that produ

[2016-02-18 12:21] h-2 commented on #1478
@mr-c well thats of course up to you how you want to package!

Another thing: to resolve issues with our app packages we build those with static binaries now. Unfortunately I did not introduce a a flag to prevent this for downstream packaging systems (where static binaries are not necessary and usually discouraged). So you might want to comment out
https://github.com/seqan/seqan/blob/master/util/c

[2016-02-18 12:25] mr-c commented on #1478
:-) Thanks for the pointer! Yes, a command line option or special target for downstream packagers would be appreciated in a future release.

To confirm: seqan apps are ONLY released in conjunction with seqan library updates; is that correct?

[2016-02-18 12:34] h-2 commented on #1478
Yes, for those apps that are still maintained in the main SeqAn repository. For future versions we want to have entirely separate repositories and we have already moved some apps out / created new apps outside, see
https://github.com/seqan
Most notably lambda and flexbar. It would of course be great to have these packaged for Debian, as well! But I know it will be a little more work, since they ha

[2016-02-18 12:42] mr-c commented on #1478
Great to know the roadmap. My main concern is getting seqan-2.1 and updated versions of the existing apps in the archive. I completely agree that having separate repositories for the apps gives you all a lot more flexibility.

So lambda, flexbar, and any other new app won't be packaged until later (at least by me :smile: )

[2016-02-18 20:13] metaltree99 opened #1480 "How to replace an existing version of seqan with a new one?"
We use Ubuntu 14.04.3.
Prior to seqan update, there were files in the following directories:

[code]

[code]

I downloaded the most recent version:
packages.seqan.de/seqan-library/seqan-library-2.0.1.tar.bz2

Do I simply remove the old files from, and copy the new files into /usr/include/seqan/ ?

[2016-02-19 14:10] esiragusa opened #1481 "CMake caching of OpenMP flags is broken"
CMake now tries to detect OpenMP flags for each app, test folder and demo that needs them.

[code]

Note that this thing is particularly slow for Xcode builds. Before this lookup was done only once and cached.

[2016-02-19 14:39] h-2 commented on #1481
We have removed a bunch of cmake code before the release, because it was duplicated system code that caused problems in different places.
Do you have an idea for caching that does not involve maintain modified copies of system code?

[2016-02-19 14:39] h-2 commented on #1480
That depends. Do you only use the library or also the applications?

[2016-02-19 14:47] esiragusa commented on #1481
Can't you have a look at the code that you removed?

[2016-02-19 15:04] h-2 commented on #1481
I know how it worked, but we completely removed the obscure seqan-invented dependency tracking, so it can't be replaced by the old code. The only thing I can think of right now is moving the dependency check out of the apps entirely for regular builds, but it's not something I am keen on doing. IMHO we need to remove seqan build system cruft and make the apps self-contained for later removal from

[2016-02-19 15:26] h-2 commented on #1481
I guess I can work something out, let me have a look...

[2016-02-19 17:01] esiragusa commented on #1481
Ah if you plan on moving all apps out of seqan in the very short term, then spending a lot of time to fix this issue is not worth. If it's hard to fix, never mind. That's not crictical... Thanks.

[2016-02-19 20:46] karel-brinda opened #1482 "Python scripts incompatible with Python 3"
Python scripts seem not to be compatible with Python 3. On some computers, `#!/usr/bin/env python` returns Python 3. It happens, e.g., with Anaconda which sometimes prepends its directory to `PATH`.

[code]

[2016-02-22 10:41] h-2 commented on #1482
@cpockrandt Do you know python? Can you look into this?

[2016-02-22 10:46] h-2 commented on #1476
@temehi since you work with the IO stuff a lot, can you have a look?

[2016-02-22 10:47] h-2 commented on #1439
Are there still open questions, or can this be closed?

[2016-02-22 11:14] h-2 opened #1484 "problem in LoadReads"
From the mailing list:

[2016-02-22 11:46] h-2 opened #1485 "investigate using precompiled headers"
https://lists.fu-berlin.de/pipermail/seqan-dev/2016-February/msg00000.html

@xenigmax could you have a look at this in the next two weeks? Thanks!

[2016-02-22 14:30] esiragusa commented on #1476
Yesterday I investigated this a bit.

I cloned the repo bam-perf-test, went into folder seqan and did ```cmake``` followed by ```make VERBOSE=1```:

```/usr/bin/c++    -DSEQAN_HAS_ZLIB=1 -std=c++11   -o CMakeFiles/prun_seqan.dir/main.cpp.o -c /home/esiragusa/Code/bam-perf-test/seqan/main.cpp```

I compared that with standard flags, e.g., compiling app samcat:
[code]

@greenify **You might want to

[2016-02-22 15:21] h-2 commented on #1476
I would really good to know if this makes a difference. If yes we should definitely change the default behaviour...

Thats what `FindSeqan.cmake` is for. It sets `SEQAN_INCLUDE_DIRS`.

[2016-02-22 15:33] esiragusa commented on #1476
@h-2 cmake with ```-DCMAKE_MODULE_PATH=~/Code/seqan/util/cmake``` did find FindSeqAn but it didn't set the includes folder... I've never tried this before so I am unsure whether that is the correct way of doing it.

[2016-02-22 15:35] esiragusa commented on #1476
I am unsure about the effect of ```-DSEQAN_ENABLE_DEBUG=0 -DSEQAN_ENABLE_TESTING=0``` but ```-O3 -DNDEBUG``` is definitely required.

[2016-02-22 17:04] h-2 commented on #1476
@esiragusa we will investigate the flags in general and the include behaviour

@greenify can you tell us whether setting the flags changes your numbers? That would be very helpful. Also please give us the specs of the system the test was run on and whether multi-threading was available. Thank you very much!

[2016-02-22 17:24] h-2 opened #1486 "clean up debug flags"
we have SEQAN_ENABLE_DEBUG and we have NDEBUG. Get rid of the latter and make sure that SEQAN_ENABLE_DEBUG is never set by default, e.g. if people don't use our build system they should not have to know obscure make flags to get it work.

Since this effects performance strongly, but mistakes might go unnoticed for a while, it is important to make sure that it is done right, i.e. verify run-time di

[2016-02-22 17:25] h-2 opened #1487 "fix FindSeqAn.cmake"
it doesn't set include-paths correctly :facepunch:

[2016-02-22 17:40] greenify commented on #1476
@ all: thanks a lot for your interest and help. I didn't expect to cause such an active discussion :)

Actually `-O3` brings it down to 30s

And with `-DNDEBUG` enabled too it get down to `17s` and yes with that it's nr. 1 on my simple benchmark ;-)
(the other mentioned flags had to impact)
FYI I also checked whether `-O3` just removes the serialization, but it doesn't - so no worries there.

Do y

[2016-02-22 17:58] greenify commented on #1476
@esiragusa

Hmm I installed seqan via [seqan-git](https://aur.archlinux.org/packages/seqan-git) - it roughly equals doing a `make install` (on the git repo), but installed as a package.

I am not an expert with cmake any case, but as far as I understood it, because SeqAn is in my header files (=`/usr/include/seqan/`) I compile it into my program, whereas Zlib is linked as a dependency library. The

[2016-02-22 23:02] esiragusa commented on #1476
@greenify we are proud of SeqAn's speed :smile: Did you add ```-DSEQAN_ENABLE_DEBUG=0 -DSEQAN_ENABLE_TESTING=0``` as well? Time ago we had measured a 4x speedup over htslib. Optimization doesn't affect multithreading. The speedup is partially due to inlining. The defines remove debug assertions.

[2016-02-23 10:32] h-2 commented on #1476
@greenify To be fair, I think you should build the other tests with `-O3` as well, although I think it won't make a big difference because it is calling the functions in the installed libraries anyway.
It would be interesting to also see write-speeds and maybe a bam→sam conversion as a real world example. What do you think?

Concerning the finding of paths, that is completely unrelated and we will

[2016-02-23 15:56] h-2 opened #1488 "get rid of warnings and errors on freebsd"
* [x] deactivate builds of bs_tools
  * [x] deactivate build of zip_stream tests
  * [x] fix test_stream on freebsd 32bit
  * [x] fix test_blast on freebsd 32bit
  * ~~deactivate bam_io or use different file~~ track #1008 instead
  * [x] report getxwd error upstream: https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=207838

[2016-02-23 15:57] h-2 commented on #1488
@rrahn can we exchange the bam_io test file with a different one and postpone the general fix to a later point in time? That would also help our travis...

[2016-02-23 16:39] h-2 commented on #1487
@esiragusa I had initially installed SeqAn with wrong permissions. After fixing that stand-alone tools and `find_package(SeqAn)` work correctly.
Can you clarify in which situations you are running into problems?

[2016-02-23 16:44] esiragusa commented on #1487
@h-2 I didn't want to install seqan. I wanted to let it use my git sources.

[2016-02-23 17:09] h-2 commented on #1487
@esiragusa Then you always need to give the path as SEQAN_INCLUDE_PATH, sorry about the confusion.

[2016-02-24 11:00] h-2 opened #1492 "dox installed by library install broken..."
... because dox now requires the dox-demos, but they are not installed with the library.

[2016-02-24 11:19] h-2 commented on #1492
false alarm, sorry

[2016-02-24 11:19] #1492 closed

[2016-02-24 11:43] h-2 commented on #1487
Does this work for you?  Can we close the issue?

[2016-02-24 13:51] cpockrandt commented on #1482
Hi @karel-brinda

Thanks for your feedback. I changed it to ``#!/usr/bin/env python`` to have the same shebangs throughout our library. Could you check whether that solves your problem (you can check it out here: https://github.com/cpockrandt/seqan/tree/fix/python-shebangs)? I couldn't reproduce the problem on my system.

[2016-02-24 14:17] esiragusa commented on #1487
I thought it was enough to find FindSeqAn.cmake so it would set SEQAN_INCLUDE_PATH to ../../include/seqan (assuming util/cmake/FindSeqAn.cmake).

[2016-02-24 14:31] metaltree99 commented on #1480
Only the library.

[2016-02-24 15:38] h-2 commented on #1487
I don't think cmake files know where they are in the filesystem. In fact this is quite hard to find out, also for shell scripts or even c-programs. But if you have a solution, I would gladly integrate it.

[2016-02-24 15:46] h-2 commented on #1480
Then please (1) remove the include directory above (`/usr/include/seqan`) and then just extra the include and share directories from the library-tarball into /usr. Please note that this is the most recent version now:
http://packages.seqan.de/seqan-library/seqan-library-2.1.0.tar.xz

If you have further issues, please re-open.

[2016-02-24 15:46] #1480 closed

[2016-02-24 15:59] esiragusa commented on #1487
Don't you know ```-DCMAKE_MODULE_PATH=<seqan-root>/util/cmake```? How do other cmake modules solve that?

[2016-02-24 16:10] Patg13 opened #1496 "Cannot use Seqan in eclipse"
Hello

I'm trying to use the seqan library in eclipse but I can't make it work

Eclipse detect seqan files (includes work), but when I use seqan:: or using namespace seqan, it give me this error message : Symbol seqan could not be resolve

I didn't import seqan as a project in eclipse, I just install the libraries using the seqan tutorial

Do I have to add something to GCC C++ Linker ?

Can you he

[2016-02-24 16:27] h-2 commented on #1487
What does the MODULE_PATH have to do with the INCLUDE_PATH? I don't think the FindModule.cmake files are supposed to work if the project is not installed... also because the relative position of the cmake file towards the includes can change arbitrarily between "source tree" and "installed state".
But maybe I still don't understand what you are trying to do :confused:

[2016-02-24 16:53] esiragusa commented on #1487
Ok never mind, maybe I expected too much magic from cmake...

[2016-02-24 16:53] #1487 closed

[2016-02-24 17:07] Patg13 commented on #1496
Ohh my bad, I just make it work...

I was missing the -pedantic and the -lrt flag

Sorry for that...

[2016-02-24 18:01] h-2 commented on #1343
waiting for 2.1.1 on FreeBSD...

[2016-02-24 19:43] marehr commented on #1476
@greenify I would like to rerun your benchmark and make the ```-DNDEBUG``` default behaviour, for that I need the used bam file.

Could you provide me the link to the used bam file?

[2016-02-24 19:56] marehr commented on #1496
@Patg13  Since you solved your problem, I close the issue.

[2016-02-24 19:56] #1496 closed

[2016-02-25 06:01] greenify commented on #1476
Yep I thought about this too - I will do this once I have a bit of time.

@marehr - it's just randomly simulated from chr1, but feel free to use it ;-)
https://drive.google.com/file/d/0BwdiZp7qSaBhU2RQb2hTaGtFRGc/view?usp=sharing

[2016-02-25 10:52] marehr commented on #1476
@greenify I ran your benchmark with different compiler flags and took the median out of three runs.
specs: i7-3770K CPU @ 3.50GHz (8 cores), 32GB RAM, SSD

@h-2 As you can see, seqan performs best by only setting `-O3` after pr #1493. There was only a 15% performance increase, not 100% like @greenify had.

@greenify Maybe you could rerun the benchmark with my fix and verify my results?
[code]

###

[2016-02-25 10:57] h-2 commented on #1476
@marehr thanks for the extensive analysis, I will merge your PR.

[2016-02-25 10:58] h-2 commented on #1476
@greenify I will now also close this issue, although, I would still be interested in rread/write or bam->sam tests, so if you do make them, please let us now!

[2016-02-25 10:58] #1476 closed

[2016-02-25 10:59] cpockrandt commented on #1482
Hi @karel-brinda

We updated our python scripts to ensure that python2 is called. Thanks again for your help!

[2016-02-25 11:24] h-2 opened #1501 "update/fix dox website"
@xenigmax can you
  - [x] add dox for 2.0.2 and 2.1.0 on our website
  - [x] check why the current dox for 2.0.1 is broken? There are a lot (null) logos where there should be (Class) or (Enum), also functions don't seem to be listed at all...

Thank you!

[2016-02-25 13:15] karel-brinda commented on #1482
Hello @cpockrandt, @h-2 and @marehr,

I am afraid that this will require more testing.

## Testing

Here is a set of commands to verify what ``/usr/bin/env`` returns.

[code]

## Results on machines I use

I did some modifications in my files (``.bashrc``, etc.) after I had reported the bug (to be able to compile Seqan) so ``$ /usr/bin/env python`` already returns Python 2.7.

**Machine 1** (lapto

[2016-02-25 16:20] xenigmax commented on #1485
I can make precompiled header without any problem (g++ 4.9, Debian).
So it's another compatibility problem I think.
He is using mac I'm going to ask him more information.

[2016-02-25 16:38] h-2 commented on #1485
Can you figure out how this interacts with cmake? It would be great if we could change our build system so that it automatically pre-compiles all headers, before doing a full build of SeqAn. It could possibly speed up our nightly builds and continuous integration significantly!

Thanks!

[2016-02-25 16:41] xenigmax commented on #1485
OK. I will resolve the user's situation first. And then I will check it.

[2016-02-25 16:52] h-2 commented on #1485
:+1:

Yep, I was expecting that.

That's true. It would only befault for nightly or travis anyway I think, but it would be good to have it as a build option!

[2016-02-25 17:04] h-2 opened #1507 "make async_io compile-time-optional"
AsyncIO seems to be a non-standard posix extension that is supported on Linux and Mac. FreeBSD has optional support via the aio.ko Kernel module, but apparently it is not reliable for 32bit FreeBSD. OpenBSD has no support, so this is required  for #1398 and #1499.

[2016-02-26 17:19] esiragusa opened #1508 "LocalAlignmentEnumerator fails to compile with Blosum62"
I am following the [local alignments tutorial](http://seqan.readthedocs.org/en/master/Tutorial/PairwiseSequenceAlignment.html#local-alignments). I modified [this demo](https://github.com/seqan/seqan/blob/master/demos/tutorial/pairwise_sequence_alignment/alignment_local_assignment1.cpp) to use Blosum62:

[code]

It fails to compile with these errors:

[code]

[2016-02-29 08:38] temehi commented on #1172
@h-2 , @rrahn  This issue can be closed.

[2016-02-29 10:57] #1172 closed

[2016-02-29 12:46] karel-brinda commented on #1482
So I returned back to my original configuration setting on my OSX laptop and now I am getting the following results:
[code]
To sum up, there is no ``python2`` and ``/usr/bin/env python`` returns Python 3. I think that I am not alone with such environment.

[2016-02-29 13:38] marehr commented on #1307
She wanted it :smile:

[2016-02-29 13:48] h-2 commented on #1486
fixed by #1493

[2016-02-29 13:48] #1486 closed

[2016-02-29 14:46] karel-brinda commented on #1482
Hello @cpockrandt, @h-2 and @marehr,

I think I have found the main problem. Seqan relies on CMake ``find_package (PythonInterp)
`` and does not check versions, see https://github.com/seqan/seqan/blob/3056fcaa07d902679c72fe6c149bcddccdf53ef8/dox/CMakeLists.txt#L12. So in my case, it finds Python 3 and tries to execute Pythons script with it:
[code]

This should help: https://cmake.org/cmake/help/v

[2016-02-29 16:52] xenigmax commented on #1501
1. 2.0.2, 2.1.0 => done.
2. I tried to change this using http://packages.seqan.de/seqan-library/seqan-library-2.0.1.zip but it shows the same result (http://docs.seqan.de/seqan/2.0.1-2/). @h-2  How can we handle this properly?

[2016-02-29 16:54] h-2 commented on #1482
@karel-brinda you are right about this. Seeing that making the scripts python3 compatible is the future-proof way to go and would solve all the issues, I think we should focus on that.
@cpockrandt and @smehringer can you communicate on this? Thanks!

[2016-02-29 17:04] h-2 commented on #1482
Please be aware that SEQAN_LIBRARY_RELEASE is not intended for end users or downstream packagers. **We** use this to create extra source packages for you that include only header and dox (but not the mechanism for creating the dox):
http://packages.seqan.de/ [first links / "SeqAn Library"]
Use these if you want a light-weight install that has no build step (and thus no build dependencies).

[2016-02-29 17:22] karel-brinda commented on #1482
@h-2 I usually add Seqan to my projects using CMake External Project mechanism, see https://github.com/karel-brinda/cmake-ext/blob/master/seqan.cmake. I can replace there the git repository by url of the package from Platform Independent Download and just change ``include_directories`` (is this the intended way of usage?). However, I normally prefer Github repositories to project specific websites

[2016-02-29 17:31] h-2 commented on #1482
Ah, I was unfamiliar with that. But if indeed you are only using the headers and nothing else, can you not overwrite the install step with  `cp -a SOURCE TARGET`?

It is not a lot of work though, maybe we can add a flag...

[2016-02-29 18:16] h-2 commented on #1482
btw. this also blocks #1398 because on OpenBSD there are neither symlinks to python2 nor to python (only the full versions).

[2016-02-29 19:08] xenigmax commented on #1501
All the versions after 2.0.0 can't produce correct dox using "make package".
- I will open an issue about this.

I made dox for 2.0.1 from the source and it's updated.
Maybe we can close this issue.

[2016-02-29 19:14] xenigmax opened #1513 ""make package" produces incorrect dox."
All the library releases after ver. 2.0.0 produce incorrect dox.
If you download one in "library" section at this page - http://packages.seqan.de/, you will see what it means.
All the items in the documents(/share/doc) are categorized as "null".
Even 2.1.0(http://packages.seqan.de/seqan-library/seqan-library-2.1.0.zip) is broken.

If you run "/dox/dox_only.sh" with source versions, it works fine.

[2016-03-01 10:16] #1513 closed

[2016-03-01 11:12] h-2 commented on #1439
Please reopen if there are remaining issues.

[2016-03-01 11:12] #1439 closed

[2016-03-01 11:13] h-2 commented on #1277
We will have to think of other strategies to make BWT construction faster...

[2016-03-01 11:13] #1277 closed

[2016-03-01 12:07] xenigmax commented on #1501
I've updated library releases from 2.0.0 to 2.1.0 at http://packages.seqan.de using #1514
You can find old versions(which contain incorrect dox) at http://packages.seqan.de/seqan-library/backup_010316/

[2016-03-01 12:07] #1501 closed

[2016-03-01 12:08] xenigmax commented on #1513
It has updated now.

[2016-03-02 02:15] kdmurray91 opened #1518 "Mason2 download links on packages.seqan.de 403 forbidden"
Hi,

The download links for mason2 version > 2.0.1 seem broken. Both 2.0.2 & 2.0.3 fail with a 403 forbidden error code. I'm just using wget:

    wget http://packages.seqan.de/mason2/mason2-2.0.3-Linux-x86_64.tar.xz

Thanks in advance,
Kevin

[2016-03-02 06:38] tdsmith opened #1519 "seqan-2.1.0.tar.xz checksum changed"
Hello, it appears that the checksum of seqan-2.1.0.tar.xz (accessible from https://github.com/seqan/seqan/releases/download/seqan-v2.1.0/seqan-library-2.1.0.tar.xz) has changed since February 16.

On the 16th, the sha256 checksum was 97bbeffcb059d650e4bdf6ffcd3d585910a382525a1a5054941eb080df0c88d2. Today, it is 986a55d028fb08e0befc538af927cbcfb880e7d4402f9b008d09f76abe63f86e. Was this change inten

[2016-03-02 10:25] xenigmax commented on #1519
Yes. It was intentional. The old version contained incorrect documents in /share/dox.
That's the only change. Please let us know if you find any problem.

[2016-03-02 10:33] h-2 commented on #1518
sorry about that, should be fixed now!

[2016-03-02 10:33] #1518 closed

[2016-03-02 10:38] h-2 commented on #1519
We know changing the package after the release isn't great, but the we were pretty sure downstream packages hadn't yet picked up the tarballs (also we know that e.g. debian uses the "full" tarballs, which are unchanged, not the library tarballs).
What is your usecase / how did you notice? If more people rely on this we can make a policy to always bump version in the future.

[2016-03-02 10:39] h-2 commented on #1507
implemented via #1517

[2016-03-02 10:39] #1507 closed

[2016-03-03 05:27] tdsmith commented on #1519
Brilliant; thanks for the explanation. Please feel free to close this issue. :)

Homebrew is a rolling-release package manager for OS X which uses checksums to verify download integrity; homebrew-science builds its `seqan` package from seqan-library tarballs. Our fast-fingered maintainer @sjackman updated our formula and captured the checksum on the 16th. I noticed because our CI was complaining a

[2016-03-03 12:11] #1519 closed

[2016-03-03 14:49] h-2 commented on #1519
Ah, great to see we are on homebrew, thanks! The MacPorts are maintained by us and unfortunately still outdated.

That is very much how we intend it. We will try to make sure these packages are not changed 'in-place' in the future.

[2016-03-04 10:28] cpockrandt opened #1526 "PizzaChili Index Adapter not working"
I just noticed, that the PizzaChili index is not working (use of undeclared identifier `SEQAN_ABORT` and `SEQAN_REPORT`). It should be easy to fix the bug but there are some open questions/issues:
- the adapter is not tested anywhere
- is anyone using this adapter?
- there are many indices in the Pizza & Chili API (see http://pizzachili.dcc.uchile.cl/indexes.html) that SeqAn does not support.

@es

[2016-03-07 09:59] cpockrandt commented on #1228
Since #1071 was merged, I think we can close this issue ;)

[2016-03-07 09:59] #1228 closed

[2016-03-07 13:44] h-2 opened #1530 "better default of SEQAN_HAS_EXECINFO"
Right now it is 0 by default and header is detected by cmake.

This should be changed and set in platform.h:
  * if compiler can do header detection, detect and set
  * if not and MSVC set to 0
  * otherwise set to 1

[2016-03-07 13:47] xenigmax opened #1531 "broken links: manual -> dox"
The proper way of linking dox contents with an anchor should be like this.
?p=HTML_FILE_NAME#ANCHOR

But there are many links that do not follow this rule. For example, if you click "alignedReadStore" in FragmentStote tutorial, it's broken.
http://docs.seqan.de/seqan/master/?p=FragmentStore%3A%3AalignedReadStore
This should be changed like below
http://docs.seqan.de/seqan/master/?p=FragmentStore#F

[2016-03-07 14:10] xenigmax opened #1532 "Change "database" to "subject sequence" in the tutorial"
@h-2  suggested me to change "database" to "subject sequence" in #1529
And there are many "database" in the tutorial.
http://seqan.readthedocs.org/en/master/search.html?q=database&check_keywords=yes&area=default

If there is no objection about this, I will change all of these.
@rrahn @esiragusa  What do you think?

[2016-03-07 15:33] xenigmax commented on #1531
Another case.
http://docs.seqan.de/seqan/master/?p=FragmentStore#compactAlignedReads (x)
http://docs.seqan.de/seqan/master/?p=FragmentStore#FragmentStore%23compactAlignedReads(o)

[2016-03-07 16:15] h-2 opened #1533 "remove old warning disablers"
Since we require c++11 now, we can remove some of the `-Wno` from FindSeqAn.cmake

[2016-03-08 13:56] esiragusa commented on #1526
I would say to remove it as we did for other broken and unused modules. The code is released in v2.1.0, in case anyone wants to work on it (but I would suggest to integrate sdsl-lite rather than pizza&chili).

[2016-03-08 14:01] smehringer commented on #1307
Fixed by #1520.

@marehr this issue can be closed.

[2016-03-08 16:04] cpockrandt commented on #1385
Couldn't get cmake working with clang.exe on our build machines.
Therefore postponed until further notice.

[2016-03-08 19:19] temehi commented on #1484
I can not reproduce this bug, anyhow I will try to contact Luis Enrique.

[2016-03-09 09:19] marehr commented on #1307
Thanks!

[2016-03-09 09:19] #1307 closed

[2016-03-09 11:06] cpockrandt commented on #1526
@h-2 If you agree, I will remove it and open a PR into develop for Milestone 2.1.1

[2016-03-09 11:15] h-2 commented on #1526
Hm, I don't think we should remove any code anything for a 0.0.+1 release.  Or are you sure that absolutely all of the functions and datastructures are broken?
For the manual and dox we can definitely remove it...

[2016-03-09 16:55] h-2 commented on #1477
@xenigmax any news on the PCH and cmake?

I will try to get this tutorial done in the next days, but if not, it is not crucial for 2.1.1

[2016-03-09 16:59] h-2 commented on #1008
@rrahn if possible change the file in the nightlies before 2.1.1 and move fixing the real problem to later. Thanks!

[2016-03-09 16:59] #1488 closed

[2016-03-09 17:01] h-2 commented on #1479
done via #1540

[2016-03-09 17:01] #1479 closed

[2016-03-09 18:05] h-2 commented on #1481
@xenigmax  I will try to do this in the next, but if it doesn't get done for the release it's not a problem.

[2016-03-10 03:04] esiragusa opened #1547 "Add SeqAn apps to Bioconda"
See https://bioconda.github.io/

[2016-03-10 03:04] esiragusa commented on #1547
@h-2 FYI

[2016-03-11 10:25] h-2 commented on #1533
fixed by #1546

[2016-03-11 10:25] #1533 closed

[2016-03-11 10:25] h-2 commented on #1530
fixed by #1543

[2016-03-11 10:25] #1530 closed

[2016-03-14 11:57] xenigmax commented on #1532
The suggestion was the substituon of words like :

1) database/reference/contig => subject sequence
2) read => query

However, there are many occurences of "database", "reference", "contigs" and "read".
And some of them should not be changed to deliver clear explanation.

eg.
"FragmentStore is a *database*"
"Do not use pointers. Use *references*"
"..against a *reference* genome"
".. a genome consi

[2016-03-14 12:16] xenigmax opened #1557 "a test failed on win32/64"
This should be fixed before the release.

http://cdash.seqan.de/viewTest.php?onlyfailed&buildid=168955

test_demo_tutorial_indices_base	Failed	340ms	Completed (Failed)

[2016-03-14 12:43] cpockrandt opened #1558 "Tutorial: directory cannot be removed under Windows"
``demo_tutorial_indices_base`` fails when trying to remove the temp-directory.

[2016-03-14 13:28] cpockrandt commented on #1558
duplicate of #1557

[2016-03-14 13:28] #1558 closed

[2016-03-14 17:09] h-2 commented on #1481
will be fixed by #1560

[2016-03-16 14:53] cpockrandt commented on #1387
I would like to re-open this ticket :grimacing:

There are still many folders in /tmp that are not deleted. There are currently 78 folders left from tonights nightly builds on ``larex`` (and also quite a few on Windows as well). I think we missed some unit/app tests :see_no_evil:

[2016-03-16 15:16] h-2 opened #1566 "nightly-built doc"
the current documentation at docs.seqan.de/seqan/master is actually older than docs.seqan.de/seqan/2.1.0 .
This is really confusing, can we get dox nightly builds for the server?

[2016-03-16 15:33] cpockrandt commented on #1557
We didn't manage to fix it yet :sweat: but @smehringer and me figured out in which cases the tests fails.

The following example works:

    const char * tmpFilename = SEQAN_TEMP_FILENAME();
    Index<String<Dna>, IndexEsa<> > index("ACGT");

    save(index, tmpFilename);
    open_index, tmpFilename);

    ClassTest::_deleteTempFile(ClassTest::_stripFileName(tmpFilename));

As soon as we use an ``

[2016-03-16 15:50] cpockrandt commented on #1557
I think I narrowed it down. As expected, the problem occurs, when an external string is stored in the directory (which happens if the index is built on an external string or the FM index is built, since it is built in external memory).

Who is responsible for external strings? :trollface:

[2016-03-16 16:25] xenigmax commented on #1477
@h-2
I planned to resolve the user's situation first, however, there is no answer from him.
It's better to move on. We should consider a build option for this.

As you said, this is not a crucial and even impossible for 2.1.1
So I will reassign this to backlog.
Please feel free to reorganizing it when you have a time.

[2016-03-16 16:25] xenigmax commented on #1485
I reassign this to backlog. Refer to #1477

[2016-03-16 16:33] xenigmax opened #1568 "Removal of PizzaChili index from the manual."
From #1526

We would like to remove this part from the manual.
There is no objection about this - as far as I know :)

Removal of source code or integration of sdsl-lite will be discussed in #1526 - which is not a part of the minor release like 2.1.0 -> 2.1.1

[2016-03-16 16:36] xenigmax commented on #1526
It seems we all want to remove this part from the manual at least.
I made a new issue #1568 for this and reassign this issue to backlog.

[2016-03-16 17:08] xenigmax commented on #1568
LGTM!

[2016-03-16 17:09] #1568 closed

[2016-03-16 17:24] xenigmax commented on #1484
@temehi  Did you contact the person?

[2016-03-16 17:50] xenigmax commented on #680
This issue is dependent on #682.
However, the milestone of #682 was changed to 3.0.0 on Jan 27.
So I think this should be changed to 3.0.0, too.

Please feel free to say anything if you have an opinion about this change :)

[2016-03-16 17:57] xenigmax commented on #1557
You know the answer. :cry:

[2016-03-16 18:13] temehi commented on #1484
@xenigmax yes, we had a couple of conversation on the mailing list. I asked Luis Enrique to send me his fastq files to locate the problem and I am still waiting.

[2016-03-17 10:24] h-2 opened #1572 "32bit fails..."
... don't worry, we are working on it.

[2016-03-17 10:40] xenigmax commented on #1566
Maybe it's related to #1501. But the content is OK. Is this right?

I will do that if you tell me where it is.

[2016-03-17 11:48] smehringer opened #1573 "Strange behaviour of indexed fasta I/O when building an index twice"
This issue occurs in the following demo file:

The function `getIdByName()` raises the error, that it cannot find "chr1". The _example.fasta_ file does contain a sequence named "chr1" though.

If you try out `std::cout << empty(faiIndex) << std::endl;`, it returns `1`.

Strangely, after `getIdByName()` fails, `sequenceLength()` successfully fetches the length of the sequence. But `empty(faiIndex)`

[2016-03-17 11:49] smehringer commented on #1573
@cpockrandt can you please add labels, Milestone and Assignee.

[2016-03-17 12:46] sccluisx commented on #1484
@temehi Thanks here are the files that were working with previous version of seqan
[seqan_issue_files.zip](https://github.com/seqan/seqan/files/177856/seqan_issue_files.zip)

[2016-03-17 13:59] cpockrandt commented on #955
@xenigmax Is this issue up-to-date? It doesn't match the assignment in Trello. I guess I should be working on it?

@xp3i4 Are you currently working on this or planning to?

[2016-03-17 14:18] temehi commented on #1484
@sccluisx on which platform you are using SeqAn? windows?

[2016-03-17 14:28] h-2 commented on #1566
Yes, its just outdated, I think.

Where what is? :smile: The dox? In /web/docs.seqan.de

[2016-03-17 15:10] smehringer opened #1576 "test of demo file passes even when the stdout was not as expected."
I found the following two tests which passed, even if the stdout was not as expected.

http://cdash.seqan.de/testDetails.php?test=27779920&build=169398
http://cdash.seqan.de/testDetails.php?test=27779935&build=169398

They both have in common that the stored .stdout file was empty.

This shoud not happen, should it?
Or is there some special case where a test is allowed to have different standard o

[2016-03-17 15:12] xenigmax commented on #1566
@h-2 I thought that you asked me to do something about nightly build as well.
If it's not. That's fine. I will update it. :)

[2016-03-17 15:14] cpockrandt commented on #1484
Works on Windows with ``VS 14 2015 Win64`` with ``master`` branch.

[2016-03-17 15:17] cpockrandt commented on #1566
I think we should automatize it in the long run, but not for Release 2.1.1

[2016-03-17 15:35] xenigmax commented on #1576
@h-2
What is the behind story about this?

[2016-03-17 16:23] xenigmax commented on #1484
@temehi @cpockrandt

Is this correct?

[2016-03-17 16:43] temehi commented on #1484
@xenigmax not really, but it still works with
[code]
on OS X and linux. @cpockrandt can please you check again?

[2016-03-17 16:55] cpockrandt commented on #1484
@temehi Still works!

[2016-03-17 20:53] h-2 commented on #1576
I habe no clue to be honest...

[2016-03-17 20:55] h-2 commented on #1566
I agree, please update it manually, and then we can switch to nightlies later.

[2016-03-17 22:15] temehi commented on #1576
I have some clue,

 <a href="https://github.com/seqan/seqan/blob/master/util/bin/demo_checker.py#L88">Here</a>  The python code

    return not (**expected_out == expected_out** and expected_err == actual_err)

It should have been

    return not (expected_out == actual_out and expected_err == actual_err)

[2016-03-17 22:17] temehi commented on #1576
I will make a pull request, Let's hope this won't reveal a lot of reds at cdash :pray:

[2016-03-18 08:20] h-2 commented on #1576
@temehi good catch! this could actually reveal some more errors in demos...

[2016-03-18 08:55] temehi commented on #1576
@h-2 it did, 19 of them. see my comment at #1579.

[2016-03-18 10:42] #1572 closed

[2016-03-18 13:14] xenigmax commented on #1403
The pattern matching tutorial was restructured. I made an essential PR for this. Check #1581
Overlaps will be addressed in #955 and I move this to 3.0 according to @rrahn

[2016-03-18 13:16] temehi commented on #1573
@cpockrandt you may close this issue now

[2016-03-18 13:17] cpockrandt commented on #1573
Oops, forgot it. Thanks!

[2016-03-18 13:17] #1573 closed

[2016-03-18 13:17] temehi commented on #1484
@xenigmax you may close this issue as we couldn't reproduce the error.

[2016-03-18 13:18] xenigmax commented on #955
@xp3i4

Please check the overlaps between below two tutorials.
Check #1403 before doing this.

1) http://seqan.readthedocs.org/en/feature-manual-restructure/Tutorial/Algorithms/PatternMatching/IndexedPatternMatching.html
2) http://seqan.readthedocs.org/en/feature-manual-restructure/Tutorial/DataStructures/Indices/IndexIterators.html

[2016-03-18 13:19] xenigmax commented on #1403
For the second issue, we reorganized the tutorial and overlpas

For the first one, I moved it to 3.0 as @rrahn suggested.

[2016-03-18 13:24] xenigmax commented on #955
@cpockrandt
According to Trello, your task is about string index only.

http://seqan.readthedocs.org/en/feature-manual-restructure/Tutorial/DataStructures/Indices/StringIndices.html

Did you make a PR for this?

[2016-03-18 13:28] #1484 closed

[2016-03-18 13:32] cpockrandt commented on #955
@xenigmax Trello says "String indices: rework together with string iterators". I think string iterators are referring to index iterators? Please correct me, if I'm wrong :smile:

Since noone could tell me in what way it should be reworked and René is not here, I just checked the index iterator tutorial and didn't rework it.

In my opinion there are no overlaps between IndexedPatternMatching and In

[2016-03-18 13:41] xenigmax commented on #1482
@cpockrandt @h-2
Here are my suggestions about this.

1)
If the problem is just about "print," I think we can simply replace python2.x style to 3.x style.
Since 2.x supports 3.x style as well. (which is odd but..)

2)
Or why don't we just let others know that there is a transformer?
https://docs.python.org/2/library/2to3.html

[2016-03-18 13:43] cpockrandt commented on #1482
@smehringer was working on this issue. Afaik there are more problems than just "print". She also tried the 2to3 transformer out but it resulted in major code changes and didn't even work afterwards.

[2016-03-18 13:45] xenigmax commented on #1557
@cpockrandt
Does #1574 close this issue as well?

[2016-03-18 13:49] smehringer commented on #1482
That's right. It resulted in code changes in about 1400 lines and still did not run without errors (which might be due to the automatic 2to3 transformer but anyway). In addition a lot of changes will not be compatible with pyhon2 (e.g. syntax and library name changes).

[2016-03-18 13:55] xenigmax commented on #1482
Then, it should be a huge job. I have tried dox a while.. and I can sense that it's not a simple task.
I think we have to make a decision now.

@h-2, what do you think about below?
1) Notice clearly that the current SeqAn dox only supports python 2.x
2) Postpone this issue to a major release.

[2016-03-18 14:02] xenigmax commented on #955
Since noone could tell me in what way it should be reworked and René is not here, I just checked the index iterator tutorial and didn't rework it.

OK. Then you may need a discussion with Rene on coming Mon(21). I also have no idea about this rework and could not tell you about the direction.

All right!

[2016-03-18 18:48] temehi opened #1585 "`globalMsaAlignment()` output differs b/n clang and gcc"
The results of globalMsaAlignment( ) are not identical among compilers.
you can check using `demo/dox/stream/lexical_cast.cpp` if compiled with gcc the output is as follows
[code]
Whereas with clang:
[code]

Does any one have a clue why this is happening? May be it's related to order of function evaluation ...??
I found out about this because the tests of PR #1579 were falling. This has to be solv

[2016-03-21 09:50] xenigmax opened #1586 "app_test_razers/app_test_stellar timeouts after 600s (performance degrade)"
http://cdash.seqan.de/testDetails.php?test=31266148&build=169958

[2016-03-21 10:00] xenigmax commented on #1586
@marehr
I'm not sure whether it's related to #1577 or not.
But.. can you take a look? Thanks!

[2016-03-21 10:31] #1531 closed

[2016-03-21 10:53] marehr commented on #1586
There is a performance degrade on windows for app_test_razers and app_test_stellar (master & nightly)
15.03. 907a7a4c06ee50dd7309a081db4cffa3b618fe8e (master) (~34s)
16.03. f98f8a9eb67ebd1aaf834d8c0c8ce4c75a92c67d (master) (~480s)

I will try to find out which commit is the cause.

[2016-03-21 12:50] #1576 closed

[2016-03-21 15:03] cpockrandt commented on #955
@xp3i4: In consultation with @xenigmax, I will work on this issue :smiley:

[2016-03-21 15:05] temehi commented on #1585
@cpockrandt this is solved together with #1579

[2016-03-21 15:08] cpockrandt commented on #1387
hopefully fixed by #1588 and #1587

[2016-03-21 15:12] cpockrandt commented on #1585
@temehi Thanks for the hint, didn't notice that :see_no_evil:

[2016-03-21 15:12] #1585 closed

[2016-03-21 15:16] xenigmax commented on #1478
@marehr
May I close this by #1560  ?

[2016-03-21 18:09] xenigmax opened #1589 "dox tree-view enhancement"
From #1431

Related to #1432

[2016-03-21 18:25] xenigmax commented on #710
I move this to 2.1.2 after discussion with @marehr

[2016-03-22 10:01] rrahn commented on #496
@xenigmax This is a very nice work.
However, I think we need to postpone this to the seqan 3.0. It does not make sense to mess around with the dox yet. We plan to restructure the module directories anyway. And I think we need much more work to improve the design. At the moment I am not happy with it. Since we all are not the web-developer-kind-of-guys I recommend to change this later.

[2016-03-22 10:12] cpockrandt commented on #1387
@smehringer: Larix lgtm, but on Windows there were 2*13 folders left from the nightly builds.

[2016-03-22 10:49] smehringer commented on #1387
windows doesn't like me it seems... :disappointed:  can we look into windows together?

[2016-03-22 10:52] cpockrandt commented on #1387
@smehringer Sure, just drop by my office :wink:

[2016-03-22 13:24] xenigmax commented on #1557
I think it's a problem of Windows.

I tried this and found that all the files are actually not deleted right after "DeleteFile" call.
So the RemoveDirecroy returns "error code145" always which means "not empty".

It seems DeleteFile just marks files to "to be deleted".

[2016-03-22 13:42] cpockrandt commented on #1557
We did some research about it as well, and I think you're right, that the directories are not removed immediately. However I think that directories that contained an external String cannot and will not be removed at all.

[2016-03-22 14:39] xenigmax commented on #1557
There should be an additional effort for that, especially with close function.
http://docs.seqan.de/seqan/master/?p=ExternalString#ExternalString%23close

However, for this issue, let's find a way to delete temporary files anyway (which is working on linux)..

[2016-03-22 14:56] smehringer commented on #1557
Maybe this could be an alternative to `DeleteFile` when deleting temporary files:

[2016-03-22 15:00] smehringer commented on #1557
The second answer to this StackOverflow question gives an example

http://stackoverflow.com/questions/213392/what-is-the-win32-api-function-to-use-to-delete-a-folder

[2016-03-22 15:12] cpockrandt commented on #1557
We checked it, doesn't work either :wink:

[2016-03-22 16:53] xenigmax commented on #1557
OK.. We have spent enough time to make a decision for this.
I think there are 2 solutions for this.

1)
By using Win32 API, investigate all the handles that are attached to specific files and unlock them. (and delete them..)

2)
Fix/add "close" function for data structures that use external storage (external string, indices with external strings..) and modify every line to use it.

I think none of

[2016-03-23 10:13] xenigmax commented on #1586
Now it's getting worse.. But we have to fix this

flag test_test_store	Failed	10m 30ms	Completed (Timeout)
flag test_demo_tutorial_fragment_store_access_aligned_reads	Failed	10m 590ms	Completed (Timeout)
flag test_demo_tutorial_fragment_store_access_aligned_reads2	Failed	10m 630ms	Completed (Timeout)
flag test_demo_tutorial_fragment_store_display_aligned_reads	Failed	10m 330ms	Completed (Timeout)

[2016-03-23 10:37] xenigmax commented on #1557
We will try to fix it today. But we have to change the milestone if we can't make it.

[2016-03-23 11:40] marehr commented on #1586
I (possibly) found the culprit. This seems to be a windows-only problem, on the other platforms I couldn't measure/see a performance degrade in cdash. The pull request #1594 reverts some commits that @h-2 hannes introduced. I hope this solves the problem temporarily.

I think it has to do something with the different code generator used for Visual Studio.

[2016-03-23 11:49] xenigmax commented on #1387
It's related to #1557 . Removal does not work for Windows.

[2016-03-23 12:06] marehr commented on #1478
This was fixed by #1560

[2016-03-23 12:06] #1478 closed

[2016-03-23 12:10] marehr commented on #1481
We may have to look at it again, because we had some performance degrade on windows.

see #1586

[2016-03-23 12:27] xenigmax opened #1596 "Different gapOpen/Extension cost in seed extension"
This line prevents a use of different gapOpen/Extension cost.
https://github.com/seqan/seqan/blob/master/include/seqan/seeds/seeds_extension.h#L799

[2016-03-23 12:45] #1586 closed

[2016-03-23 14:15] rrahn commented on #1596
There is a another extension implementation in align_extend which allows to use affine gap costs as well.
We need to unify the extension module and make use of the dp code for the 3.0 release.

[2016-03-23 16:29] xenigmax commented on #955
Done by #1593 except the last one - pictures.
I move this to 2.1.2

[2016-03-24 07:36] rrahn commented on #1566
I reenabled the hourly update of the dox for master and develop.
Let's see if it works.

[2016-03-24 13:05] #1566 closed

[2016-03-29 15:44] simon-m opened #1622 "Amino acid alphabet size: doc and source files disagree"
The amino-acid alphabet size as in the documentation for seqan 2.0 is 27 ("The ValueSize of AminoAcid is 27"), whereas it is 26 in /basic/alphabet_residue.h
The reason is that "O" is mentioned in the doc but not included in the source code.

[2016-03-29 16:47] marehr commented on #1622
Thank you for your report. We have this week the Seqan UGM. Therefore, there might be a slight delay to answer your question.

@rrahn I think you know a bit more about this than me :wink:

[2016-03-30 08:10] rrahn commented on #1622
@simon-m can you please give me the line, where the implementation only has 26 residues?
In ```basic/alphabet_residue.h``` the ```ValueSize``` is 27.
See here https://github.com/seqan/seqan/blob/master/include/seqan/basic/alphabet_residue.h#L555.

I double checked the scoring matrix implementations. They all feature 27 residues.
Thanks a lot.

[2016-03-30 08:30] simon-m commented on #1622
Hi,
OK, I just checked the following archive http://packages.seqan.de/seqan-src/seqan-src-2.0.0.tar.gz which I am using and I have the following (line 555):
[code]
Also, all my matrices are 26x26 and have no "O".

However the docs at http://docs.seqan.de/seqan/2.0.0/ tell me that "The ValueSize of AminoAcid is 27".

Perhaps I should move to a more recent version.
Thanks,

Simon

[2016-03-30 09:10] rrahn commented on #1622
Oh, I am sorry for this bug.
Yes the most current version is 2.1.1.
There it should be fixed.

[2016-03-30 09:10] #1622 closed

[2016-03-30 15:26] holtgrewe opened #1629 "Mason downloads broken"
http://packages.seqan.de/mason2/

2.0.4 downloads do not work, at least for Linux

[2016-03-30 16:20] xenigmax commented on #1629
There was a problem in the deployment script.
So all the "mason2" files are placed in "mason" directory.
I moved it and now it's working.

[2016-03-30 16:20] #1629 closed

[2016-03-31 08:07] h-2 commented on #1385
Cmake has support now:
https://cmake.org/pipermail/cmake-developers/2016-March/027967.html
It is in the nightlies and will be in the next release. @cpockrandt Can you check with the nightlies, so that we have support, once the next cmake version is out?

I would propose that we remove PLATFORM_WINDOWS and that we define `PLATFORM_MSVC` only on `MSVC && != c2`. If there are sufficiently many cases

[2016-03-31 08:09] h-2 opened #1630 "lots of warnings on windows"
probably due to build-system changes (deactivation of warnings was moved from FindSeqAn to CMakeBuildSystem).

[2016-03-31 08:15] h-2 commented on #1385
There are also fixes for clang/c2 in the new vs2015update:
https://www.visualstudio.com/en-us/news/vs2015-update2-vs.aspx
So please ask the staff to update vs2015 on our virtual machines.

And maybe ask them to install the vs2016 preview, as well:
http://www.heise.de/newsticker/meldung/Microsoft-Build-2016-Vorschau-von-Visual-Studio-2016-veroeffentlicht-3158425.html

[2016-03-31 10:28] smehringer opened #1638 "[DOX] No documentation for the constructor of the LocalAlignmentEnumerator class"
If you take a look, there is no documentation of the constructor:
http://docs.seqan.de/seqan/master/index.html?p=LocalAlignmentEnumerator

same here:
class Score http://docs.seqan.de/seqan/master/index.html?p=Score
class Index http://docs.seqan.de/seqan/master/index.html?p=Index

[2016-03-31 10:35] smehringer opened #1639 "[DOX] No documentation for the constructor of the Score class"
http://docs.seqan.de/seqan/master/index.html?p=Score

[2016-03-31 13:13] #1639 closed

[2016-03-31 14:15] cpockrandt opened #1641 "Bidirectional FM-index search in constant time"
using prefix sums in bit vectors

[2016-04-01 08:02] kreinert opened #1644 "Small denomination error in Fasta index tutorial"
The first part of the program for assignment 2 contains

   if (argc != 5)
    {
        std::cerr << "USAGE: build_fai FILE.fa SEQ BEGIN END\n";
        return 0;
    }

which is copy-paste from assignment 1.

It should  read

   if (argc != 5)
    {
        std::cerr << "USAGE: query_fai FILE.fa SEQ BEGIN END\n";
        return 0;
    }

[2016-04-01 08:52] h-2 opened #1648 "improve c++11 detection"
- [ ] right now if !CXX11_FOUND in FindSeqAn.cmake a cache variable is set, so there is no repeated check until the user removes the cache. This should be changed!

  - [ ] the user guide should be updated to show more prominently that it might be necessary to add `-std=c++11`

[2016-04-01 13:01] rrahn opened #1652 "BCF Support"
Extend the VCF-I/O module with bcf format.

[2016-04-01 13:06] rrahn opened #1653 "Memory consumption explodes using Bam I/O with millions of reference sequences"
It seems that our bam I/O consumes a lot of memory when dealing with Bam files containing large headers with millions of reference sequences.

[2016-04-01 15:40] h-2 opened #1656 "windows binaries are slowed by dependencies"
Marcel and I tried to track down the problems on Windows and it seems that in general the binaries get slower when you build them with one or multiple of our dependencies linked.

Can one of the windows people track this problem down?

Howto reproduce easily:

  * build razers, run the tests
  * build razers, but add this **before** `find_package(SeqAn)` in the CMakeLists.txt
[code]
  * run the te

[2016-04-04 08:41] #1644 closed

[2016-04-04 14:35] h-2 opened #1658 "remove the # from the manual"
Either fix the terminal-display so that # is not treated as the beginning of a comment or remove all # or % symbols from the beginning of lines so that the contrast ist better.

[2016-04-05 09:02] h-2 opened #1662 "VS2015u2 introduced lots of errors"
Apparently related to our STL adaptation. It looks like the windows stl is already adopting the global function interface and is now conflicting with our adaptation.

The annoying thing is that this happens inbetween minor updates so we need to figure out the right `#ifdef` to only (but then always) define our custom overloads.
Maybe the best way would be to do some (additional) SFINAE check that

[2016-04-05 09:04] h-2 commented on #1662
This also highlights why we want the VS2016 preview so we spot things early on.

[2016-04-05 13:32] rrahn opened #1663 "Remove Pizza&Chili index and replace it in favour of sdsl"
- [ ] Remove outdated pizza & chili code if not used anymore
- [ ] Investigate sdsl and check if we can wrap it instead of the pizza & chili library.

[2016-04-05 17:08] cpockrandt opened #1664 "Outdated contribs for Windows"
Our manual links to contrib packages from 2013, not the latest from 2016. See http://seqan.readthedocs.org/en/master/Infrastructure/Use/InstallDependencies.html

We should link instead to the ones from 2016, check http://ftp.seqan.de/contribs/ for the latest version.

[2016-04-06 07:24] rrahn commented on #1664
There is already a PR, waiting for updates #1618 to be merged.

[2016-04-06 07:24] #1664 closed

[2016-04-07 14:06] h-2 commented on #1274
implemented via #1666

[2016-04-07 15:04] marehr commented on #1274
Whats with the open todos?

[2016-04-07 15:08] h-2 opened #1667 "Better packages"
CPack can generate `.dmg` for Mac; `.deb` and `.rpm` for Linux and proper installers for Windows. Why aren't we doing this? Also we should have optimized builds and unoptimized.

i.e.

**Yara**

Version  | Linux                                          | Mac                              | FreeBSD          | Windows
----------  | ----------------------------------------- | -------------------------

[2016-04-07 15:18] h-2 commented on #1274
yes, you are right

[2016-04-07 15:19] marehr commented on #1274
Your turn ;D

[2016-04-08 12:14] h-2 opened #1668 "Optimization level of app packages"
I'd like to reopen this. Right now we are specifying `-msse4`. I thought this was the intersection of SSE4 extension supported by AMD and Intel, but apparently it means `-msse4.1 -msse4.2` which is not supported by AMD barcelona (which e.g. I have at home so it is not extremely old).
I propose removing `-msse4` again so that we have `-mmmx -msse -msse2 -msse3 -mpopcnt`.
 Although not listed on  ht

[2016-04-08 12:47] esiragusa commented on #1668
I have a great idea :bulb: Why don't you sell your AMD processor on ebay? :trollface:

Ok seriously, I don't know how much we would loose without -msse4. I can try Yara. Did you try Lambda?

[2016-04-08 13:17] h-2 commented on #1668
I think they would only give me 5$ :sob:

I am checking...

[2016-04-08 13:54] h-2 commented on #1668
Hmmm, it seems to be the important factor:

| flags                                                                                               | time           |
|-----------------------------------------------------------------------------------|---------------|
|  (none)                                                                                           | 118.4s       |
|`-mmmx -msse -m

[2016-04-08 13:57] esiragusa commented on #1668
Interesting, thanks! Then I think we should keep -msse4. Do you agree?

[2016-04-08 13:57] h-2 commented on #1668
Not sure, maybe we should add sse4 as an extra architecture besides 32bit and 64bit?

[2016-04-08 14:00] esiragusa commented on #1668
Only for AMD barcelona? Then I would distribute legacy binaries that work for any i686.

[2016-04-08 14:21] h-2 commented on #1668
No, it affects intel core and core 2, as well, including some series of Macbooks...

[2016-04-08 14:24] esiragusa commented on #1668
Well all that is not HPC... :wink:

[2016-04-11 08:39] h-2 commented on #1274
@marehr this actually broke support for the intel compiler on our nightlies...

[2016-04-11 10:41] h-2 opened #1669 "insegt doesn't have proper license file"
to avoid legal issues it should get one

[2016-04-12 09:50] h-2 commented on #1662
@cpockrandt independent of new vs installs, could you make fixing the nightly-builds a priority? If we get used to having lots of errors in the cdash we will not see new errors that are introduced... thanks!

[2016-04-17 05:51] tseemann opened #1670 "softcode fasta file extension in Mason"
It appears the apps only support `.fa` and `.fasta`.

NCBI has a pseudo-standard of
- `.fna` for genomic contigs
- `.faa` for protein sequences
- `.frn` for nucleotide RNA features
- `.ffn` for nuceotide DNA features (or just CDS)

[2016-04-17 08:47] tseemann opened #1671 "mason_variator: invalid FORMAT column in VCF output"
Thanks for writing this tool - it's exactly what I was looking for!

I don't think the VCF is valid however. The sample column 'simulated' has a `1` in it, but there is no corresponding metadata in the `FORMAT` column (or header) to explain what that `1` is:

[code]

I suspect it is the genotype, so `FORMAT` should have `GT` in it, and the header have the GT description like this:

[code]

This is

[2016-04-17 09:42] tseemann opened #1672 "mason_variator: left align indels instead of right align"
When `mason_variator` creates an indel variant, the VCF output file seems to right-align the `REF`/`ALT` calls.

Although VCF annoyingly allows either, the convention is to left-align them.
https://www.biostars.org/p/66843/

[code]

This makes it much simpler to compare VCFs, which is what simulating sequences is generally used for.

@holtgrewe

[2016-04-17 10:03] tseemann opened #1673 "mason_variator: output FASTA file ID is changed, doesn't match VCF"
It seems to append `/1` to my sequence ID ?

[code]

I desire the sequence IDs to remain unchanged.

[2016-04-18 09:56] h-2 commented on #1670
Thanks for the feedback!

As you can see here:
https://github.com/seqan/seqan/blob/master/include/seqan/seq_io/fasta_fastq.h#L109
all of the extensions are actually supported.

But maybe some apps hard-code the extensions to be only a subset... which apps were your referring to?

[2016-04-18 13:33] h-2 commented on #1671
@holtgrewe is this a bug and if yes in mason or in SeqAn's vcf support?

[2016-04-18 13:36] h-2 commented on #1372
@cpockrandt Could you check if this works with the new compiler version? I also changed something to make the blast module build with icc, maybe that made it work on VS, too.

[2016-04-18 13:39] h-2 commented on #838
@esiragusa From my POV the app developers just need to set it right. This is how lambda does it:
[code]

[2016-04-19 12:53] snaedis88 opened #1674 "BamHeader"
The documentation describes the BamHeader as a class but if you look into the source code it it a typedef:
`seqan-library/2.1.0/include/seqan/bam_io/bam_header_record.h: typedef String<BamHeaderRecord> BamHeader`
I think it would be a good idea to make this clear in the documentation.

/snædís

[2016-04-19 13:26] h-2 commented on #1674
Hm, the documentation at
http://docs.seqan.de/seqan/develop/class_BamHeader.html
says:
[code]
And in the tutorial
http://seqan.readthedocs.org/en/master/Tutorial/InputOutput/SamAndBamIO.html
we also say

How would you change the documentation to be more clear?

Please note that "Class" is used in the documentation in a broader sense, as "something you might want to create an object from". As can b

[2016-04-19 13:30] h-2 opened #1675 "Reading a genbank file introduces empty sequences"
Calling `readRecords()` on the attached file creates two sequences in the set although there is only one. The second sequence is empty.
[exophiala_dermatitidis_mitochondrion.gbk.txt](https://github.com/seqan/seqan/files/225963/exophiala_dermatitidis_mitochondrion.gbk.txt)

[2016-04-19 14:26] h-2 opened #1676 "indexRequire() doesn't work for FMIndex"
I thought the usual interface for creating an index quickly was:

[code]

This works. But when I do:

[code]

I get all sorts of errors. Instead I have to use `indexCreate(ix)` (no further arguments!) for creating the FMIndex. OTOH when doing the same for an SA-Index you need to specify more arguments. Is there a reason for this inconsistency?

Do you know anything about this @esiragusa ? Could yo

[2016-04-19 14:40] h-2 opened #1677 "empty sequences in stringset break the FM-index"
Creating an FM-Index over a string set that contains an empty sequence causes undexpected bahaviour on access.

Take for example the attached genbank file.
[exophiala_dermatitidis_mitochondrion.gbk.txt](https://github.com/seqan/seqan/files/226103/exophiala_dermatitidis_mitochondrion.gbk.txt)

Due to #1675 the resulting sequence set will contain the original sequence and an empty second sequence (y

[2016-04-19 15:05] cpockrandt commented on #1676
I cannot test it right now but I think for the FMIndex the following should work:

    indexRequire(ix, FibreSALF());

[2016-04-20 07:40] cpockrandt commented on #1676
@h-2 ``indexRequire(ix)`` does not work for me, instead you should use ``FibreSALF()`` as suggested above.

``indexRequire(ix, FibreLF());`` doesn't make sense for the FM index since you need to create the SA before you can create the LF table. That's probably why they introduced the ``FibreSALF`` tag.

[2016-04-20 08:45] cpockrandt commented on #1677
It seems that the compressed SA causes the problem. By using an uncompressed suffix array I could not determine any unexpected behaviour:

    template <typename TSpec = void, typename TLengthSum = size_t>
    struct FMIndexConfig2
    {
        typedef TLengthSum                                  LengthSum;
        typedef WaveletTree<TSpec, WTRDConfig<LengthSum> >  Bwt;
        typedef Levels<TSp

[2016-04-20 09:30] h-2 commented on #1676
Ah, ok. I think we should look for some unified interface that makes sure the index is instantiated, but I'll move it to 3.0.

[2016-04-20 09:43] h-2 commented on #1670
Are you reffering to Mason? I see that it hardcodes the extensions:
https://github.com/seqan/seqan/blob/master/apps/mason2/mason_genome.cpp#L118
It should instead be "softcoded", as described in #838

[2016-04-20 09:46] h-2 commented on #838
Maybe someone should look through the apps and replace lines like
https://github.com/seqan/seqan/blob/master/apps/mason2/mason_genome.cpp#L118
with the above line.

@xp3i4 can you do this?

[2016-04-20 09:47] h-2 commented on #1670
I am marking this as a duplicate of #838

[2016-04-20 10:01] h-2 commented on #1677
But if just doing a regular suffix array, not an FM-Index I couldn't reproduce the problem...

[2016-04-20 21:30] tseemann commented on #1670
Yes I did mean `mason`  thanks for digging into the problem!

[2016-04-21 12:54] cpockrandt commented on #1274
@marehr What's the next step? Are we now waiting for the next VS / ICC update before we continue on Windows?

[2016-04-21 14:29] h-2 opened #1678 "Infixes of Containers of Containers are not Containers of Containers (but should be)"
pretty much as the title states:
if you have a `StringSet<CharString> s;` then the `ValueType<Infix<StringSet<CharString>>>` should be `CharString`, but instead it is `char`.

[2016-04-22 07:25] xp3i4 commented on #838
@h-2 So we need to replace extensions using string directly with getFileExtensions() function for all apps?

[2016-04-22 09:41] h-2 commented on #838
@xp3i4 yes, wherever there is hardcoded "fasta fastq" instead use getFileExtensions()!

[2016-04-22 12:32] esiragusa commented on #838
@h-2 But I already did that (see [here](https://github.com/seqan/seqan/blob/master/apps/yara/mapper.cpp#L120)). The help screen doesn't show which extensions are allowed.

@xp3i4 please change all other apps using ```setValidValues(parser, "database", SeqFileIn::getFileExtensions());``` instead of using the version proposed above by @h-2.

[2016-04-22 13:10] h-2 commented on #838
@esiragusa why should @xp3i4 use your version if it doesn't work? :trollface:
My version works:
[code]

[2016-04-22 13:18] esiragusa commented on #838
@h-2 I think you got confused. This issue concerns ArgParse parameters (1, 2, etc.) not ArgParse arguments (--database). I guess that your version won't work either with parameters. The version I proposed above works with arguments and it is more concise.

[2016-04-22 13:22] esiragusa commented on #838
Look here:

[code]

The help screen of yara_mapper doesn't show valid extensions for index reads parameters, while it shows extensions for other arguments.

[2016-04-22 13:32] h-2 commented on #838
I did, thanks for clarifying. I never used "parameters", only arguments because they are agnostic of order.

[2016-04-24 15:05] bkehr opened #1679 "Semiglobal split-read alignment"
I would like to compute a split read alignment with free end gaps in the read sequences:

[code]

More precisely, I would like to compute the split position where the read jumps from one reference to another:

[code]

The `splitAlignment()` function currently penalizes the gaps in `a` and `b` columns of the example. It doesn't allow to specify an `AlignConfig` object for free end gaps.

However, w

[2016-04-24 17:42] cpockrandt opened #1680 "TODO in manual: Setup Nightly Builds"
I think we should fix the TODO for the manual of our master branch.

http://seqan.readthedocs.org/en/master/Tutorial/HowTo/Recipes/SetupNightlyBuilds.html

@h-2 I'm assigning you since you were working on the Infrastructure part and probably know best whether to integrate it into the Infrastructure part as stated.

[2016-04-25 09:37] marehr opened #1681 "New STL_* and COMPILER_* macros"
Use the following macros

Before checking include `<cstddef>` and `<ciso646>`

| SEQAN MACRO      | SYSTEM MACRO
|------------------|------------------------------------
|STDLIB_VS            | `_msc_ver`
|STDLIB_GNU           | `__GLIBCXX__`
|STDLIB_LLVM          | `_LIBCPP_VERSION`
|                  |
|COMPILER_MSVC     | `_msc_ver && ! __ICC && ! __clang__`
|COMPILER_GCC      | `__gcc__ && ! _

[2016-04-26 11:21] rrahn commented on #1679
Hey, I'll have a look at this.

[2016-04-26 13:58] rrahn commented on #1678
Ok, if I am not mistaken only the index module is using infix on StringSets so far.
In this context, however, not an infix of the StringSet, but of some string within the set is requested. This causes major confusion about what an infix of a StringSet should be, because the other way around is a valid assumption.

So here is my proposal:

- [ ] Make ```infix(set, beginPos, endPos)``` and ```infixW

[2016-04-26 15:52] esiragusa commented on #1678
Do ```beginPos, endPos``` in ```infix(set, beginPos, endPos)``` refer to ```concat(set)```? This disambiguation seems reasonable, although it's not clear to me how StringSet fulfills the container concept.

[2016-04-26 20:37] rrahn commented on #1678
Hmm, if I get you right, you mean if the given positions are global positions?
As far as I could see (from debugging some index tests) it is a local position (pair of seq id and offset).
Clearly, an infix spanning over multiple sequences does not make sense. So the infix implementations of StringSets merely assemble some sort of convenience functions to access the string content of some string in

[2016-04-26 21:35] laserson opened #1682 "The seqan tarball is missing any reference to seqan_setup_install_vars"
This breaks the install of imseq.

[code]

[2016-04-26 21:45] laserson commented on #1682
This is true for other macros as well.  Does `SeqAnBuildSystem.cmake` need to be included in the tarball in some way?

[2016-04-27 09:17] marehr commented on #1682
Hi @laserson,
thank you for your issue. When was the last time this exact command worked for you? What SeqAn Version did you use before?

As I can see form the download page, we never shipped `share/cmake` until 2.1.0.

The `SeqAnBuildSystem.cmake` is actually for our own build process. You can use that of course, but when your missing CMakeFiles that are not included in the packaged version on gi

[2016-04-27 14:54] h-2 commented on #1678
Not really: https://github.com/seqan/seqan/blob/master/include/seqan/sequence/string_set_base.h#L373

On the contraray, the changes proposed would bring the implementation inline with the documented API! When worrying about our API, I don't think we need to respect undocumented buggy behaviour unless is actually widely used -- which is not the case here.

[2016-04-28 11:59] marehr opened #1683 "Finder on an index sometimes allows to search Dna5 and sometimes not."
This code snippet works:

[code]

This doesn't:

[code]

I know that `needle` should be `Dna5String needle = "A"`. But I think it should be either allowed or disallowed in both cases.

[2016-04-28 12:27] rrahn commented on #1683
It should be not allowed in both cases.
The pattern must be a text not a character.

[2016-04-28 14:40] rrahn commented on #1679
Mmmh, this needs more thoughts I guess.
You are actually looking for a local alignment, is that right?
The current split align code only works as global alignment, so just removing the line 121 in dp_scout_split.h would invalidate the current split alignment.
But I added an interface using align config, to specify which gaps should be penalised.
But you example from above would still not work:

[c

[2016-04-28 16:48] bkehr commented on #1679
Yes and no:
Yes because I think the traceback should start in a cell of the DP matrix that is not necessarily in the last row or column.
No because I want to have a penalty for gaps in the reference sequence.

Actually, I think the traceback cannot be computed before finding the split position as it should start in the cell of the split position. Since the split DP scout only stores one value per

[2016-04-29 13:31] rrahn commented on #1679
Ok, I managed it to get the code working as you expected it in your test case.
The trick was, that you need a semi-global alignment as suggested, but needed to tell the underlying algorithm to only trace the part that is enabled.
By default, the optimum can come from either end (read or config), while in the semi-global version you can only come from one end. You achieved this little detail by com

[2016-04-29 19:32] laserson commented on #1682
Ok, it sounds like maybe the IMSEQ developer is using your "internal" build tools that you never intend to release.  I'll follow up there...thanks for the help!

[2016-04-29 19:32] #1682 closed

[2016-04-29 20:14] marehr commented on #1682
It's not that we never intended it. We actually had tutorials that described how to use our build system, but since 2.1.0 we wanted to decouple that and updated the docs. So using our build system should still work, but there is now an easier way to include our library. I hope I could help you :smiley:

[2016-05-02 22:07] jdidion opened #1686 "index is wrong for methylation fasta"
I am simulating bisulfite reads. To do this I use the following commands:

mason_variator -ir $REF_GENOME -ov sim.vcf -of sim.hap.fa \
  --meth-fasta-out sim.meth.fa --snp-rate 0.01 --small-indel-rate 0.001 --methylation-levels \
  --meth-cg-mu 0.8
mason_simulator --num-threads 8 -n 1000000 -o sim1.fq -or sim2.fq -oa sim.sam \
  -ir $REF_GENOME -iv sim.vcf --meth-fasta-in sim.meth.fa \
  --fragmen

[2016-05-03 08:13] h-2 commented on #1686
@holtgrewe can you have a look?

[2016-05-03 18:05] bkehr commented on #1679
Splendid, it works for me when adding `AlignConfig<false, true, true, false> config;` to the test case above.

[2016-05-05 16:51] esiragusa commented on #1672
@h-2 @rrahn do our DP alignment algorithms produce left-aligned gaps? IIRC this was configurable but it doesn't seem to be mentioned in the dox/tutorials.

[2016-05-06 09:29] rrahn commented on #1672
Our gaps are by default left-aligned.They can be configured to be right-aligned, but this is not yet exposed by the public interface. (Hence not documented)
However, I am not aware of the implementation details in Mason.
If @holtgrewe can not maintain it, we need to reassign a maintainer to it.

[2016-05-06 12:43] cpockrandt opened #1691 "Remove CUDA / NVIDIA code"

[2016-05-06 17:32] holtgrewe commented on #1686
@h-2 This appears to be a bug with building the FAI index. As this worked for the initial version of Mason, I assume this broke on some I/O rewrite. Could someone of the experts with the new I/O system look at this?

[2016-05-06 17:34] h-2 commented on #1686
@holtgrewe Can you add an app test that you know worked before and now does not?
@temehi Can you have a look at this?

[2016-05-06 19:51] #1691 closed

[2016-05-07 08:15] holtgrewe commented on #1686
Well, the following FASTA file should be indexable by FAI and the ids should be everything before the first space (`id/with/suffix` or `another/id/with/suffix`).

[code]

[2016-05-09 09:30] h-2 commented on #1662
Still broken for 32bit :cry:

[2016-05-09 09:31] h-2 commented on #1662
ah, sorry, outdated cdash

[2016-05-09 09:31] #1662 closed

[2016-05-09 09:55] temehi commented on #1686
@holtgrewe  Indexing the suggested files works fine. I get the following result:
[code]
I have also accessed the sequences using the index without a problem.

[2016-05-09 11:29] SoapZA opened #1694 "SeqAn in MacPorts does not install crucial buildsystem files"
Dear SeqAn,
thank you for getting the latest SeqAn release into the tree. Unfortunately, do install SeqAn in MacPorts, you just use your prepackaged release, which is suboptimal. This package misses the CMake + pkg-config files that are so important for people developing against the library. The only way to consume this library is to hard-code against the MacPorts paths, which I hope you will agre

[2016-05-09 12:08] h-2 commented on #1694
Indeed, the MacPorts port file doesnt install those files. It will be fixed.
However the files *are* present in our library releases, and we still strongly suggest using those in favor of using an ebuild that requires python to build the documentation et cetera.

[2016-05-09 12:35] SoapZA commented on #1694
In Gentoo this is not a problem, as python is ubiquitous on any Gentoo system (portage runs on python). On MacPorts, this is a bit trickier. With the `-DSEQAN_NO_DOX=YES` flag, python is not required. If users want documentation, then asking for python + sphinx is not too much asked, given how involved some of the MacPorts builds are (Clang + OpenMP anyone?)

[2016-05-09 13:06] h-2 commented on #1694
Still, the situation is that the documentation is "static at distribution time", why would you want to add complexity and waste cpu-cycles building on it? [I know one could ask this any source based packaging system, but the implications of software source code and documentation source code are different ones from my POV]

[2016-05-09 13:39] SoapZA commented on #1694
I would be willing to entertain installing just the documentation as is. But let us not kid ourselves: most of our CPU cycles will go into instantiating SeqAn templates. It has been a paradigm of Gentoo to produce documentation from raw sources ever since. Sphinx is a very light-weight package, and most Gentoo users don't even want documentation, hence Sphinx would even be pulled in.

[2016-05-09 14:34] h-2 commented on #1694
OK, well you are free to package however you want to of course :)

We will adapt the MacPort to include the additional files, as that it less trouble for us. Thanks for letting us now about it.

[2016-05-10 12:26] h-2 commented on #1694
btw: @SoapZA I see that SeqAn is now available as 2.1.1 in Portgage, thanks a lot! What would be the command we can add to http://seqan.readthedocs.io/en/master/Infrastructure/Use/Install.html for Gentoo?
`emerge seqan` ?
`emerge sci-biology/seqan` ?
Or do you need to append the version number to get 2.x ?

[2016-05-10 12:29] SoapZA commented on #1694
`emerge sci-biology/seqan`
should suffice. The build system has been hacked a bit to allow for parallel installations with otehr major versions, as we still require seqan-1.4.2 for TopHat and bowtie 1. Still, all of the changes are transparent to the user, that is, if they use the `FindSeqan.cmake` module or `pkg-config` file, all their seqan developed programs will work unchanged.

[2016-05-10 12:34] h-2 commented on #1694
Ok, so `emerge sci-biology/seqan` will install both versions or in any case include the new one? Then I will add that to our documentation (although I suspect most Gentoo users will not require our documentation).

[2016-05-10 12:49] SoapZA commented on #1694
`emerge sci-biology/seqan` will only ever install the latest version (i.e. 2.1.1 currently). Installation of documentation is controlled by the `USE="doc"` flag, which I would guess 95% of Gentoo users disable.

Regardless, we discourage people from using 1.4.2 and also have a reminder that it's just a "support library" intended for compiling other applications and not for primary use. In any way,

[2016-05-10 14:03] #1427 closed

[2016-05-11 03:26] rrwick opened #1700 "Assertion failure on banded chain alignment: no glue point available"
Hi, I ran into a crash when doing a banded chain alignment in Seqan. It seems similar to [issue 1357](https://github.com/seqan/seqan/issues/1357), and I get the crash on the current master branch.

Here's a small program I made which reproduces the issue:
[seqan_crash.cpp.txt](https://github.com/seqan/seqan/files/258514/seqan_crash.cpp.txt)
(Sorry about the '.txt', GitHub needed that for me to att

[2016-05-11 10:48] beekalam commented on #1683
@rrahn but

` Dna5 needle('A');`

is allowed and it is okay. and also

` Dna5 needle((char)97);    // (char)97 ==> 'A' `

but

` Dna5 needle(97);`

doesn't make sense and shouldn't be allowed. Am I right?

[2016-05-11 13:38] rrahn commented on #1700
Ok, I'll have a look.
Thanks for reporting.

[2016-05-11 13:40] h-2 commented on #1656
@rrahn , @cpockrandt or @marehr any news on this? This blocks #1481 which I would really like to fix asap.

[2016-05-12 07:36] rrahn commented on #1683
Well, I was not referring to the construction of a <tt>SimpleType</tt>, but to the index find interface.
Here the needle should always fulfil the <tt>ContainerConcept</tt>, which a character is not.

[2016-05-12 08:30] JakobSch opened #1702 "RABEMA not working and documentation missing"
I was looking for the RABEMA benchmarking suite as proposed in the Bioinformatics paper Holtgrewe et al. from 2011.
The availability link http://www.seqan.de/projects/rabema.html is broken and I also could not find any documentation about this using the search function of the seqan homepage.

Finally I found linux x64 executables in http://packages.seqan.de/rabema/ but on my system they are not wo

[2016-05-12 10:57] holtgrewe commented on #1702
@h-2 Where is the old page done? Did you do a backup?

[2016-05-12 11:42] h-2 commented on #1702
@holtgrewe yes, but I don't know where... @smehringer transferred the existing apps and made the new app template. @smehringer , do you know where they are and can you assist Manuel in transferring the Rabema data?

[2016-05-12 11:44] marehr commented on #1702
A redirect from the old url to the new one would be helpful.

[2016-05-12 11:47] h-2 opened #1705 "link to Tutorials in Dox start page is broken"
http://docs.seqan.de/seqan/develop/

[2016-05-12 12:04] h-2 commented on #1702
there is no new one, thats the point :wink:

[2016-05-13 06:16] smehringer commented on #1702
When I transferred the (part of the) apps, the old seqan website was still online. I don't know where the backups are, but I'll ask Knut.

[2016-05-13 14:56] beekalam opened #1707 "Platform independent constants for file operations"
It would be better if we  wrap platform dependent properties and constants and operations in platform neutral constants and functions especially for some file operations. for example `MAX PATH` or `default temporary file location` or a uniform way to get a temporary file.

[code]

[code]

[code]

[code]

[code]

[2016-05-15 13:54] Martinsos opened #1711 "Segfault and assert fail when calculating alignment using MyersHirschberg method"
Hi Seqan team! First of all, I really like your library - great documentation and easy to use.

I am an author of https://github.com/Martinsos/edlib - library that implements Myers+Hirschberg algorithm in order to calculate Levenshtein distance and find alignment of two sequences. I am trying to compare Edlib with Seqan's implementation of Myers+Hirschberg and pairwise alignment in general, howeve

[2016-05-17 08:13] rrahn commented on #1711
First, thanks for reporting to us and that you are happy with our library. 👍

AFAICS, the alignment invocation looks good.
So it seems to be a bug.
Unfortunately, we switched to using the ```Finder``` (http://docs.seqan.de/seqan/master/?p=MyersPattern) interface for using the Myer's Bitvector algorithm, but we don't compute the alignment information there, so it might not be sufficient for your co

[2016-05-17 08:20] Martinsos commented on #1711
@rrahn thank you for your response!

Could a problem be in me allocating align structure on stack?

Thanks for pointing out the Finder, I did not know about that - do you have any code example? How would I do the same call as above? Does this mean that old way of using MyersHirshcberg is not supported any more?

Is there any way I can call MyersHirschberg alignment then?

THanks!

[2016-05-17 08:49] rrahn commented on #1711
I don't think the stack will be a problem here.
You could print the full stack trace. That might help, to narrow it down.

The Finder interface does not implement MyersHirschberg. Only Myer's with the Ukkonen trick.
Here a small example that should work (I did not test it):

[code]

[2016-05-17 11:14] Martinsos commented on #1711
Awesome, thanks - it will give me good idea how to start.

I hope you don't mind if I ask few more questions to clarify the situation - since I am doing comparison I want to use Seqan in the best way possible.

My library implements MyersHirschberg with Ukkonen trick to solve pairwise alignment. It works for [global alignment](https://seqan.readthedocs.io/en/seqan-v2.1.0/Tutorial/PairwiseSequenceA

[2016-05-18 09:01] JakobSch commented on #1702
Any progress here?

[2016-05-18 10:39] h-2 commented on #1658
fixed by #1659

[2016-05-18 10:39] #1658 closed

[2016-05-18 13:59] h-2 commented on #1702
The homepage will be reacreated and Rabema will be moved outside of the main repository soon.

Concerning the error, please rebuild the application in debug mode and provide a traceback of the crash and/or provide all input files to @holtgrewe

[2016-05-18 14:10] JakobSch commented on #1702
[Human_immunodeficiency_virus_1_uid15476.txt](https://github.com/seqan/seqan/files/270660/Human_immunodeficiency_virus_1_uid15476.txt)
Attached file is a fasta file renamed to .txt in order to upload it here. Rebuilding is not that easy since I only tried the precompiled executable.

[2016-05-18 14:55] holtgrewe commented on #1702
@JakobSch

- this looks like the code was compiled on a machine that has instructions not available to yours
- please try version 1.2.0 (I think the bumps afterwards are just seqan upgrades and seqan releases)
- the old homepage can be viewed through the [wayback machine](https://web.archive.org/web/20160110192720/http://www.seqan.de/)
- the files are still missing and I'm in contact with the guys

[2016-05-19 08:12] rrahn commented on #1711
You are right, the first interface does not compute an alignment. This interface can be replaced with the mentioned Finder interface. The second version - the alignment computation - is not replaceable with the Finder interface. Only the Infix version can also (http://docs.seqan.de/seqan/develop/?p=MyersUkkonen) compute an alignment, but not in the way you would think. The finder interface is mean

[2016-05-19 08:14] rrahn commented on #1707
Ok, but to which part of SeqAn are you referring?

[2016-05-19 08:28] rrahn commented on #1702
To build the program on your own, follow the following steps assuming linux based OS:

[code]
If it is really just an architectural problem, then your compiled rabema should run.
If not, please submit the stack trace and any diagnostic output of the program.

[2016-05-19 11:25] beekalam commented on #1707
for example in   `file_sync.h` we have

[code]
here the author assumed that there will be `SEQAN_DEFAULT_TMPDIR` definition or perhaps it will be given with -DSEQAN_DEFAULT_TMPDIR='bla bla'.

in 'file_async.h' we have

[code]

in `debug_system_test.h` we have

[code]
for example here `static char buffer[1024]` can be `static char buffer[SEQAN_MAX_PATH]`

in  `apps/mason2/external_split_merge.cpp`

[2016-05-19 11:47] JakobSch commented on #1702
thank you both for your quick responses. Both methods work. I will prefer the approach from @rrahn .
However, when running rabema_build_gold_standard I still get an error when running it with --max-error 8.
It works like a charm when using --max-error 26. Does this depend on my input-sam-file and did I miss something conceptional here?

The sam-file might not be a perfect gold standard.

[code]

[2016-05-20 12:24] schmeing opened #1713 "toCString for infix"
Just a minor thing. I want to convert a part of the read id into an integer. I solved it by

`tile = atoi( toCString( seqan::CharString( infix(readID, pos, n) ) ) );`

but I wonder why toCString does not work on the infix, while from the documentation I figured that for example the << operator does.

[2016-05-20 14:28] h-2 commented on #1713
`toCString()` is a wild hack that actually resizes the underlying buffer, appends a numeric zero and returns a pointer to the memory region :open_mouth:
For infixes this is not possible, because they are just a pair of pointers. For a CharString temporary it works of course.

But please instead just use the nice lexicalcast:
[code]
http://docs.seqan.de/seqan/develop/global_function_lexicalCast.htm

[2016-05-20 14:58] schmeing commented on #1713
Ah, I didn't find that function in my search. That's way more convenient.
Thanks

[2016-05-20 14:58] #1713 closed

[2016-05-21 22:01] Martinsos commented on #1711
Thanks @rrahn, I got it now I think! I actually was not confused by linear gaps - I do understand that it does not have to do anything with how much space is consumed for alignment - however I did not know that I can use Hirschberg in this scenario!

Ok, so basically I can not expect much from alignment for any of the scenarios I mentioned (because it has errors for MyersHirschberh and it works on

[2016-05-23 09:01] h-2 commented on #1387
fixed except for #1557

[2016-05-23 09:01] #1387 closed

[2016-05-23 09:13] rrahn commented on #1630
There are still 3 failures on windows.

[2016-05-23 09:17] rrahn opened #1715 "The domain of readthedocs changed from .org to .io"
Any link pointing to readthedocs should be updated with the proper domain information.

[2016-05-23 09:57] h-2 opened #1716 "move RABEMA out of seqan before 2.2.0"
will resolve #1702 for us at least :)

@holtgrewe can you do this in time, i.e. within the next four weeks? Thx!

Would you thinka bout moving mason out as well?

[2016-05-23 10:00] h-2 commented on #1630
@rrahn  do you mean #1557 ?

[2016-05-23 10:05] h-2 commented on #1343
@mr-c any news on the state of SeqAn in debian? Thank you!

[2016-05-23 10:09] h-2 commented on #1674
If you have further questions or suggestions, please feel free to re-open this issue, but I will close it for now.

[2016-05-23 10:09] #1674 closed

[2016-05-23 10:11] h-2 commented on #1596
@xenigmax unless you want to implement this for the seed extension I will close this for now. align_extend can be used instead.

[2016-05-23 10:11] #1596 closed

[2016-05-23 10:15] cpockrandt commented on #683
@h-2 Is this issue really supposed to be assigned to milestone 2.2.0? I haven't heard from David in months and couldn't reach him. Maybe this should go to Backlog?

[2016-05-23 12:00] h-2 opened #1717 "packages.seqan.de broken"
because its looking for stuff from the old homepage :(

[2016-05-23 12:11] h-2 commented on #1667
@xenigmax can you look at this?

[2016-05-23 12:30] #1630 closed

[2016-05-23 12:31] h-2 commented on #667
I have a bachelor student working on this, but it won't be done for 2.2.0

[2016-05-23 12:38] h-2 commented on #1669
resolved via 9e4ff0ead3a863ad07b7b485b3801716c7f69ec0

[2016-05-23 12:38] #1669 closed

[2016-05-23 13:50] xenigmax commented on #1717
Hmm.. the simplest way of doing this is copying old files to the current wordpress directory.
I need a permission to do this.
@h-2  Can you give me that? (for /web/www.seqan.de/)

[2016-05-23 13:56] xenigmax commented on #1715
@rrahn  Could you provide me an example?

[2016-05-24 08:45] mr-c commented on #1343
Releasing version 1.0 of https://github.com/common-workflow-language/common-workflow-language/ is my sole priority until BOSC/ISMB in July. Let's talk there?

[2016-05-24 08:45] mr-c commented on #1343
and by there I mean Orlando, Florida at the conference; if anyone is attending from this group

[2016-05-24 14:31] h-2 commented on #1668
will be resolved by #1667

[2016-05-25 13:25] rrahn commented on #1711
Can you give me two sequences for which the MyersHirschberg fails?
I run it with two sequences ~100 Kbp, without problems.
But you mentioned it does not crash for all instances?

Note, that the finder interface, works a little bit different than the alignment.
You need to specify an error threshold. The Finder finds than all semi-global alignments within this error threshold.
Like so:
[code]
So yo

[2016-05-25 13:56] h-2 opened #1720 "add CONTRIBUTING file"
this will automatically be shown when people make a PR. It should contain links to our manual so people know how to contribute in the right way and it must also inform the person that they are transferring the copyright of their code to Knut Reinert / FU-Berlin.

[2016-05-26 10:07] cpockrandt opened #1721 "Constructor of AminoAcid / SimpleType has unexpected behaviour for uint8_t"
typedef typename ValueSize<AminoAcid>::Type TValueSize;
    TValueSize c = 26; // TValueSize is uint8_t
    std::cout << (int) c << AminoAcid(c) << AminoAcid(26) << std::endl;

Expected output: ``26 * *``
Actual output: ``26 X *``

It works if ``TValueSize`` is ``uint16_t``

This affects rank queries and string indices and thus would be nice if someone could fix it soon :)

[2016-05-26 13:58] h-2 commented on #1721
This is "expected" because uint8_t translates to `unsigned char` and an unsigned char constructed from the value 26 is the "substitute character" and an aminoacid initialized with the "substitute character" gets the "unknown value" of X

[2016-05-26 14:01] h-2 commented on #1721
If we did away with the constructors and just used `{c}` to initialize we wouldn't have this problem -> SeqAn3 alphabets :)

[2016-05-26 14:01] #1721 closed

[2016-05-26 14:03] h-2 commented on #1721
Of course we could also create an extra constructor overload for the char types, but then Dna5('C') wouldnt convert to the letter C but to 'N' which we also don't want.

[2016-05-27 12:16] cpockrandt commented on #1683
@marehr Can you give me some more information? I tried it with master and develop branch and both code snippets compile ...

[2016-05-30 11:32] h-2 opened #1722 "improve our popcnt()"
As popcnt has a strong influence on the performance of our FM Index and likely also other code, we should make sure that it performs optimally. There are possible popcnt alternatives implemented with SIMD operations that can replace popcnt on machines that don't have intrinsic popcnt. Also in some cases these outperform the intrinsic popcnt. Our SeqAn wrapper should always use the optimal one.

Re

[2016-06-01 20:06] Martinsos commented on #1711
@rrahn Here are two sequences that cause the crash for global alignment using MyersHirschberg: [seq1](https://www.dropbox.com/s/s5zx65x8o9gsgle/e_coli_536_prefix1000.fasta?dl=0) and [seq2](https://www.dropbox.com/s/s5zx65x8o9gsgle/e_coli_536_prefix1000.fasta?dl=0).

To run this alignment, I used `seqan::globalAlignment(align, seqan::MyersHirschberg())`. I get segmentation fault. It also happens fo

[2016-06-02 19:39] Martinsos commented on #1711
I tried allocating all of seqan data on the heap (sequences and align object), but it did not help - segmentation fault is still happening for finding global alignment path.

I also tried using DnaString instead of the TSequence typedef that I was using, but then I got `malloc.c:3723: _int_malloc: Assertion `(unsigned long) (size) >= (unsigned long) (nb)' failed.` when trying to find global alignm

[2016-06-03 05:30] smehringer commented on #1638
@rrahn I just took a look into the files and I now think this issue is not an issue

All of the mentioned classes above are superior to several subclasses and only the subclasses do have a constructor (which is documented). So there is no need for a constructor documentation.

[2016-06-03 09:09] rrahn commented on #1638
I see, the class is more like a abstract class.
It says in the description that one should look into the specialisations for more information, but I think it would be good to also point out, that this is an abstract class which is not instantiated, but one of it's subclasses. Can you add a short sentence to the description?

[2016-06-03 09:28] rrahn commented on #1711
Mhmm, ok why are you not straight assigning the ```(*querySequence)[0]``` to ```querySeqan``` string?
Although, I think it should work the way you constructed it.
I will use your two sequences and see what happens than.

[code]

Are you sure about the score? If it is exactly the same example you run in your experiment, than it seems to me you are aligning one sequence against itself.
So I would ex

[2016-06-03 10:49] smehringer commented on #1638
Sure, but can you tell me where exactly I should put the sentence or what you mean by the "description". Is there an optional parameter like *@description* ? Or do you mean the *@brief* tag that appears right under the class name?

[2016-06-03 10:52] smehringer commented on #1638
Or further down in the Detailed Description part? Maybe It's better so state this at the beginning of the page..

[2016-06-03 11:07] Martinsos commented on #1711
@rrahn I did not know that I can straight assign it! I can try that later, but as you said, it should not be a problem (I am getting correct score when not using finder interface, so I do not think that is a problem).

Hm, I double checked but I am pretty sure I am comparing query with target, and not with itself. The code is exactly as I provided in comment above! Why do you think I am aligning o

[2016-06-03 11:45] rrahn commented on #1711
Ah, sorry, I overlooked that you have two different sequence containers for target and queries.
My bad. So it should be ok than.
Sorry.

[2016-06-03 11:47] rrahn commented on #1638
I think in the description will suffice.
We actually would need something like a tag or so for our dox to differentiate abstract classes from others.

[2016-06-03 11:53] smehringer commented on #1638
ok

[2016-06-03 20:15] Martinsos commented on #1711
@rrahn no problem! Looking forward to your answer :).

[2016-06-04 20:24] cpockrandt opened #1728 "Segfault when saving a char-RankDictionary to disk"
The following code snippet is not working:

[code]

I get a segfault in `file/string_external.h`. When I replace `char` by `Dna` or `AminoAcid`, it works fine. Is there a reason why `char` might not be supported or is it a bug?

[2016-06-07 09:15] #1715 closed

[2016-06-08 10:10] h-2 commented on #1720
fixed by #1724

[2016-06-08 10:10] #1720 closed

[2016-06-08 16:24] h-2 opened #1730 "cmake macros and c++ macros for platforms"
bring them in sync so that e.g. COMPILER_INTEL always means the same thing.

[2016-06-09 07:57] marehr commented on #1681
fixed by #1696

[2016-06-09 08:31] marehr commented on #1681
[Cdash](http://cdash.seqan.de/viewBuildError.php?type=1&onlydeltap&buildid=180657) complains a lot about [C4503](https://msdn.microsoft.com/en-us/library/074af4b6%28v=vs.140%29.aspx), e.g.

We [removed](https://github.com/seqan/seqan/pull/1696/files#diff-12d0468e15242109aacd13c5a9cf16ecL54) this suppressed warning, but the pr #1731 brings it back.

[2016-06-09 08:39] marehr commented on #1681
Another new error on [cdash](http://cdash.seqan.de/viewBuildError.php?onlydeltap&buildid=180678):

[code]

After a quick check, it seems that `strcmp` isn't required to be `constexpr`. And the older version of stdlib in `clang++3.5` doesn't support it.

We [changed](https://github.com/seqan/seqan/pull/1696/files#diff-6908e7988572747d37d5e58e2630ab81L80) `PLATFORM_GNU` to `STDLIB_GNU`, but the `STD

[2016-06-09 09:31] h-2 commented on #1681
@marehr this one is tricky, because (a) strcmp is part of the stnadard c library, not the standard c++ library (thus the macro is wrong); and (b) in gcc this function is "builtin" so the constexpr version seems to  be a compiler feature rather than a library feature.

Can you
1. try to use `std::strcmp` instead of `strcmp` to see if that makes a difference? (probably will not)
2. change the macro

[2016-06-09 09:34] marehr commented on #1681
@h-2, but icc, clang >3.5 and gcc support it. I'll check `std::strcmp`.

[2016-06-09 10:12] xenigmax opened #1732 "removeInterval falls infiite loop"
RemoveInterval falls infinite loop when it attempts to delete non-exists intervals in IntervalTree.

Maybe we can think about this with #915.

[2016-06-13 10:02] h-2 opened #1733 "benchmark seqan versions"
run the benchmark suite with
- [ ] seqan-1.4.2
- [ ] seqan-2.0.1
- [ ] seqan-2.1.1
- [ ] seqan-2.2.0
- [ ] seqan-2.3.0

and compare the run-time

[2016-06-13 10:03] h-2 commented on #1733
maybe this is more important for the release than #1411

[2016-06-13 10:13] h-2 commented on #1482
I am moving this to 2.3 for lack of time, but since it is a bigger issue, please look at it soon after the 2.2 release.

[2016-06-13 10:14] h-2 commented on #955
What is the state of this? It looks like it is almost done.

[2016-06-13 10:16] h-2 commented on #1656
This effects even more issues now so it really needs to be fixed asap. @cpockrandt and @marehr can you discuss how best to resolve this in time for the release?

[2016-06-13 10:16] h-2 commented on #1683
what is the state here?

[2016-06-13 10:18] h-2 commented on #1085
Hm, I think we build with /W2 right now, right @cpockrandt ?
We can try to move to W3 or even W4 for 2.3.0, but not for 2.2

[2016-06-13 10:20] h-2 commented on #1677
This is an important bug, but the other issues have a higher priority from my POV.

[2016-06-13 10:30] h-2 commented on #1667
One part of this would be to add something like
[code]
to https://github.com/seqan/seqan/blob/master/util/cmake/SetCPackSystemName.cmake#L46

This will guarantee that the files have different names. Than you can also check for `x86_64_sse4` in the web-site generation.

For the different package types it *should be* enough to add the extensions to
https://github.com/seqan/seqan/blob/master/util/cma

[2016-06-13 10:32] h-2 commented on #1678
@rrahn This is fixed, right?

[2016-06-13 10:32] #1678 closed

[2016-06-13 10:36] h-2 commented on #1652
I have moved this to 2.3.0. If you had something prepared that I was unaware of, please feel free to reschedule.

[2016-06-13 10:38] h-2 commented on #1355
@rrahn can this be done for 2.2.0? Would be really cool, especially since it might finally resolve #1008

[2016-06-13 10:41] h-2 commented on #1653
@rrahn can you provide more feedback?

[2016-06-13 10:43] h-2 commented on #712
@temehi can you have a look at #1699  and discuss this also with the students so that we can merge this before 2.2.0?
I discussed with @rrahn that we do want this to be part of the SeqFile interface and not of BamFile. However write support is not required for the PR, only read (so there are not that many changes).

[2016-06-13 10:45] h-2 commented on #866
Any news on this @temehi ? Would be great to have this fixed for 2.2.0
If there are still issues we can discuss this sometime this week.

[2016-06-13 10:47] h-2 commented on #1547
Looks interesting but won't be done for 2.2.0

[2016-06-13 10:51] h-2 commented on #524
Moving this to SeqAn3 where we will rework the interfaces anyway, unless someone wants to work on it before.

[2016-06-13 13:13] esiragusa commented on #1547
@h-2 FYI somebody added [yara](https://anaconda.org/bioconda/yara) and [razers3](https://anaconda.org/bioconda/razers3).

[2016-06-13 13:56] esiragusa commented on #712
@h-2 @rrahn We want this to be part of the SeqFile interface, but not the current one. Right now SeqFile lacks the concept of record, this fact is the root of many problems. If SeqFile works on records, BamFile could subclass it.

[2016-06-13 17:07] h-2 commented on #712
@esiragusa I agree in the long run, however, we won't change this interface before SeqAn-3.0.0

Since we have a PR now, we decided on merging it with the current interface, so you can do the following:
[code]

[2016-06-14 12:10] temehi commented on #1653
@rrahn "millions of reference sequences?" Is this an actual usage scenario or ?

[2016-06-14 12:15] temehi commented on #866
@h-2 Unfortunately no!

As we discussed before we need to come-up with a new way buffering and chunking ... the current implementation works only for seqan strings optimally. We could discuss this next Monday as I am not working the rest of the week

[2016-06-14 13:46] h-2 commented on #1653
@temehi yes, e.g. with protein databases.

[2016-06-15 14:05] bkehr commented on #1679
Hi again,

I found a case where it doesn't work and I need your help in finding out what goes wrong:

[code]

Do I use the correct AlignConfig configuration?

[2016-06-16 12:32] h-2 opened #1736 "Check dox for dead links to manual"
- [ ] http://docs.seqan.de/seqan/develop/specialization_BlastTabularFileIn.html

[2016-06-16 12:55] bkehr commented on #1679
On another note, would it be possible to return a pair of scores in the split alignment function, i.e. the two scores of the left and right alignment, instead of only their sum?

[2016-06-16 13:22] xenigmax commented on #1736
Hmm... maybe we need an automatic tester for this.

[2016-06-16 14:09] rrahn commented on #1681
Have you seen this here: http://stackoverflow.com/questions/5721813/compile-time-assert-for-string-equality?
Could this solve the issue independent of compiler and/or stdlib version?

[2016-06-16 14:31] rrahn commented on #1653
This was something @bkehr mentioned at the UGM 2016.
Well I have no specific test data set so we need to simulate it.

[2016-06-16 15:16] bkehr commented on #1653
We are mapping reads to a collection of several millions of contigs. When reading the headers of the resulting bam files with SeqAn, the memory consumption is very high. samtools view/sort needs much less memory.

As a side node: We mainly observed this with SeqAn 1.4, I am currently changing our code to use SeqAn 2.1.

[2016-06-16 15:22] rrahn commented on #1653
Ok maybe, we await you benchmarks result on 2.1 if they are still persistent.
Thanks for the update.

[2016-06-16 17:26] bkehr commented on #1653
I tested this now on a bam file with 7771273 sequences listed in the header:

samtools view uses around 1 Gb
Seqan 1.4 uses around 30 Gb
SeqAn 2.1 uses around 23 Gb

[2016-06-16 17:49] h-2 commented on #1653
We keep the full headers of all sequences in RAM.... can you tell us what the headers look like? Usually they can be truncated at first `' '` which saves **a lot** and most tools do this...

[2016-06-16 17:53] bkehr commented on #1653
Here are a few example lines from the header.

@SQ     SN:00.NODE_24228_length_150_cov_7.146667        LN:196
@SQ     SN:COMPONENT_0.2301_a_length_180_size_6 LN:180
@SQ     SN:COMPONENT_0.2302_a_length_293_size_11        LN:293
@SQ     SN:COMPONENT_0.2303_a_length_251_size_20        LN:251
@SQ     SN:COMPONENT_0.2304_a_length_337_size_18        LN:337
@SQ     SN:COMPONENT_0.2305_a_length_212_size_

[2016-06-17 09:41] rrahn commented on #1653
@bkehr Can you verify, that only the header consumes this much memory?
Usually there is the seqNames and seqIds stored in the header plus some more additional lines. But I guess there aren't to many of them, right?
So 23 Gb seems to be a little off, wether truncated or not.

[2016-06-17 10:27] h-2 commented on #1653
@rrahn No, it must be something else. If the headers are at most 80 characters wide and there are 8million of them that amounts to 610MB of memory...

[2016-06-17 10:42] rrahn commented on #1653
That's exactly, what I am saying.

[2016-06-17 12:25] bkehr commented on #1653
I made a test file `bam_header_test.bam` with 4 read alignments and the same header as above. The file itself is 141 MB. The following test program needs 23 GB of memory:

[code]

[2016-06-17 14:50] rrahn commented on #1679
Ok it seems, the issue lies in the configuration of the AlignConfig object.
The way you want to align the left ref with the read, requires an overlap at the end of the read, since a semi-global alignment doesn't work well, if the sequences have equal length.
Hence with ```AlignConfig<false, true, true, true> config;``` you'll get your expected alignment.

[2016-06-17 15:03] bkehr commented on #1679
Excellent, it seems to work. I still need to test on larger input.

Apparently I misinterpreted the AlignConfig object:
I was assuming the first two booleans are for the left end of the left alignment and the last two booleans are for the right end of the right alignment. Then, the right end of the left alignment and the left end of the right alignment would be set internally by the splitAlignment

[2016-06-17 15:30] rrahn commented on #1679
Ah, no, apparently the AlignConfig is used for both left and right alignment.
It might be necessary to add a second config to allow different parameterisation for left and right alignments. Do you need that?
Second, do you urgently need the pair of scores instead of the sum. It is quite easily done, but it breaks the API, unless I add another interface that returns a pair instead of the sum, but i

[2016-06-17 15:35] bkehr commented on #1679
I don't currently need different configurations, I simply assumed you implemented the most general case.

I would prefer a pair of scores instead of the sum, yes.
What do you mean by public and impl interface?

[2016-06-17 15:44] rrahn commented on #1679
There is the standard public interface which you use at the moment.
All of these interfaces call this function: https://github.com/seqan/seqan/blob/master/include/seqan/align_split/align_split_interface.h#L287
I can change this internal function to return a tuple of left and right score, while the public interfaces still return a sum. In this case I don't break the API, but can add your feature, i

[2016-06-17 15:52] bkehr commented on #1679
Ok, that would be a solution.

As for the AlignConfig, I don't think the interface should allow passing a second config. I assumed the one config is split into left and right internally.

[2016-06-17 15:55] rrahn commented on #1679
Here is the new interface how you could use it to get a tuple of scores:
https://github.com/rrahn/seqan/blob/feature/split_align_tuple/include/seqan/align_split/align_split_interface.h#L532
The sum can than be computed as ```std::get<0>(tmp) + std::get<1>(tmp)```

[2016-06-17 16:52] bkehr commented on #1679
Now it doesn't compile anymore. Here is the first of many error messages:

[code]

[2016-06-17 17:02] bkehr commented on #1679
Before I updated to your latest SeqAn version, I found this example that isn't returning the expected output even tough I now use `AlignConfig<false, true, true, true>`:

[code]

Output of my test program (see above):
[code]

Expected output:
[code]

[2016-06-17 18:36] rrahn commented on #1679
The ```underlying_type_t``` is a c++14 feature. Can this be the problem?
Otherwise, please report to me your compiler version and the set flags so I can investigate this.

I will look into the other issue on Monday.

[2016-06-17 18:39] bkehr commented on #1679
Ok, my compiler doesn't support c++14:
g++ (GCC) 4.8.5 20150623 (Red Hat 4.8.5-4)

[2016-06-20 09:01] rrahn commented on #1679
Yes, SeqAn 2.1 only supports >= GCC 4.9.

[2016-06-20 09:09] h-2 commented on #1653
@bkehr can you provide us with the file? Either upload it to fu's ftp or just drop it on any of the local directories (/srv) on any of our servers, if you still have access! Thanks!

[2016-06-20 10:22] bkehr commented on #1653
Sorry I can't, but here is a simple way for you to generate a similar file yourself:

[code]

[2016-06-20 10:28] bkehr commented on #1679
In the Changelog for 2.1.0 it says "requirements are now GCC ≥ 4.8".
Do I have to go back to SeqAn 2.0.2?

[2016-06-20 11:55] h-2 opened #1737 "System requirements in CHANGELOG for 2.1.0 wrong"
someone put in the old requirements for some reason... needs to be fixed.

[2016-06-20 11:56] h-2 commented on #1679
Hm, you are right, but this is a typo. SeqAn-2.1.0 already only supported GCC-4.9 as the homepage and also the README indicate: https://github.com/seqan/seqan/tree/seqan-v2.1.0

We will support gcc-4.9 and clang-3.5 through the entire 2.x series and likely also vs2015 (albeit with installed updates).

[2016-06-20 11:56] h-2 commented on #1679
CMake should have warned you loudly about the compiler if it is too old btw.

[2016-06-20 11:57] h-2 commented on #1737
see confusion in #1679

[2016-06-20 11:58] h-2 commented on #1737
do we need to do a 2.1.1 release for this?

[2016-06-20 12:11] bkehr commented on #1679
Well, my program compiles with SeqAn 2.1 on GCC 4.8 unless I use René's fork, even though I use quite a few modules (bam_io, seq_io, vcf_io, align, index, arg_parse, ...).

I don't use CMake, I include seqan in a Makefile.

[2016-06-20 12:16] h-2 opened #1738 "Homepage issues"
For the next release we should also more prominently advertise the new homepage. But some issues still remain.
 - [ ] support@seqan.de on http://www.seqan.de/getting-started/ doesn't lead anywhere, make it redirect to seqan-team [ @rrahn ]
 - [ ] redirects for old apps not in place [ @smehringer  ]
 - [ ] apps landing page [ @h-2]
 - [ ] stay in touch with the design company to resolve remaining d

[2016-06-20 12:44] h-2 opened #1739 "Do c++ version macro checks in platform.h"
... and warn user about lacking c++11/c++14 support and/or outdated compilers. We need this since many people apparently don't use cmake. While we are there we should also add proper auto-detection for  SEQAN_HAS_OPENMP (i.e. if not set, initialize it to `!!_OPENMP`).

[2016-06-20 12:45] h-2 commented on #1739
This should be just a few lines and could be done with the other PR, @marehr ? If you think it doesn't fit, I can also take the issue...

[2016-06-20 13:03] h-2 commented on #1679
Then you got lucky ;-) Unfortunately there are some serious issues with gcc-4.8's c++11 support so we had to require 4.9 for the release.

We will add checks to the source code, as well, so that you are warned in the future if your compiler is outdated. See #1739

[2016-06-20 13:05] rrahn commented on #1737
It should be a hot fix.

[2016-06-20 13:21] marehr commented on #1739
Which other pull request?

[2016-06-20 13:23] h-2 commented on #1737
assigning the issue and the release management of 2.1.1 to @cpockrandt since he wrote the wring CHANGELOG in the first place :point_right:

[2016-06-20 13:25] h-2 commented on #1739
All the other compiler and macro stuff you are involved in? :laughing:

I can do it, too, if you want to.

[2016-06-20 18:11] h-2 commented on #1274
When this is done, please also add a small section to http://seqan.readthedocs.io/en/master/Infrastructure/Use/CMakeBuildDirs.html#visual-studio that explains how to select this toolkit!

[2016-06-21 11:01] rrahn commented on #1679
@bkehr I fixed the split alignment. It was computing the wrong traceback. Anyway, I have now some issues with Gustaf.
@ktrappe Can you verify the following changes to be correct?
[code]
The lines with the ```-``` have been replaced with the lines with the ```+```.
It seems like the begin positions of the deletions are shifted a little bit.
So I investigated the split calculation for the first dele

[2016-06-21 14:22] ktrappe commented on #1679
Hey, @bkehr is right, the traceback should start at the split-position. So the new version should be the formally correct one. This seems to be my toy example and the new breakpoints look also much more likely/"correct". I remember this to be an old issue. Long story short, I am fine with this.

[2016-06-21 14:32] rrahn commented on #1679
Ok, than I will adapt the gustaf tests and update the PR.
Thanks.

[2016-06-22 08:58] h-2 commented on #1716
@holtgrewe we are approaching the last week before the release, can you please look into this? Thanks!

[2016-06-22 09:02] h-2 commented on #1372
This works with ICC on Windows and Clang on Windows (due to me merged by @marehr) which is good enough for now.

[2016-06-22 09:02] #1372 closed

[2016-06-22 10:00] h-2 commented on #1648
fixed via #1740

[2016-06-22 10:00] #1648 closed

[2016-06-22 10:14] h-2 commented on #1739
implemented via #1740

[2016-06-22 10:14] #1739 closed

[2016-06-22 11:06] holtgrewe commented on #1716
I will not get to it, I guess. More like Q3

[2016-06-22 11:14] bkehr commented on #1679
I found another small issue: The function `_splitAlignmentImpl` now returns a tuple of integer references (if I am correct). This works in the small test program, but not my larger test cases, where the referenced values seem to be overwritten after returning from the function.

Replacing the last line of the function `return *res;` by the following works in my case:
[code]

Maybe there is a more

[2016-06-22 11:18] rrahn commented on #1679
No, it is fixed already. It returns now a std::pair of integers, but can be accessed in the same way as a tuple.
Or you use ```first``` and ```second``` member.

[2016-06-22 11:21] rrahn commented on #1679
This merged PR #1743 should now have all features included, so I close this issue.
@bkehr please reopen any time if there are more unattended use cases 😉

[2016-06-22 11:21] #1679 closed

[2016-06-22 11:30] bkehr commented on #1679
Ah, I hadn't pulled your latest changes.
Thanks for fixing this!

[2016-06-22 12:54] h-2 opened #1745 "error in our amino acid alphabet..."
when converting from numbers / ordvalues `*` is converted to `X` :cry:

[2016-06-23 13:40] temehi commented on #1675
@h-2 If I am not mistaken a genbank flat file should have only a single ORIGIN element.

The file you uploaded has 2 trailing newline chars and that is the reason for the empty record. This is basically not a valid. Nevertheless we can fix it by skipping until the next non-white-character after reading a recored.

basically by adding the line:
`skipUntil(iter, NotFunctor<IsWhitespace>());`
at the

[2016-06-23 15:47] h-2 commented on #1675
:+1:

In the case of empty lines we should be lenient with errors!

[2016-06-24 09:32] h-2 commented on #1681
I think this is solved!

[2016-06-24 09:32] #1681 closed

[2016-06-24 09:54] h-2 commented on #1745
fixed via #1747

[2016-06-24 09:54] #1745 closed

[2016-06-24 10:12] h-2 commented on #1274
This is coming along nicely, thanks for the great work on windows! Since it looks like we could change our distributed binaries to the Intel ones, can you try to get the 32bit compiler running, as well?

[2016-06-24 12:07] marehr commented on #1274
I'll rerun the Intel Compiler and there might be some new errors. Apparently, `__ICC` isn't defined on windows and our `COMPILER_INTEL` macro wasn't defined on windows. `COMPILER_MSVC` was defined instead. We'll see how much will break because of this.

[2016-06-24 15:29] h-2 commented on #1274
Yes, see also:
https://software.intel.com/en-us/node/514528

its __ICL on windows. maybe directly make a new macro for COMPILER_WINTEL which is == __ICL and accordingly also redefine COMPILER_MSVC?

[2016-06-24 17:03] marehr commented on #1274
Hmm `__INTEL_COMPILER` is defined on windows. That's how I currently detect it :confetti_ball:

[2016-06-24 17:17] h-2 commented on #1274
According to the above link it is not defined on Windows :zap:

[2016-06-24 17:31] marehr commented on #1274
cdash says otherwise :see_no_evil:. We should discuss on monday how we want to handle the intel compiler on windows. The simplest would be to say that the intel compiler is also the MSVC compiler :grin:

[2016-06-24 20:42] rrahn commented on #1711
@Martinsos can you check if #1758 fixes the issues?

[2016-06-27 10:55] #1705 closed

[2016-06-27 11:26] xenigmax commented on #1667
@h-2 @esiragusa @rrahn
I think the optimization option described in #1668 should be seprated from this.
I will be working on packaging(deb, rpm) and necessary changes for release prcoess.

Assign me #1668 if you want. But I'm not sure whether you guys made a consensus about this.

[2016-06-27 11:30] h-2 commented on #1667
Well @esiragusa was in favor of sse4 vs sse3 and I am convinced that this is right, too, now, especially with popcnt. But we should have unoptimized builds, as well, thats why 64bit+sse4.
Since you have to edit the files anyway, I think doing this in one go would be good.

[2016-06-27 12:32] smehringer commented on #1733
@h-2 The benchmark app does not compile with seqan-1.4.2 and seqan-2.0.1
I don't know if I may do something wrong though. @marehr should it be able to compile?

[2016-06-27 13:08] marehr commented on #1733
The benchmarks weren't written for 1.4.2, so they shouldn't. I never tried to compile the benchmarks with 2.0. So it could be that I used 2.1 API that wasn't available in 2.0. Which benchmarks aren't compiling? Index?

[2016-06-27 14:25] h-2 opened #1763 "Warnings by GCC6"
see also:
http://cdash.seqan.de/viewBuildError.php?type=1&buildid=182726
http://cdash.seqan.de/viewBuildError.php?type=1&buildid=182719

[2016-06-27 14:52] rrahn commented on #1763
I am currently fixing this already.

[2016-06-27 14:58] #1717 closed

[2016-06-27 15:12] h-2 opened #1766 "Different travis compilers"
Since GCC6 is much stricter than previous versions and clang-3.8 is the first clang with openmp we support, I think they should be included in travis. I would propose:
- [x] gcc-4.9
- [x] gcc-5
- [x] gcc-6
- [x] clang-3.5
- [x] clang-3.9

→ GCC is still the main target platform, for clang take newest and oldest of the supported ones

@rrahn Since you worked on that recently, could you change it?

[2016-06-27 15:49] h-2 commented on #1668
This will be resolved by #1667. There will be both unoptimized x86_64 builds and x_86_64_sse4 which also include popcnt.

[2016-06-27 15:49] #1668 closed

[2016-06-27 15:53] rrahn commented on #1766
@h2 ok

[2016-06-27 16:48] xenigmax commented on #1667
@h-2 . OK. Then I will do it.
I have another concern. :)
Cpack uses NSIS for windows installation binaries and it follows zlib license.
https://en.wikipedia.org/wiki/Zlib_License
Is this OK?

[2016-06-28 07:38] h-2 commented on #1667
Yes.

It wouldnt be a deoendency of "the project" just of the RPM, thats no problem.

Binaries and packages for macOS have to be built on macOS anyway so its no additional dependency.

[2016-06-28 12:59] xenigmax commented on #1667
OK. Then I will talk about window-build with Chris and mac-build with Themesgen or Rene.

[2016-06-28 14:53] marehr commented on #1557
@h-2 should be resolved

[2016-06-28 14:53] #1557 closed

[2016-06-28 15:49] rrahn commented on #1711
Fixed by #1758.
@Martinsos Please reopen if you experience still some issues.

[2016-06-28 15:49] #1711 closed

[2016-06-28 15:50] rrahn commented on #1638
@smehringer Can you make a PR for the updated descriptions?

[2016-06-28 16:24] marehr opened #1770 "Cmake replace _GCC_VERSION by CMAKE_CXX_COMPILER_VERSION"
During a pull request, we discussed whether we should use CMAKE_CXX_COMPILER_VERSION instead of _GCC_VERSION.

See https://github.com/seqan/seqan/pull/1767/files/ac1d0b495f95a24eab981b443c6a636048e6d08c#r68783189

[2016-06-30 11:43] h-2 commented on #1733
@xp3i4  what is the state here? Even if it doesn't build on 1.4, please try to make it run and 2.0 and compare all tests that work.

[2016-06-30 11:47] h-2 opened #1773 "benchmark windows compilers"
This needs to be done before the release so we can decide on which compiler to build the release binaries with.

[2016-06-30 11:50] h-2 opened #1774 "document current compiler support"
- [x] update README.RST and homepage to reflect currently supported compilers
 - [x] add small section in http://seqan.readthedocs.io/en/master/Infrastructure/Use/CMakeBuildDirs.html#visual-studio that explains how to install Clang/C2 and ICPC how to setup builds with them

[2016-06-30 11:53] #1730 closed

[2016-06-30 11:55] h-2 commented on #1675
fixed via #1756

[2016-06-30 11:55] #1675 closed

[2016-06-30 11:57] h-2 commented on #1653
fixed via #1752

[2016-06-30 11:57] #1653 closed

[2016-06-30 12:25] serosko opened #1775 "yara_mapper parse Error"
When trying to map fastq reads that contain non-DNA5 characters, the yara_mapper (0.9.6) crashes with a parse Error and Error message "unexspected character 'X' .

[2016-06-30 14:54] esiragusa commented on #1728
FYI Levels RD make sense only for very small alphabets like bool or Dna. The naive implementation for char was only meant for debugging purposes.

[2016-06-30 14:56] esiragusa commented on #1775
Yara behaves correctly as FastQ files can only contain Dna5 sequences. Where did you get that file? 😉

[2016-06-30 16:54] cpockrandt commented on #1728
The reason why I'm bringing this up is because we will put the Levels RD for the next release into the documentation. We should either make it fully generic (and thus support char) or limit it only to certain alphabets in the docs. @h-2 What do you think?

[2016-06-30 18:43] esiragusa commented on #1728
@cpockrandt char is not meant to be used...

[2016-06-30 21:54] marehr commented on #1773
I tried to compile the benchmarks:

* MSVC built

[code]
* Intel Compiler built everything without warning/errors
* Clang had problems with the index benchmarks

[code]

[2016-07-01 06:34] smehringer commented on #1738
I noticed that on the PEOPLE page the collapse ('-') and expand ('+') signs on the right hand side behave a little strange (Firefox ESR 45.2.0):
When you load the page, the Team panel is by default expanded and there is a `-` is showing. But, if you click on a member now, the '-' of the Team panel changes to a '+'... and stays this way.

[2016-07-01 10:27] h-2 commented on #1738
@smehringer thats true, I have added it to the list for the company

[2016-07-01 11:16] h-2 commented on #1775
Actually I have just read it up:

-- http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2847217/

Maybe our readRecords should automatically set `Iupac<>` as the legal alphabet when reading into `Dna` or `Dna5`? I can currently think of only few cases where this behaviour would not be desirable. And it is a pain to workaround this for every application.

What do you think, @esiragusa ?

[2016-07-01 11:25] h-2 commented on #1773
So, what are the results of MSVC vs WINTEL?

[2016-07-01 11:59] rrahn commented on #1775
@h-2  Mhmm, I think if a tool says it expects Dna or Dna5 it should terminate if it get's something different.
This is for user safety. They know then what and why it happens, if it fails.
Otherwise, we are back to the original behaviour, that something is read in and than converted implicitly to something else. And the user does not know anything about it and wonders about the results.
Or did I m

[2016-07-01 17:59] marehr commented on #1773
| Benchmark |  1 Thread MSVC |  4 Threads MSVC |  1 Thread INTEL |  4 Threads INTEL |  1 Thread CLANG |  4 Threads CLANG |
| ------ |  ------ |  ------ |  ------ |  ------ |  ------ |  ------ |
| index_exact_search                       |   17.77 |   17.77 |  **9.55**  |  10.69      |   11.01 |       12.54 |
| index_one_error_approximate_search       |  275.47 |  220.53 |  211.23    |  **210.28**

[2016-07-01 18:03] marehr commented on #1773
To execute the binaries on a different machine, I had to install

* [https://software.intel.com/en-us/articles/redistributables-for-intel-parallel-studio-xe-2015-composer-edition-for-windows](Redistributable Libraries for Intel(R) Parallel Studio XE 2015 for C++) (e.g. OPENMP) and
* [Visual C++ Redistributable for Visual Studio 2015 ](https://www.microsoft.com/en-us/download/details.aspx?id=48145&

[2016-07-05 08:37] rrahn commented on #1763
Fixed by #1772

[2016-07-05 08:37] #1763 closed

[2016-07-05 10:49] h-2 opened #1778 "linkage on windows"
Following up from #1773

* for our app packages we have `include(InstallRequiredSystemLibraries)` in our build system, it ensures that the DLLs are included in the package. This should be added to the cmake of the benchmark, as well.
* We need to check that this feature works with the intel compiler, too,  i.e. that if you include this flag that then cpack includes the dlls that the "intel redistr

[2016-07-05 10:50] h-2 commented on #1773
OK, this is very helpful! It clearly shows that we should pick intel as default compiler on windows. And it shows that not only OpenMP is missing on Clang, but that it otherwise contains performance problems, too, i.e. all the `_affine_` tests.

Concerning the libraries and linkage, please see #1778

I will keep this issue open for the next release so that we can reevaluate clang then.

[2016-07-05 10:57] h-2 opened #1779 "test_align_simd crashes llvm35/freebsd"
deactivate the test

[2016-07-05 11:18] h-2 commented on #1656
**ping** @cpockrandt and @marehr  what is the status of this? Can you reproduce the issues? How does this relate to choice of compiler?

[2016-07-05 12:17] rrahn opened #1780 "Add de.NBI logo to readthedocs"

[2016-07-05 13:12] h-2 commented on #1274
@marehr this is almost done, can you look at the remaining points?

[2016-07-05 16:31] martinjvickers opened #1782 "Maintaining binaries for older OSs"
Not an issue, just a question.

Since the update of SeqAn that now requires GLIBC 2.14 the binaries I have created no longer run on many of the production HPC environments that run Scientific Linux 6 which is GLIB 2.12 which will be unlikely to be updated.

I was just wondering what strategies people are using to provide binary support with previous OSs. e.g. compile apps against old versions of t

[2016-07-06 10:11] marehr commented on #1274
@h-2: `icpc -m32 <source>` will now build 32 bit binaries

[2016-07-06 11:37] marehr commented on #1274
@h-2: list of differences between test cases

[code]

[2016-07-06 11:43] h-2 commented on #1274
Great! Is this on linux and windows?

The manual and py_lib_dox are exptected. For the other ones, I think it is still an old check like with the bs_tools
[code]
Can you change this to COMPILER_MSVC and see if they build? E.g. for Yara the only problem is OpenMP which should work fine with intel. If they don't build, but a fix is obvious, please fix it, but don't spend too much time investigating.

[2016-07-06 11:52] marehr commented on #1274
Linux we have now the `icpc -m32` syntax, on windows it builds the binaries automatically for 32bit on margerite.

I knew that you want stash more work on me...

[2016-07-06 12:08] h-2 commented on #1274
If it comforts you, for the next release, we will award you

![held](https://cloud.githubusercontent.com/assets/2996863/16617262/fd5226b8-4382-11e6-8563-8b993902c4de.jpg)

[2016-07-06 12:10] h-2 commented on #1782
What binaries are you referring to? Our official binaries of the official apps, or the applications you build yourself?

What are your build options? Are you using static linking or dynamic linking?

[2016-07-06 12:18] h-2 commented on #1385
Can you move the c2 build to margerite so that it is clear that it's a 32bit build? Do you have time tomorrow that we can look at the razers failure?

[2016-07-06 12:34] marehr commented on #1385
I already added the c2 builds to margerite, but the intel compiler needed 8 hours to build the develop branch. Thus, c2 is still building (already 4 hours).

[2016-07-06 12:54] marehr commented on #1274
$ ./build.sh

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

so everything except yara build.

[2016-07-06 13:16] h-2 commented on #1274
@marehr that's good news! Can you please remove all output, other than yara from this post? They don't add information and make it really hard to read..

@rrahn Do you think your changes to atomic will fix the yara/wintel issues?

[2016-07-06 14:10] marehr commented on #1385
@h-2  Just to let you know, I started an update on margerite to VS Update 3.

[2016-07-06 14:12] h-2 commented on #1385
:open_mouth: lets :pray: that it works

[2016-07-06 20:52] martinjvickers commented on #1782
Hi @h-2, thank you for the swift reply.

Sorry, I should clarify. This is an application I've built for binary release.

My application is simple in that it has no other libraries beyond what seqan uses. So all I did was add ` -static` to my CMakeLists.txt file which other than that addition is identical to the readthedocs example;

[code]

When I compile it on my Mint 16 machine all is fine and `

[2016-07-07 10:08] #1274 closed

[2016-07-07 12:10] h-2 commented on #1782
Ah, ok. You are doing everything the right way.
There are some workarounds to this, as explained here:
http://stackoverflow.com/questions/11206243/how-to-build-a-static-binary-for-gnu-linux-installations-with-old-kernel

But especially if you start using dependencies like libz or openmp it might be easier to set up a virtualmachine with the linux version you are targeting and build there.

[2016-07-07 12:32] martinjvickers commented on #1782
Hi @h-2, thanks for getting back to me.

Okay I wasn't going mad then :-) I will give that a try. I had considered the more drastic VM for the version but I didn't know if that would cause me more issues (e.g. having to have multiple target versions). My aim it to ensure my binaries work with all current Linux distros that are not EOL (https://linuxlifecycle.com/).

I've never released binaries be

[2016-07-07 13:22] h-2 commented on #1782
I think the best approach would be to
* compare the abovementioned linux distributions and pick the one with the oldest kernel, setup a VM
* somehow manage to get the oldest supported seqan compiler (gcc-4.9 right now) and a compatible cmake (>= 3.0 right now) running on that VM
* build static binaries on that system

That's a good idea, I will try to do it for the next release.

[2016-07-07 13:30] martinjvickers commented on #1782
I'm happy to put something together from what we've discussed. You could make any corrections or add to it if you like?

[2016-07-07 13:49] xenigmax commented on #1667
closed by

1) https://github.com/seqan/seqan/issues/1781
2) https://github.com/seqan/packages.seqan.de/pull/2

[2016-07-07 13:49] #1667 closed

[2016-07-07 15:39] h-2 commented on #1782
@martinjvickers Sure, that would be great! I thought of making an article below
http://seqan.readthedocs.io/en/develop/Infrastructure/Misc/index.html
that contains the above hints. Could you create a pull request for that?

I would also adapt
http://seqan.readthedocs.io/en/develop/Infrastructure/Manage/Releases.html
but that needs some minor changes anyway so I need to do it.

[2016-07-08 06:50] marehr commented on #1778
Created PR #1785 that ships all needed dll's for visual studio and intel compiler binaries.

The static build fails for apps that use zlib and bz2

@h-2 I close the ticket, because the windows binaries work again. If you want static binaries, please open a new issue, but without assigning me. :smirk:

[code]

[2016-07-08 06:50] #1778 closed

[2016-07-08 09:56] marehr commented on #1385
@h-2 I rechecked the clang binaries, they apparently are 64bit. Only the compiler itself is 32bit.

[code]

[2016-07-08 10:37] h-2 commented on #1385
Ok, that means clang/c2 on 64bit windows actually produces 64bit binaries, great news! As I see it there still is no openmp and native 32bit still crashes so I would still say that we label the support in the 2.2.0 release as experimental , do you agree?

[marking this issue as 2.3.0 now, since clang specific goals for the 2.2.0 release are reached]

[2016-07-08 10:38] h-2 commented on #1385
Can you activate 64bit nighlty builds for clang/c2?

[2016-07-08 10:42] marehr commented on #1385
Of course I agree :smirk:

@h-2 I restarted the nightlies, because the msvc build failed tonight due to file permissions (had a terminal open, that blocked the deletion of the binaries). Thus, they aren't done yet.

[2016-07-08 12:54] martinjvickers opened #1787 "Segfault when reading AnnotationTree with unknown feature type"
The TAIR10 Arabidopsis gene GFF file has a feature type that is not in the annotationKeyStoreCache;

`Chr1    TAIR10  protein 6915    8666    .       -       .  ID=AT1G01020.1=protein;Name=AT1G01020.1;Derives_from=AT1G01020.1
`

which when you read causes the program to segfault.

Is there functionality to either ignore it, or better still add the feature type at run time?

My code is simply;

[co

[2016-07-08 13:09] h-2 commented on #1787
@temehi can you check if this is easily fixable? If not, please change the milestone to 2.3.0

[2016-07-08 15:20] martinjvickers opened #1789 "The key field of an attribute is empty! when reading example GTF Mus_musculus.NCBIM37.61.gtf file"
I downloaded the Mus_musculus.NCBIM37.61.gtf file after resolving the download link #1788 and I'm unable to read in the file.

[code]

The code is simply this;

[code]

and works fine for the `assignment_annotations.gtf` file. I took just the first line of the `Mus_musculus.NCBIM37.61.gtf` file;

`NT_166433  protein_coding  exon    11955   12166   .   +   .    gene_id "ENSMUSG00000000702"; transcr

[2016-07-08 15:45] cpockrandt commented on #1722
For 32bit and 64bit we're already using the fastest popcounts.

I did some calculations & tests and came to the conclusion that If we could use block sizes > 64 bit for our rank dictionaries, it would reduce the space **a lot** and might also speed it up (the fewer blocks we have, the higher the changes of a cache hit for interleaving levels). We should definitely include SSE/AVX support for 2.3.0

[2016-07-08 16:58] xenigmax opened #1793 "simple package deployment"
Since our supporting platforms and packages are expanding, I would like to automate release process a bit.
So that everybofy can do this job without any difficulties.

Simply it will automate below process.
Currently we are doing this by > 4 ppl.

1) make packages with different options in different machine.
2) uploading 1) to the web space
3) Update packages.seqan.de

This project includes platfo

[2016-07-08 17:05] h-2 opened #1794 "Proper deprecation"
Search the codebase for things that are deprecated and mark them with `[[deprecated]]` so that we actually get warnings when they are used.

[2016-07-08 17:09] h-2 commented on #1782
Moving this to 2.3.0 because 2.2.0's release is soon.

[2016-07-08 17:10] h-2 commented on #1779
fixed via #1784

[2016-07-08 17:10] #1779 closed

[2016-07-08 17:11] h-2 commented on #1733
@xp3i4 *ping* please respond what the state is

[2016-07-09 08:27] smehringer commented on #1793
Great Idea.
I don't know if it exactly fits here but since we will enable the version check functionality we need to maintain the release versions on the server. Currently there is a version.txt file that needs to be updated manually. An automated process to write the current seqan version tag (or app version tag) to the file would be nice.
I'd also be happy to help you then. :)

[2016-07-09 16:54] h-2 commented on #1793
Good proposal, but I think release management will be part of the new infrastructure that @rrahn will be working on as part of CIBI? @rrahn can you shed some light on this?

@xenigmax For the release I do think that it would already help to have a shell script,  with the following features:
 1. given a a git tag, checkout the repository with the tag
 2. for every app name and for every architectur

[2016-07-09 17:02] #1686 closed

[2016-07-09 18:02] xenigmax commented on #1793
@h-2 Yes. If you and Rene think that current automation level is good enough,  I don't want to do this. :)

[2016-07-10 13:33] rrahn commented on #1793
Continues deployment is one milestone for next year.
This year we will setup continues integration for all supported platforms running on virtual machines.
Based on this work, we can than add continues deployment so that hopefully, either a single person can trigger the release cycle, or even every night devel-binaries are submitted, if the build run through successfully.
So, yes, it is what we wa

[2016-07-10 17:54] h-2 commented on #1766
Moving this post 2.2.0

[2016-07-11 09:14] #1680 closed

[2016-07-11 09:22] #1774 closed

[2016-07-11 09:22] h-2 commented on #1008
fixed via #1791

[2016-07-11 09:22] #1008 closed

[2016-07-11 09:34] #1638 closed

[2016-07-11 14:29] temehi commented on #1733
benchmarks do not compile for seqan versions earlier than 2.1.0. Probably due  [changes in the build system](https://github.com/seqan/seqan/blob/seqan-v2.1.0/CHANGELOG.rst#infrastructure-updates-1).  So I will be doing the benchmarks for only

- [ ] 2.1.0
- [ ] 2.1.1
- [ ] develop

[2016-07-11 14:48] h-2 opened #1797 "Razers3 -- differences between serial and parallel mode"
Razers3 has two different codepaths, one serial, one parallel. Selected a thread count of 0 (`-tc 0`) chooses the serial one, and choosing a thread count of 1 (`-tc 1`) , chooses the parallel codepath, but with exactly one thread (also serial execution).

If run with `-rr 100` (full sensitivity) they produce the same results, but if the recognition rate is lowered to 99, than the parallel codepath

[2016-07-11 14:56] h-2 commented on #1797
This example reproduces the problem:
`bin/razers3 adeno-genome.fa adeno-reads36_1.fa adeno-reads36_2.fa -i 98 -rr 99`
Depending on whether `-tc 0` or `-tc 1` is specified, the results will differ.

[adeno-genome.fa.txt](https://github.com/seqan/seqan/files/357365/adeno-genome.fa.txt)
[adeno-reads36_1.fa.txt](https://github.com/seqan/seqan/files/357367/adeno-reads36_1.fa.txt)
[adeno-reads36_2.fa.tx

[2016-07-11 15:13] #1641 closed

[2016-07-11 15:25] h-2 commented on #1736
@xenigmax good idea :+1:

[2016-07-11 15:26] #496 closed

[2016-07-11 21:29] rrahn commented on #1338
Solved by #1719.

[2016-07-11 21:29] #1338 closed

[2016-07-11 21:34] rrahn commented on #1355
@h-2 We need some more internal changes in the library that need to be tested thoroughly. I will postpone it to 2.3.0.

[2016-07-11 22:40] h-2 commented on #1737
@cpockrandt did you fix this?

[2016-07-11 22:41] cpockrandt commented on #1737
@h-2 I planned to include it into the PR for Changelog 2.2.0 or do you prefer a separate PR?

[2016-07-11 22:41] h-2 commented on #1733
will have to happen after the release

[2016-07-11 22:43] h-2 commented on #1737
@cpockrandt Same PR, different commit :)

But, sooner would be better than later! We wanted to have all commits in before 1am, so that no commits come after the nightlies!

[2016-07-11 22:48] h-2 commented on #1737
[but if you don't make it until 1 thats life. I for one need to go to bed now :sleeping: ]

[2016-07-11 22:49] cpockrandt commented on #1737
@h-2 Sure, different commits ;)

Changelog won't be done before 1am, Knut and I are currently discussing the paper with Enrico

[2016-07-11 22:50] h-2 commented on #1737
@cpockrandt ok, regards, to the two of them!

[2016-07-12 07:09] holtgrewe commented on #1797
I don't think that this is a bug.

The sequential and the parallel code path both only guarantee that at least one match per equivalence class is returned. As the parallel processing comes from window-wise processing, different matches are generated and thus different results are generated.

[2016-07-12 07:21] rrahn opened #1801 "Add test_py_lib_dox to CI builds."
It seems we are not testing changes to the dox py_lib engine.
So errors in the documentation system are not seen in CI builds but in nightly builds.
See: http://cdash.seqan.de/index.php?project=SeqAn

[2016-07-12 09:01] rrahn commented on #1801
See #1802

[2016-07-12 11:23] h-2 commented on #1797
This is not about equivalence classes, but about number of mapped reads which is approximately half in parallel mode VS sequential.
But maybe I misunderstood something?

[2016-07-12 11:52] #1801 closed

[2016-07-12 15:01] holtgrewe commented on #1797
I see.

Maybe @weese can comment here?

[2016-07-13 13:56] h-2 opened #1809 "Improve/fix native packaging"
In https://github.com/seqan/seqan/blob/master/util/cmake/SeqAnBuildSystem.cmake#L528 add:
- correct `CPACK_DEBIAN_PACKAGE_ARCHITECTURE` and `CPACK_RPM_PACKAGE_ARCHITECTURE` depending on target platform
- other DEBIAN and RPM specfifc flags?
- CPACK_WIX instead of CPACK_NSIS for windows installers?

[2016-07-13 13:57] #1737 closed

[2016-07-13 15:07] h-2 opened #1810 "twitter link in manual links to wrong account"
should be @seqanlib not @seqan

[2016-07-13 15:46] xenigmax commented on #1809
I don't think there are many difficulties regarding this.
But I'm just curious. :)

(1) For deb/rpm (CPACK options, DEBIAN/REDHAT specific flags)
You mentioned that generation of deb/rpm/exe/dmg packages is just for our own apps.
So, do we need this? May I ask you why?

(2) For CPACK_WIX (windows)
May I ask what is the benefit of this change?

[2016-07-13 17:50] xenigmax opened #1811 "set up Piwik for visitor analysis."
I think it would be better to collect very basic data from our website visitors.
Those data can be used in a decision-making process at least.

However, we do not want to share this data with others.
So we can't use simple SaaS solution like Google Analytics.

I found an open-source alternative called Piwik which can be installed on our server.
And I would like to add tracking code(javascript) to

[2016-07-13 19:20] sagitter commented on #830
`searchjoin` app from `seqan-2.2.0` does not compile with same error of this ticket:

[code]

[2016-07-13 20:50] h-2 commented on #830
@sagitter Does deactivating SIMD fix it? Can you reproduce the problem with a library test? The apps are not our priority right now and ARM is not officially supported platform -- but we do accept patches of course and will try to fix this, if it isn't a big problem.

[2016-07-14 10:03] sagitter commented on #830
How i can deactive it ?

it's not a great problem at the moment. I still must keep `seqan-1.4.2` (that builds with ARMs) on Fedora since it's a dependency of other software. But sooner or later I have to decide if fixing this problem or excluding ARM builds of `Seqan-2.*`

[2016-07-14 10:07] rrahn commented on #830
@sagitter I am currently preparing a patch to exclude Simd related paths if the architecture is not supported. The builds should than run through. 🙏

[2016-07-14 15:12] rrahn commented on #830
@sagitter can you try this branch if it works now?
https://github.com/rrahn/seqan/tree/fix/simd_detection

[2016-07-14 16:13] sagitter commented on #830
I have patched `seqan-2.2.0` with https://github.com/rrahn/seqan/commit/f48d8a87015caf13893a944683737ea0e5b114ef: failed for missing header file

Build log: https://kojipkgs.fedoraproject.org//work/tasks/6146/14896146/build.log

[2016-07-14 17:03] rrahn commented on #1700
@rrwick sorry, that it took so long.
It seems you are using wrong orientation of the positions when  adding the seed.
It should be:
[code]
But also at least the first and the second seed overlap, which is not allowed for the banded chain alignment. You should run ```alignSeedsGlobally()``` before.
This requires a ```SeedSet```. Please see the documentation here: http://seqan.readthedocs.io/en/mast

[2016-07-14 17:09] rrahn commented on #1357
Ok, there is no response and the provided code snippet runs through without problems. So I'll close this issue.
@Brett please feel free to reopen this issue if it does not work for you.

[2016-07-14 17:09] #1357 closed

[2016-07-14 17:32] rrahn commented on #830
Oh, probably because of this line:
https://github.com/rrahn/seqan/commit/f48d8a87015caf13893a944683737ea0e5b114ef#diff-3c8fb397c5ac5a2dd5e446fa57153c21R46
Can you change the line to:
[code]
and try again?

[2016-07-14 17:33] rrahn commented on #830
So replace the || with &&.

[2016-07-14 20:05] sagitter commented on #830
rrahn@f48d8a8#diff-3c8fb397c5ac5a2dd5e446fa57153c21R46
Can you change the line to:
#if !defined(__arm__) && !defined(_M_ARM)
...
and try again?

[code]

Full log: https://kojipkgs.fedoraproject.org//work/tasks/7620/14897620/build.log

[2016-07-15 07:54] rrahn commented on #830
Can you add this:
[code]
before this line:
https://github.com/seqan/seqan/blob/develop/include/seqan/parallel/parallel_lock.h#L220.

I will be on vacation from now on. So I will  respond to you in two weeks.

[2016-07-15 12:12] sagitter commented on #830
`bad instruction rep` errors look fixed but `app_test_bs_tools` test is failed.

[code]
See full log: https://kojipkgs.fedoraproject.org//work/tasks/5054/14905054/build.log

Okay.

[2016-07-15 12:15] sagitter commented on #830
Build log: https://kojipkgs.fedoraproject.org//work/tasks/6146/14896146/build.log

I obtained the same error on `aarch64 (ARM 64 bit)`. Can you fix it please ?

[2016-07-15 14:49] h-2 opened #1813 "improve diagnostic message of FindSeqAn.cmake"
Currently it prints:
[code]
but it is entirely unclear that it is about SeqAn.

- [x] It should be in the format
[code]
as this format is used by other cmake modules as well.

- [x] Also do not print any diagnostics if QUIET was specified.

[2016-07-15 14:59] h-2 opened #1814 "strip binaries when releasing"
when the SEQAN_BUILD_SYSTEM != DEVELOP we should strip the binaries of unneeded symbols so that they are smaller.

[code]

[2016-07-15 16:23] h-2 commented on #1813
Also do not print any diagnostics if QUIET was specified.

[2016-07-15 16:27] h-2 commented on #1813
Also remove seqanbuildsystemrelated code from findSeqAn.cmake

[2016-07-15 16:38] h-2 commented on #830
This rounding error appears on other platforms combinations, as well, even with x86 (e.g. FreeBSD and Windows). I am thinking about just explicitly activating it for Linux+x86 / Linux+amd64.

[2016-07-15 16:49] h-2 opened #1815 "seqan-2.2.0 breaks lambda"
https://travis-ci.org/seqan/lambda/jobs/145051637

[code]

[2016-07-15 16:53] h-2 commented on #1815
@rrahn I am a little at loss what the issue could be. You changed this prior to the release? What do you think? I want to do a lambda release next week...

[2016-07-18 10:51] h-2 commented on #1815
The problem only arose in Lambda due to use of internal function interfaces that where changed, and I could easily work around it in Lambda so I see no need for a patch-level release.

[2016-07-18 10:51] #1815 closed

[2016-07-18 11:05] h-2 commented on #1809
We overwrite the system architecture from `amd64` to `x86_64` in https://github.com/seqan/seqan/blob/master/util/cmake/SetCPackSystemName.cmake . This breaks the packaging, because the .deb and .rpm generator don't "know" which architecture is used anymore. To make sure that the packages are correctly detected as "64bit amd/intel", we need to manually also set the flags mentioned above.

This will