[2017-10-14 15:28] mr-c opened #2137 "2.3.2 test errors on sparc64"
Built on `sparc64` for `sparc64`

This build does have `-DCMAKE_CXX_FLAGS="-DSEQAN_ASYNC_IO=0"` as requested by @h-2

[Full log](https://buildd.debian.org/status/fetch.php?pkg=seqan2&arch=sparc64&ver=2.3.2%2Bdfsg2-2&stamp=1507990894&raw=0)

- [ ] test_test_bam_io (SEGFAULT) (but no error message?)
- [x] test_test_basic_alphabet (Failed)
[code]
- [ ] test_test_index_creation (SEGFAULT) (but no erro

[2017-10-14 16:37] mr-c opened #2138 "2.3.2 test errors on s390x"
Built on `s390x` for `s390x`

This build does have `-DCMAKE_CXX_FLAGS="-DSEQAN_ASYNC_IO=0"` as requested by @h-2

[Full log](https://buildd.debian.org/status/fetch.php?pkg=seqan2&arch=s390x&ver=2.3.2%2Bdfsg2-2&stamp=1507996950&raw=0)
- [ ] test_test_bam_io (SEGFAULT)
[code]
- [x] test_test_basic_alphabet (Failed)
[code]
- [ ] test_test_seq_io (Failed)
[code]
- [ ] test_test_store (Failed)
[code]
-

[2017-10-14 16:39] mr-c opened #2139 "2.3.2 hppa build error, recompile with -ffunction-sections ?"
https://buildd.debian.org/status/fetch.php?pkg=seqan2&arch=hppa&ver=2.3.2%2Bdfsg2-2&stamp=1507997356&raw=0

[code]

[2017-10-14 17:30] mr-c opened #2140 "2.3.2 test errors on kfreebsd-amd64"
Built on `kfreebsd-amd64` for `kfreebsd-amd64`

This build does have `-DCMAKE_CXX_FLAGS="-DSEQAN_ASYNC_IO=0"` as requested by @h-2

[Full log](https://buildd.debian.org/status/fetch.php?pkg=seqan2&arch=kfreebsd-amd64&ver=2.3.2%2Bdfsg2-2&stamp=1508001214&raw=0)

- [ ] test_test_bam_io

[code]

[2017-10-16 10:52] h-2 commented on #2134
Hm, this bodes ill for debugging 😢

Anyway, you are seeing the first error in both cases? That's really weird, because the error being in
test_basic_alphabet_adapt_builtins.h:287
implies that SeqAn detects the platform as being 32bit. This detection is based on the line
[code]

Which obviously includes `__ppc64__` which according to your documentation:
https://wiki.debian.org/ArchitectureSpecifics

[2017-10-16 11:01] h-2 opened #2141 "Platform issues"
- [ ] for some reason `SEQAN_IS_32_BIT` is set for 64bit non-intel/amd, needs to be fixed.
- [ ] bam-io (and possibly other binary IO) broken on platforms with `char == unsigned char`, need to explicitly use `signed char` type.

[2017-10-16 11:06] h-2 commented on #2134
Hurray, according to http://nadeausoftware.com/articles/2012/02/c_c_tip_how_detect_processor_type_using_compiler_predefined_macros
Clang defines `__ppc64__`, but GCC *instead* defines `__PPC64__` ... who actually decided this was a good idea? :shit:

[2017-10-16 12:13] h-2 commented on #2141
@mr-c Can you run the the builds and test from the following branch:
https://github.com/h-2/seqan/tree/fix/platform_issues

I am still investigating the second issue, but it's hard to see which breakages are related and which are independent...

[2017-10-16 12:16] h-2 opened #2143 "compiler warnings on gcc7"
See cdash.

[2017-10-16 16:29] h-2 commented on #1861
@mr-c Can you confirm that the current develop branch builds with current SID on AMD64?
Because we have now started seeing segfaults of a subset of the tests, also on FreeBSD/amd64:
[code]
http://cdash.seqan.de/viewTest.php?onlyfailed&buildid=242257

This affects alls gcc >=5 (not gcc4.9 and clang*), and only on FreeBSD in our nightlies. We have a real hard time tracking this down right now, but i

[2017-10-17 08:44] h-2 commented on #2139
never heard of it, but sure, why not 😆

[2017-10-20 16:20] h-2 commented on #2141
@mr-c I have committed more fixes to the branch, this should make a lot of things work (hopefully). [you might need to force-pull because of changed history]

[2017-10-23 14:14] h-2 commented on #2141
@mr-c I have updated the PR again, would be great if you could give my branch a shot! It could fix all the major problems, but I can't test it here... Thank you!

[2017-10-23 15:50] mr-c commented on #2141
@h-2 Have you seen https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=878933 ?

[2017-10-23 16:15] h-2 commented on #2141
No, I hadn't seen it. But it seems like it only affects your build files and not ours, right? Except `CXXFLAGS+=-mxgot` for mips64el which we could add upstream if you think that would be a good idea.

[2017-10-24 07:44] mr-c commented on #2141
@h-2 I've uploaded an experimental build from that branch to Debian's experimental section https://tracker.debian.org/news/881161 For fun, I turned on all architectures;  the builds will eventually be visible at https://buildd.debian.org/status/package.php?p=seqan2&suite=experimental

[2017-10-24 10:16] h-2 commented on #2141
Thanks! I have spotted some more issues and updated my branch 😇

[2017-10-24 11:24] mr-c commented on #2141
@h-2 :-) Shall I wait for this round of builds to complete before syncing with your branch?

[2017-10-24 11:30] mr-c commented on #2135
Updated as of https://buildd.debian.org/status/fetch.php?pkg=seqan2&arch=ppc64el&ver=2.3.2.000platform-issues0-8ae7bc0%2Bdfsg1-1&stamp=1508834363&raw=0

[2017-10-24 11:36] mr-c commented on #2135
Errors with proposed fixed from https://github.com/h-2/seqan/tree/fix/platform_issues as seen in https://buildd.debian.org/status/fetch.php?pkg=seqan2&arch=ppc64&ver=2.3.2.000platform-issues0-8ae7bc0%2Bdfsg1-1&stamp=1508832901&raw=0

[code]
[code]
[code]

[2017-10-24 11:38] mr-c commented on #2134
Original comment has been updated for https://buildd.debian.org/status/fetch.php?pkg=seqan2&arch=ppc64el&ver=2.3.2.000platform-issues0-8ae7bc0%2Bdfsg1-1&stamp=1508834363&raw=0

[2017-10-24 11:40] mr-c commented on #2138
With https://github.com/h-2/seqan/tree/fix/platform_issues this build now fails
[code]
[code]
[code]

[2017-10-24 12:58] h-2 commented on #2141
@mr-c No, you can merge directly as I previously introduced a build error for all big endian platforms 😢

Btw: do the logs then contain the test results, too?

[2017-10-24 13:17] mr-c commented on #2141
@h-2 Heh, will do.

Yes, the test results are buried in the middle of the logs

[2017-10-25 12:54] mr-c commented on #2141
Refreshed builds of that branch are pending: https://tracker.debian.org/news/881481 https://buildd.debian.org/status/package.php?p=seqan2&suite=experimental

[2017-10-25 14:50] mr-c commented on #2134
Original comment has been updated for https://buildd.debian.org/status/fetch.php?pkg=seqan2&arch=ppc64el&ver=2.3.2.000platform-issues1-66a8baf%2Bdfsg-1&stamp=1508942373&raw=0

[2017-10-25 14:52] mr-c commented on #2136
The checklist has been updated for https://buildd.debian.org/status/fetch.php?pkg=seqan2&arch=powerpc&ver=2.3.2.000platform-issues1-66a8baf%2Bdfsg-1&stamp=1508942073&raw=0

[2017-10-25 14:52] mr-c commented on #2136
(but not the log excerpts)

[2017-10-25 16:19] h-2 commented on #2141
Ha, this is an obvious one:
[code]

I have three more commits in my branch... But we are getting closer.

[2017-10-26 08:15] mr-c opened #2147 "armel errors on pr #2142"
[code]

https://buildd.debian.org/status/fetch.php?pkg=seqan2&arch=armel&ver=2.3.2.000platform-issues1-66a8baf%2Bdfsg-1&stamp=1508999772&raw=0

This isn't an architecture we normally build for, but this should either be fixed, skipped, or armel detected during build configuration and gracefully quit early (and the lack of support for armel documented)

[2017-10-26 08:30] mr-c commented on #2138
As of commit 66a8baf the build succeeds, but the same tests (with the exception of `test_test_basic_alphabet` fail)

https://buildd.debian.org/status/fetch.php?pkg=seqan2&arch=s390x&ver=2.3.2.000platform-issues1-66a8baf%2Bdfsg-1&stamp=1508951095&raw=0

[2017-10-26 08:33] mr-c commented on #2135
As of commit 66a8baf the build succeeds, but the same tests (with the exception of test_test_basic_alphabet fail)

https://buildd.debian.org/status/fetch.php?pkg=seqan2&arch=ppc64&ver=2.3.2.000platform-issues1-66a8baf%2Bdfsg-1&stamp=1508943906&raw=0

[2017-10-26 08:37] mr-c commented on #2137
As of 66a8baf the same tests continue to fail/segfault with the exception of ` test_test_basic_alphabet `

https://buildd.debian.org/status/fetch.php?pkg=seqan2&arch=sparc64&ver=2.3.2.000platform-issues1-66a8baf%2Bdfsg-1&stamp=1508982027&raw=0

[2017-10-26 09:52] h-2 commented on #2135
All of the above tests except `test_test_store` and `app_test_yara` are affected by BGZF problems that I have tried to address with the last commits to my branch yesterday.  `app_test_yara` has been addressed in it's own commit yesterday. So if you trigger an update we will hopefully see some reduction of failures here.
I will have a look at `test_test_store` ASAP.

[2017-10-26 09:55] h-2 commented on #2135
I have to correct myself: store is also affected by BGZF so that's the main problem.

[2017-10-26 10:03] mr-c commented on #2135
@h-2 Good news :-) Once the current round is done I'll push up another build

[2017-10-26 10:03] mr-c commented on #2135
(Sadly it is more than just "trigger an update" hence me waiting a bit between builds)

[2017-10-26 10:26] h-2 commented on #2141
I have tried to address all the BGZF issues, as well, as app_test_yara yesterday and have just now committed a possible fix for armel. I hope this solves most of the issues.
The only things definitely not covered, yet, are sparc64's index problems and the test failure reported for kfreebsd-amd64 (which now FTBFS again because of too little memory).

Can you push the current changes again so we see

[2017-10-26 10:34] h-2 commented on #2141
Ahhh, there was a small, but important, mistake 😱
In case you pushed in the last 7minutes, please force-pull from the branch and push again 🙏
Thanks!

[2017-10-26 10:35] h-2 commented on #2135
Ok, no problem and thanks!

[2017-10-26 12:17] mr-c commented on #2141
@h-2 No worries, I hadn't started yet. I use wget to grab a tarball anyhow :-)

[2017-10-26 18:46] h-2 commented on #2141
* test_test_stream seems fixed
* app_test_yara error is now different
* bgzf errors persists (related to big endian)
* new/changed sam/bam errors (also related to big endian)

I hope to get another look at it tomorrow, but it might move to next week.

BTW, I have made a mess of the organisation of this issue / these issues :|

[2017-10-27 06:14] #2134 closed

[2017-10-27 06:28] mr-c commented on #2138
Issue overview has been updated with https://buildd.debian.org/status/fetch.php?pkg=seqan2&arch=s390x&ver=2.3.2.000platform-issues2-206d1f7%2Bdfsg-1&stamp=1509040721&raw=0

[2017-10-27 06:32] mr-c commented on #2136
Test overview updated (without log excepts) for https://buildd.debian.org/status/fetch.php?pkg=seqan2&arch=powerpc&ver=2.3.2.000platform-issues2-206d1f7%2Bdfsg-1&stamp=1509038213&raw=0

[2017-10-27 06:36] mr-c commented on #2135
The issue overview has been updated as of https://buildd.debian.org/status/fetch.php?pkg=seqan2&arch=ppc64&ver=2.3.2.000platform-issues2-206d1f7%2Bdfsg-1&stamp=1509038586&raw=0

[2017-10-27 06:42] mr-c commented on #2141
What will happen to these fixes when you're done? Will there be a 2.3.3, or will we have to wait for 2.4.0?

[2017-10-27 11:41] samfux84 opened #2148 "Is it possible to build RazerS 3.4 as standalone tool ?"
I am trying to install the software OptiType, which depends on RazerS 3.4 and many other dependencies. I have built all other dependencies with GCC 4.8.5 (our standard toolchain for installing most applications and libraries is: GCC 4.8.5, OpenBLAS 0.2.19, OpenMPI 2.1.2).

Seqan requires GCC > 4.9, which breaks my entire toolchain that was use for all other dependencies.

Is it possible to compile

[2017-10-27 12:54] h-2 commented on #2148
It may be possible, but we don't offer support for it. I strongly recommend you just use gcc-4.9, every currently supported linux distribution (https://linuxlifecycle.com/, except RHEL which was supposed to end-of-life this year) has gcc-4.9 (or newer) packages; it was released 3.5 years ago.

[2017-10-27 12:55] h-2 commented on #2148
Also our static binary packages may "just work" for you.

[2017-10-27 12:56] h-2 commented on #2141
2.4.0, but it will be released soon™️  😉

[2017-10-27 13:31] h-2 commented on #2141
New try! I have hijacked your post: https://github.com/seqan/seqan/issues/2141#issuecomment-338704776
and added a table, that you should be able to edit, as well. I will close the individual issues as I can look for the text for the error myself, but it would be great if you could edit the table as we go along (I am not 100% sure it represents the current state, e.g. sparc64 crashed gcc during bui

[2017-10-27 13:31] h-2 commented on #2135
moved to https://github.com/seqan/seqan/issues/2141#issuecomment-338704776

[2017-10-27 13:31] #2135 closed

[2017-10-27 13:31] h-2 commented on #2136
moved to https://github.com/seqan/seqan/issues/2141#issuecomment-338704776

[2017-10-27 13:31] #2136 closed

[2017-10-27 13:31] h-2 commented on #2137
moved to https://github.com/seqan/seqan/issues/2141#issuecomment-338704776

[2017-10-27 13:31] #2137 closed

[2017-10-27 13:32] h-2 commented on #2139
moved to https://github.com/seqan/seqan/issues/2141#issuecomment-338704776

[2017-10-27 13:32] #2139 closed

[2017-10-27 13:32] h-2 commented on #2147
moved to https://github.com/seqan/seqan/issues/2141#issuecomment-338704776

[2017-10-27 13:32] #2147 closed

[2017-10-27 14:11] mr-c commented on #2141
@h-2 Uh, okay! That's one heck of a table. At least the check boxed can be clicked without editing :-P

[2017-10-27 19:47] cartoonist opened #2149 "Recieving SIGSEGV during Fibre SALF creation for Bidirectional FM index"
In an attempt to index a set of two `Dna5Q` strings using Bidirectional FM Index, I get `SIGSEGV` during `FibreSALF` creation while it works fine using regular FM index.

As far as I know, `FibreSALF` is required for using top-down FM index iterator. I want to force an index to create this fibre in order to serialize it into a file. So, what I did is something like this:

[code]

When I use `gdb`

[2017-10-27 20:00] cartoonist commented on #2149
This is the calls backtrace if it helps:

[code]

[2017-10-28 12:26] mr-c commented on #2141
Updated for the recent HPPA build: https://buildd.debian.org/status/fetch.php?pkg=seqan2&arch=hppa&ver=2.3.2.000platform-issues2-206d1f7%2Bdfsg-1&stamp=1509168296&raw=0

[2017-10-30 06:54] samfux84 commented on #2148
@h-2 : Thank you for your reply. I have installed razerS 3 from seqan 2.1. This version does not use c++ 14 and could therefore be compiled with GCC 4.8.5.

[2017-10-31 09:33] mr-c commented on #2138
Superceded by https://github.com/seqan/seqan/issues/2141#issuecomment-338704776

[2017-10-31 09:33] #2138 closed

[2017-10-31 09:37] mr-c commented on #2141
Updated for the recent alpha build, which failed:
[code]
https://buildd.debian.org/status/fetch.php?pkg=seqan2&arch=alpha&ver=2.3.2.000platform-issues2-206d1f7%2Bdfsg-1&stamp=1509244397&raw=0

[2017-11-01 10:20] h-2 commented on #2148
I really recommend you update your toolchain, because all the components, including SeqAn and RazerS have had many bugs fixed in the meantime.
But thats of course up to you.

[2017-11-01 10:20] #2148 closed

[2017-11-01 15:18] mr-c commented on #2141
FYI, `mips64el` failed one of the `app_test_razers` tests:
[code]

https://buildd.debian.org/status/fetch.php?pkg=seqan2&arch=mips64el&ver=2.3.2.000platform-issues2-206d1f7%2Bdfsg-1&stamp=1509326980&raw=0

I've appended a new row to the tracking comment above to reflect this

[2017-11-01 17:13] h-2 commented on #2149
`std::bad_alloc` is almost always a sign of out-of-memory, however this shouldn't be the case of course if you have 1.5TB. Are you sure you can access all of the memory and don't have ulimits set or something like that? Can you monitor your applications memory usage until the point it crashes?

@cpockrandt do you have any ideas on this?

[2017-11-01 17:33] cartoonist commented on #2149
I am pretty sure that there is no limit on accessing main memory. `ulimit -m` also returns `unlimited`. As I said above, when I execute the program, it receives `segmentation fault` signal. But when I use `gdb` to see where the problem is I get `std::bad_alloc`.

I will try to monitor the memory usage while it is running and I will let you know here.

By the way, to be more accurate, I should add

[2017-11-02 13:08] smehringer opened #2152 "[DOX] Copy paste error in documentation"
Function `isCharacter()` is not dicumented because it is named `isGap()` in the comment section [here](https://github.com/seqan/seqan/blob/966da62f2ba61867359cad18f4db2dbaf431243e/include/seqan/align/gaps_base.h#L458)

[2017-11-02 13:24] h-2 commented on #2141
Yeah, unfortunately they don't support checkable check boxes in tables.

* test_test_tabix_io seems fixed universally
* test_test_stream *failures* where fixed universally, as well, but the single crash in powerpc (32bit) remains
* we have different build problems again:
  1. build failure due to out-of-memory: armel, armhf, mips, mipsel
  1. build crash likely due to out-of-memory: kfreebsd-i386,

[2017-11-02 14:00] marehr opened #2153 "compiler warnings on gcc8"

[2017-11-03 06:38] mr-c commented on #2141
@h-2 Uploaded to https://buildd.debian.org/status/package.php?p=seqan2&suite=experimental

[2017-11-03 06:49] mr-c commented on #2141
I updated s390x which is down to just 11 failure using https://buildd.debian.org/status/fetch.php?pkg=seqan2&arch=s390x&ver=2.3.2.000platform-issues3-1d438c8%2Bdfsg-1&stamp=1509664485&raw=0

For `test_test_store` everything works now except `test_store_io_read_bam`:
[code]

[2017-11-03 06:55] mr-c commented on #2141
Mips builds again, but only because we are skipping the razers{,3} and yara apps on mips and mipsel now:

[2017-11-03 07:15] mr-c commented on #2141
powerpc has been updated (one less segfault!): https://buildd.debian.org/status/fetch.php?pkg=seqan2&arch=powerpc&ver=2.3.2.000platform-issues3-1d438c8%2Bdfsg-1&stamp=1509653427&raw=0

ppc64 has been updated (two less segfaults!): https://buildd.debian.org/status/fetch.php?pkg=seqan2&arch=ppc64&ver=2.3.2.000platform-issues3-1d438c8%2Bdfsg-1&stamp=1509653651&raw=0

[2017-11-03 07:24] mr-c commented on #2141
`s390x` builds again, but the results aren't pretty:
https://buildd.debian.org/status/fetch.php?pkg=seqan2&arch=sparc64&ver=2.3.2.000platform-issues3-1d438c8%2Bdfsg-1&stamp=1509654894&raw=0

An additional 24 tests also fail or segfault:
	 37 - test_test_index_creation (SEGFAULT)
	 38 - test_test_index_crosscompare_char (SEGFAULT)
	 40 - test_test_index_crosscompare_dna (SEGFAULT)
	 46 - test_test_

[2017-11-04 09:22] mr-c commented on #2141
hppa updated as per https://buildd.debian.org/status/fetch.php?pkg=seqan2&arch=hppa&ver=2.3.2.000platform-issues3-1d438c8%2Bdfsg-1&stamp=1509767776&raw=0 (less failures, yay!)

I've submitted another package revision to attempt to fix the build on armel, armhf, and sh4

[2017-11-05 11:57] #2072 closed

[2017-11-05 12:17] cpockrandt commented on #2149
Hi @cartoonist

I agree with h-2 that it looks like a memory issue. I ran a test myself with Dna5Q and didn't ran into any problems. Do you also have enough secondary memory / quota on your temporary storage? You can try letting it point somewhere else

    export TMPDIR=/somewhere/else/with/more/space

[2017-11-06 14:23] #2152 closed

[2017-11-06 15:20] h-2 commented on #2141
@mr-c thanks for the updates! It looks like most of the endianness-related problems are fixed, but they revealed some floating point problems. These are however not very severe and mostly due to too strict test- and demo cases. I'll try to address these issues with my next changes.

Regarding sparc64: I will ignore this for now and look at everything else first. I have a vague feeling it relates t

[2017-11-06 16:57] h-2 commented on #2141
Ok, I have pushed a bunch of changes that might just fix the existing unit test failures.

I am still investigating the two app test failures. They could be related to the unit tests, but likely not.

For Sparc64: can you tell me the exact Sparc machine you are building for and/or can you check whether `-mpopc` or `-mno-popc` is specified during build?
https://gcc.gnu.org/onlinedocs/gcc/SPARC-Opti

[2017-11-06 17:03] h-2 commented on #2141
BTW: I have no account at Debian and cannot edit
https://wiki.debian.org/ArchitectureSpecificsMemo
But there are some mistakes there, that should be fixed:
  - [ ] ppc64 does not define `__ppc64__` with GCC, instead it defines `__PPC64__`
  - [ ] some of the platforms that are described as having blocksize `4K-64K` actually just work with `64K`; affects at least the powerpcs

[2017-11-06 20:16] mr-c commented on #2141
@h-2 Debian Wiki account creation is not limited to official Debian contributors; sign up is at https://wiki.debian.org/ArchitectureSpecificsMemo?action=newaccount

I've made a new build and added the test compiles you requested to run on sparc64 only as I don't have direct machine access.

If need be we can email the sparc64@buildd.debian team to ask for assistance.

[2017-11-06 20:32] mr-c commented on #2141
Bonus: on the previous build the `alpha` arch was fixed again and all the tests in the table pass!

Alas, the following tests did not:
- 46 - test_test_index_fm_rank_dictionary (Failed)
[code]
-  99 - test_translation (Failed)
[code]
- 388 - app_test_searchjoin (Failed)
[code]

[2017-11-07 09:38] mr-c commented on #2141
@h-2 Here's the result of the sparc64 tests you asked for :
[code]
https://buildd.debian.org/status/fetch.php?pkg=seqan2&arch=sparc64&ver=2.3.2.000platform-issues4-fba8744%2Bdfsg-1&stamp=1510009286&raw=0

So no errors or crashes. According to the logs no `-mpopc` nor it's negation is present when compiling on the Debian autobuilders for sparc64

[2017-11-07 13:41] h-2 commented on #2141
Ah, indeed, it looks much better now. I have updated the table above to only contain the problems and it is much smaller now!

Regarding test_bam_io I have just committed the hopefully last endian related fix; and I have also committed a possible fix for test_stream crash on powerpc.

Regarding the yara app test failure: Can you send me the temporary file that is created during the test? E.g. in t

[2017-11-07 14:01] mr-c commented on #2141
Progress!

I have zero direct access to these build machines, just their logs. Can you add a temporary commit to print the offending file if the tests fails?

I will add the extra flag for sparc64, but I will wait to submit the new build until I hear back about the availability of a patch/commit to print the adeno-reads file for powerpc.

[2017-11-07 14:03] mr-c commented on #2141
FYI, the latest commit I see is https://github.com/h-2/seqan/commit/d586b63d418600a852b319c04117e22fe71a7c91 -- did you push?

[2017-11-07 17:14] h-2 commented on #2141
I have just deactivated this test on big endian now. All the unit tests and demo tests succeed, it's probably just rounding issues or something like that.

For Sparc64: could you give this program another try:
[code]
? It's good that we know it doesn't crash, but I wasn't smart enough up there to actually check the value. Can you further define the following on Sparc64: `-DCMAKE_CXX_FLAGS="-D__arc

[2017-11-10 16:52] h-2 commented on #2141
I have pushed another round of changes for the problems that affect all big endian.

Will have another look at armhf, alpha and mips64el next week, although I am kinda puzzled about these issues because they are so singular and don't seem to be related to arch...

@mr-c Do the sparc64 errors also appear in a virtual environment? Then we could check this out here and have our index expert, @cpockra

[2017-11-10 20:07] aglorias opened #2159 "Fiona - unable to run in Mac"
I am trying to use Fiona using the pre-compiled versions provided here http://packages.seqan.de/fiona/ . I have a Mac  (10.12.6) and I tried both the 64bit and sse4 .zip and .dmg (v0.2.6). I also tried the linux version sse4 (v0.2.9) without success. When I tried running the fiona command, there is an error message noting that it  "cannot execute binary file".

Not sure what I am doing wrong, or i

[2017-11-11 13:53] mr-c commented on #2141
@h-2
The results of the new `sparc64` test
[code]

I'm setting up a sparc64 qemu system now (some delays due to https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=854889 and related bugs)

However, sparc64 is not an official port of Debian, so no hard feelings if you want to drop it.

Can you document that certain outputs will vary according to which CPU the code is run on?

[2017-11-12 21:20] marehr commented on #2143
cdash is green, thus closing this one.

[2017-11-12 21:20] #2143 closed

[2017-11-12 21:24] marehr commented on #2065
Should be fixed. For new problems let's open new issue.

[2017-11-12 21:24] #2065 closed

[2017-11-12 21:26] marehr commented on #2038
Like I said, already fixed. Reopen if you think it is not.

[2017-11-12 21:26] #2038 closed

[2017-11-12 22:02] marehr commented on #1868
Intel compiler 2017 is setup and running on linux. No issues with icpc17, this is now @rrahn's issue.

[2017-11-12 22:09] marehr commented on #1773
There is no news about a new version of Clang/C2 on https://blogs.msdn.microsoft.com/vcblog/tag/clang/.
So there is no reevaluation possible. I close this ticket, because there are no changes since one year.

[2017-11-12 22:09] #1773 closed

[2017-11-13 11:11] h-2 commented on #710
@marehr Please don't just abandon issues without discussion.

In this case it can just be closed, or not?

[2017-11-13 11:13] h-2 commented on #2159
Can you copy'n'paste the complete command you ran on your terminal and the complete output?

@rrahn can you look at this or assign it to another mac developer?

[2017-11-13 11:30] marehr commented on #710
I didn't want to close the issue, because it is in backlog. We can close it, if we added this flag to our CMakeFile in seqan3 and we test it every time.

[2017-11-13 14:20] aglorias commented on #2159
Dear Seqan team, I appreciate your quick response. I figured out what was wrong (on my side) and now the program is running.

Thank you for the support.

Best,
Andrea

On Nov 13, 2017, at 6:13 AM, Hannes Hauswedell <notifications@github.com<mailto:notifications@github.com>> wrote:

Can you copy'n'paste the complete command you ran on your terminal and the complete output?

@rrahn<https://urldefens

[2017-11-13 18:15] #2159 closed

[2017-11-14 11:22] h-2 commented on #2141
@joergi-w We have a failure of app_test_tcoffee on `mips`, because in a single test there is a the following difference:
[code]

Do you have any clue what could be causing this? This only happens on MIPS which is really strange. I would expect this to be the result of some undefined behaviour somewhere... or do you use some platform specific code in tcoffee?

[2017-11-14 12:02] h-2 commented on #2141
@mr-c I have updated the table above.

* the gneeric big endian failures are fixed
* tcoffee will be investigated by @joergi-w and me
* I have fixes in the pipe for the remaining bam_io and test_stream unit tests.
* regarding the failure of `armel` and `sh4` it looks like everything is actually ok, it just can't create the man-pages for yara and splazers, but there were deactivated by you anyway,

[2017-11-20 15:44] h-2 opened #2165 "razers and splazers skip files? [former: clang5 warnings]"
http://cdash.seqan.de/viewBuildError.php?type=1&buildid=246555

More warnings, yay!

[2017-11-20 16:50] h-2 commented on #2141
@mr-c Some failures have mysteriously vanished and I have just pushed changes to fix all remaining failures that are not related to sparc64. Can you trigger another update?
Thanks!

[2017-11-22 05:50] mr-c commented on #2141
@h-2 I did change `-O1` or `-O2` to `-O3` on all platforms :-)

[2017-11-22 15:34] smehringer opened #2166 "[BUG] Segmentation fault on implicit cast of StringSet object to String-of-Strings object."
I found some strange behavior working with StringSets by accident.

The following cpp program segfaults:
[code]

![stacktrace](https://user-images.githubusercontent.com/7955878/33135211-b171579c-cf99-11e7-9036-e97623858553.png)
(sorry for the crappy picture but my virtual Linux machine has no internet access)

It segfaults when trying to call `getObjectId(set)` which has some weird function body (

[2017-11-22 17:04] h-2 opened #2167 "our SIMD doesn't work with function multi-versioning"
Function multi-versioning is the shit:
https://lwn.net/Articles/691932/

I am trying to use it in Lambda, and I think we should consider activating it for the library so that apps always build generic binaries that still make use of SSE4 and AVX2.

But the problem is our SIMD doesn't work with it. The problem is that code gets disabled/enabled by Macros at very high levels, before template instant

[2017-11-22 17:31] h-2 commented on #2166
I don't think it should do an implicit cast at all. Implicit casts are the devil's work 👿

[2017-11-22 19:09] rrahn commented on #2167
Well, yes that is a really cool point.
Do you know if that is supported by any other compiler?

[2017-11-22 19:09] rrahn commented on #2167
I can look at it the next weeks.

[2017-11-22 19:23] rrahn commented on #2166
Actually it cannot do an implicit cast as StringSet encapsulates much more stuff than a simple vector of strings. Therefor, the user should be forced to do this explicitly, which will inevitable induce a deep copy of the data. I believe no one want this (probably not even explicitly).

[2017-11-23 11:59] cartoonist commented on #2149
Thanks @cpockrandt and @h-2 for the suggestions.

Yes, I set `TMPDIR` to point to a path with 600GB free space and it is running on a machine with 1.5TB main memory. When I use normal FMIndex or ESA it works fine. AFAIK, ESA is supposed to have more memory requirement than Bidirectional FMIndex.

I am trying to prepare a sample code and input data to reproduce this issue. I will share it here.

[2017-11-24 15:15] marehr commented on #2165
We have the following warning:

[code]

The offending code is the following:
[code]

Razers and splazers have this structure and therefore the warning:
https://github.com/seqan/seqan/blob/a0691b9d05eb1ee56f513a5642f745231d77798b/apps/razers/outputFormat.h#L936-L1205
https://github.com/seqan/seqan/blob/a0691b9d05eb1ee56f513a5642f745231d77798b/apps/splazers/outputFormat.h#L1114-L1362

Even razers ha

[2017-11-24 19:24] marehr opened #2168 "compiler warnings on clang6"

[2017-11-27 14:25] marehr commented on #2017
Is deactivated #2161, please close

[2017-12-01 10:16] tloka commented on #2068
Hey,
I work on the same project as @JakobSch has done.
The problem with vectors is that BamFileOut is also not move-assignable. This is required for vectors since they are always stored sequentially in the memory. Thus, if the reserved memory is full the complete vector must be moved which doesn't work with objects as BamFileOut that are not move-assignable.
Thus, I got it running by using std::de

[2017-12-01 10:50] JakobSch commented on #2068
Hey thanks a lot for your answer. At least there exists a working version now.
However, the missing move-assignability explains example 2 and 3 but still not example 4. There I construct the BamFileOut objects on the heap (which should be very similar to what the deque does).

Wait, in your last sentence you claim that you got it running with pointers. Isn't that exactly what I did in example 4?

[2017-12-01 11:04] tloka opened #2172 "Segmentation Fault in BamFileOut after clearing the sequence"
Hey,
I just have the problem that SeqAn produces a Segmentation Fault in my program when i clear the sequence record and go for BAM output. It works perfectly fine for SAM output (just by changing file suffix).
I didn't prepare and also didn't test it in a complete minimal example, but here is a small scheme where the problem occurs:

[code]

I also recognized, that doing the same with the quality

[2017-12-01 12:05] tloka commented on #2068
@JakobSch Without having it tried, the problem in example 4 seems to be something different.
I expect that the problem there is that you create the BFO objects inside the scope of the for loop, so I would expect it to be destructed before something is written to it (since you even set context and write the header behind the scope). So you initialize the BFO (at this point, the 0-byte file is creat

[2017-12-01 12:08] JakobSch commented on #2068
Technically, the `new` should prevent the destruction.

[2017-12-01 12:17] tloka commented on #2068
@JakobSch Sure you are right, didn't realize that.
Using pointers is actually the solution that is pretty often recommended in blogs for filestreams in general. And I remember having it running with pointers like half a year ago or so, thus I am pretty sure it should work in general. If this is of high importance, I can have another more detailed look at the pointers (but this may take a while).

[2017-12-04 09:05] rrahn commented on #2050
I leave this issue open for the last post by @h-2.
But we might move it to another Milestone.

[2017-12-05 16:03] rrahn commented on #2167
It seems not easily solvable for SeqAn 2.x. We will move this to SeqAn 3.x (backlog)

[2017-12-05 16:04] #2168 closed

[2017-12-05 16:05] #2165 closed

[2017-12-05 16:05] #2153 closed

[2017-12-05 16:06] rrahn commented on #2149
@cartoonist @cpockrandt what is the state here?

[2017-12-05 16:07] rrahn commented on #2141
@h-2 what is the state here?

[2017-12-05 16:07] rrahn commented on #2124
@cpockrandt ping

[2017-12-05 16:32] #2122 closed

[2017-12-05 16:37] rrahn commented on #2114
@xenigmax can you please have a look.

[2017-12-05 16:38] rrahn commented on #2112
This should be fixed.

[2017-12-05 16:38] #2112 closed

[2017-12-05 16:41] rrahn commented on #2093
@cpockrandt was this only affecting travis?

[2017-12-05 16:51] rrahn commented on #2077
@nevergonefan first what you need is independent of the alignment algorithm but part of the `Gap` data structure. There you can us the function to [toViewPosition](http://docs.seqan.de/seqan/develop/class_Gaps.html#Gaps%23toViewPosition) on one of the rows.
[code]
Second, we are really interested in optimising the alignment parts. I know for some benchmarks that the bandedChainAlignment has some p

[2017-12-05 16:53] rrahn commented on #2102
@ZaMaZaN4iK what is the state?

[2017-12-05 16:54] rrahn commented on #2101
Ok, if there is more to it, please reopen the ticket.

[2017-12-05 16:54] #2101 closed

[2017-12-05 16:55] rrahn commented on #2099
@xhongyi what is the state?

[2017-12-05 17:01] xhongyi commented on #2099
Hi,

I think the issue was resolved... (I already forgot what was the problem)...

Hongyi

On Tue, Dec 5, 2017 at 11:55 AM, rrahn <notifications@github.com> wrote:

--
Hongyi Xin
==============================
Computer Science Department
Carnegie Mellon University
5000 Forbes ave.
Pittsburgh PA 15213
http://xinhongyi.me

[2017-12-05 17:01] xhongyi commented on #2099
:P

On Tue, Dec 5, 2017 at 12:00 PM, Hongyi Xin <gohongyi@gmail.com> wrote:

--
Hongyi Xin
==============================
Computer Science Department
Carnegie Mellon University
5000 Forbes ave.
Pittsburgh PA 15213
http://xinhongyi.me

[2017-12-05 18:39] tloka commented on #2172
I can no longer consistently reproduce this error, so it looks like I did a mistake somwhere (even if I actually have no idea why it didn't run before)
--> closed

[2017-12-05 18:39] #2172 closed

[2017-12-06 09:57] #2017 closed

[2017-12-06 10:52] h-2 commented on #2141
I have updated the table above and will commit fixes for the remaining tests (except sparc64) today. I will also address the issues @rrahn raised in the PR.

@mr-c For the platforms where some apps are skipped there are manpage generation errors. I think the manpage generation is debian specific. Can you fix that? Other than that we should be done soon 😃

[2017-12-06 11:06] mr-c commented on #2141
@h-2 Let me know when you're ready for me to test again; I'll include fixes for the manpages issues as well

[2017-12-07 13:52] h-2 commented on #1994
fixed by #2006

[2017-12-07 13:52] #1994 closed

[2017-12-07 13:53] h-2 commented on #2088
TODO: document that we are dropping gcc-4.9 support on mac

[2017-12-07 16:12] h-2 commented on #2141
@mr-c Sorry, my 👍 yesterday was not meant as a ping, I have just updated the branch now.

@rrahn I have also addressed your comments on the PR and rebased on current develop.

[2017-12-07 16:13] h-2 commented on #2141
@mr-c We can deactivate sparc64 builds for now. We might get back to fixing this at a later point in time, but it is not a high priority.

[2017-12-07 17:14] mr-c commented on #2141
@h-2 Since `sparc64` isn't an official architecture the test failures won't affect the package :-) I'll try to push a new build tonight or tomorrow

[2017-12-08 00:59] jimiranda opened #2179 "Rng<MersenneTwister>: use of undeclared identifier MersenneTwister/Rng"
I installed SeqAn version 2.3.2 with Homebrew. Works fine. BUT, even with the header <seqan/random.h> I am having the above error message.
And sometimes the compiler shows the message "undeclared identifier Rng"!
The code snippet provided is from SeqAn tutorial:

[code]
By the way, I'm running SeqAn with Xcode and others tutorial examples run OK.

Thanks.

[2017-12-09 02:23] jimiranda commented on #2179
The line with error is INCOMPLETE in the code above. The correct is:
int main ()
{
  // For the sake of reproducibility
  Rng<MersenneTwister> rng;       // Error msg here: Use of undeclared identifier Rng &
                                                                                                                     MersenneTwister

[2017-12-09 10:12] mr-c commented on #2141
@h-2 Something bad happened with your latest commits: https://buildd.debian.org/status/package.php?p=seqan2&suite=experimental

[2017-12-11 08:00] rrahn commented on #2179
Hi now I remember.
We removed the random number generator from the library in favour of the STL's random generator library added with C++11. We only offer a beta-distribution in our random module which is not implemented in the STL's version.
See here: http://en.cppreference.com/w/cpp/numeric/random

[2017-12-11 08:48] rrahn opened #2180 "update package install instructions in manual"
Apparently when installing SeqAn via apt-get the `seqan-config.cmake` file is missing.
Second the shipped version is 1.4.1 which is very outdated. w
We need to check if the downstream package distributors can upgrade the package.

[2017-12-11 11:16] h-2 commented on #2180
The package is now called `libseqan2-dev` is quite up to date actually:
https://packages.ubuntu.com/search?keywords=libseqan2-dev&searchon=names&suite=all&section=all

[2017-12-11 11:42] rrahn commented on #2180
Then please leave it open and we need to update the documentation in the reference manual

[2017-12-11 11:50] h-2 commented on #2141
@mr-c Hm, really strange, happens on all the platforms including amd64. I cannot reproduce this here on any of the machines; also travis passes.
Could this be related to anything debian specific? Did you change anything else?

[2017-12-11 15:08] #2123 closed

[2017-12-12 12:13] smehringer commented on #1794
This was fixed in #1870

[2017-12-12 12:13] #1794 closed

[2017-12-12 12:31] xenigmax commented on #1927
@temehi
I'm using this temporary fix for Vaquita.
- But I don't think it's the right solution for sure. :)

https://github.com/seqan/vaquita/blob/master/seqan-library-2.2.0/include/seqan/stream/iostream_bgzf.h#L588-L600

[2017-12-12 13:33] temehi commented on #2055
This is not easily possible with the current design of Yara. Alignments, which is necessary for computing CIGAR strings, are computed for primary matches only. It was decided to against it mainly  because of:

- secondary alignments are rarely interesting,
- computing alignments for all possible mapping location is costly and
- CIGARS do not contain enough information to discriminate among alignme

[2017-12-12 13:34] temehi commented on #2055
@rrahn @h-2  I will backlog the issue now.

[2017-12-12 13:42] temehi commented on #1927
@rrahn  are you working on this? 😄 👍

[2017-12-12 15:30] joergi-w commented on #2166
I performed tests with the code above and I do not find the segmentation fault on both Mac and Linux, using gcc versions 4.9 / 5 / 6 / 7. Interestingly, in the foo function one can still apply functions for StringSet (e.g. lengthSum) as well as functions for String (e.g. endPosition). Because results can be unexpected (toCString for instance gives a const string containing a memory address), I agr

[2017-12-12 16:41] #1944 closed

[2017-12-12 18:03] hannespetur commented on #1944
Thank you!

[2017-12-12 18:39] rrahn commented on #1927
Yes, I can look at it.
Seems like an interesting bug.

[2017-12-13 09:49] #1766 closed

[2017-12-13 09:51] rrahn commented on #1782
It is still on our plate, and we might can work on that beginning of next year.
I will postpone it to the next release.

[2017-12-13 09:51] #1868 closed

[2017-12-13 09:56] rrahn commented on #2077
@nevergonefan I will close the issue now. If it is not resolved for you, please reopen.

[2017-12-13 09:56] #2077 closed

[2017-12-13 10:23] smehringer commented on #1988
@h-2
Does seqan have file path manipulation (stripping the last `/`) ? If not where should I add this functionality because I'll need it to conveniently fix this issue.

[2017-12-13 10:26] rrahn commented on #1988
We have tokenisation functions that do something like `readUntil(...);`
It is not documented,  but you can find it here: https://github.com/seqan/seqan/blob/master/include/seqan/stream/tokenization.h

[2017-12-13 10:33] smehringer commented on #1988
Thank you. Can you direct me to a (example) structure of the `functor` that is needed for the stop criterion?

[2017-12-13 10:40] smehringer commented on #2099
Thank you for your response!

[2017-12-13 10:40] #2099 closed

[2017-12-13 13:28] marehr opened #2182 "seqan strings do not work with gtest"
I am trying to integrate a CMake file for SeqAn and google's gtest in order to prepare for a larger project.

I am getting the following error (abbreviated) when I try to make the tests.

error: ambiguous overload for ‘operator<<’ (operand types are ‘std::ostream {aka std::basic_ostream<char>}’ and ‘const seqan::String<seqan::SimpleType<unsigned char, seqan::Dna_>, seqan::Alloc<> >’)
   *os << val

[2017-12-13 14:32] marehr commented on #2182
I digged into it a bit and it apparently is the fault of those two ambiguous overload of `<<`

 https://github.com/seqan/seqan/blob/a0691b9d05eb1ee56f513a5642f745231d77798b/include/seqan/sequence/string_base.h#L2027-L2035

and

 https://github.com/google/googletest/blob/0fe96607d85cf3a25ac40da369db62bbee2939a5/googletest/include/gtest/gtest-printers.h#L194-L211

When I added this more specific fun

[2017-12-13 15:39] marehr commented on #2182
@pnrobinson Okay I found a fix for your problem. Lets wait for build and reviewers.

[2017-12-13 16:01] h-2 commented on #2050
moved to 3.0

[2017-12-13 16:32] h-2 commented on #2141
@mr-c I have had a look at this again, and I have no clue whats going on. All tests here indicate that everything is fine, and I don't see anything in the diff that could have caused this. I have also tried building with a recent snapshot of GCC to make sure that it's not related to a recent compiler update debian-experimental might have acquired.
Due to history re-writing the older revision is no

[2017-12-14 10:06] mr-c commented on #2141
@h-2 I've triggered a new build via version `[…]-2`

Everything is in git, include the tarballs: https://anonscm.debian.org/cgit/debian-med/seqan2.git
https://anonscm.debian.org/cgit/debian-med/seqan2.git/tree/?h=pristine-tar

Use https://packages.debian.org/sid/pristine-tar / https://anonscm.debian.org/cgit/collab-maint/pristine-tar.git to extract them

[code]

[2017-12-14 12:56] h-2 commented on #2141
Ah, I meant, if you could trigger a rebuild of the previous version, i.e. before my (apparently) breaking changes... but I don't expect any insight from that anymore.
This is all quite strange, e.g. I don't expect any of the changes to affect razers3 at all, but still the tests fail. I fact, I would be really interested in seeing whether the current pure develop branch of seqan produces those erro

[2017-12-14 13:13] h-2 commented on #2141
Ok, I can reproduce... working on a fix.

[2017-12-14 13:20] h-2 opened #2184 "Current develop has failed tests in DEBUG"
If you build current DEVELOP in Debug mode, multiple tests fails, including
  * app_test_razers
  * app_test_razers3

This is weird, because I thought our nightlies build the tests in DEBUG, but apparently they don't, because it passes there

=> We need both nightlies and CI for DEBUG **and** NDEBUG; at least one of th CI builds should be debug, and at least one of the nightlies.... or would you p

[2017-12-14 13:21] h-2 commented on #2141
The issue is independent of this PR: #2184
Let's wait for that to be fixed.

[2017-12-14 13:22] h-2 commented on #2184
@marehr Could you have a look at this as you currently don't have any issues for the release? Thank you!

[2017-12-14 13:39] marehr commented on #2184
@h-2 Could you please do it, I cleared my list early, s.t. I can work on other stuff.

[2017-12-14 13:58] h-2 commented on #2184
Well, "your list" was smaller than other people's, too. You have half the issues I have and a third of the issues @rrahn is doing for this release. Last I checked we get the same amount of pay. You have even less issues than the student assistant in the group so please stop complaining.

[2017-12-14 14:24] marehr opened #2186 "yara-mapper seg-faults with the intel compiler"
I could figure out that this was caused by 8be002628c4047bcbdb10c6b823a63ea0a540a49.

It seems that icpc produces wrong code for defaulted copy constructors AND `#pragma pack(push, 1)`

An explicit copy constructor works.

[2017-12-14 18:12] #2104 closed

[2017-12-14 18:13] #1508 closed

[2017-12-15 16:11] #1988 closed

[2017-12-15 16:27] h-2 opened #2190 "recent SIMD changes broke Lambda"
[code]
Any ideas, @rrahn ?

[2017-12-15 16:27] h-2 commented on #2190
(only happes when I build with sse4 support)

[2017-12-16 22:21] rrahn commented on #2190
Ok, I cloud track down the bug and reproduce it given the error message.
And it is not related to vectorisation per se, but this code path is only included when compiling with SIMD vectorisation. The problem is in the propagation of the *constness* of host types in Segments and such.
Stay tuned ...

[2017-12-17 14:04] dridk opened #2192 "How to access zlib gzoffset from SeqanIn ?"
I would like to read a fastq.gz file and monitor read progression in percent %.

I think we should use zlib gzreadoffset to know the position block in the compressed file.

See the question from biostar
@natir https://www.biostars.org/p/289979/

Thanks you

[2017-12-18 11:21] h-2 opened #2193 "update platform support for 2.4.0"
* [x] drop icpc-16 on all platforms due to #2142 breakage and bad c++14 support in general
  * [x] update icpc support after 17 and 18 were added to nightlies, see #2199
  * [x] drop gcc-4.9 on on mac
  * [x] update MSVC support info after adding VS2017, see also #2200

[2017-12-18 11:21] h-2 opened #2194 "windows builds broken on nightlies"
also due to #2142

[2017-12-18 11:51] #2190 closed

[2017-12-18 13:27] h-2 commented on #2192
In case you use compression, SeqAn uses it's VirtualStream class (that detects the compression type and decompresses transparently). VirtualStream does however not provide `.tellg()` so there is no way to do this with the official API. It might be possible by accessing the internal data structures, can you comment, @rrahn @temehi ?

Of course if your input sequences are all the same length (e.g. r

[2017-12-18 13:27] #2180 closed

[2017-12-18 13:43] natir commented on #2192
If we use the position in compressed file and the size of compressed file we can get a good approximation of progression. Maybe isn't a bad idea to provide access to tellg()

[2017-12-18 14:02] smehringer commented on #2192
If you only care about the progress bar, maybe this naive solution works for you?

Just create an index beforehand and query it for the number of records to be read.

Running Example (on a bgzip compressed file, indexed with samtools faidx):
[code]

[2017-12-18 15:04] #2194 closed

[2017-12-19 11:42] #1670 closed

[2017-12-19 12:06] smehringer commented on #2121
Hi @martinjvickers,
we are very sorry for answering you so late.
Unfortunately the `FragementStore` does not support reading a bam file in batches and it would require some more work to include this feature. Is this issue still relevant for you?

A naive solution would be to either (1) you read in the records using a SeqFileIn object (which allows a `numRec` parameter) and then assign the batch to

[2017-12-19 18:32] h-2 commented on #2184
We have these issues at least since seqan-2.1.0!!

I think we should fix them and cover the issues via tests, but I don't think this issue should be a blocker for the 2.4.0 release.

[2017-12-19 18:37] h-2 commented on #2141
@mr-c Let's not wait for #2184 since this is a long-existing issue.

Could you do the following?
1. change the test builds on the package tracker to build in release mode instead of develop
1. rebase your package build on the regular develop branch of seqan as #2142 has been merged
1. if both of the above make everything pass, could you also make an additional try with ASYNC_IO not deactivated? I

[2017-12-20 08:59] rrahn commented on #2082
@stevschmid is now fixed in current develop and available in 2.4. Thanks for reporting.

[2017-12-20 08:59] #2082 closed

[2017-12-20 10:50] temehi commented on #2068
@JakobSch
I think the reason example 4 is producing 0-byte files is that the bam files were left open.
adding the following should fix your issue. Please let me know if this solves the issue.

[code]

[2017-12-20 11:58] h-2 opened #2199 "icpc-18 issues"
* [x] warnings during cmake:

  * [x] test_test_align_simd segfaults
  * [x] app_test_yara (probably the same as #2186)
  * [x] check icpc-17 again.

[2017-12-20 12:13] h-2 opened #2200 "update visual studio & wintel in nightlies"
* [ ] add VS15 (2017) to the nightlies
  * [ ] keep VS14 (2015), but remove icpc16
  * [ ] remove clang/c2 for 32bit as it has never worked correctly

To not increase the test matrix my ridiculous proportions I would propose:

Windows | bit | VisualStudio | compiler
---------------|------|--------------------|-------------
7             | 32 | 14               | stock
7             | 32 | 14

[2017-12-20 14:59] h-2 commented on #2120
I have added a `g++7-stdc++17` build to the freebsd nightlies that we should be getting as of tonight.

[2017-12-20 15:05] h-2 opened #2201 "make sure `-std=c++17` is well supported"
- [x] add at least one build to nightlies
  - [x] add at least one build to travis
  - [x] fix issues

[2017-12-20 15:06] h-2 commented on #2201
It already looks like simd_tests are failing with c++17, but maybe that code will be replaced by #2118 anyways?

[2017-12-20 15:06] mr-c commented on #2141
@h-2 We were building using `-DSEQAN_BUILD_SYSTEM=DEVELOP`, removing that produces the same errors on AMD64 for me.

I'll try again with the latest commit from the `develop` branch.

[2017-12-20 15:40] h-2 commented on #2201
These tests fail locally with `std=c++17`:
[code]

Since this is "your turf", can you have a alook, @rrahn? Thanks!

[2017-12-20 15:55] h-2 commented on #2141
@mr-c Sorry, my last comment was misleading, I didn't mean to say that you shouldn't set`-DSEQAN_BUILD_SYSTEM`, but I meant that `-DCMAKE_BUILD_TYPE` should be `Release` (it's currently `Debug`).

[2017-12-21 07:53] mr-c commented on #2141
@h-2 We were previously passing the following to `cmake`:
[code]

As compared to the last build you've seen I'll be swapping `-DSEQAN_BUILD_SYSTEM=DEVELOP` for `-DCMAKE_BUILD_TYPE=Release`:

[code]
FYI: After checking our Git history I can say with confidence that we have never set `-DCMAKE_BUILD_TYPE` to `Debug` :-)

[2017-12-21 08:23] mr-c commented on #2141
Ah-ha, further digging shows that `debhelper` was passing `-DCMAKE_BUILD_TYPE=None` :-)

[2017-12-21 12:53] h-2 commented on #2141
I didn't mean for `-DSEQAN_BUILD_SYSTEM=DEVELOP` to be removed at all (although it is the default so it doesn't matter).

That's the culprit! Never heard of TYPE None 🤔 Anyway, it seems to imply Debug which breaks certain builds that have apparently long been broken (#2184), although I don't understand why we just started seeing them now. Anyway, that's not your concern, we will have a look at it

[2017-12-22 09:11] mr-c commented on #2141
@h-2 Okay, I'm keeping away from `-DCMAKE_BUILD_TYPE=Release` but I am setting `-DNDEBUG -O3` to match the equivalent effect

and.. success! At least locally. seqan2_2.3.2.000platform-issues9-028fd79+dfsg-1 was just uploaded so we'll see how well it does on the build machines

[2017-12-25 17:55] mr-c commented on #2141
`mips64el` & `s390x` had a failure with `app_test_seqan_tcoffee`, the rest (of the regular archs) are fine. Happy holidays!

[2018-01-01 22:19] xhongyi opened #2202 "What's the size of Iter<BWTIndex, VSTree<TopDown<ParentLinks<> > > >? Does it dynamically allocate storage somewhere?"
Hi,

I'm having some mysterious trouble with managing the memory footprint of Iter<BWTIndex, VSTree<TopDown<ParentLinks<> > > >.

In short, I have two vectors of Iter<BWTIndex, VSTree<TopDown<ParentLinks<> > > >.
The total **capacity** (not size, but capacity of STL vector) of both vectors is around 400M. I tried to measure the size of each Iter, by sizeof( Iter<BWTIndex, VSTree<TopDown<ParentLink

[2018-01-02 09:12] cpockrandt commented on #2202
Hi @xhongyi,

the iterator with parentlinks stores a seqan::String of suffix-array positions, etc. So the size of the Iterator should differ depending on the depth in your suffix tree. I guess that's why you reach more than 100G.

How about building a suffix tree yourself while traversing the implicit suffix tree (using goDown and goRight on the iterator), numbering the nodes in your tree and only

[2018-01-02 22:01] xhongyi commented on #2202
Yeah I was wondering something like that. Seems like it keeps track of a history linked list so that it can goUp().

Thanks for the suggestion! I will take a look at SDSL.

[2018-01-02 22:34] xhongyi commented on #2202
Moving to seqan3 seems to be a daunting effort! Wish you best of luck! Will definitely try it out when it comes out.

[2018-01-02 22:34] #2202 closed

[2018-01-03 04:55] cpockrandt commented on #2149
I'm closing this issue for now.

If there are still any problems @cartoonist, please reopen/comment this issue!

[2018-01-03 04:55] #2149 closed

[2018-01-03 07:56] rrahn commented on #2121
@smehringer do you think adding a batch wise read function can be done for 2.4?
Not sure how complicated the code base of the fragment store is.

[2018-01-03 09:48] smehringer commented on #2121
I'm not sure.. there seem to be a lot of things happening before the actual records are read and it will take time until one can be sure that adjustments are safe. Do you think it is important enough, since the author of this issue is also not responding?

[2018-01-03 09:53] rrahn commented on #2121
No, if it seems to complicate (I heard stories) than we leave it for now.
@martinjvickers please reopen if you feel that your problem is not resolved.

[2018-01-03 11:11] martinjvickers commented on #2121
Hi @smehringer and @rrahn, thanks for the response. I've not resolved this so it's still outstanding but I appreciate that the solution may not be a read in batch function or even using the fragment store.

@smehringer solution 2) that you've mentioned is something I would do if I simply needed to process some data and noone would use however as this might be something to release then I wouldn't w

[2018-01-03 11:20] marehr opened #2203 "icpc-16 errors every build (platform.h is broken?)"
[code]

Offending code is:

https://github.com/seqan/seqan/blob/028fd79c6e02b7255c95d390b965d922aa874bb6/include/seqan/platform.h#L498-L500

This is icpc-16 exclusive.

[2018-01-03 11:34] martinjvickers commented on #2121
@rrahn As for closing the issue, which is a question rather than an issue really, will this mean that the responses from people who might be able to help will dry up as it's a closed issue?

I ask as it took 2 and a half months for any response so I had obviously had to move onto other work. But not responding for 15 days (which includes the Christmas, New Year period) and having to get back up to

[2018-01-03 11:46] h-2 commented on #2141
@mr-c Happy new year! I have just committed another fix. You can switch to my branch or just wait for this to be merged to develop. I sincerely hope this will fix the last issues 😅

[2018-01-03 11:48] h-2 commented on #2203
We have dropped icpc-16 on all platforms, see also #2193

We do need to get 17 and 18 properly supported, though.

[2018-01-03 11:48] #2203 closed

[2018-01-03 11:49] h-2 commented on #2203
I thought we also discussed this before Christmas? Maybe @rrahn and I called the shots in the last week because you were sick…

[2018-01-03 11:55] h-2 commented on #1979
@sagitter PowerPC issues should have been resolved by #2142 The last mips issues should be fixed by #2204 . If you can, please give the current develop branch a shot and re-open if issues on Fedora persist. Thank you!

[2018-01-03 11:55] #1979 closed

[2018-01-03 12:02] marehr commented on #2203
We occasionally talked about dropping it, but never did it. Great, one platform less to worry about! But, this bug should have been easy to fix. Just dropping the `constexpr`.

[2018-01-03 12:23] rrahn commented on #2121
Well, no problem. We can reopen it, sure. Currently, there is no one maintaining it, hence we kept the priority low. But since you are actively interested in this matter, we will take a look into it more closely.

So after some digging: the`readRecords` function of the fragment store does not support batch wise reading (as @smehringer already informed you about). So the suggested solution was to r

[2018-01-03 13:25] marehr commented on #2186
superseded by #2199

[2018-01-03 13:37] marehr commented on #2193
So that means we drop gcc 4.9?

[2018-01-03 13:37] rrahn commented on #2193
On mac, only

[2018-01-03 13:40] marehr commented on #2193
😞

[2018-01-03 14:12] marehr opened #2205 "msvc errors on every build (platform.h)"
Close if there already exists a ticket.

[code]

https://github.com/seqan/seqan/blob/028fd79c6e02b7255c95d390b965d922aa874bb6/include/seqan/platform.h#L479-L483

[2018-01-03 14:15] marehr commented on #2205
Okay is already fixed! I have to rebase my branch.

[2018-01-03 14:15] #2205 closed

[2018-01-03 14:15] h-2 commented on #2205
Is your branch up to date? This was fixed in #2196

[2018-01-03 14:20] martinjvickers commented on #2121
Thank you for that, I really appreciate your help, I will give this a go and post my solution when I get a chance.

[2018-01-03 15:07] marehr opened #2207 "test_test_align_simd segfaults"
meta ticket #2199

[2018-01-03 15:19] marehr commented on #2207
@h-2 On my machine everything builds and executes without seg-faults 😕
I need to investigate, why our build system fails.

[2018-01-03 15:27] marehr commented on #2200
@h-2 I think it is a problem to have multiple intel versions on windows.

[2018-01-03 15:28] marehr commented on #2200
Win7_64bit-VS14-icpc-16.0-32/64 seems to gone already. Did someone remove it?

[2018-01-04 13:01] h-2 commented on #2141
It's looking good! Something broke am64 but it looks like a build-system/memory problem to me. I guess that will just go away on it's own?

[2018-01-04 13:08] mr-c commented on #2141
@h-2 :-) Shall I test w/o ASYNCIO=0 ?

[2018-01-04 13:30] h-2 commented on #2141
Yes, please 😃

[2018-01-04 19:50] sagitter commented on #1979
@h-2
Okay; let me check.

[2018-01-05 11:18] sagitter commented on #1979
`app_test_ngs_roi app_test_samcat app_test_yara` are now correctly executed.
`razers*` tests failed on every architecture: [build log](https://kojipkgs.fedoraproject.org//work/tasks/9494/23999494/build.log)

The `razers*` errors seem related to the bug #1076.

[2018-01-05 12:05] h-2 opened #2208 "test failure on 32bit"
@cpockrandt your PR broke our nightlies on all 32bit platforms. std::max between 32bit and 64bit it seems.

[2018-01-05 13:26] #1861 closed

[2018-01-05 13:29] mr-c commented on #2141
Yee-haw!

[2018-01-05 13:30] mr-c commented on #2141
Perhaps you should have a release candidate before 2.4 final for testing on Debian?

[2018-01-05 14:49] h-2 commented on #2141
Yeah, I guess we could do that!

[2018-01-05 14:59] h-2 commented on #1979
Thanks for checking!

It is actually #2184 which won't be fixed for 2.4.0. These failures only happen in Debug mode, please just build the tests in Release mode or manually add `-DNDEBUG`.

[2018-01-05 15:11] h-2 commented on #2120
I'll take this since you have quite the issue list still.

[2018-01-05 15:20] mr-c commented on #2141
Great. I've subscribed to https://lists.fu-berlin.de/listinfo/seqan-dev#subscribe so maybe you could announce the release candidates there :-)

[2018-01-06 09:30] marehr commented on #2186
@h-2 seems to be fixed; reopen if you think it is not done

[2018-01-06 09:30] #2186 closed

[2018-01-06 16:40] sagitter commented on #1979
@h-2
Okay, with `-DNDEBUG` all `razers` tests are passed.

[2018-01-08 12:22] h-2 commented on #2201
fixed by #2209

[2018-01-08 12:22] #2201 closed

[2018-01-08 12:30] h-2 commented on #2200
Ok, I have removed them from the matrix

No, it still in the nightlies (but doesn't work anymore).

I have also updated the table to remove clang/c2 from the VS2017 (its no longer supported), and added a modern standards-conformant run to the list above.

@rrahn Can you set this up / request the VMs from the staff?

[2018-01-08 12:34] h-2 commented on #2088
last todo now covered by #2193

[2018-01-08 12:34] #2088 closed

[2018-01-08 12:34] h-2 commented on #2114
@xenigmax what is the status here?

[2018-01-08 12:37] h-2 commented on #2068
What is the status here?

[2018-01-08 12:38] h-2 commented on #1927
What is the status here?

[2018-01-08 12:56] tloka commented on #2068
I currently don't really have time to check again, but I think the missing close could actually be the reason why example 4 was not working. I remember that I had a similar behavior (producing 0-byte files) some months ago that I finally fixed by manually closing the BAM files.
However, I think that this issue can be closed since at least one working solution exists (using std::deque). Actually, u

[2018-01-08 14:57] #2182 closed

[2018-01-08 19:41] cpockrandt commented on #2208
there error on the range-based for loop is a possible bug of g++ 8

Filed here: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=83739

[2018-01-09 07:33] smehringer opened #2213 "[BUG] PR #2098 breaks BAM jumpToRegion()"
I'm using `jumpToRegion` in my code for the internship and noticed that it failed on the newest develop. I did a git bisect and it seems that #2098 breaks the behavior.
It cannot "find reads in region .." anymore although there definitely are some.

@temehi can we maybe look into this together when I show you the data (GIAB NA12878)?

[2018-01-09 14:42] h-2 commented on #2208
Since it has Bern confirmed as a bug we can close this issue here.

[2018-01-09 14:42] #2208 closed

[2018-01-09 19:09] h-2 opened #2214 "g++7 and/or std=c++17 are too slow for travis"
making it near impossible to get through...

we need to trim down on the tests... which ones take the longest to build and run?

[2018-01-09 19:48] marehr commented on #2207
@h-2 Okay I have the same seg-fault also on my system. I will not attempt to fix this until #2118 is in. It might not occur anymore after that pull request.

[2018-01-09 22:51] rrahn commented on #2207
Please, no pressure 😏

[2018-01-10 10:49] h-2 commented on #2120
implemented via #2211

[2018-01-10 10:49] #2120 closed

[2018-01-10 10:50] #2166 closed

[2018-01-10 10:52] h-2 commented on #1811
@xenigmax what is the status here?

[2018-01-10 10:53] h-2 commented on #2032
what is the status here?

[2018-01-10 10:54] h-2 commented on #1738
The start page needs to be fixed for browsers != safari. The rest can be moved to after the release.

[2018-01-10 10:54] h-2 commented on #1995
Will this happen before the release and if not, can you change the milestone?

[2018-01-10 10:56] h-2 commented on #2063
@xenigmax have you had time to look at this?

[2018-01-10 10:57] h-2 commented on #1949
@temehi what is the status here?

[2018-01-10 12:12] smehringer opened #2215 "[DOX] Wrong documentation of bed class members"
The documentation states members `beginPosition` and `endPosition` but actually it's `begin/endPos`.

Tiny issue. Just so I don't forget.

[2018-01-10 21:24] sagitter opened #2217 "SEQAN_BUILD_SYSTEM not recognized"
Hi all.

`-DSEQAN_BUILD_SYSTEM:STRING=SEQAN_RELEASE` is not recognized:

[code]

$ cmake --version
cmake version 3.10.1

[2018-01-11 08:02] rrahn commented on #1949
Well, this is a good point.
Moreover, not only t-coffee will be affected I am afraid.
It seems to be simply missing functionality on thxe KNIME Node site, but I have to check with the guys at KNIME if something like this is already existent. I also opened a corresponding issue on the corresponding [github](https://github.com/genericworkflownodes/GenericKnimeNodes/issues/192) page.

[2018-01-11 08:05] rrahn commented on #1995
Relax 🍭
🤣
Actually, once the major issues are done. I will configure step by step a release cycle in Jenkins.
Including valgrind builds, static code checker, nightlies, pre-release builds etc.
But we should discuss this anyway.

[2018-01-11 08:06] rrahn commented on #1738
Maybe it is just an update.

[2018-01-11 08:08] rrahn commented on #2032
Someone should check it and fix it accordingly.
@joergi-w Can you have a look. I think you have right now no further issues?

[2018-01-11 08:09] rrahn commented on #1811
Would be really great to have this. As we can track download number etc.
Can you ask the IT if they set this up for is. Would be the easiest - I think.

[2018-01-11 08:13] rrahn commented on #2217
It is actually called `SEQAN_RELEASE_LIBRARY` to package only the library.
And `SEQAN_RELEASE_APPS` to package the apps.

[2018-01-11 08:19] rrahn opened #2218 "Windows build error in parallel module"
See [cdash](http://cdash.seqan.de/viewBuildError.php?buildid=253374).

Not sure, why this never occurred before, but a blame says it is 4 years old.

[2018-01-11 08:26] rrahn commented on #1927
Temesgen, can I play the ball back to you? We can also look into it together. But my plate is full with other stuff right now.

[2018-01-11 09:25] rrahn commented on #2200
Ok, let me check the current CI setup with the windows machines.
But I don't see really the benefit of running VS14 on Win 7 and VS15 on Win 10.
Well, but it is only for SeqAn 2. For SeqAn 3. I would only support most recent windows systems anyway.
Ok let's keep it.
Right now, we have 4 Win 7.
I would change than to:
 - [ ] 4 Win7 64bit (VS14 + intel17 + clang/c2)
 - [ ] 4 Win 10 64bit (VS15 + int

[2018-01-11 11:18] sagitter commented on #2217
@rrahn
Okay. So `pkgconfig` and `seqan-config.cmake` files cannot be elaborated/installed now.

[SeqAnBuildSystem.cmake#L365](https://github.com/seqan/seqan/blob/master/util/cmake/SeqAnBuildSystem.cmake#L365)

[2018-01-11 11:36] h-2 commented on #2217
What do you mean exactly? Why can the files not be installed? Have you had a look at the hints for downstream packaging in our manual: https://seqan.readthedocs.io/en/master/Infrastructure/Manage/Releases.html#downstream-packaging

[2018-01-11 11:37] h-2 commented on #2217
The comments are obviously wrong, but the code checks for `SEQAN_RELEASE_LIBRARY` as mentioned above by @rrahn .

[2018-01-11 11:47] h-2 commented on #2200
Clang/c2 got deprecated again.

There are official OpenSSH(!) packages for native windows now by Microsoft(!), but I don't know if it already includes a server or only a client.

[2018-01-11 12:12] sagitter commented on #2217
@h-2

I meant, if i use `SEQAN_RELEASE_APPS`, `pkgconfig` `seqan-config.cmake` and `include/seqan/*` files are not installed.
I must use `SEQAN_RELEASE_LIBRARY` then use `SEQAN_RELEASE_APPS` for compiling all applications.

[2018-01-11 12:52] rrahn commented on #2217
I am not following quite from where you install the packages? Don't you have the git sources?
Why do you need to first install the library to get seqan-config installed?
When distributing the apps you don't need the pkgconfig/seqan-config.cmake, don't you?
Sorry, if I am misunderstanding something here.

[2018-01-11 12:52] h-2 commented on #2217
Yes, but they are two separate things. The cmake-file is only useful for developers using the SeqAn library. The applications OTOH are for biologists or bioinformatician that want to get stuff done, but not develop. It is unfortunate that people put all this stuff into one repository a few years ago, but that doesn't mean we should replicate this on downstream packages.

Exactly. please make one p

[2018-01-11 12:59] sagitter commented on #2217
@rrahn

I maintain `seqan` rpms on Fedora Project; i need to know how all seqan files (for devel and not) are managed.

[2018-01-11 13:16] rrahn commented on #2217
Ok, so splitting the downstream packages for the library and the packages, as suggested  by the documentation and @h-2 post will solve your issue then?

[2018-01-11 13:40] sagitter commented on #2217
On Fedora, `seqan` (since 1.4.1) rpms are split as library and apps by time. Just now, i choose for installing `pkgconfig` and `config.cmake` files; here's why i did not know why `SEQAN_RELEASE_APPS` did not activate the library files.

[2018-01-11 14:10] sagitter commented on #2217
@h-2

There is no packaging issues.
SeqAn apps and library are generated by same source rpm into different independent packages.
The [answer](https://github.com/seqan/seqan/issues/2217#issuecomment-356858275) that i needed was that of @rrahn.

Thank you.

[2018-01-11 14:10] #2217 closed

[2018-01-11 14:13] h-2 commented on #2217
Ah, ok, whatever works 👍

Thanks for packaging SeqAn on Fedora!

[2018-01-12 18:26] sagitter opened #2221 "[Info] plot.awk and ps2pswLinks.gawk"
Hi all.

Where should be installed the `.*awk` scripts?
Can they be executed as executable files or just used as input for `gawk`?

[2018-01-15 10:25] h-2 commented on #2221
The FreeBSD package just installs them as executable files in $PREFIX/bin, the ubuntu packages apparently puts them im /usr/lib/seqan/bin for some reason: https://packages.ubuntu.com/artful/amd64/seqan-apps/filelist

[2018-01-15 11:15] sagitter opened #2222 "Updating your links to the seqan packages on Fedora"
Hi all.

[Your online documentation](http://seqan.readthedocs.io/en/master/Infrastructure/Use/Install.html#native-package-management) points to the [seqan web-page](https://src.fedoraproject.org/rpms/seqan) available in the Fedora Project. Until now, only the `seqan-1.4.*` rpms were distributed because needed by [OpenMS](https://src.fedoraproject.org/rpms/openms).

I have rebuilt newer versions of

[2018-01-15 11:26] sagitter opened #2223 "[PPC64] "No supported platform for SIMD vectorization!""
Hi all.

Does `seqan2` not support PowerPC64 architecture?

[code]

Full build log: https://kojipkgs.fedoraproject.org//work/tasks/3197/24213197/build.log

[2018-01-15 12:00] rrahn commented on #2223
Yes it does, but no native AltiVec vectorization.
We do offer to link against an optional simd wrapper library called _UME::SIMD_ to use AltiVec.
But regardless, of the support for AltiVec, I couldn't find a compiler flag indicating SIMD support in your build call. Wouldn't that be `-maltivec` on PPC64?
So if explicit vectorization is not available, the error should not occur, as simd vectorizatio

[2018-01-15 13:10] marehr commented on #2223
@h-2 Can you help me? You added support for a couple of platforms, do we support PowerPC64?

@sagitter This is only a warning, because our SIMD implementation only works for x86 architectures. On the otherhand, this warning shouldn't have any influence/impact and should not break a build.

We could suppress this warning when SIMD optimization is not enabled, which is disabled by default.

@rrahn U

[2018-01-15 14:21] h-2 commented on #2222
Thank you for your porting efforts!

seqan2 (rpm containing applications only) make obsolete seqan.

This is of course up to you as the maintainer, but we really prefer the applications not be called just `seqan`, because it confuses people. "SeqAn" is the (header-only) library. The "SeqAn project" also encompasses applications that are usually called "SeqAn Apps".
In any case the library is not t

[2018-01-15 14:24] h-2 commented on #2223
Yes, ppc64 is supported, both in little endian and big endian configurations. We pass all tests in Debian now. Unless someone works on UmeSIMD and altivec we should just build the SIMD-less paths on ppc64 for now.

[2018-01-15 17:20] sagitter commented on #2223
Okay.

[2018-01-15 17:36] sagitter commented on #2222
Is this rpms tree better for you?

[code]

[2018-01-15 20:00] marehr commented on #2223
PR #2225 will disable the misleading warning.

[2018-01-16 11:28] h-2 commented on #2214
fixed by #2216

[2018-01-16 11:28] #2214 closed

[2018-01-16 11:36] h-2 commented on #2222
I would prefer
[code]

This also makes it clearer that -doc and -examples refer to the library, and are not related to the apps.

If that's not possible:

[code]

But, like I said, I don't know any conventions you might have at Fedora (e.g. Debian requires libraries to have a `lib`-prefix).

[2018-01-17 17:23] h-2 commented on #2193
regarding icpc16 this needs to be changed still:
https://github.com/seqan/seqan/blob/develop/util/cmake/SeqAnBuildSystem.cmake#L551
And the whole WINTEL thing needs testing!!

[2018-01-18 08:52] marehr commented on #2223
@sagitter this was merged and  will be in the next release

[2018-01-18 08:52] #2223 closed

[2018-01-18 09:06] marehr commented on #2193
CMake seems to support WINTEL redistribution since half a year

https://github.com/Kitware/CMake/blob/2868019b2f93f2eb50de901d8a58ceb9b5790ae5/Modules/InstallRequiredSystemLibraries.cmake#L62-L90

We test them nightly, what do you mean?

[2018-01-18 13:04] h-2 commented on #2193
Looks good, can we make use of that?

We test 16 (which we don't support anymore), we don't test 17 and 18.

[2018-01-18 13:52] h-2 opened #2228 "translation module crashes when fed an empty sequence"
see seqan/lambda#111

[2018-01-18 16:19] wtwhite opened #2230 ""Unknown/missing" QUAL field value in a BAM file is read in incorrectly; works correctly for SAM"
In a SAM file, an asterisk ("*") in the QUAL field (11th column) indicates that quality information for the read is missing or unknown.  When reading such a record with `readRecord()`, the `qual` member of the `BamAlignmentRecord` is set to an empty `CharString`, just as the docs state.  But when the equivalent record in a BAM file (where an "unknown/missing" QUAL field is represented as a series

[2018-01-21 09:17] smehringer commented on #2230
Hi @wtwhite,

thank you for reporting this and for your detailed description!

I could reproduce your issue and it might be a bug regarding our sam/bam conversion.

Although I'm not too familiar with the BAM format, I think the quality string in BAM must be always the same length as the sequence length, otherwise decompression is tedious.
Therefore, when reading in a BAM file in seqan, the record.

[2018-01-21 23:38] dridk opened #2232 "Draw reads suggestion"
Hi,

I would like to create a BAM viewer using Qt and seqan.
I succeed to display a BAM file in console using AlignedReadLayout and FragmentStore.
What do you suggest to display reads from my Qt application ? I can have something like :

[code]

I wonder what the best way . Do I need to use ALignedReadLayout ?

[2018-01-22 14:16] h-2 commented on #2230
@smehringer I think your analysis is correct. According to the spec for SAM `*` indicates "not present" and for BAM a string of length of the sequence and all bytes == `0xFF` indicates "not present". Therefore SeqAn should check upon reading the BAM quality string, whether all bits are set and if yes return an empty string, not a string of `0xFFFFF...`.

Can you fix that for the release, aka asap?

[2018-01-22 14:18] h-2 commented on #2232
If you are drawing with Qt, why don't you use Qt's widgets? E.g. a QTableView or a QListView?

[2018-01-22 14:18] #2228 closed

[2018-01-22 15:30] smehringer commented on #2230
Sure  :hourglass_flowing_sand:

[2018-01-22 15:36] dridk commented on #2232
Hi,
paint is a method of QWidget::paint() . But I am not asking about Qt. I just wonder how to get reads from seqan in a specific range ( viewRight, viewLeft, depthUp, depthDown). ( see screenshot ) .

I guess I can do something like that :

       printAlignment(MyQtWidgetDrawerStream, layout, store, contigID, posBegin, posEnd, lineBegin, lineEnd);

or something like :

     for ( auto &read : se

[2018-01-22 15:53] h-2 commented on #2232
Ah, ok. I am not familiar with the fragment store or whether it supports filtering on ranges. The only immediate option I see is iterating over the entries and checking for each whether it satisfies your conditions. If the reads are sorted in one of the dimensions you can at least reduce the boundary search to O(log(n)) via a binary search (on that dimension).

[2018-01-22 23:05] dridk commented on #2232
*.bam.bai index file should help. For instance, with samtools you have "region" option.

     samtools view file.bam chr3:1-10

So, now I m not sure if seqan use the index feature to get reads.

[2018-01-23 07:21] smehringer commented on #2232
SeqAn has a function [`jumpToRegion()`](http://docs.seqan.de/seqan/master/specialization_BamFileIn.html#BamFileIn#jumpToRegion) that advances in a BAM file to the desired region with the help of BAI.
Is that what you are looking for ?

[2018-01-23 09:06] dridk commented on #2232
Yes, that's what I need ! I can jump to the bam region and get all BamRecords to display. But in this case, I have to manage the alignement myself between reads and genom reference.
I don't want to reinvent the wheel, and I guess printAlignment do the job. I need to figure out how it works

[2018-01-23 10:13] smehringer commented on #2232
Ii think the only trick of `printAlignment()` is to go through the sorted reads and keep track of the end points of alignments in each row (row as in depth), such that it knows where to place a new read while printing.
Since the function is specialized for command line printing you might have a hard time adapting it to Qt. I would recommend to use the information given by the [BamAlignmentRecord](

[2018-01-23 10:19] dridk commented on #2232
Ok, thanks for your suggestion. I will do as you suggest and play with BamAlignementRecord.
I will do a PoC and tell you if I succeed ! https://github.com/labsquare/bamviewer-poc

[2018-01-23 10:19] #2232 closed

[2018-01-23 12:08] h-2 commented on #2093
@cpockrandt is this now resolved?

[2018-01-23 12:12] h-2 commented on #2207
@marehr Merging #2118 did not fix this, can you please have a look?

[2018-01-23 12:14] h-2 commented on #2124
@cpockrandt we want release asap, what is the status here?

[2018-01-23 12:20] marehr commented on #2207
@rrahn can you take this one?

[2018-01-23 12:20] rrahn commented on #2207
yes

[2018-01-23 12:23] #2075 closed

[2018-01-23 13:33] smehringer commented on #2232
You are very welcome. Good luck with your project! 🤞

[2018-01-23 14:07] #2218 closed

[2018-01-23 14:12] #2093 closed

[2018-01-23 15:48] xenigmax commented on #1811
I got an answer from IT. I can do it by myself if I can have some information regarding MySQL account. It also involves some configuration that requires cooperation with IT but I can ask it.

I think it does not need to be 2.4.0. (it's not part of SeqAn anyway.)
I changed this to Backlog for your convenience.

[2018-01-23 19:08] xenigmax commented on #2063
@h-2
@rrhan

As you all know I am not an expert of this issue. But I just read the tutorial for this user since you have requested.

http://seqan.readthedocs.io/en/master/Tutorial/HowTo/UseCases/SimpleRnaSeq.html

According to the tutorial, it starts with loading of .gff (genes) and .bam (reads) files - not with the alignment.
Hence all the positions have to be based on given files and this can't

[2018-01-24 08:23] h-2 commented on #2222
@sagitter If you have decided on names for the packages, I can immediately update the documentation!

[2018-01-24 08:24] h-2 commented on #2221
Do you still have questions regarding these files or can I close this issue?

[2018-01-24 10:21] h-2 commented on #2068
I have tried making `FormattedFile` move constructible, but it wasn't feasible in the current codebase. Moving this to SeqAn3.

[2018-01-24 10:53] #2213 closed

[2018-01-24 10:53] #2215 closed

[2018-01-24 12:27] wtwhite commented on #2230
Hi @smehringer, @h-2,

Thank you very much for looking at this and fixing it!  :)

[2018-01-24 12:27] #2230 closed

[2018-01-24 15:28] #2032 closed

[2018-01-24 15:29] xenigmax commented on #2063
@h-2 @rrahn
I think we can close this. Please check the comment above and let me know your opinion.

[2018-01-24 16:22] xenigmax commented on #2114
@h-2 @rrahn

It seems some prior knowledge such as BS-Seq protocol and Illumina simulation process are required to debug this. I tried my best for 2 days but was failed in figuring out the reason.
Unfortunately, the entire architecture of Mason2 is not readily analyzed with my knowledge.

Since you will release 2.4 this week, I suggest postponing this to the next release. And I think It must be co

[2018-01-24 16:43] holtgrewe commented on #2114
Hm, I'll have to look at this but currently I'm drowning in work.

[2018-01-25 07:20] smehringer commented on #2230
@wtwhite Your welcome :) Thanks for catching it.

[2018-01-26 16:37] cpockrandt commented on #1954
Done with #2162

[2018-01-26 16:37] #1954 closed

[2018-01-26 17:00] h-2 commented on #2222
@sagitter Please decide on this ASAP so I can update the documentation shipped with the next release, to tagged on monday! Thanks!

[2018-01-26 17:07] #2193 closed

[2018-01-26 17:13] h-2 commented on #2141
@mr-c  I have tagged seqan-v2.4.0rc0, if you can, please push it to debian-experimental asap. There is one more PR open, but we want to build the actual release packages on Monday and publish the release on Tuesday (unless unexpected things happen).

Thank you very much!

[2018-01-26 17:31] wtwhite opened #2243 "Unclear effect of vertex or edge deletion on Graph descriptors and property maps"
I have an undirected graph stored as a `Graph<Undirected<int>>`, and would like to delete some of its vertices and edges, but am not sure whether vertex and edge descriptors, and property maps based on them, will remain valid.  I think that whatever guarantees are made (or plausible guarantees that are not made) here needs to be documented, but I couldn't find any in either the [`Graph` reference

[2018-01-26 18:29] mr-c commented on #2141
Done! Thanks for the heads up

On Jan 26, 2018 17:13, "Hannes Hauswedell" <notifications@github.com> wrote:

[2018-01-26 19:33] sagitter commented on #2222
`seqan2` is currently provided as

[code]

https://koji.fedoraproject.org/koji/buildinfo?buildID=1017831

[2018-01-26 23:25] h-2 opened #2245 "New platform issues"
:sob:

https://buildd.debian.org/status/package.php?p=seqan2&suite=experimental

- [x] test_align_parallel_data_structures [ppc64el]
- [x] test_demo_tutorial_file_io_overview_solution3 [ppc64el, arm64, s390x, powerpc, ppc64]
- [x] test_demo_tutorial_sam_and_bam_io_example7 [ppc64el, arm64, s390x, powerpc, ppc64]
-  ~~enable UME simd in nightly builds on larix.~~

@rrahn can you look at the first o

[2018-01-26 23:28] rrahn commented on #2245
Not tonight but maybe tomorrow. Got some other issues with some change in simd related code. :unamused:

[2018-01-26 23:29] h-2 commented on #2245
Yeah, me too, definetely not before sunday.

[2018-01-27 00:44] h-2 commented on #2245
#2233 introduced errors 2 & 3, likely an issue of signed/unsigned char over/underflows. Possibly just using `0xFF` instead of `'\xFF'` will already fix this.

[2018-01-27 15:24] rrahn commented on #2245
@h-2 can you please include UME simd 0.8.1 in the nightlies on larix.
I will do it for mac

[2018-01-29 12:49] h-2 commented on #2245
Wow, would you guess the result of this program:
[code]

Once with just g++ and once with `-funsigned-char`?

<details>
  <summary>signed char</summary>

[code]
</details>

<details>
  <summary>unsigned char</summary>

[code]
</details>

That in combination with `typeof(char + char) == int` can really ruin the day.

[2018-01-29 22:37] h-2 commented on #2245
fixed by #2248 and #2249

[2018-01-29 22:41] h-2 commented on #2245
@mr-c Can you give -rc1 a try? Hopefully all new platform issues are resolved now.

PS: Link to to Debian Med was added!

[2018-01-30 10:28] h-2 commented on #2141
@mr-c Can you give -rc1 a try? Thank you very much!

[2018-01-30 11:09] mr-c commented on #2141
Submitted; you are welcome!

2018-01-30 12:28 GMT+02:00 Hannes Hauswedell <notifications@github.com>:

--
Michael R. Crusoe
Co-founder & Lead, Common Workflow Language project
<http://www.commonwl.org/>
Direktorius, VšĮ "Darbo eigos", Vilnius, Lithuania
https://orcid.org/0000-0002-2961-9670
<https://impactstory.org/u/0000-0002-2961-9670>
mrc@commonwl.org
+1 480 627 9108

[2018-01-30 14:13] #2199 closed

[2018-01-30 14:14] #1927 closed

[2018-01-30 16:06] wtwhite commented on #2243
I've been grovelling through the layers of abstraction for a while and have some notes that are hopefully useful to others.  **TL;DR: For undirected graphs, it seems that vertex and edge descriptors remain valid across deletions** -- but that considerable machinery is in place to allow a descriptor-invalidating deletion policy to be used instead, perhaps as simply as by editing graph_interface.h t

[2018-01-30 19:35] fritzsedlazeck commented on #2114
From what I saw it is just offset by the position (I posted that above).
Once I correct for that I can see that it maps and works correctly.
I hope that helps
Cheers
Fritz

[2018-01-31 11:30] #2222 closed

[2018-01-31 11:37] hannespetur commented on #2243
Maybe someone in the SeqAn team can verify, but I think you are absolutely correct. All member functions of the seqan::Graph will assume that the graph is valid (nothing is associated with a non-existing vertex) and implicitly make the graph valid after it is called. These implicit operations should probably be better clarified in the docs. This is not true in some other graph libraries, for examp

[2018-01-31 11:58] h-2 commented on #2141
There are a few failures that all look like out-of-memory to me, except `alpha` which has failed tests now again (although affected code wasn't even modified)...
What can we do about the out-of-mem issues?

[2018-01-31 12:09] mr-c commented on #2141
@h-2 Correct. I can reduce/remove the parallelism (-j4) until we find the sweet spot.

Perhaps a nice goal for 2.5 is reduced memory usage :-)

[2018-01-31 12:46] h-2 commented on #2141
Cool!

There will likely not be a 2.5, because all efforts are going into SeqAn3. More on this soon!

[2018-01-31 12:58] rrahn commented on #2054
I hope this helps to develop file ending wrappers for your use cases.

[2018-01-31 12:58] #2054 closed

[2018-01-31 16:35] h-2 commented on #2245
now we have:
[code]

@rrahn ? I vote for leaving this for 2.4.1 as I really want to release tomorrow.

[2018-01-31 16:39] h-2 commented on #2245
@mr-c I have pushed a new -rc, can you trigger an update? It should include fixes for alpha.

[2018-01-31 16:40] mr-c commented on #2245
@h-2 Sure. From the Debian perspective `alpha` is an unofficial / less supported architecture.

[2018-02-01 08:04] rrahn opened #2256 "Split tests for parallel and sequential algorithms"
Despite being extremely cautious about presuming any reason why some of the parallel tests fail, I would like to try separating the parallel tests from the sequential ones.
This means, that we instantiate 2 ctest instances.
One for the sequential tests and one for the parallel tests.
I am not one hundred percent sure if that is even possible with ctest, but in any case we simply provide two ctest

[2018-02-01 08:49] rrahn commented on #2243
Hi I am truly sorry for coming back to you so late.
First of all I'd like to thank you for diving deep into the code trying to get to the bottom of it.
Unfortunately, the original authors of this module are not maintaining it anymore, hence it can take some time for us to investigate on your issues.
But if I am not mistaken, deleting a vertex or an edge from the Graph should not invalidate the oth

[2018-02-01 10:42] wtwhite commented on #2243
Thanks everyone for looking into this, I realise it's not something that can be solved in 5 minutes!  :)

@hannespetur: I checked `releaseId()` again and you are right that there is no correctness issue there, sorry about that.  There's still an opportunity for more efficiency, but I now think it's minor.  To clarify, I wasn't suggesting that elements should ever be deleted from the middle of `dat

[2018-02-01 10:43] hannespetur opened #2257 "jumpToRegion has trouble finding a read"
Hello SeqAn team,

Thank you for all your hard work. I am writing this issue because I believe I have discovered a bug `seqan::jumpToRegion(...)` in the latest development files of SeqAn. To reproduce my problem, consider the following `test.sam` file with only one read at position 100:

[code]

Convert to BAM and index it:
[code]

I am using (a slightly modified version of the) [BAM indices tutor

[2018-02-01 11:38] rrahn commented on #2257
Hi Hannes,

many thanks for your thorough analysis. We'll investigate this.

[2018-02-01 11:40] rrahn commented on #2207
Still in some rare cases and presumably under heavy load it seems, that there is still some segfaults mostly on SSE4.

[2018-02-01 11:42] #2179 closed

[2018-02-01 12:35] h-2 commented on #2257
@smehringer it looks like you "verschlimmbessert" the situation :laughing:

[2018-02-01 12:51] h-2 commented on #2256
We could do it, but not for 2.4.0

[2018-02-01 13:50] wtwhite opened #2258 "Vertex deletion can give index-out-of-range crash in connectedComponents()"
Deleting a vertex that is not the last (highest-ID) vertex and then calling `connectedComponents()` causes a crash.  This occurs when a `UnionFind` object tries to access an element past the end of its internal `_values` member, a `String`.  The attached MWE turns on `SEQAN_ENABLE_DEBUG` to force an assertion failure; without this, sometimes you see a segfault, sometimes nothing.

The root cause s

[2018-02-01 13:52] rrahn commented on #2256
That's why I tagged it for 2.4.1 😄

[2018-02-02 12:03] #2050 closed

[2018-02-02 12:32] rrahn opened #2263 "SeqAn 2.4.0 Release"
## Checklist

### preparation
  * [ ] freeze the master-branch (forbid everyone from making changes)
  * [ ] make sure that SEQAN_VERSION macros are correct (`include/seqan/version.h`)
  * [ ] make sure that app versions are greater than the last packages on http://packages.seqan.de (set as SEQAN_APP_VERSION in each app's CMakeLists.txt)
  * [ ] write the Changelog is up to date (@cpockrandt)

###

[2018-02-02 12:52] rrahn commented on #2263
The packages can be put into `/group/ag_abi/tmp/seqan-2.4.0`

[2018-02-02 21:45] wtwhite opened #2268 "Commit b09e87e0 causes link error "undefined reference to `pthread_create'" on Linux"
On Linux, SeqAn seems to need libpthread for multithreaded BAM file I/O (at least).  But since commit b09e87e0 (I think; I haven't tried git bisect to verify), using any SeqAn code that needs libpthread leads to the linker error "undefined reference to `pthread_create'".

TTBOMK, the reason is: Prior to commit b09e87e0, libpthread was included by appending `pthread` to `SEQAN_LIBRARIES` in CMakeLi

[2018-02-05 09:23] smehringer opened #2269 "[APPS] Flexbar installation seems broken."
`From the Mailing list:`

Dear Seqan team,

I am a Postdoc in Freiburg, Germany, trying to install flexbar since
days.

Unfortunately the installation of flexabr-3.0.3 doesn't work.
cmake . works
but make creates various errors
1. tbb not found - could be resolved by sudo apt install libtbb-dev
2. seqan/basic.h not found creates various problems
but even if seqan 1.4.2 is installed like flexbar re

[2018-02-05 10:43] rrahn opened #2271 "Add banded wavefront DP"

[2018-02-05 12:03] sagitter opened #2272 "[seqan 2.4.0] app_test_fiona failed"
Hi all.

`app_test_fiona` test is failing on `Fedora` with following error on `x86_64` architecture only:

[code]

System: Fedora 28 (devel branch)
GCC 8
seqan-2.4.0
Full build log: https://paste.fedoraproject.org/paste/pz-nYVyHhOpx-4nc9snGsw

[2018-02-05 14:06] h-2 commented on #2263
Downstream update for FreeBSD submitted:
https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=225682

[2018-02-05 14:32] h-2 commented on #2272
Wow, that's strange. x86_64 is very well tested here. The build is without debugging symbols?

[2018-02-05 14:36] h-2 commented on #2272
Is that the only failure you have?

[2018-02-05 14:37] h-2 commented on #2245
now there are some new issues again, one on `powerpc` and one on `armel`. I really don't understand why these pop up and disappear every random build, but they can't be fixed for 2.4.0 anymore.

Moving these to 2.4.1 and assigning to @rrahn.

[2018-02-05 14:47] h-2 commented on #2263
@rrahn It seems that homebrew/science is been deprecated, and that seqan (the library) migrated to homebrew core and that seqan-apps disappeared. Could you (or another mac user) investigate what the correct procedure now is?

[2018-02-05 15:36] h-2 commented on #2263
contrary to the above checkbox the manual was not built. It is broken, but I am working on it.

[2018-02-05 15:46] rrahn commented on #2263
???

[2018-02-05 16:12] h-2 commented on #2268
Are you building statically or dynamically? Are you referring to SeqAn's internal apps/tests or your own application?

Linking pthread on Linux is severely broken, but we want through a lot of trouble to get things right the last time. We are testing on Debian stable, and also an ancient CentOS version. Furthermore the integration and app tests pass on current Debian via their infrastructure and o

[2018-02-06 10:11] rrahn opened #2274 "Variable length SIMD for bands"

[2018-02-06 14:04] h-2 commented on #2269
Flexbar is not maintained by us, by @jtroehr . I have replied via e-mail and am closing this here (if it is still an issue, it can be opened at https://github.com/seqan/flexbar

[2018-02-06 14:04] #2269 closed

[2018-02-06 15:55] h-2 opened #2275 "new GCC8 warnings"
We have just started getting a huge amount of new warnings with GCC8, @cpockrandt can you report this upstream? Likely a regression on their side, but it would be good to have it fixed before the release of GCC-8 which means we need to report it ASAP!

The warnigns appeared between `8.0.1.s20180121` and `8.0.1.s20180128`

[2018-02-06 19:19] wtwhite commented on #2268
Hi, thanks for getting back to me.

I'm referring to building a simple application of my own, using a few-days-old `develop` branch of SeqAn with the 2-line fix in https://github.com/seqan/seqan/pull/2266 on top of it.  I'm using CMake on a reasonably recent Ubuntu inside a VirtualBox on Windows:

[code]

It sounds like you guys are having no problems with builds so it could certainly be something

[2018-02-07 13:12] h-2 commented on #2268
I have had no problems building the above example with seqan-2.4.0:
[code]

This is on debian oldstable:
[code]

But I will also try on Ubuntu if I find an install here somewhere.

[2018-02-07 13:29] h-2 commented on #2268
Can you check with seqan-2.4.0 whether just replacing ` CMAKE_EXE_LINKER_FLAGS` with `SEQAN_LIBRARIES` in l.310 of seqan-config.cmake fixes the problem for you? It does work here and I could change it if it makes it work for you.

[note that is is not the same as specifying `-DSEQAN_LIBRARIES="pthread...` as you wrote above, because we have this whole-archive voodoo additionally]

[2018-02-07 13:59] wtwhite commented on #2268
Thanks for looking at this.

Building with branch `seqan-v2.4.0-rc2` checked out gives the same error message, I'm afraid.  Changing (both instances of) `CMAKE_EXE_LINKER_FLAGS` to `SEQAN_LIBRARIES` on line 310 of seqan-config.cmake *does* result in a successful build, so that's good news, but I'm a bit concerned by the whole-archive cruft now appearing there, which will probably break anything ex

[2018-02-07 14:21] wtwhite commented on #2268
I've found the problem.  It's somehow caused by "clock skew" -- the phenomenon where a filesystem reports modification times "in the future", which can confuse `make`.

So far, I've been building in a directory that is actually mounted into the Linux VM guest from the Windows host, whose system clock is running 0.5-2s ahead of the Linux guest, and this produces clock skew warnings (visible in the

[2018-02-07 15:02] h-2 commented on #2268
The entire build and linkage process on unix is broken IMHO. It's one of the reasons people now bundle trimmed down operating systems with their binaries (Docker...).

I agree.

Yeah, I don't like it either, that's exactly why I moved it to the linker arguments – however I don't think we have any other options here. We need whole-archive in case of static builds, because modern C++ uses pthread fu

[2018-02-07 15:14] h-2 opened #2276 "Debian/Ubuntu package installs cmake file in wrong directory"
Currently:, `/usr/share/cmake/seqan-config.cmake`

This is apparently not searched by cmake :disappointed:

The manual states that these dirs are searched:
[code]

So the following would be ok for example:
`/usr/share/cmake/seqan/seqan-config.cmake`
`/usr/share/seqan/seqan-config.cmake`
`/usr/share/seqan/cmake/seqan-config.cmake`

@mr-c Are you specifying the target directory manually? Since #2058

[2018-02-07 17:13] wtwhite commented on #2268
I just realised that my claim to have found the problem was wrong!  Clock skew has nothing to do with it.  Sorry for the confusion...

That is: I **can** reproduce the link error with the MWE even on a local filesystem where there is no clock skew.  (My mistake was that I forgot to undo the change to line 310 of `seqan-config.cmake` before trying to build...)  So the underlying cause of the link e

[2018-02-07 17:54] #2258 closed

[2018-02-08 12:50] h-2 commented on #2245
@mr-c amd64 is now failing because of timeouts. Maybe the result of your reduction in threads?

[2018-02-08 13:21] h-2 commented on #2275
Also not all the warnings are new, these ones are older:
http://cdash.seqan.de/viewBuildError.php?type=1&buildid=256744

[2018-02-08 13:44] mr-c commented on #2245
@h-2 Yep, already submitted :-) https://tracker.debian.org/news/930829

[2018-02-08 14:04] mr-c commented on #2276
@h-2 Yes, I had to manually specify `util/cmake/seqan-config.cmake   usr/share/cmake/` as otherwise it didn't install.

[2018-02-08 14:31] Xethic opened #2278 "Wrong type of BamAlignmentRecord member ::seq"
Hi,

while using objects of class _BamAlignmentRecord_ I stumbled across the member **"seq"** being of type _IupacString_ (both 2.4.0 and 2.3.2).

However, the documentation clearly states that this should be a _CharString_. I know that an object of type _IupacString_ is convertible to _CharString_ but in certain cases this causes issues.

This is an excerpt from the documentation in file bam_alig

[2018-02-08 16:04] h-2 commented on #2276
Hm, I have looked at the Debian scripts, and it seems you are doing most of the actual packaging manually by copying the files and doing sed on some of them. Is there a particular reason for not using the cmake-targets?
E.G. for `libseqan2-dev`, it would be `SEQAN_BUILD_SYSTEM=SEQAN_RELEASE_LIBRARY`. It ensures that all the CMAKE variables are replaced in the files and also uses the aforementioned

[2018-02-08 17:15] mr-c commented on #2276
E.G. for libseqan2-dev, it would be SEQAN_BUILD_SYSTEM=SEQAN_RELEASE_LIBRARY.

No particular reason; I think too much else was "on fire" to polish that. I'm trying that out now, so far it looks good, thanks!

[2018-02-08 17:17] mr-c commented on #2276
From https://buildd.debian.org/status/fetch.php?pkg=seqan2&arch=mips&ver=2.4.0%2Bdfsg-3&stamp=1518109921&raw=0 which has no build parallelism

cd /<<BUILDDIR>>/seqan2-2.4.0+dfsg/obj-mips-linux-gnu/tests/seeds && /usr/bin/c++  -DSEQAN_DISABLE_VERSION_CHECK -DSEQAN_ENABLE_TESTING=1 -DSEQAN_HAS_BZIP2=1 -DSEQAN_HAS_EXECINFO=1 -DSEQAN_HAS_OPENMP=1 -DSEQAN_HAS_ZLIB=1 -D_FILE_OFFSET_BITS=64 -D_LARGEFILE_

[2018-02-08 17:26] mr-c commented on #2276
@h-2 Ah, I remember the problem now. We can't combine `-DSEQAN_BUILD_SYSTEM=SEQAN_RELEASE_LIBRARY` and `-DSEQAN_BUILD_SYSTEM=SEQAN_RELEASE_APPS` in a single build :-/

[2018-02-09 10:02] cpockrandt commented on #2275
@h-2 Done. Here' the meta-bug that references all these kind of errors:

https://gcc.gnu.org/bugzilla/show_bug.cgi?id=24639

[2018-02-09 11:50] mr-c opened #2279 "unix manual page generation errors"
<pre>
W: seqan-apps: manpage-has-errors-from-man usr/share/man/man1/micro_razers.1.gz 47: warning: macro `N'' not defined
N:
N:    This man page provokes warnings or errors from man.
[…]
N:    Other warnings are often formatting typos, like missing quotes around a
N:    string argument to .IP. These are likely to result in lost or malformed
N:    output. See the groff_man (or groff_mdoc if using m

[2018-02-09 13:23] h-2 commented on #2276
But can't you make two successive builds? Or even two independent ones? I mean, I have no strong feelings either way, I just thought it could reduce the maintenance overhead.

In any case the install path of the cmake file needs to be adapted!

[2018-02-09 16:20] h-2 commented on #2279
@smehringer Since you have some experience with the man pages, can you have a look?

[2018-02-09 16:21] h-2 commented on #2275
This is only for the old issue, not the new one, right?

[2018-02-10 17:42] mr-c opened #2280 "generated CTD missing required ctdVersion field"
https://github.com/WorkflowConversion/CTDSchema/blob/master/CTD.xsd#L64

See also https://github.com/WorkflowConversion/CTDConverter/issues/35

  - [ ] ctdVersion not written
  - [ ] insegt: `UserWarning: Restriction [gff] of a single value found for parameter [fusion-output].`
  - [ ] flexbar: `Invalid default value(s) provided for parameter barcode-min-overlap of type <type 'int'>: ''`

[2018-02-10 17:57] mr-c commented on #2280
[code]

[2018-02-10 18:44] mr-c commented on #2276
@h-2 Not really. Could we have another `SEQAN_BUILD_SYSTEM` that does it all?

I've fixed the path of the cmake file already: https://tracker.debian.org/media/packages/s/seqan2/changelog-2.4.0dfsg-4

[2018-02-11 01:02] jduerstock opened #2281 "seqan2 fails to build on Linux/ia64"
Because ia64 uses "nop 0" rather than "nop", seqan fails to build on Linux/ia64.

From include/seqan/parallel/parallel_lock.h:
[code]

Is there a reason YieldProcessor() doesn't just use "{};" or "return;" rather than resorting to asm() calls when there's nothing to do?

[2018-02-11 10:09] h-2 commented on #2280
Assigning @smehringer as the person working on the arg parser.

@mr-c: Could you create a check-list with issues you found? I have already started with it :)

[2018-02-11 10:18] h-2 commented on #2280
@mr-c In general I am not too happy with the CTDs, but we will still support them in SeqAn3. If, however, you have a superior standardised format from the CWL project we would be very open to contributions, though! Or we could maybe have a student implement another format at some point...

[2018-02-11 10:21] h-2 commented on #2281
We had actually had successful builds on ia64 before :thinking:

@rrahn What's up with the asm nop, why do we need it?

[2018-02-11 10:28] mr-c commented on #2280
@h-2 People seem pretty happy with http://www.commonwl.org/v1.0/CommandLineTool.html :-)
V1.0.x doesn't include value restrictions, but they could be developed as an extension which would inform a future version.

In fact I met an OpenMS / CTD person two days ago at the ELIXIR Tools platform meeting; between him and others I expect there will be a proposal for extending CWL for value restrictions

[2018-02-11 10:36] mr-c commented on #2263
Debian packages are done. Flexbar recompiled fine, but as reported privately, Seqan 2.4.0 breaks lambda (stable version 1.0.2). Where is it documented that 2.4.0 isn't backwards compatible with 2.3.x ? Is there an upgrade guide from 2.3.x to 2.4?

[2018-02-11 10:43] sagitter commented on #2263
Seqan 2.4.0 is ready for testing on Fedora: https://bodhi.fedoraproject.org/updates/?packages=seqan2

[2018-02-11 13:19] SoapGentoo commented on #2263
2.4.0 added to Gentoo: https://gitweb.gentoo.org/repo/gentoo.git/commit/?id=3155495650f555369e58b58f54fc6766e9691f20
Found a few minor niggles that would be nice to have fixed in 2.4.1: https://github.com/seqan/seqan/pull/2282

[2018-02-11 19:12] h-2 commented on #2263
Thanks a lot everyone! :heart:

Lambda uses some undocumented and internal functionality of SeqAn that is not guaranteed to be stable. I somehow managed to forget testing lambda's stable branch before the release, the unstable branch was fixed be compatible with the internal changes. I will fix this ASAP, but I have also suggested to have Debian SID track the development branch on Lambda (which wo

[2018-02-12 08:04] rrahn commented on #2281
Hi, yes there is. We use a spin lock with hybrid spinning strategy (a combination of active and passive spinning). To prevent the compiler to optimise away the active spinning phase we use a instruction that does nothing but forces a tiny delay with a fixed number of idle cycles of the processor.
@jduerstock What you are referring to is actually a hard fallback, which might lead to unexpected long

[2018-02-12 09:28] rrahn commented on #2280
@mr-c I am in contact with the OpenMS guys. Probably we'll sketch and implement it together.
However, the ctdversion issues seems to be in SeqAn since the beginning 😭
That we can fix easily for 2.4.1. Regarding flexbar, this is an external project, but we will have a look.

[2018-02-12 09:31] mr-c commented on #2280
@rrahn Thank you for the update!

[2018-02-12 10:08] jduerstock commented on #2281
No, IA64 does not support SSE2.

This is building under Debian sid, which uses CMake and gcc 7.3.0.  The full build log is here:

https://buildd.debian.org/status/fetch.php?pkg=seqan2&arch=ia64&ver=2.4.0%2Bdfsg-5&stamp=1518354962&raw=0

[2018-02-12 10:42] rrahn commented on #2281
🤔 well, not sure why we did not see this before.
Can you make PR for IA64 with adding another macro check for IA64 before the SSE2 check adding the `nop 0` instruction.

[2018-02-12 13:54] mr-c opened #2283 "Request: method to run tests using system installed seqan-apps and Seqan headers"
Debian can use this to check the functionality without recompiling the packages. For example, this can catch regressions from any of the libraries that are dynamically linked in.

When we run these tests we have the entire source tree available. Ideally something like the following would work:

[code]

Does that seem feasible? I'm not clever with CMAKE, so I don't know how to go about this myself.

[2018-02-12 14:02] rrahn commented on #2283
Please correct me if I am wrong, but you want the `test_installed_binaries_and_headers` to run some tests using the preinstalled headers/binaries (from the debian package manager) without compiling the sources? As if it were the user perspective that is using the apps/lib?

[2018-02-12 14:06] mr-c commented on #2283
@rrahn Correct. Binaries should be located from the system path and the seqan headers from `/usr/include/seqan`

[2018-02-12 14:47] rrahn commented on #2283
@mr-c that is actually something I had in mind quite some time now, in order to do continuous deployment/delivery, including a self-testing procedure for the packaged binaries.
Working one this would be a milestone for the SeqAn3 life cycle were we will separate the apps from the library as external contributions (though still in-house apps).
But it is likely, that we don't add this for SeqAn2, si

[2018-02-12 14:55] mr-c commented on #2283
@rrahn We can add reasonable sized patches as part of Debian packaging. So if there is a simple thing that could be done with 2.4.x then we would gladly accept and use it. Should be simple path changes, yes?

Otherwise we look forward to 3.0!

[2018-02-12 15:09] rrahn commented on #2283
Mhmm, it should be working already with SeqAn2.
I will have a look at it.

[2018-02-12 15:41] jduerstock commented on #2281
IA64 was just recently reinstated as an unofficial architecture for debian-ports with in the past couple of months, which is probably why you hadn't heard about it before now.

I know you don't control the Debian packaging portion of things, but the current build status for seqan on all supported Debian architectures is available here: https://buildd.debian.org/status/package.php?p=seqan2&suite=si

[2018-02-12 16:18] mr-c commented on #2281
Thank you @jduerstock for the context. I'm one of the Debian packagers for seqan and I've been working closely and extensively with @h-2, @rrahn, and the rest of the team on architecture support.

[2018-02-12 16:33] smehringer commented on #2280
@rrahn Which ctdVersion do we support?

[2018-02-13 22:24] cpockrandt commented on #2275
The remaining warnings are the ones that I reported in the bug issue above (triggered by the same line). Since the issue is not closed yet, I guess we've to wait a little longer.

[2018-02-15 15:17] wtwhite opened #2287 "Example code for Align docs says one thing and does another"
The documentation at http://docs.seqan.de/seqan/master/class_Gaps.html gives some nice example code, but in the last line before the `return;` in `main()` there is a small but confusing error: The program says it will output something, but outputs something else!

[code]

Changing both numbers to 5 would be more informative than changing them both to 6, since then we could see how positions within

[2018-02-15 15:46] wtwhite commented on #2287
The description of `toSourcePosition()`'s behaviour is given on the [Alignment (Gaps) tutorial page](http://seqan.readthedocs.io/en/master/Tutorial/DataStructures/Alignment/AlignmentGaps.html):

This doesn't say what happens for a gap past the end of the source string; my guess is that it would result in the position one past the end of the source string being returned.

[2018-02-15 16:30] wtwhite opened #2288 "StringSet tutorial example uses deprecated functions like positionToId()"
The "Working with StringSets" section of the [StringSet tutorial page](http://seqan.readthedocs.io/en/master/Tutorial/DataStructures/Sequence/StringSets.html) explains how to use several functions like `positionToId()`, although these functions are listed as deprecated in the `StringSet` docs.  If the functions really are deprecated, then the tutorial page is misleading; if they aren't (perhaps th

[2018-02-16 07:30] smehringer commented on #2288
HI @wtwhite,
thanks for reporting this.

@h-2 I remember we had troubles with the StringSets, but I think the bottom line was that the `Dependent<Tight>` StringSet should in fact **not** be deprecated?

[2018-02-16 13:04] mr-c commented on #2283
Some progress:

[code]

All tests pass, except for `fiona_illumina` which is not installed

[2018-02-16 13:33] mr-c commented on #2276
I think this issue can be closed: https://packages.debian.org/sid/amd64/libseqan2-dev/filelist

[2018-02-16 14:19] wtwhite opened #2289 "AlignmentGraph tutorial refers to undocumented 3-parameter version of addVertex()"
The [Alignment (Graph) tutorial page](http://seqan.readthedocs.io/en/master/Tutorial/DataStructures/Alignment/AlignmentGraph.html) makes heavy use of a 3-argument form of `addVertex()` that takes start position and length parameters in addition to the usual graph parameter.  I could not find any such function listed on the [Graph docs page](http://docs.seqan.de/seqan/master/?p=Graph#addVertex) (th

[2018-02-16 18:23] h-2 commented on #2276
We have the `DEVELOP` target that builds everything, but it doesn't install :disappointed:
I would prefer not to make any more structural changes in the Seqan2-build-system

[2018-02-16 18:23] h-2 commented on #2276
Cool, thanks!

[2018-02-16 18:25] h-2 commented on #2276
Actually, no. The cmake file is still: `/usr/share/cmake/seqan-config.cmake`

As noted in my initial post, this directory is not searched.

[2018-02-18 09:47] mr-c commented on #2281
Hey @rrahn , checking the build logs, `ia64` wasn't around for much of our testing and was failing the whole time when it was present
https://buildd.debian.org/status/logs.php?pkg=seqan2&arch=ia64
vs
https://buildd.debian.org/status/logs.php?pkg=seqan2&arch=amd64

[2018-02-18 13:04] mr-c commented on #2276
Finally fixed in https://packages.debian.org/sid/any/libseqan2-dev/filelist

[2018-02-18 18:10] h-2 commented on #2276
Now you are installing two:
[code]
Is that intentional?

[2018-02-19 06:58] mr-c commented on #2276
@h-2, yeah I saw that. Not intentional, but I'm not in a hurry to fix it either. Trying not to wear down our build machines 😂

[2018-02-19 07:08] mr-c commented on #2276
And the mips* builds are restored thanks to Adrian Bunk <bunk@debian.org> by reducing the amount of debugging symbols preserved with `-g1` on those platforms.

[2018-02-19 12:35] rrahn commented on #2281
@mr-c many thanks for the info. I hope I'll can free some time next week and take a closer look.

[2018-02-19 16:01] xenigmax commented on #1930
Here are some updates regarding this function.

https://github.com/iqbal-lab-org/gramtools
https://github.com/COMBINE-lab/pufferfish

[2018-02-21 12:33] rrahn commented on #2281
@mr-c that would be really great. This makes testing of the fix much more easier.
I look into it next week. many thanks.

[2018-02-21 15:02] jrtc27 commented on #2281
Yeah that's not going to be true for any modern processor. Why not just do `asm volatile ("" ::: "memory");`?

[2018-02-22 16:08] mr-c opened #2291 "Allow seqan to be a dynamic library?"
https://vittorioromeo.info/index/blog/2016_cpp_library_configuration_api.html

This would be great for Debian as it would speed up our builds and allow us to fix bugs and security issues faster.

Once multiple code paths for different processors are figured out then all seqan using apps would automatically benefit

However I am not an expert in this area at all, so I defer to the Seqan team's judg

[2018-02-23 09:34] marehr commented on #2291
Hi mr-c,

thank you for your input. We had some ideas in that direction.

We had a couple of discussions regard this, because seqan takes for ever to build and some modules blow up to a couple of gigabyte memory consumption.

We have some  major problems:
* Almost all our functions use templates and those can't be put into a linkable `.cpp` file. We rarely fully define a type, function or class th

[2018-02-23 09:37] marehr commented on #2283
Great!

[2018-02-26 02:21] mstankus opened #2292 "www.seqan.de web links not working"
The web site www.seqn.de is nicely laid out, but almost none of the links
actually work. For instance, click on the "Data Structures" link which has
an image of a trophy near it. It does not work.

[2018-02-26 09:36] rrahn commented on #2292
@mstankus many thanks for reporting the defect.
We are currently working on it to get the full functionality back.

[2018-02-26 09:51] rrahn commented on #2289
@wtwhite many thanks for reporting this.

[2018-02-26 12:31] h-2 commented on #2291
I agree with @marehr's points. It is not possible in general, because SeqAn is a template library and not a regular library. Instantiating all *relevant* codepaths (which wouldn't even be all possible codepaths) would likely result in a shared object file of over hundreds of MBs. Applications like Lambda that instantiate a relevant, but not exhaustive part of SeqAn weere already over 30MB binary s

[2018-03-10 17:54] h-2 commented on #2263
FreeBSD ports finally up2date, too.

[2018-03-10 18:43] mr-c commented on #2245
a hint about sparc64:

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=892223

https://docs.oracle.com/cd/E19253-01/816-4854/hwovr-2/index.html

[2018-03-10 18:55] rrahn commented on #2245
Mhmmm, many of the failed tests seem to do some sort of I/O. Maybe this is related to reading binary data from disk?
@mr-c Are always the same tests failing or is it random?

[2018-03-10 18:59] mr-c commented on #2245
Seems that SIGBUS is about memory access alignment errors, not IO. My feeling is that it is the same tests that fail, but I haven't looked.

[2018-03-17 23:34] dridk opened #2296 "Cannot convert IupacString to C String"
I would like to convert seqan::IupacString to QString or std::string... Unsucessfully. Any idea ?

            seqan::IupacString str = rec.seq; // ok
            std::cout<<str<<std::endl; // ok
            seqan::toCString(str); // ok
            const char * test = seqan::toCString(str); // !!!! not ok

/home/sacha/Dev/bamviewer/bamviewer.cpp:182: erreur : cannot convert ‘seqan::SimpleType<unsi

[2018-03-18 17:14] trig-ger opened #2297 "bad_alloc when using iterator with Index<String<int>, IndexWotd<>>"
I'm trying to work with int strings (not char), so the max value for unsigned int is >4 billion.
Iterator is created OK with `Index<String<int>, IndexEsa<>>`, but triggers **bad_alloc** with `Index<String<int>, IndexWotd<>>` trying to allocate >4e9 elements. How to iterate `String<int>` suffix tree index then?

Here is an example code:

    #include "seqan/index.h"

    #include <iostream>

    us

[2018-03-18 23:27] dridk commented on #2296
Ok, I resolved myself .

         std::stringstream stream;
         stream << record.seq;
         stream.str() // return std::string

[2018-03-18 23:27] #2296 closed

[2018-03-22 10:54] rrahn commented on #2297
Thanks for reporting. We just came back from a retreat, so we will investigate this next week.

[2018-03-30 11:06] KolmogorovSmirnov opened #2300 "Probable bug in bidirectional iterators"
The implementation of goDown seems to be incorrect when the following conditions are met

- The iterator uses an underlying bidirectional FM index

- The thrid argument is Rev() (that is, we are going down the suffix tree, or equivalently expanding the pattern to the right)

- The second parameter is a string of many characters (as opposed to one character, or no second parameter

Consider this si

[2018-03-30 20:58] dridk opened #2301 "compile seqan on windows with Qt and mingw"
Hi,

I didn't success to compile a"Qt hello word" with seqan.
Here is my try : https://github.com/dridk/seqanwinqt
Bellow are my compile error. If you resolve my issue, you win all my respect  :D

### Using mingw 5.3 32 bits :

[code]

### Using MSVC2015 64 bits

[code]

[2018-03-31 00:11] dridk commented on #2301
After setting :

        DEFINES += "SEQAN_ASYNC_IO=0"

I pass the aio.h error and get a new one :

        error: sys/mman.h: No such file or directory

[2018-03-31 00:13] dridk commented on #2301
After removing :

        // #include <sys/mman.h>

I get lot a new error :

[code]

[2018-03-31 00:28] KolmogorovSmirnov commented on #2300
Now I have a problem with simple iterators as well ! Can someone please tell me if this a genuine bug, or if I am simply not understanding the doc ? The program is as follows :

#include <iostream>
#include <string.h>
#include <seqan/basic.h>
#include <seqan/sequence.h>
#include <seqan/stream.h>
#include <seqan/index.h>
using namespace std;
using namespace seqan;

typedef Index<String<Dna5> > TInd

[2018-03-31 00:39] dridk commented on #2301
I finally success to compile win mingw32 by removing codes from seqan... It's ugly, and I don't know what it does.
If you want to see what I changed in seqan :

https://github.com/labsquare/bamviewer-poc/compare/win

[2018-04-01 00:45] KolmogorovSmirnov commented on #2300
Please find below a cleaer code, that does not use an index saved on the hard drive :

``
#include <iostream>
#include <string.h>
#include <seqan/basic.h>
#include <seqan/sequence.h>
#include <seqan/stream.h>
#include <seqan/index.h>
using namespace std;
using namespace seqan;

typedef FastFMIndexConfig<void, uint32_t> TFastConfig;
typedef Index<String<Dna5>, BidirectionalIndex<FMIndex<void, TFast

[2018-04-01 14:19] cpockrandt commented on #2300
Dear @KolmogorovSmirnov,

thanks for reporting it. I've looked into this and it seems to be a bug. I'll let you know as soon as I opened a pull request with a fix.

[2018-04-01 17:39] cpockrandt commented on #2300
Dear @KolmogorovSmirnov,

there's a pull request with a fix (see #2302). It might take a few days until this PR goes into the develop branch. You might want to checkout my commit instead until then.

[2018-04-02 20:16] KolmogorovSmirnov commented on #2300
Thanks for your answer. However I am quite confused now as what is the function goUp supposed to do. is it supposed to

- goUp in the history (true undo operation)

- goUp in the tree (i.e get the parent node) ?

The behavior with bidirectional iterators, and your SEQAN_ASSERT_EQ,  indicates that is the first case.
But the behavior with unidirectional iterators indicates that is the second case, a

[2018-04-03 16:25] cpockrandt commented on #2300
I get the exact same behaviour with a unidirectional FM index. The behavior depens on the kind of index you use, i.e. tree or trie.

If you use an enhanced suffix array, goUp will go up an edge in suffix tree.
For FM indices, goUp might go up several edges if you called goDown with a string.

[2018-04-03 16:48] cpockrandt commented on #2297
Hi @trig-ger,

build a Wotd on 32bit integers requires about 32 GB of main memory. Your bad_alloc error means that you're running out of memory. I'm afraid there is currently no way to index such large alphabets in SeqAn since our indices are optimized for small alphabet sizes. You can find a number of indices for large alphabets in the [SDSL](https://github.com/simongog/sdsl-lite)

[2018-04-03 18:59] trig-ger commented on #2297
Hi,
maybe `std::unordered_map` can help (if the matter is in ~O(N) access to each alphabet letter)?

Btw I'm currently trying to construct the SDSL suffix tree structure `cst_sct3<csa_bitcompressed<int_alphabet<>>> tree;` but without success: it gives an error on `construct_im(tree, vec)` where `int_vector<32> vec(size)` is filled at runtime.
Have yout ever tried to use big alphabets (int) in SDSL

[2018-04-03 20:05] cpockrandt commented on #2297
You mean in the implementation of our Wotd index? We just released our last (major) release for SeqAn2. I doubt that we will make any design/implementation changes to our data structures in SeqAn2

Could you post your code with the error message?

[2018-04-06 14:27] wtwhite opened #2303 "writeRecords(..., DotDrawing) is called write() in the docs"
[The tutorial](http://seqan.readthedocs.io/en/master/Tutorial/DataStructures/Graphs.html#graph-basics) indicates that a `Graph` can be written out in the Dot format with, for example:

    writeRecords(dotFile, g, DotDrawing());

This does work, but searching the docs for a function named `writeRecords()` that applies to graphs produces nothing.  This seems to be because the documentation (beginni

[2018-04-08 19:29] trig-ger commented on #2297
I get the same output only if I use std::ostringstream:

        std::ostringstream ss;

        for (size_t i = 0; i != vec.size(); ++i) {
            ss << vec[i];
            if (i + 1 < vec.size())
                ss << " ";
        }

        construct_im(cst, ss.str().c_str(), 'd');

Maybe we have different versions of sdsl-lite? Last commit of my version is 8f5245ff (2017-12-11). Kubuntu 16

[2018-04-08 20:25] cpockrandt commented on #2297
Yes, you're right. I was using the unstable version. I couldn't get it working quickly with the stable release. You can open an issue there or you use the unstable release: [xxsds/sdsl-lite](https://github.com/xxsds/sdsl-lite)

[2018-04-10 07:46] #2257 closed

[2018-04-10 08:45] KolmogorovSmirnov commented on #2300
Thanks I think I understand now, but shouldn't the doc be updated since it says that for goUp

which is non-true for FM indices ?

[2018-04-10 16:24] rrahn opened #2304 "Mason 0.1.2 vs mason 2 issues. Help / bug?"
Hi,

I'm attempting to run mason on a cluster with 64gb of ram.

When I attempt to run mason 2 using the whole human genome, I run into

(Uncaught exception of type MasonIOException: Could not open SAM/BAM output file.)

This error does not occur if I REMOVE the -oa alignment.sam
portion, it runs and creates the fasta file it if it doesn't have to create the sam, however I require the same.

This

[2018-04-10 20:13] holtgrewe commented on #2304
Well, it would be best to direct the author of the question here. This ticket is missing about all the necessary information:

1. What exactly did the ticket author do?
2. What did they expect?
3. What did happen instead?
4. What is the full information about the operating system.

A fresh build:

[code]

Then, the following succeeds:

[code]
Similarly, the following official builds work.

[code]

[2018-04-19 11:51] #2297 closed

[2018-04-19 11:51] cpockrandt commented on #2297
If you have any further question, feel free to reopen this issue or create a new one!

[2018-04-24 16:15] Chushuhuch opened #2306 "Invalid quality read from fastq files"
The call `seqan::readRecords(meta, seqs, quals, file);` on a fastq file places into `quals` strings of only `ACGT` characters replacing everything else with `A`. I'm expecting a full range of Phred score with correct correspondence between characters and ords.

I am testing this on an old 2.1.1 version but there seem to be no related changes in the newer ones.

Also the documentation for `DnaQ` co

[2018-04-26 16:20] wtwhite opened #2307 "Is there a way to use toSourcePosition() and toViewPosition() without loading a large reference sequence into memory?"
I'm dealing with BAM files containing many reads mapped to a single long reference sequence (the human genome).  I would like to use the nice SeqAn functions `toSourcePosition()` and `toViewPosition()` to convert between positions in the read and positions in the reference, *without* having to load the reference sequence into memory, but I can't find a way to do this (aside from rolling my own sol

[2018-04-30 01:20] hannespetur opened #2308 "Help on enabling SIMD vectorization"
Hello SeqAn team,

I am interested in benchmarking sequence alignment in SeqAn and comparing it to my own and other implementations. The plan is to run several pairwise alignment algorithms using different SIMD processor extensions and compare CPU time and memory usage. But I am having some issues enabling SIMD vectorisation in SeqAn. I am not seeing the expected improvements of using SIMD extensi

[2018-05-03 10:59] h-2 commented on #2301
@dridk Thanks for working on this! We would be interested in merging this, but only if you can provide a clean pull-request against our develop-branch and all tests pass (in edge cases some tests might also be be disabled, but not only for very minor things).

[2018-05-03 11:01] h-2 commented on #2306
We haven't seen anything like this, FastQ is in regular use by many apps and we have nightly tests...

Can you provide a minimal test and an example file that reproduce this behaviour?

[2018-05-03 11:06] h-2 commented on #2307
Your assessment is correct, *in theory* it would not be needed, but in practice it is :(
You might be able to hack around it, but it's probably not easier than rolling your own. Something that might work is to use an external string for the genome, that at least guarantees that it won't be kept in memory. However, `bamRecordToAlignment()` might still want to parse it whichi would incur a strong ru

[2018-05-03 11:07] h-2 commented on #2308
@marehr Can you help?

[2018-05-03 13:11] Chushuhuch commented on #2306
Sure. My full code snippet:
[code]
"sequence_io_test_data.fastq" file contents:
[code]
The code outputs `ACGTAAAAAAAAAAAAAGAAA`.

[2018-05-03 15:34] Chushuhuch commented on #2306
Thank you! This works.

[2018-05-03 15:34] #2306 closed

[2018-05-03 22:37] marehr commented on #2308
I can try to help :)

I think @rrahn didn't document how to use the interface, yet.

First a couple of questions/remarks:
* You want to compute ONE big alignment? And not a dozen alignments?
* Why are you setting `-m64`? This might disable SIMD vectorization. Your compiler reads the flags from left to right and your most specific flag e.g. `-msse4` might overwrite `-m64` which could disable SIMD a

[2018-05-05 02:25] hannespetur commented on #2308
Yes, one. I am doing more than one alignments but I want to measure the time of each pair-wise alignment in several different scenarios.

I will remove the m64 flag but in my experience it does not overwrite the SIMD vectorization flags.

Ok, good to know. I wish I had an avx512 processor but unfortunately I am not that lucky :sweat_smile:

Yes I used globalAlignment intentionally because I am int

[2018-05-07 20:49] lkuchenb commented on #2055
I have submitted PR #2309, which fixes this issue.

[2018-05-07 21:00] holtgrewe commented on #2304
I think this can be closed.

[2018-05-10 22:49] standage opened #2310 "Canonical hash of a DNA sequence"
Greetings!

I'm curious if there is any convenient way of computing the canonical hash of a DNA sequence (such that the sequence and its reverse complement hash to the same value)? Or is this left as an exercise to the user?  :-) Such as by hashing the lexicographically smaller of the two.

Thanks!

[2018-05-10 23:35] cpockrandt commented on #2310
Hi @standage

As far as I know we don't have this in SeqAn. Maybe @eseiler is aware of such a hash function in SeqAn? I guess the easiest way, as you suggested, is to check the lexicographical using a ReverseComplement-ModifiedString and then compute the hash value on the smaller one.

[2018-05-10 23:48] standage commented on #2310
Thanks!

[2018-05-10 23:48] #2310 closed

[2018-05-16 08:44] codemeleon opened #2311 "mason_simulator core dump error"
Hi,

When I execute following command

`./mason_simulator -n 100000000 -o left.fq -or right.fq -ir ref.fa -iv test.vcf`

I get error "Opening reference and variants file ...Segmentation fault (core dumped)".

If I don't input vcf file, it runs without error.

At moment I am using

Last update: 2018-02-02_17:33:52_+0100
mason_simulator version: 2.0.9 [584ae4f]
SeqAn version: 2.4.0
Ubuntu 16.04

Tha

[2018-05-16 14:53] marehr commented on #2291
@h-2, @mr-c, @rrahn
Okay, it bothered me and I tried to look at it and I found a solution to

With this we could add a shared library for common template instantiations like `seqan::String<int>`. This of course comes with a possible impact on the runtime, but now apps could share the same code which would drastically reduce the compile and binary size. Which I guess is more important for package m

[2018-05-28 07:45] smehringer commented on #2303
Hi @wtwhite,

sorry for coming back to you so late and thanks for spotting this. In SeqAn2 the documentation is not automatically generated from the code so the docs itself needs a patch. I will take care of it.

[2018-05-28 08:15] wtwhite commented on #2303
Thanks :)

[2018-05-28 08:15] #2303 closed

[2018-05-28 08:19] smehringer commented on #2307
Hi @wtwhite,

if I understand correctly, you want to Gaps object for the read sequence, without getting the complete alignment?
A quick fix I could think of is in my [local branch](https://github.com/smehringer/seqan/tree/feature_bamRecordToGappedSequence) and looks like this:

[code]

Do you care to check out if it works as you would like? (or if you are still interested in this?)

[2018-05-28 08:42] smehringer commented on #2311
Hi @codemeleon ,

Sorry for getting back to you so late. Maybe your VCF file is corrupted or your format is not supported yet.

Which VCF format version do you use?
Can you try to use another VCF file and see if it works?
Please use a single record from your input VCF, see if it still crashes and then please report the VCF record here.

[2018-06-11 15:21] h-2 opened #2313 "jenkins windows builds broken"

[2018-06-12 09:38] ilya-kolpakov opened #2314 "Constrained index iterators for FMIndex and sharing data between index instances"
First of all, thanks a lot for the superb library!

I am working with Hi-C data and there are situations where I am interested in prefixes (suffixes) occuring before/after a certain position in text (or in prefixes (suffixes) occuring in strings before/after a given one if one indexes a `StringSet`).

I found the [constrained iterator demo](http://docs.seqan.de/seqan/2.3.2/page_DemoConstraintItera

[2018-06-13 09:17] bio15anu opened #2315 "RazerS3 error concerning length of fastq quality string"
Hi all,

I am testing RazerS3 with my data as it seems to be returning far fewer alignments than expected. I found that with many reads I am getting this error:

`/home/osboxes/seqan/include/seqan/basic/basic_exception.h:363 FAILED!  (Uncaught exception of type seqan::ParseError: Fastq quality string is expected to be of the same length as the sequence! But was not.)`

However, this was returned f

[2018-06-13 09:21] rrahn commented on #2315
Thanks for reporting this. We'll check this.
Which version of Razers3 did you use?

[2018-06-13 12:56] rrahn commented on #2315
I could reproduce the error with razers3 and happens while reading the first record of the first fastq file in the `estimateReadLength` function.
Strangely, in a regression unit test the error does not occur and the fastq file is parsed correctly.
We'll investigate this.

[2018-06-13 15:35] cpockrandt commented on #2314
Hi @ilya-kolpakov,

1. The FMIndex does not have such an interface and since we're currently working on SeqAn3 there is unfortunately no time left for new features in SeqAn2. But you could achieve the same behavior using an FMIndex. A constrained iterator just does a very simple dfs-search and skips suffixes using goNext(), that do not fullfill the predicates, see [here](https://github.com/seqan/s

[2018-06-14 08:46] bio15anu commented on #2315
Hmm that's a puzzle! Just so I'm clear does that mean it worked correctly in a previous version? Would you be able to advise me of the latest software version where the problem does not occur? To give some additional information, we originally ran into the problem with software version 3.5.3 although it failed without reporting any error. I think actually it worked with parameter `-i 90` but not w

[2018-06-14 08:51] bio15anu commented on #2315
Sorry no I just retested on version 3.5.3 and we get the same error, regardless of the identity parameter.

[2018-06-14 08:54] rrahn commented on #2315
No, the exception is thrown, while extracting the length of the first record in the read1.fastq file.
As far as I could see, this is completely independent of the program options to Razers3. I just need to figure out, whether the library function is buggy, or wether the provided input from Razers3 is kind of corrupted.

[2018-06-15 09:49] bio15anu commented on #2315
Hi rrahn, I think this error with one read is a separate issue to what I was having before when I was getting less than the expected number of alignments. I adjusted the `-ll` and the `-le` parameter to better fit my data and now the read is mapping when I include it with all the others. The error is still thrown when I try to map the read individually, which I suspect is due to the @ symbols in t

[2018-06-19 08:13] ilya-kolpakov commented on #2314
@cpockrandt, thanks a lot. I see that a constrained iterator wraps the usual one in a straightforward manner so that I can filter the hits myself.

I have a couple of related questions on FMIndex iterators
- How can one extract (initialize) a monodirectional iterator from a bidirectional iterator (index).
- If one can one position an iterator at a given position in the indexed text (so that one ca

[2018-06-19 08:42] ilya-kolpakov commented on #2314
Another thing I don’t quite get is how ‘representative’ and ‘repLength’ work on top-down iterator that AFAIK are not storing the traversal path.

Are these stored explicitly as a string an int within the iterator? If yes I am wondering if one can strip those to improve memory usage and avoid allocations/deallocations for strings.

There are cases when I am saving (possibly a large number of) itera

[2018-06-19 13:33] cpockrandt commented on #2314
If `it` is a bidirectional iterator, you can access the unidirectional iterators which are member variables, either `it.fwdIter` or `it.revIter` depending on whether you are interested in the original or in the reversed texts iterator.

You could position an iterator given a suffix array range, but not a text position. But I'm not sure what the purpose for that would be. Extracting the text is che

[2018-06-19 13:49] cpockrandt commented on #2314
I forget to make an important remark:

Using a unidirectional iterator that belongs to a bidirectional iterator, will break the bidirectional iterator (you will get false behavior since both unidirectional iterators are only kept synchronized if you use them via the bidirectional iterator interface).

Maybe there's a better way. Why do you want to access the unidirectional iterator?

[2018-06-19 15:36] ilya-kolpakov commented on #2314
I am searching only in one direction because I need to consider possible ligation positions of a chimeric read. In that case it's natural to have prefix (suffix) iterators for the growing prefix (shrinking suffix) that represent possible matches given a ligation point. So I was wondering how large is the overhead of passing around/storing bidirectional iterators when I only unidirectional ones.

[2018-06-19 18:56] cpockrandt commented on #2314
As long as you use TopDown-Iterators (without ParentLinks, which store the entire history of going down in the tree), you should be fine in terms of space.

[2018-06-25 21:09] wtwhite opened #2317 "Reading BAM on stdin and writing SAM to stdout with sync_with_stdio(false) produces nondeterministic errors"
Hi,

I found to my surprise that adding `sync_with_stdio(false);` to the start of a program that reads a BAM file from stdin using SeqAn's `BamFileIn` and writes a SAM file to stdout using `BamFileOut` produces *nondeterministic* corruption in the output file.  The MRE attached below simply copies stdin to stdout using `BamFileIn` and `BamFileOut` objects.  Running it 5 times with a large enough i

[2018-06-27 22:40] mchaisso opened #2318 "chainSeedsGlobally assert"
Hi,
  I'm using chainSeedsGlobally to filter alignments.  Does the sdp implementation require that the start and end points of seeds be on the same diagonal? There are no issues when all seeds are diagonal, but   the following code asserts:

[code]

[code]

[2018-06-28 06:16] rrahn commented on #2318
Thanks for reporting.
There are no requirements on the seeds in the set for the chaining algorithm. So this seems to be a bug.
We'll will look into it.

[2018-06-28 10:04] serosko opened #2319 "Bug in __getMinFileOffset()"
Related to #2273.
(using commit 19f556177d47f9c78c34b5bdc1dc49131791b181).
When using jumpToRegion() with BAI files created by Picard tools or samtools-0.1.7, __getMinFileOffset() return 0 for the file offset, because those indices will contain 0 for bins without any alignments (in contrast to indices created by newer versions of samtools, which contain the value of the next smaller bin instead of

[2018-06-28 12:54] mchaisso commented on #2318
The two empty #include's were a copy and paste error. I'll also try and look into it.

[2018-06-30 15:37] teng-gao commented on #1308
Did this feature ever get implemented?

[2018-07-01 16:52] teng-gao opened #2320 "Maximum number of contigs in a simulation"
It seems mason_simulator crushes if there are >150 contigs in the fasta file.

mason_simulator -ir myfasta.fa -n 5000 -o left.fq -or right.fq

Error message:
MASON SIMULATOR
===============

____INITIALIZING______________________________________________________________

Opening reference and variants file ... OK
Initializing fragment-to-contig distribution ... OK
Initializing simulation threads ..

[2018-07-02 07:44] holtgrewe commented on #1308
No, it did not. I will probably not have the time to go for this.

[2018-07-05 16:40] lkuchenb commented on #2055
This is fixed now and can be closed

[2018-07-06 00:13] mchaisso commented on #2318
The code faithfully implements Gusfield's global chaining, and I think the
algorithm has an error in it. The list L is sorted by l_j, however they are
not in nondecreasing order of V_j, as shown by the seeds that were given in
the bug report, which triggers the assert statement. Also, considering
Figure 13.5 (p327), if you swap the 3 and 5 scores of the top two
rectangles, the box with weight 3 in

[2018-07-06 20:20] teng-gao opened #2322 "Found chunk of != 6 BND records!"
Is there a biological reason to limit the BND records to be chunk of 6?

[2018-07-08 21:57] mchaisso opened #2323 "banded alignment gives spurious gaps for 1bp sequences"
This isn't a common case, but it's worth bringing up as a base-case issue.  Passing a single nucleotide to banded global alignment can give spurious alignments.

#include "seqan/align.h"
#include <string>
#include <iostream>
using namespace std;
typedef seqan::String<seqan::Dna> TSequence;                 // sequence type
typedef seqan::Align<TSequence, seqan::ArrayGaps> TSeqAlign;
typedef seqan::

[2018-07-09 13:43] rrahn opened #2324 "Win build system issues"
Resolve the following issues:
   - [ ] FindOpenMP does not work with intel compiler toolset.
   - [ ] Win-7, intel compiler 17: Can't find libmmd.dll (supposedly looks in the wrong folder.)
   - [ ] Win-10, can't find redistributable dlls

[2018-07-09 19:09] mgeorgoulopoulos opened #2325 "Conversion warnings"
I get a compilation warning in include/seqan/sequence/sequence_lexical.h : 295.

I fixed the warning with:

left_length = static_cast<typename Size<TLeft>::Type>(right_length);

Would that be the correct way of handling it?

Thank you

[2018-07-17 09:16] marehr commented on #2325
Hi thank you for your bug report.

Could you elaborate
* which compiler you used?
* which source code you built which triggered this warning,
* which warning was issued (-fconversion?) and
* what the diagnostic of the warning was?

So in essence the log of your built messages?

Your suggested fix works, but this is the sledgehammer approach. It would be interesting to see why the two Size types of

[2018-07-17 09:33] marehr commented on #2323
Hi @mchaisso,

sorry for coming back to you so late, but it is currently vacation time and our group kinda focuses on version 3 of SeqAn.

You seem to have found a neat little edge case. I imagine that the 2bp case works correctly?
Could you try to use `seqan::String<char>` directly for `read` and `ref` without the whole `.c_str()` conversion?

Could you clarify what you mean by spurious?

Do you

[2018-07-17 09:38] marehr commented on #2322
Hi @teng-gao,

thank you for your issue.

Could you give us a bit more context what you are trying to accomplish and what you did?

* Maybe some terminal output?
* Which app did you use?

It seems to me that a file of yours couldn't be read. Can you give us a reduced file (a couple of kilobytes) s.t. we can test it.

[2018-07-17 09:42] marehr commented on #2320
Hi @teng-gao,

can you attach your file `myfasta.fa` to the bug report? So that we can recreate your issue?

[2018-07-17 10:14] marehr commented on #2319
Hi @serosko,

thank you for your bug report. I think we have to discuss this in the team. @smehringer who extensively worked on this is unfortunately on a really long vacation. We might have to postpone this issue until she is back.

I cursorily read the discussion on the mailing list and it seems that the default behaviour is indeed to do a linear scan to find the next lowest bin. This value pres

[2018-07-17 10:37] marehr commented on #2317
Hi @wtwhite,

we read your issue, but it is unfortunately really vague and hard to pinpoint.

I imagine that we intermixed `printf` and `cout` calls multiple times in the library and I imagine that this would be a HUGE code restructure.

On the other side is `6x` quite substantial; @h-2 should we make this a requirement for seqan3?

[2018-07-17 10:59] marehr commented on #2317
Okay some tracing:

This is the primitive to write out BAM files:
https://github.com/seqan/seqan/blob/584ae4fbff8312cfe31b3e0aea651edfb1b580ef/include/seqan/bam_io/write_bam.h#L51-L96

It seems to not use `print`, but it might in some of the `write` operations.

On the other hand writing out a SAM file uses `appendNumber` which uses `snprintf`:

https://github.com/seqan/seqan/blob/e165bafd1d817ac2

[2018-07-17 11:00] serosko commented on #2319
Hi, thank you for your reply.
I have no problem with you postponing the issue until smehringer returns, since I could fix the problem internally by using the described method. I agree that the version which leads to the problem is quite old now and nobody *should* use it anymore.  But unfortunately that data I got to work on dates back quite a while and some of the files have these old indices. Be

[2018-07-17 11:12] marehr commented on #2319
I looked at the PR again and if you look at

https://github.com/seqan/seqan/commit/19f556177d47f9c78c34b5bdc1dc49131791b181#diff-8639bf08377bf2a04ab67d87e0166199L243

The original code did a linear scan, so this is a regression and should be fixed.

Can you create a pull request (with a test case) if you fixed this already?

[2018-07-17 12:08] serosko commented on #2319
I can create a PR of my fix, but I am not sure about the test case. At my current work place I cannot send any files, except maybe my code. But any BAM file with a linear index containing 0's should work (e.g created with samtools-0.1.7.)

[2018-07-17 12:38] h-2 commented on #2317
Absolutely.

For SeqAn2:
If someone figures this out and provides a patch I am would be very willing to accept it, but I don't have time to look at it myself.

[2018-07-20 19:31] mchaisso commented on #2323
Hi Marcel,
 No hurry on this- I've actually switched to my own k-band alignment (but
would be happy to switch back if there is SSE support).
 I believe the 2 bps case works, but I have to confirm.  The spurious
alignment is because the optimal alignment of align("T", "T") should be one
match, but it is an insertion and a deletion.

All methods are deterministic (no change in output). The affine be

[2018-07-25 06:16] rrahn commented on #2323
hi, many thanks for reporting this.
I will look into it, but at the moment I am stacked with things that need to be done before we have our workshops in September. So I can't guarantee to fix this by then, but probably when porting the alignment code to SeqAn3 I will fix this as well.

[2018-08-01 11:43] smehringer commented on #2319
Hi @serosko ,

Thanks for spotting this.

Although this "only" fixes a bug for very old versions that hopefully not a lot of people use, I think it's worth to fix. It's been a while since I worked on this so I hope I understood the issue well enough. Your proposed fix makes it necessary to scan the index in worst case O(n) backwards (correct?), so I thought maybe it's better to correct for 0's dir

[2018-08-01 11:45] marehr commented on #2319
The new one, because the linear scan was removed.

[2018-08-01 11:56] serosko commented on #2319
Hi @smehringer ,
your suggestion of correcting the 0's while reading sounds good and, in my opinion, should solve the problem at the root without the need for a linear scan.

[2018-08-01 13:48] smehringer commented on #2318
Hi @mchaisso ,

unfortunately, I cannot reproduce your error. When I compile the minimal example that you stated above, it produces the result `Simple Chain 1`. I built this with the current master branch of seqan in release mode. Can you please give further information about the seqan version and other parameters you used?

To the algorithm in general: I strongly believe that the algorithm of Gus

[2018-08-01 14:07] smehringer commented on #2319
@marehr  Actually, if you look at the code, you can see that it is completely wrong. It says in the documentation above: `If there are no linear indices for this reference then we use the linear min offset of the next reference that has an linear index.`. This makes absolutely no sense IMPOV because two reference sequences are completely independent of each other, as are their indices. If I want t

[2018-08-01 14:14] #2055 closed

[2018-08-02 13:28] smehringer commented on #2319
@serosko
I noticed that your proposed solution the search for an offset is continued in other references in case no offset can be found in the current linear index. Why? If no alignments can be found in the region of a specific reference why do I care for the region in another reference? For all we know it could be a completely different genome (e.g. when working with alignments on different e.col

[2018-08-02 13:58] serosko commented on #2319
@smehringer
My intention was to continue searching until I find some valid offset, which could also be on some other contig/chromosome/reference sequence. As far as I understood the intention and function of jumpToRegion, it is to set the position to the last record before the specified region. This can also be on another reference sequence. If for example we want to jump to chr4:1-10000, regardle

[2018-08-02 14:32] smehringer commented on #2319
@serosko
Hm, I disagree. If I want to jump to a region on chr4, I do not expect to read records from chr3 instead since their sequences and alignments are totally unrelated. Especially since the order of chrosomes is sometimes 1, 11, 12, ..., 2, 3, 4, ... (lexicographically). If I jump to chr11:1-10000 with no records then I land at chr1?

[2018-08-02 19:15] mchaisso commented on #2318
Can you try building in debug mode, or disabling NDEBUG? The invariant
asserts on this input.

Thanks,
-Mark

On Wed, Aug 1, 2018 at 6:48 AM smehringer <notifications@github.com> wrote:

[2018-08-03 05:46] serosko commented on #2319
@smehringer
that's what is written in the seqan tutorial ([http://seqan.readthedocs.io/en/master/Tutorial/InputOutput/SamAndBamIO.html](http://seqan.readthedocs.io/en/master/Tutorial/InputOutput/SamAndBamIO.html)):

After jumping you can still check if the hasAlignments bool of the function to see if there are any alignments in the region. So yes, if you try to jump to chr11:1-10000 without any re

[2018-08-03 07:18] smehringer commented on #2319
I see your point. It will ensure a valid seek call afterwards.

I see two issues though:
1. Assuming this behaviour, and assuming I want to query the very first interval chr1:1-1000 that by chance has no reads (so Picard will set the offset in the very first bin of the very first index to 0), where do I jump to? Your proposed solution, in this case, will cause the `jumpToRegion` function to return

[2018-08-03 08:32] rrahn commented on #2319
@serosko IMHO the function `jumpToRegion` is a real misconception. I also would not trust the documentation and try to implement a behaviour that is falsely documented. So what you actually want is to extract all reads with an alignment in the specified region (see: @smehringer answer with `viewRecord`). `jumpToRegion` should jump to the first offset, whose record overlaps with the specified regio

[2018-08-03 08:45] serosko commented on #2319
Those two outcomes sound sensible to me and would indeed improve the at the moment somewhat confusing behavior/description of the function.

[2018-08-03 16:52] heuermh opened #2329 "Yara: accept interleaved FASTQ or unaligned BAM on stdin"
Hello,

As a feature request for `yara_mapper`, could support for specifying paired end reads as a single stream in interleaved FASTQ and/or unaligned BAM formats be added?  E.g.

[code]

Perhaps an `--input-format { fastq, interleaved-fastq, unaligned-bam }` option might be necessary.

Thanks in advance!

[2018-08-06 10:38] smehringer commented on #2318
So sorry, of course in release mode nothing asserts :man_facepalming:

I reproduced your error and found the bug. The Gusfield algorithm is correct but we got an if-clause wrong.

Thanks for catching this!

[2018-08-06 11:19] smehringer commented on #2329
Hi @heuermh ,

thank you for using our mapper Yara. Right now we unfortunately don't work on feature requests for SeqAn2 as we currently put a lot of effort into the new SeqAn3 to be soon released.

Your suggestions are interesting to consider and reading raw sequences from an analigned BAM file should be fairly easy to implement as part of our `SeqFileIn` class. But it is also easily bash scripte

[2018-08-06 15:40] h-2 commented on #2329
Unaligned BAM should work, we added that to SeqAn sequence file before the last release: https://github.com/seqan/seqan/blob/master/CHANGELOG.rst#release-230

[2018-08-06 16:14] heuermh commented on #2329
@smehringer  Thank you for the quick reply.

Our use case is a little odd, in that we'd be piping to Yara from Apache Spark

http://adam.readthedocs.io/en/latest/api/pipes
https://github.com/bigdatagenomics/cannoli

We can only populate one stream from Spark, so we need to be able to provide paired end reads in a single stream as either interleaved FASTQ and/or unaligned BAM formats.  I assume you

[2018-08-06 17:20] joergi-w opened #2331 "Pairwise alignment gives wrong result for floating point score types"
Consider the tutorial's example for an alignment with affine gap costs. Let us use `double` instead of `int` as data type for score:
[code]
The result is not 16, as we would expect, but 18, and the alignment looks much different.
In addition, if we look at the alignment and calculate the score manually, we see that the result 18 is wrong:
8x 4 (match) + 1x -2 (mismatch) + 3x -4 (gap open) + 6x -2

[2018-08-06 22:58] ztayyebi-wcm opened #2333 "problem with writing alignmentStore into a sam file"
Hi.
I did not find any relevant issues, sorry if this has already been discussed.

I am trying to write the alignment store of a fragment store into a sam file with:
`std::ofstream samFile("address", std::ios_base::out);
write(samFile, fragStore, Sam());`
which I saw in one of the tutorials.
However, I get "no matching function for call to 'write'".

I have just pulled seqan from git so I think it

[2018-08-08 10:53] smehringer commented on #2319
@rrahn Yes, currently we jump to the first alignment within the region if any are present (`hasAlignments=true`), or the first alignment after the region(or end of file) if none is present  (`hasAlignments=false`). The latter behaviour is not documented and should in any case be updated. The jumpToRegion function returns true in both cases.

This only works though, because in new versions the line

[2018-08-09 19:40] ztayyebi-wcm commented on #2333
it was in [simple read mapper](http://seqan.readthedocs.io/en/seqan-v1.4.2/Tutorial/SimpleReadMapping.html).

[2018-08-10 08:29] smehringer commented on #2333
The tutorial you pointed to is from the very outdated manual of SeqAn 1.4.2
 Please use the [current 2.4.0 version](https://seqan.readthedocs.io/en/seqan-v2.4.0/).

Did the  `readRecords()` function help to solve your issue?

[2018-08-10 18:18] ztayyebi-wcm commented on #2333
sorry I didn't realize that it was old.
that worked. thank you very much.

[2018-08-10 18:18] #2333 closed

[2018-08-16 20:46] ztayyebi-wcm opened #2335 "q-gram match with 'N's"
I have hashed my reads with a q-gram index and I'm using SWIFT to find hits in the reference. I get a lot of hits with all-'N' segments of the genome. how do 'N's match with k-mers that have no 'N's?

[2018-08-20 06:52] #2331 closed

[2018-08-20 15:28] smehringer commented on #2335
Hi @ztayyebi-wcm,

Thanks for using SeqAn.

I am no expert on the index module but I think that it is implementing the biological meaning of the letter `N`, which is that `N` matches any base. So this is expected behaviour in my point of view. Does this cause you any problems?

[2018-08-20 17:33] ztayyebi-wcm commented on #2335
Hi,
thanks for your response.
well, aligning with the 'N's doesn't give me any information so maybe I should just ignore those matches.

[2018-08-20 17:50] rrahn commented on #2335
Mhmm, if I remember correctly, there was a repeat masking integrated into the Finder. I also have seen strategies to treat Ns differently in other parts of the Finder. Not sure if that works for the swift as well. @eseiler can you investigate this. I can give you some pointers. But in general an alternative would be to randomize consecutive regions of N‘s as you would not expect to find any hits i

[2018-08-20 23:06] juulluu21 opened #2336 "siRNA off target prediction"
I was wondering if it is possible to predict siRNA off-terget using STELLAR. What I want to do is: I have a query fasta sequence (a gene), and I want to align it against a genome. I want to see if as small as 21 Nt regions from the query gene gives me any hit in the genome.

Can I do that?
Thanks.

[2018-08-22 12:55] eseiler commented on #2335
Swift offers a option for repeat masking.
Let's consider these lines from the [tutorial](https://seqan.readthedocs.io/en/master/Tutorial/HowTo/Recipes/FilterSimilarSequences.html?highlight=swift):
[code]
and
[code]

Instead of using
[code]
you can use
[code]

If you only want to skip the Ns, you can set minRepeatLen to a high value (e.g. the sequence length) to avoid masking any repeats without Ns

[2018-08-25 11:36] jduerstock commented on #2281
This is still throwing errors six months later.  Can this be changed to `asm volatile ("" ::: "memory");` as suggested above by @jrtc27 ?

[2018-08-27 05:17] smehringer commented on #2336
Hi @juulluu21 ,

sorry for coming back to you so late.
Do you have ONE specific 21 nt region in the query gene, or do you want to search for every 21-nt-long-hit between the whole query and the genome? (I am not familiar with off-target prediction)

I think the latter problem can be solved with STELLAR, as it will `report all local alignments of a given minimal length and maximal error rate` (http

[2018-08-27 05:19] #2307 closed, assigned to nobody

[2018-08-27 05:32] smehringer commented on #2329
Hi @heuermh,

sorry for answering so late. I just checked the yara command line interface and if only one file (stream) is provided, yara assumes you work with single-end reads, no matter the file format.
Unfortunately, we do not plan to extend yara in the recent future as the app developer (@esiragusa ) is not working here anymore.  We are sorry that we cannot help you with this any further for t

[2018-08-27 05:32] #2329 closed

[2018-08-27 05:34] smehringer commented on #2335
Solved IMPOV. Feel free to re-open the issue in case there are any more open questions.

[2018-08-27 05:34] #2335 closed

[2018-08-27 05:36] #2279 closed

[2018-08-27 05:52] mr-c commented on #2279
Fixed in #2284 Thanks, y'all!

[2018-08-29 18:45] ztayyebi-wcm opened #2337 "g-ram index of the reference sequence"
I am trying to do something similar to [Simple Read Mapping](https://seqan.readthedocs.io/en/seqan-v1.4.2/Tutorial/SimpleReadMapping.html).
But it takes too long, so I was wondering:
1- does the find function search for the patterns in parallel as default?
2- how can I index the reference sequence as well? for example, can I have a q-gram index of the reference and a q-gram index of the reads, and

[2018-08-30 10:02] smehringer commented on #2337
Hi @ztayyebi-wcm,

thanks for using SeqAn.
I hope @cpockrandt or @eseiler, who are more familiar with the find/index module, can help you out.

[2018-09-06 13:20] cmeesters opened #2339 "foina does not build - build should abort, dependency should be indicated by cmake"
Hi,

My build log show

-- Configuring apps/fiona
--   Boost or OpenMP not found, not building fiona

That's fine. Yet, than Boost (best with a min. version) should be indicated to cmake, such that the build aborts, when attempting to build without Boost.

Also, the OpenMP dependency resolution is depending on the compiler version. A recent compiler indicates, whether or not OpenMP is present.

Be

[2018-09-09 10:28] rrahn commented on #2339
Currently all apps are part of the SeqAn library, that is why the build is not aborted when building it but just informing about the issue.
You can use
[code]
and it would only configure fiona and not the other tools.

But sure a more informative error message would be great in general.
Currently, we are porting a lot of the SeqAn library to a new API interface, which consumes a lot of resources.

[2018-09-09 13:46] tloka opened #2340 "Assertion Fail in chainSeedsGlobally"
At ECCB workshop, we had the following assertion failing when implementing lagan and compiling in debug mode:
[code]

Corresponding code fragment:
[code]

[2018-09-10 06:34] smehringer commented on #2340
Hi @tloka,

thanks for reporting this. I think this is the same issue as #2318 and was fixed in PR #2330, which still needs to be merged though.
As soon as the fix is merged we will report back to you so you can see if it works fine then.

[2018-09-19 10:02] wtwhite opened #2343 "Please add parser_invalid_argument to the list of exceptions thrown by argument_parser::parse()"
Hi,

In the documentation, I mean.  The example code there actually already shows this ;)

Thanks!

[2018-09-20 06:16] smehringer commented on #2343
Thanks for spotting this!

[2018-09-20 06:33] smehringer commented on #2343
Oh this is the seqan issue list not seqan3. Can you open an issue in the seqan3 repo instead please?

[2018-09-20 06:33] #2343 closed

[2018-09-21 13:04] Lolasdasdasd opened #2344 "Accelerated Alignments"
Hi guys!
I was wondering how to make use of SeqAn acceleration. The paper from May 2018 provides insights but gives not examples as far es I can see... My problem is rather simple: I have maaaany peptides that I want to compare in an all-against-all fashion with different alignment parameters - and I want to do it fast. Something like this:

    Score<int> NW1(10, 0, -1, -30);
    Score<int> HAM(1

[2018-09-21 13:11] rrahn commented on #2344
Ok some questions to the problem. You have amino acid alphabet but you don't want to use a scoring matrix like blosum or pam?
I mean that would be really beneficial for vectorisation.
What would be the size of the sequences? I think they are not really long?
I assume they all differ in their length more or less?
And you want to simply calculate the score to do some pre filtering or do you also nee

[2018-09-21 13:33] Lolasdasdasd commented on #2344
Thanks for you fast reply!
Yes, for some comparison methods I would like to use a scoring matrix but not for all.
Sequences that are being compared always have the same length (ranging between 10-200).
I'm interested in the score and the sequence identity of the alignment. For most cases I do not need the alignment actually (maybe later for other purposes). The choice of fragment pairs is pre-sele

[2018-09-21 14:04] rrahn commented on #2344
ok, then I can prepare a snippet that you can use to compute the scores rapidly.
How is your parallelisation look? Do you already parallelise over some set of alignments? Otherwise, we have integrated this into the alignment function already. I can show you the usage in the snippet.

[2018-09-21 14:05] rrahn commented on #2344
For the traceback, there is some work in progress to make it really fast for vectorisation, but I guess on the small sequences the current performance would be good already.
One more question though, are you interested in only the edit? Or do you need the affine gap model for your purpose?

[2018-09-21 14:06] rrahn commented on #2344
Otherwise, I can prepare something next week after the conference that I am attending.

[2018-09-21 15:09] Lolasdasdasd commented on #2344
Traceback is not of high priority but gaps and substitution matrix are. I guess the function globalAlignmentScore will do the trick, right?
My current parallelization is simply running the same script with different fragment pairs... But if I can somehow spead it up by comparing the same fragment pairs with different comparison methods in parallel, that would be great already.

[2018-09-23 15:39] rrahn opened #2345 "SimdScoreWrapper issues compile error in combination with MatrixScore"
When changing the underlying score type of a MatrixScore from standard `int` to `int16_t`, the SimdScoreWrapper issues a compile time error.

Here the expected code:
[code]

which causes the compile time error.

[2018-09-23 16:10] rrahn commented on #2344
So, I prepared a demo to show the usage of the vectorised code. Please find it here: https://gist.github.com/rrahn/e385b43ad72eeebe1ed3e69f06e8d715

I generated one million sequences of size between 10 and 200 amino acids with 20% mutation rate.
I used the seqan-v2.4.0 release and run the parallelised kernels with 20 threads (physical, no hyper-threading).
I compile it with: `g++-7 -std=c++17 -fop

[2018-09-23 16:12] rrahn commented on #2344
And of course if you servers would support avx512 we can even speed it up by a factor of roughly 2 compared to avx2.

[2018-09-24 11:14] cmeesters commented on #2339
Yep,

 is understood after last week (being at your workshop).
Apart from that, I am going to fix the easyconfig-file for easybuild. And I think, the issue itself, can be closed: If apps are going to be ported, the issue will resolve itself, 'cause of the different dependencies which have to be resolved.

[2018-09-25 11:47] go9kata opened #2346 "<seqan/bed_io.h> issues with parsing BED12 file"
### parsing BED12 line, without extra data in it ('\n' vs '\t\n' line delimiter)

- [x] when reading a BED12 line, the parser fails if the line finishes with '\n' character after the blockBegins comma separated list. If in the test script one changes the following line: https://github.com/seqan/seqan/blob/584ae4fbff8312cfe31b3e0aea651edfb1b580ef/tests/bed_io/test_bed_io.cpp#L167

to:

```String<ch

[2018-09-25 12:03] cmeesters opened #2347 "Unable to compile flexbar -- issue with numeric limits"
Hi,

this is a seqan issue, though I am not sure, whether it better placed here or in the flexbar project. However, it may show up elsewhere, so:

When compiling flexbar 3.4.0 sources in an attempt to create an easyconfig file with the following tools and version - CMake 3.11.4, GCC 7.3.0, tbb 2018.2.199, seqan 2.4.0 - I stumbled over this error:

<snip>

</snip>

Now, these are constants defined

[2018-09-25 12:29] smehringer commented on #2347
Hi @cmeesters ,

thanks for reporting this. Can you also include the parts for flexbar of your easy config file? Right now I cannot reproduce your error.

In general, this looks like the includes got messed with.

FLT_MAX is included via <float.h>

Yes! But, you can specialize numeric limits via `numeric_limits<float>::max()`, which is a synonym for FLT_MAX.

I don't know why this didn't occur any

[2018-09-25 12:30] #2339 closed

[2018-09-25 12:35] cmeesters commented on #2347
Hi Svenja,

Sorry, I have to leave, so no PR before tomorrow, but yes, I will gladly do that.

What would that be? I could attach the entire build log, yet the relevant part is already there. Or the easyconfig itself.

Best,
Christian

[2018-09-25 12:39] smehringer commented on #2346
Ho @go9kata,

thanks for reporting this and for the detailed description!

Looks like some incompatibility issue because our BED parsing is not up to date.
Our resources are mostly given to our new SeqAn3 library release so I don't know when we will have time to fix this.
@joergi-w can you maybe have a look?

[2018-09-25 13:11] smehringer commented on #2347
Hi Christian,

Thank you that would be great!

Never mind. I just double checked and saw that we do not use the respective code parts in the entire Seqan2 repo so the code is not tested. We switched to numeric_limits for many cases already so your PR would help to modernize the library even if I could not reproduce your error.

[2018-10-01 09:57] Lolasdasdasd commented on #2344
It took me some time to get to it again... And it works like a charm :) Thanks a lot for your support!

[2018-10-15 11:36] smehringer commented on #2346
@joergi-w ping

[2018-10-15 11:36] #2344 closed

[2018-10-15 11:40] smehringer commented on #2325
HI @mgeorgoulopoulos ,
Could you follow @marehr guides to help us? Otherwise, I will close this issue as this is not reproduced by our nightly builds.

[2018-10-16 05:38] mgeorgoulopoulos commented on #2325
Hi, here are some details:
**Compiler:**
Microsoft Visual Studio Enterprise 2015. Version 14.0.25431.01 Update 3

**Repro**

#pragma warning(disable : 4996)
#pragma warning(disable : 4521)
#pragma warning(disable : 4800)

#undef UNICODE

#include <seqan/seq_io.h>

using namespace seqan;

void foo()
{
    SeqFileIn seqFileIn("filename");
    CharString id;
    CharString seq;
	readRecord(id, seq, s

[2018-10-16 10:14] #2308 closed

[2018-10-19 10:57] smehringer opened #2353 "GCC 8 warning in nightly builds"
See [CDash](http://cdash.seqan.de/viewBuildError.php?type=1&buildid=289832)

[code]

[2018-10-19 12:47] smehringer commented on #2300
Fixed by #2302

[2018-10-19 12:47] #2300 closed

[2018-10-23 08:15] smehringer commented on #355
@marehr Is this being considered? I don't know if you are working on affine gap costs but this issue should maybe be referenced somewhere?

[2018-10-23 08:40] smehringer commented on #533
This feature request will not be included in seqan2 anymore so we can close this issue.
I will check, but the SeqAn3 argument parser already covers all of the above except 6.

[2018-10-23 08:40] #533 closed

[2018-10-23 13:18] smehringer commented on #2337
@cpockrandt Ping!

[2018-10-23 13:19] smehringer commented on #2336
Feel free to reopen if not solved

[2018-10-23 13:19] #2336 closed

[2018-10-23 13:19] smehringer commented on #2325
@marehr  ping

[2018-10-23 16:20] marehr commented on #2325
I tried to reproduce this issue and I didn't get an error.

@mgeorgoulopoulos

[code]
are you building with 32 bit? We dropped 32bit support a while a go. Could you try to build 64bit?

[2018-10-24 17:14] smehringer commented on #2318
Hi @mchaisso
we merged several fixes for the chaining algorithm. Check out if it works for you.

[2018-10-24 17:14] #2318 closed

[2018-10-24 17:16] smehringer commented on #2340
Hi @tloka ,
we fixed several bugs in the chaining algorithm and everything should work as expected now. If you find some time you might want to try if your example works with the current develop branch.

[2018-10-24 17:16] #2340 closed

[2018-10-26 11:30] smehringer commented on #2346
Thanks @joergi-w  for fixing this.
@go9kata Check out the current develop branch and see if everything works fine now for your data.

[2018-10-26 11:30] #2346 closed

[2018-10-31 12:57] go9kata commented on #2346
Thanks guys for the fast fix! Looks good! Keep up the nice work! Cheers! ;)

[2018-11-03 21:26] AntoineHo opened #2358 "getAbsolutePath and BAM IO example"
Hello,
When I copy the solution of `Assignment 1` in https://seqan.readthedocs.io/en/master/Tutorial/InputOutput/SamAndBamIO.html#tutorial-io-sam-bam-io I get the could not open error. My input file path was **"./toy.bam"**
When I then try to print `bamFileName` I get: **"/usr/./toy.bam"** which is not the right file path.
When I try to put the aboluste path directly as `bamFileName` I still canno

[2018-11-05 10:12] smehringer commented on #2358
Hi @AntoineHo,

thanks for trying SeqAn.

The function `getAbsolutePath(...)` pre-pends the current directory of your SeqAn repository before the filename. So I guess your seqan repo is in `/usr/` and then you give it the path `./toy.bam` which results in `/usr/./toy.bam`. This is not the way to go in your case (We should drop a note about this in the tutorial such that this is clear so thanks for

[2018-11-05 10:31] AntoineHo commented on #2358
Hello,
I execute the program in:
`/home/antoine/Dropbox/seqanTest/`
The path to the bamfile is:
`/home/antoine/Dropbox/seqanTest/toy.bam`

Here is the code:
[code]
The output is:
`ERROR: Could not open /home/antoine/Dropbox/seqanTest/toy.bam`

[2018-11-05 12:49] smehringer commented on #2358
This code should work so I think it is not a problem with seqan. You can verify this by including the following and see if it also does also fail:

[code]
If so there is a problem with your file, the rights to access the file or something else.

[2018-11-05 13:01] AntoineHo commented on #2358
I checked and it raises no error:
[code]
OUT:
[code]
Actually I found that when using toy.sam it works but with toy.bam it does not, I will try with another .bam file and close the issue if it works.

Many thanks for your help!

[2018-11-05 13:16] smehringer commented on #2358
Ah I see, then you might have not installed the `zlib`. BAM file reading is only possible if `zlib` is installed

We mention this in the beginning of the tutorial

[2018-11-05 14:13] AntoineHo commented on #2358
I checked that by adding the FindBZip2 to my project, I can compile fine and both zlib and bzip2 are found... Any idea ?
[code]

[2018-11-06 07:11] smehringer commented on #2358
Can you attach the toy BAM file?

[2018-11-06 08:00] AntoineHo commented on #2358
I mainly tried with these two files (attached). I tested with other bam files as well I get the same error.
[mapt.NA12156.altex.bam.gz](https://github.com/seqan/seqan/files/2552112/mapt.NA12156.altex.bam.gz)
[toy.sorted.bam.gz](https://github.com/seqan/seqan/files/2552117/toy.sorted.bam.gz)

AH

[2018-11-06 08:03] #2353 closed

[2018-11-06 08:28] smehringer commented on #2358
Please try gzipping your sam file and give that to the toy example. This will tell us if zlib works correctly.

Also, try the suggestion mentioned in #2056, including a macro to print if the zlib was actually found.

[2018-11-06 08:47] AntoineHo commented on #2358
You are right, it must that zlib is not found by seqan. The macro does not print anything and I cannot read .sam.gz files.

[2018-11-06 09:52] #2358 closed, assigned to nobody

[2018-11-06 12:40] smehringer commented on #2358
Glad we could help! :tada:

[2018-11-15 09:47] rrahn commented on #355
This has already been resolved in SeqAn3

[2018-11-15 09:47] #355 closed

[2018-11-15 09:51] rrahn commented on #521
This has been addressed in SeqAn3.

[2018-11-15 09:51] #521 closed

[2018-11-15 10:04] rrahn commented on #532
We need to reconsider this for SeqAn3. We will adapt the interfaces anyway and need to reflect where all these intrfaces are really used.

[2018-11-16 09:10] smehringer commented on #532
Maybe open a meta issue for the qgram index which involves hashing and reference this issue.

[2018-11-16 09:13] rrahn commented on #532
Yes, but while I was going through the list, I though it would be better to do it with thre new development famework and we have to discuss the place where this shall live. More on this on Monday 😏

[2018-11-16 12:41] JulianSpagnuolo opened #2359 "extractTagValue hangs"
This code snippet is making my script hang. I can retrieve one of either, but not both else it just stops and does nothing. Since this example is essentially the same as the one in the example tutorial then it should work without issue.

Is there another way I can access the tags directly and coerce to std::string?
[code]

This works and prints out the bam/sam tags (twice with a tab-delimitation)

[2018-11-16 12:57] #2359 closed

[2018-11-16 12:59] JulianSpagnuolo commented on #2359
Found the issue - I was looking at an older version of the documentation from which it wasn't clear that uid is an output value.... the latter issue still seems a bit wierd.

[2018-11-16 18:17] wtwhite opened #2360 "Constructing an EdgeIterator on a Graph with no vertices causes segfault"
I originally came across this problem when I found that calling `connectedComponents()` on a vertexless Graph caused a segfault.  I've narrowed it down to calling the constructor for an `EdgeIterator` object -- please see the attached MRE.  This breaks a "standard" loop for visiting every edge in a Graph:

[code]

(the correct behaviour on a vertexless Graph would be that the loop body executes ze

[2018-11-19 08:57] smehringer commented on #2359
Self-solving issues are my favourite :sparkles:
Thanks for trying out SeqAn. If you have any other troubles come back again :bowtie:

[2018-11-19 09:05] smehringer commented on #2360
Hi @wtwhite,

thanks for reporting this.

Segfaults should never be caused by any usage so this is a definitive bug (if reproducible). I don't know how well the Graph library is maintained though because we will switch to the lemon library for graph related functionality in SeqAn3.

@joergi-w Can you have a look as you are more acquainted with Graphs? Check if we can make a quick fix to avoid the

[2018-11-19 16:20] rrahn commented on #158
Is taken care of in SeqAn 3

[2018-11-19 16:20] #158 closed

[2018-11-19 16:22] #232 closed

[2018-11-19 16:31] #540 closed

[2018-11-19 16:32] #541 closed

[2018-11-19 16:32] #542 closed

[2018-11-19 16:32] #543 closed

[2018-11-19 16:34] #544 closed

[2018-11-19 16:34] #545 closed

[2018-11-19 16:35] #546 closed

[2018-11-19 16:35] #550 closed

[2018-11-19 16:37] #554 closed

[2018-11-19 16:37] #556 closed

[2018-11-19 16:37] #557 closed

[2018-11-19 16:37] #558 closed

[2018-11-19 16:40] #562 closed

[2018-11-19 16:41] #634 closed

[2018-11-19 16:42] #680 closed

[2018-11-19 16:44] #682 closed

[2018-11-19 16:46] h-2 commented on #2291
We will reconsider this for SeqAn3

[2018-11-19 16:47] rrahn commented on #710
We will add -Wconversion in SeqAn3

[2018-11-19 16:47] rrahn commented on #711
This needs to be rediscussed in SeqAn3.

[2018-11-19 16:48] #744 closed

[2018-11-19 16:49] #763 closed

[2018-11-19 16:49] #765 closed

[2018-11-19 16:50] #767 closed

[2018-11-19 16:51] h-2 commented on #2347
fixed

[2018-11-19 16:51] #2347 closed

[2018-11-19 16:52] h-2 commented on #2337
What is the status here?

[2018-11-19 16:52] #783 closed

[2018-11-19 16:53] #855 closed

[2018-11-19 16:54] h-2 commented on #2281
@rrahn @marehr Seems like a one line fix, can you please look into it?

[2018-11-19 16:54] rrahn commented on #866
will likely be fixed in SeqAn3

[2018-11-19 16:55] #879 closed

[2018-11-19 16:57] #937 closed

[2018-11-19 16:57] h-2 commented on #2280
fixed

[2018-11-19 16:57] #2280 closed

[2018-11-19 16:57] #974 closed

[2018-11-19 17:00] #987 closed

[2018-11-19 17:00] h-2 commented on #2301
We are working on MinGW support in SeqAn3. If you want this in SeqAn2, please open a pull request!

[2018-11-19 17:00] #2301 closed

[2018-11-19 17:00] rrahn commented on #988
is this still a problem?

[2018-11-19 17:00] #988 closed

[2018-11-19 17:01] rrahn commented on #989
If this is still a problem, please reopen.

[2018-11-19 17:01] #989 closed

[2018-11-19 17:01] h-2 commented on #2276
@mr-c Is the double config install fixed? Can I close this issue? Thanks!

[2018-11-19 17:01] #991 closed

[2018-11-19 17:01] h-2 commented on #2274
SeqAn2 is in feature-freeze.

[2018-11-19 17:01] #2274 closed

[2018-11-19 17:02] #1001 closed

[2018-11-19 17:02] h-2 commented on #2271
SeqAn2 is in feature-freeze.

[2018-11-19 17:02] #2271 closed

[2018-11-19 17:02] #1063 closed

[2018-11-19 17:02] #1076 closed

[2018-11-19 17:03] #1102 closed

[2018-11-19 17:03] h-2 commented on #2245
We have limited reasources for Seqan2 now, is anything here really important to get done?

[2018-11-19 17:04] #1127 closed

[2018-11-19 17:07] h-2 commented on #2243
We are not doing any structural changes to SeqAn2 anymore. If you feel that this is a serious showstopper that needs fixing, please re-open!

[2018-11-19 17:07] #2243 closed

[2018-11-19 17:07] #2221 closed

[2018-11-19 17:10] h-2 commented on #2103
We have a TODO for SeqAn3, but for SeqAn2 this will only happen if someone else contributes this.

[2018-11-19 17:10] #2103 closed

[2018-11-19 17:11] h-2 commented on #2102
Closed because of inactivity.

[2018-11-19 17:11] #2102 closed

[2018-11-19 17:12] h-2 commented on #2068
SeqAn3 files are move-constructible.

[2018-11-19 17:12] #2068 closed

[2018-11-19 17:12] #2063 closed

[2018-11-19 17:13] h-2 commented on #2048
Closed because inactivity.

[2018-11-19 17:13] #2048 closed

[2018-11-19 17:13] h-2 commented on #1886
Closed because inactivity.

[2018-11-19 17:13] #1886 closed

[2018-11-19 17:15] #1833 closed

[2018-11-19 17:17] h-2 commented on #1797
Closed because inactivity.

[2018-11-19 17:17] #1797 closed

[2018-11-19 17:17] h-2 commented on #1775
Closed because inactivity.

[2018-11-19 17:17] #1775 closed

[2018-11-19 17:17] h-2 commented on #1733
Closed because inactivity.

[2018-11-19 17:17] #1733 closed

[2018-11-19 17:18] h-2 commented on #1707
Closed because inactivity.

[2018-11-19 17:18] #1707 closed

[2018-11-19 17:18] h-2 commented on #1673
Closed because inactivity.

[2018-11-19 17:18] #1673 closed

[2018-11-19 17:18] h-2 commented on #1672
Closed because inactivity.

[2018-11-19 17:18] #1672 closed

[2018-11-19 17:18] h-2 commented on #1671
Closed because inactivity.

[2018-11-19 17:18] #1671 closed

[2018-11-19 17:19] h-2 commented on #1663
Closed because inactivity.

[2018-11-19 17:19] #1663 closed

[2018-11-19 17:19] h-2 commented on #1652
SeqAn2 is in feature-freeze.

[2018-11-19 17:19] #1652 closed

[2018-11-19 17:19] h-2 commented on #1547
Closed because inactivity.

[2018-11-19 17:19] #1547 closed

[2018-11-19 17:19] h-2 commented on #1526
Closed because inactivity.

[2018-11-19 17:19] #1526 closed

[2018-11-19 17:20] h-2 commented on #1485
Closed because inactivity.

[2018-11-19 17:20] #1485 closed

[2018-11-19 17:35] h-2 commented on #2317
Closing this. We will definitely track this for SeqAn3. Re-open in SeqAn2 only with a PR, please.

[2018-11-19 17:35] #2317 closed

[2018-11-20 10:48] rrahn commented on #1203
closed in favour of issue 193 of seqan3

[2018-11-20 10:48] #1203 closed

[2018-11-20 10:54] rrahn commented on #1310
@h-2 is this problem considered for the seqan3::bitcompressed_vector? If so we could close it then.

[2018-11-20 10:56] rrahn commented on #1421
This won't be fixed in SeqAn2 anymore

[2018-11-20 10:56] #1421 closed

[2018-11-20 10:59] rrahn commented on #1448
@h-2 Do we need to take care of this? If so please reopen, but I think the current version works for us as we need it and no one has time to dig into the cmake configs to fix this.

[2018-11-20 10:59] #1448 closed

[2018-11-20 11:01] rrahn commented on #1589
We won't fix this in SeqAn2 anymore.

[2018-11-20 11:01] #1589 closed

[2018-11-20 20:11] joergi-w commented on #2360
Initializing an iterator of an empty graph should surely not fail.

Problem location: The constructor of EdgeIterator accesses the first vertex, while initializing the member `data_edge`. This access fails, if there is no single vertex in the graph.

Solution: The constructor checks, whether the vertex string is not empty before accessing the first vertex. Furthermore, the iterator of an empty gra

[2018-11-21 12:39] wtwhite commented on #2360
Thanks for looking at this!  These changes look good to me.

[2018-11-21 12:39] #2360 closed

[2018-11-27 10:53] fungs opened #2362 "Compressed FASTA indexing"
Hi,

looking at the documentation at https://seqan.readthedocs.io/en/master/Tutorial/InputOutput/IndexedFastaIO.html I find no mention of compressed FASTA file indexing as done in htslib or BioPython/pyfaidx. When a FASTA file is compressed as valid gzip using the program bgzip, it should be possible to index the file using the corresponding auxiliary .gzi index file. I'm using indexed FASTA with

[2018-11-27 11:02] rrahn commented on #2362
Thanks for the report. We will add this to our feature list for SeqAn3.

[2018-12-04 14:47] paulmenzel opened #2365 "app_test_seqan_tcoffee fails on ppc64le"
[code]

[2018-12-04 14:47] paulmenzel commented on #2365
[code]

[2018-12-05 11:12] paulmenzel commented on #2365
It still does.

[code]

[2018-12-05 11:14] paulmenzel commented on #2365
Where can I find the logs of the failed tests?

[2018-12-05 11:15] rrahn commented on #2365
Can you rerun with ctest option `--output-on-failure`. Then we see the failing tests and can try to investigate this.

[2018-12-05 11:38] paulmenzel opened #2366 "Check for Python module *jinja2*"
The configure script should check, if the Python module *jinja2* is installed. Otherwise, the test *build_dox* fails.

[code]

[2018-12-05 11:39] paulmenzel commented on #2365
For failing *build_dox* I created https://github.com/seqan/seqan/issues/2366.

[code]

[2018-12-05 11:50] rrahn commented on #2365
@joergi-w can you please try to investigate this problem. @paulmenzel is there any possibilty we can get remote access to a ppc64le in case we can't reproduce it on our platforms?

[2018-12-05 11:56] paulmenzel commented on #2365
On 12/05/18 12:50, rrahn wrote:

Yes, we could figure something out and set up a guest account.

[2018-12-05 12:38] rrahn commented on #2365
Awsome

[2018-12-05 14:11] smehringer commented on #2366
HI @paulmenzel,

thanks for reporting this. @eseiler can you look into this?

[2018-12-05 14:53] paulmenzel commented on #2365
On 12/05/18 15:46, Jörg Winkler wrote:

I’ll send you a private message.

[2018-12-06 15:19] joergi-w commented on #2365
Very strange: In _Release_ build mode all tests pass successfully and in _Debug_ mode I see 5 different tests fail, where app_test_seqan_tcoffee is not contained.
[code]

I'll check out an earlier version to test whether _fix/empty_graph_iterator_ (#2361) introduced the problem. However with the result shown above it doesn't look like an issue specific to T-Coffee.

[2018-12-10 10:56] rrahn commented on #2366
I am not sure we should do this. We don't want our build system to install dependencies into the system. So the recommended way is to create a virtualenv and install the dependencies. Then trigger the build. But this needs to be done externally.  So instead I suggest to add a proper error message by the build system if jinja2 could not be found.

[2018-12-10 11:36] rrahn commented on #2366
Oh sorry, i was confused about what was expected. So all good from my side.

[2018-12-10 12:01] joergi-w commented on #2365
Also in version d7b7124d7 multiple tests fail (in Debug mode only).

@paulmenzel Which compiler flags do you use? I still cannot reproduce the _tcoffee_ failure, but spotted some other tests that do not succeed on _ppc64le_. Do you remember a time point/ commit in the past, where all tests were successful for you?

[2018-12-10 12:06] paulmenzel commented on #2365
On 12/10/18 13:01, Jörg Winkler wrote:

Thank you for looking into that.

I am using the defaults. I built in `/dev/shm` and run the commands
below.

    $ mkdir build
    $ cd build
    $ cmake ../
    $ make -j120 && make test

No, I just started to build and test that now, and have no data from
the past.

[2018-12-11 12:41] joergi-w commented on #2365
Thank you for the information! Your binary in /dev/shm/... indeed fails the test.

However, I use the same commands in my home directory on your machine and the tcoffee test still works for me (and all the other tests, too). I suggest to try a new build from the latest develop branch in a different directory. Sorry that I currently cannot investigate more.

[2018-12-12 15:09] paulmenzel commented on #2365
Didn’t you write, that tests failed for you too?

Anyway, building in my home directory, tests still fail, but unfortunately not reproducibly.

    $ make test
    […]
    The following tests FAILED:
            264 - test_demo_tutorial_journaled_set_solution_online_search_finder (Failed)
            421 - app_test_seqan_tcoffee (Failed)

Running `ctest . --output-on-failure` directly, I only got

[2019-01-02 11:56] mr-c opened #2368 "arm64, alignment problem causes a failure to build from source"
https://github.com/seqan/seqan/blob/master/include/seqan/misc/bit_twiddling.h#L348

Steve McIntyre <steve@einval.com> at https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=917851 writes:

Hi!

I've been doing a full rebuild of the Debian archive, building all
source packages targeting armel and armhf using arm64 hardware. We are
planning in future to move all of our 32-bit armel/armhf builds to
usi

[2019-01-09 12:17] rrahn opened #2369 "Fix KNIME T-Coffee node"
It seems the t-coffe node in KNIME is broken:

[code]

2 days

Fixed by https://github.com/genericworkflownodes/GenericKnimeNodes/pull/238

[2019-01-09 12:50] mr-c commented on #2368
Hey @rrahn, you are welcome.

Currently it isn't preventing seqan 2.x from being in the next Debian release, but it is blocking our ability to update the package.

So, not super urgent. I'll let you know if that changes.

[2019-01-10 07:46] mr-c commented on #2281
@h-2 @rrahn @marehr A fix that I've tested with qemu is available at https://github.com/seqan/seqan/pull/2370

[2019-01-10 09:03] rrahn commented on #2366
this was fixed by #2367

[2019-01-10 09:03] #2366 closed

[2019-01-10 16:48] rrahn commented on #2369
See https://github.com/genericworkflownodes/GenericKnimeNodes/issues/237

[2019-01-10 16:48] #2369 closed

[2019-02-05 10:37] rrahn opened #2371 "Fix CXX11 dependency for macports build:"
@rrahn commented on [Tue Feb 05 2019](https://github.com/seqan/seqan3/issues/718)

see https://trac.macports.org/ticket/55850

---

@h-2 commented on [Tue Feb 05 2019](https://github.com/seqan/seqan3/issues/718#issuecomment-460588957)

I think you meant to put this in the seqan2 issue list?

[2019-02-05 14:45] rrahn commented on #2371
Fixed in https://github.com/macports/macports-ports/pull/3585

[2019-02-05 14:46] rrahn opened #2372 "Upgrade SeqAn ports to 2.4.0 in mac ports:"
See https://trac.macports.org/ticket/55851

[2019-02-05 15:34] rrahn commented on #2372
Follow up task from:  #2263

[2019-02-05 19:18] rrahn commented on #2371
Merged upstream.

[2019-02-05 19:18] #2371 closed

[2019-02-21 10:57] #2372 closed

[2019-03-12 10:45] rrahn opened #2375 "Yara KNIME node does not work with relative paths"
It seems there is a problem when using relative paths in KNIME for the yara node.

Here is the original message:
[code]

[2019-04-03 20:04] Lolasdasdasd opened #2380 "Options of globalAlignmentScore"
I'm using the function globalAlignmentScore to align a huge amount sequences in parallel. When fiddling with the parameters, I could change gap costs via Score or AlignConfig. However, I fail to understand the function of lowerDiag, and upperDiag and its not documented as far as I can see...
More importantly, I want to apply a local alignment (SmithWaterman) combined with a scoring scheme but coul

[2019-05-04 20:12] zlangley opened #2381 "Support for multipattern approximate searching?"
Hello,

Is there currently any plan to support multipattern approximate searching (e.g., MultiPex, which is like Pex, but breaks all patterns into k+1 pieces, and then verifies all the owners of each hit)?

Thanks.

[2019-05-06 09:33] rrahn commented on #2380
Hi,

these parameters are for the banded version of the algorithm. `lowerDiag` is the lower bound of the band and `upperDiag` is the upper bound. See http://docs.seqan.de/seqan/master/?p=globalAlignmentScore and https://seqan.readthedocs.io/en/master/Tutorial/Algorithms/Alignment/PairwiseSequenceAlignment.html#banded-alignments for the documentation.

For this there is the localAlignmentScore func

[2019-05-07 09:31] rrahn commented on #2380
Pleas also note, that the banded vectorized version does not work yet for sequences with different length. This is a feature which will come with SeqAn3.

[2019-06-14 09:11] rrahn opened #2382 "Set timeout on version check http requests"

[2019-07-17 07:33] canfirtina opened #2387 "jumpToRegion cannot locate the alignment when there are few mappings"
Hi SeqAn team,

I probably discovered a strange bug related to the function "jumpToRegion". I observed that when there are a few mappings to a contig (e.g., 1-2 mappings in my case), jumpToRegion fails to find these alignments. Here are the steps for you to regenerate the problem:

Download a few reads from PacBio
`curl -s http://datasets.pacb.com.s3.amazonaws.com/2014/c_elegans/additional_data/25

[2019-07-17 08:33] canfirtina commented on #2387
Here is also the line of code where I use this function:

https://github.com/CMU-SAFARI/Apollo/blob/b39015a3707149563e2de5d069f1a7b569ca0f9c/src/main.cpp#L1124

[2019-07-17 09:18] rrahn commented on #2387
Hi thanks for reaching us to us.
Indeed it is possible that jumpToRegion does not work properly for PacBioReads since the reads have a very heterogeneous size. It is more suitable for short reads with homogeneous sizes. We have another function called viewRecords. Unfortunately it does not show in our documentation. We will have a look. But in case here is the interface:
[code]
The first argument

[2019-07-17 09:20] rrahn opened #2388 "BamFileIn#viewRecords does not show in the docs."
There is no entry in the user documentation for the function BamFileIn#viewRecords in develop, master or 2.4.0.

<img width="757" alt="Screenshot 2019-07-17 at 11 20 05" src="https://user-images.githubusercontent.com/1529364/61363808-e7d29d80-a884-11e9-9612-80bbbde3d84f.png">

[2019-07-17 09:53] canfirtina commented on #2387
Hi @rrahn . Thanks for the quick response. Unfortunately, I am unable to locate the _viewRecords_ function anywhere in the entire project folder. Is it only located in older commits? I see that you added some unit tests for viewRecords in the earlier commits (https://github.com/seqan/seqan/commit/3f0ee71ff03e2b5eace7854cf579580b8c91fe60) but neither the unit tests nor the function itself is presen

[2019-07-17 10:09] rrahn commented on #2387
Mhmm, the feature is newer than I thought. It is not available in the current master but only in develop. Sorry, I kind of lost track of these things after we started working heavily on SeqAn3. Can you work on develop instead? We will probably don't have another release before fall.

[2019-07-18 06:17] smehringer commented on #2388
But the documentation is there  :( https://github.com/seqan/seqan/blob/develop/include/seqan/bam_io/bam_index_bai.h#L162
I have no clue why it is not included

[2019-07-18 08:22] rrahn commented on #2388
Well, first of all it is only relevant for the develop branch since it was not included for 2.4 and is not yet merged into master.

For the other thing I am not sure why it does not pop up. The dox code seemed fine. Can you built it locally and check if it is present. If that is the case then the cronjob might be broken and is not building the docu anymore

<sub>Sent with <a href="http://githawk.c

[2019-07-18 08:32] rrahn commented on #2388
In case the Cron is not running, we should trigger it from Jenkins to get rid of the user dependency.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-18 21:32] canfirtina commented on #2387
It looks like _viewContainer_ function available under develop solved my problem. Thanks for the suggestion.

I also have an idea that you may want to consider. I had been using the _jumpRegion_ function to point out to the first occurrence of an alignment for a specific contig (i.e., refId). If there is at least one such alignment, I usually use a buffer to read a _limited number of alignments_ s

[2019-07-18 21:32] #2387 closed

[2019-07-18 21:56] rrahn commented on #2387
Glad it did help and thank you very much for the suggestion. The problem with jump to region alone is that you find the first alignment that overlaps with the specified region, but with long reads it could happen that a lot of reads coming next would not intersect with the region because they are smaller compared to the first one that matches.

So viewRecords is actually what you want. In SeqAn3 w

[2019-08-14 08:16] Stef10x commented on #2095
I ran into the exact same issue. It's easy to replicate:
`razers3 -f -o results.razers 3contigs.fa read1.fa`

with 3contigs.fa:
[code]

and read1.fa:
`>read1
CATGGCTTGGACTAGAAAAGAATAA`

returns a duplicate hit:

[code]

If you run this on a larger scale the single hit in a single contig is reported several times. Adding `--unique` doesn't do the job returning unique hits. In this example, it resul

[2019-08-14 09:50] rrahn commented on #2095
Hi @Stef10x thanks for writing us. I have to admit that this issue is not easy to track.
For the time being I recommend trying our read mapper YARA: http://packages.seqan.de/yara/ which is currently maintained, is in general faster and easier to use. If you need assistance with using Yara, please don't hesitate writing us. I can't promise to find time soon to work on this, but we will keep you pos

[2019-08-26 14:41] svnbgnk opened #2391 "MyersBitVector return wrong Score in rare cases."
[code]

[2019-08-30 16:01] svnbgnk commented on #2391
One more thing I noticed, where always the wrong score is reported.
     Dna5String reference = "TAAATATTAT";
     Dna5String needle =    "TAAATAATTAT";
TAAATA--TTAT
|||||||||||||||   ||||||||
TAAATAATTAT
BEST error: 4
score global Alignment function  :- 1
Needle aligns to an infix of the reference (the whole reference in this case). I if is possible for myers to report the correct score.

[2019-09-10 13:11] svnbgnk commented on #2391
Here is an even shorter example, it seem to be connect to band and having more Insertions than deletion in the needle:
    Dna5String reference = "ACGTA";
    Dna5String needle =    "ACGT";
    verification(reference, needle, 3);

[2019-09-10 14:35] svnbgnk commented on #2391
The non-banded version works flawless:
#include <seqan/basic.h>
#include <seqan/sequence.h>
#include <seqan/align.h>
#include <seqan/index.h>
#include <seqan/seq_io.h>

#include <iostream>
#include <seqan/align.h>

using namespace seqan;
using namespace std;

template<typename TString, typename TNeedle, typename TError>
inline bool verification(TString & text, TNeedle & needle, TError maxErrors)
{

[2019-09-16 19:44] svnbgnk opened #2393 "Yara Index Memory alignment issue"
Due to copying a Dna5 alphabet into a dna4 index the resulting indexing data structures are no longer completely correct. This will affect the mapping process (backtracking) in extremly rare cases.
https://github.com/seqan/seqan/blob/f5f658343c366c9c3d44ba358ffc9317e78a09ed/apps/yara/indexer.cpp#L255-258.

I fixed this issue on a branch of Dream-Yara here:
https://github.com/svnbgnk/dream_yara/com

[2019-09-26 09:42] serosko opened #2395 "Controlling async IO threads"
Hi,
I am using seqan BAM I/O for my project and when running the program lots of threads are spawned, which I imagine being due to the async I/O, because I did not implement any multi-threading. Is there a way to control the number of I/O threads?

[2019-09-26 09:46] rrahn commented on #2395
There is an environment variable called SEQAN_BGZF_NUM_THREADS which you can set before including before including seqan  headers. It defaults to 16 if not set otherwise.

[2019-09-26 11:23] serosko commented on #2395
Thank you for the answer. I included this in my preprocessing commands but this does not seem to change anything. The code now compiles with:
`
~/Development/PopDel$ make
g++ -I . -DSEQAN_HAS_ZLIB=1 -std=c++14 -DSEQAN_DISABLE_VERSION_CHECK -DSEQAN_BGZF_NUM_THREADS=1 -DDATE=\""on 2019-07-04"\" -DVERSION=\""1.1.0"\" -W -Wall -Wno-long-long -pedantic -Wno-variadic-macros -Wno-unused-result -O3 -DNDEB