[2016-07-20 13:03] schmeing opened #1818 "bool operator==(const char *lhs, Prefix<CharString>::Type &rhs)"
Is there a reason why this operator does not exist?

`cout << ("Hallo" == CharString("Hallo")) << '\n';`
works fine, but
`cout << ("Hallo" == prefix(CharString("Hallo"),5)) << '\n';`
complains about the missing operator

[2016-07-20 15:47] h-2 commented on #1818
Of course there is :smile:

The problem is, that the conversion does through the CString and our `toCString()` function. The latter is a hack that actually resizes the underlying datastructure, appends a terminator symbol and returns a pointer to the beginning. Now this works for all contiguous data structures, like `seqan::String<>`, `std::string` and `std::vector<>`, but it doesn't work for an i

[2016-07-20 16:22] schmeing commented on #1818
I don't see the need for the toCString() conversion, but I might have overlooked something as I know nothing about seqans internals.

My current workaround is adding:
[code]
Anything that might go wrong there?

[2016-07-20 16:26] h-2 commented on #1818
well the lhs cannot be converted to a prefix of another type, so it would try to convert the rhs to a CString (which doesnt work).

Hm, you might be accessing memory way beyond the end of one of the strings, that's really unsafe. I would try instead:

[code]
Although this will be slower of course.

[2016-07-20 16:40] schmeing commented on #1818
True, but easily fixed and faster then your suggestion:
[code]

[2016-07-20 16:56] h-2 commented on #1818
Yes, for charstrings this works indeed, but for other `seqan::String<>` it wouldn't.

[2016-07-21 09:17] schmeing commented on #1818
Just to know how much effort it is worth to put in:
When are you planning to release SeqAn3, where this should not be a problem?

I tried to follow the comparison and ended up at the compare_ function line 281 in sequence_lexical. Until there I haven't seen a reason why a const char * shouldn't be supported for the left side, but I might have simply missed it.
Then in the function itself begin() a

[2016-07-22 13:06] kdmurray91 opened #1820 "Remove `seqan.dddoc` and deprecated stuff under util/py_lib"
Hi,

I'm packaging Seqan 2.x for the Debian and derivative operating systems. So far, so good, however it appears that there are many minified javascript and even Flash programs within the documentation helper code (specifically under [dddoc/tpl](https://github.com/seqan/seqan/tree/master/util/py_lib/seqan/dddoc/tpl)). These are not allowed (even in sources) within debian, as they are in essence n

[2016-07-22 16:45] h-2 commented on #1820
Hi Kevin,

thanks for working on porting SeqAn2 first of all. As I mentioned previously to @mr-c of Debian Med in #1478 we do recommend strongly against using a full checkout of the repository for building the library packages. Having a huge meta-repository with all sorts of utils and apps is a legacy that we really rather not pass on to downstream.
Precisely for this purpose we offer "library sou

[2016-07-24 12:48] rrwick opened #1821 "DFS crash - recursion depth"
I encountered a Seqan crash which I traced to the `depthFirstSearch` function in a large graph. Since this DFS is implemented recursively, it crashed when it reached a depth of 10s of thousands of recursive calls.

I was able to solve the problem by re-writing the function in a non-recursive manner:
[depth_first_search.h.txt](https://github.com/seqan/seqan/files/380257/depth_first_search.h.txt) (S

[2016-07-25 09:46] h-2 commented on #1821
@rrahn can you investigate this? Or does anyone else work with the graph module right now?

[2016-07-25 10:56] rrahn commented on #1820
@kdmurray91 @h-2 I think the dox still has some dependencies to the dddoc. So removing the subdirectory may cause some issues. But I am not so sure. It was some time ago I looked into it.

[2016-07-26 08:20] rrahn commented on #1821
@rrwick can you submit the crash report?
In general, iterative or recursive function might not have a big influence on the runtime at all. So changing it should be fine in general.
Can you make a PR, for the iterative DFS? I will than have a look at the code.

[2016-07-26 08:50] rrahn commented on #1818
@schmeing We have the comparison operator overloaded for Segments as lhs-operand. So
[code]
should work.

[2016-07-26 18:21] schmeing commented on #1818
Awesome. I can confirm that it works. Thanks!

[2016-07-26 18:21] #1818 closed

[2016-07-27 06:14] rrwick commented on #1821
@rrahn, I've made the PR: https://github.com/seqan/seqan/pull/1823

And while I tried to do the contributor license agreement described [here](https://github.com/seqan/seqan/blob/master/CONTRIBUTING.rst), it just said, 'We're sorry, but something went wrong.'

Let me know if there's anything else I can do!

[2016-07-27 10:32] h-2 commented on #1818
@rrahn but why is this the case? And where is it documented?

[2016-07-27 13:52] martinjvickers commented on #1789
Just to confirm that I've tried this again with the latest v2.2.0 release and the same error occurs

I'm just wondering if this example dataset did work once with a previous release, i.e. that the GTF file was being successfully parsed despite the extra space and in a subsequent release the GTF parsing is more stringent. If that's so should we update the Mus_musculus.NCBIM37.61.gtf file so that it

[2016-07-28 09:43] rrahn commented on #1818
1. Because it's implemented and 2. why would I know? I didn't write the code 😏

[2016-07-28 09:43] rrahn commented on #1821
@h-2 can you check the CLA plugin. It seems to be broken again?!

[2016-07-28 09:53] rrahn commented on #1789
@martinjvickers Thanks for reporting this. We'll investigate this.

[2016-07-29 06:29] bjpop opened #1825 "ArgParseArgument list allowing zero or more items?"
Hi SEQAN devs,

I'm writing a program which accepts zero or more FASTA files on the command line, as positional arguments.

If zero files are specified, then it will default to reading from standard input.

I want to write a Seqan argument parser to capture this behaviour. However, I seem stuck with a solution that requires at least one file to be specified.

Here's a sketch of what I have:

[code

[2016-08-01 18:25] msto opened #1826 "Support for S3 hosted BAM files?"
Hi,

Is it possible to access S3 hosted BAM files with `seqan::BamFileIn`? Htslib permits it but I couldn't find any documentation describing it here.

Thanks!

[2016-08-02 06:54] rrahn commented on #1826
Hi @msto, thank you very much for writing us.
At the moment we don't support this. But I will leave this ticket open as a feature-request and we will discuss this in the team.

[2016-08-02 08:47] rrahn commented on #1825
Hi @bjpop, I think it would be possible if you could set a default value to the ```ArgParseArgument```, but it seems this is not implemented yet.
@smehringer  do you know, if we can set a default argument to an ArgParseArgument?
I am just wondering because we can certainly check for it: https://github.com/seqan/seqan/blob/master/include/seqan/arg_parse/arg_parse_argument.h#L997 but I couldn't find

[2016-08-04 09:13] smehringer commented on #1825
Hi @bjpop, sorry for answering that late.

@rrahn I looked into the source code and found the following when I tried to set default values or set the required arguments in a list to zero: (https://github.com/seqan/seqan/blob/master/include/seqan/arg_parse/argument_parser.h#L380)
[code]

It seems like arguments do not support what @bjpop would like to implement.

I would recommend the same as @rrah

[2016-08-04 09:30] smehringer commented on #1825
Sorry I made a mistake.
The REQUIRED_NUMBER parameter will set the exact number of option values that are expected from the input. Just leave out the last parameter and it will work!
[code]

[2016-08-08 23:58] bjpop commented on #1825
Hi @smehringer

Thank you for looking into this for me.

I must admit that I switched over to using Boost for command line argument parsing, while not quite as nice as the SeqAn library, was able to support my use case.

I'm still using SeqAn for reading FASTA files.

If I have time, I will try to come back to the SeqAn command line argument library, and try out your suggestion.

[2016-08-11 17:55] g-braeunlich commented on #1042
Ok, I will have a look at this.
Could you close the corresponding bug: https://bugs.gentoo.org/show_bug.cgi?id=588148 ?

[2016-08-12 14:54] h-2 opened #1830 "Extension list in argument parser gets really long with compressions"
e.g:
[code]
Could we instead display something like:
[code]

Or:
[code]

The last approach looks nicer, but it does have the problem that sometimes not all extensions have all compression formats, e.g. `.bam` cannot by extended by anything, because it already is compressed.

@rrahn @smehringer what do you think?

[2016-08-17 18:21] jwalabroad opened #1831 "guessFormatFromFilename issue"
I am trying to read a BAM file as follows, but it is failing:

[code]

I have tried this for multiple BAMs, all of which are well-behaved with other APIs. This does work if I input a SAM file instead. I used gdb to find where ```open``` is failing, and traced it to ```!guessFormatFromFilename(basename, file.format)``` on line 698 of ```formatted_file.h```. The ```guessFormatFromFilename``` is retu

[2016-08-18 07:44] rrahn commented on #1831
For reading bam you need to have the zlib library installed on your platform and enabled in Seqan.
I think the former requirement is matched but for the latter you need to make sure that the macro ```SEQAN_HAS_ZLIB``` is set to 1. (It is 0 by default).
Can you confirm that the macro SEQAN_HAS_ZLIB is set to 1.
Do you use a cmake or make-file based project? In cmake based project you need to call
[

[2016-08-18 13:19] jwalabroad commented on #1831
Thank you for the info, this was indeed my issue! I had compiled with -DSEQAN_HAS_BZIP2 but not with the -DSEQAN_HAS_ZLIB. I had seen in other issues that not compiling with -DSEQAN_HAS_BZIP2 would emit an error message when trying to access its functionality, perhaps the same could be done for zlib to make the failure more clear? At any rate, thank you so much for the quick response.

[2016-08-18 13:31] rrahn commented on #1831
Hi, 'glad it worked.
Well, the problem with the open function is, that it does not throw an exception. I think, when passing the file name to the BamFile constructor, an exception is thrown if the file could not be opened.
But I am not sure what the error message of that exception looks like.
In any case, we will consider a more verbose error message for the future.
Thanks for reporting.

[2016-08-18 13:31] #1831 closed

[2016-08-23 09:51] smehringer commented on #1830
Do we always allow compressed files and want the compressed file extensions always to be shown or does the user needs to specify compression formats (/for each file format)?

[2016-08-23 10:06] rrahn commented on #1830
Well, the compression formats will be automatically depicted, if the corresponding compression library is activated in seqan, e.g., SEQAN_HAS_ZLIB. I think the compression should be applied whenever possible.

@h-2 would it not be possible to let the bgzf_buffer read from a gzipped stream? I think technically, this would be possible, though I am not sure.
Anyway, I suggest a compromise between sol

[2016-08-23 14:26] holtgrewe opened #1832 "parse(GenomicRegion, CharString) returns void instead of bool"
Is this intentional?

Documentation says it should return bool.

[2016-08-24 01:24] bayolau opened #1833 "extracting floating point array tag from BAM"
Hi all,

what's the best way to extracting a floating point array (of type B,f) from the TAG of a BAM record? I tried `extractTagValue` with `BamTagsDict`, but don't know what floating point datatype to use.

Thank you

[2016-08-24 11:27] holtgrewe opened #1834 ""isOpen" function for FormattedFile"
This would be super useful.

[2016-08-24 12:16] holtgrewe commented on #1782
Are you aware of https://github.com/phusion/holy-build-box ?

[2016-08-24 14:01] holtgrewe opened #1835 "Tabix I/O does not work"
[code]

[code]

[vcf.zip](https://github.com/seqan/seqan/files/434858/vcf.zip)

[2016-08-24 14:02] holtgrewe commented on #1835
@weese :beetle:

[2016-08-24 14:02] holtgrewe commented on #1835
;)

[2016-08-24 16:04] holtgrewe commented on #1835
OK, I figured it out. The problem is that the `'\0'` characters in the contig names from the TBI file are copied over into the name store of the index. Thus, the names are `"20\0"` which when using `operator==()` is not equal to `"20"`.

:scream:

[2016-08-24 21:14] ganyfml opened #1836 "Generate cigar [Question]"
Hi All,

I am trying to do the global alignment among two Dna5Strings (ref, query) and generate the SAM file using the following code.

[code]

I have read the document that in order to generate the SAM, I need the cigar which is in the following format:

[code]

Is there any function which helps to generate cigar from gap_ref and gap_query? I see there is one function called "getCigarString(...)"

[2016-08-25 06:26] holtgrewe commented on #1836
Hi @ganyfml yes, `getCigarString` is the way to go. Something like the following should work.

[code]

[2016-08-25 08:12] martinjvickers commented on #1782
@holtgrewe I've not seen this before, it looks very interesting. I will certainly take a look at this. Many thanks.

[2016-08-25 14:37] ganyfml commented on #1836
Hi @holtgrewe Thank you! Could you explain what the 9999999 means?.....

[2016-08-25 15:01] holtgrewe commented on #1836
Ah, this is the threshold to make a deletion (of the read with relation to the reference) count as a splicing event (being encoded as `N`). This is more or less just a quick hack, though.

[2016-08-25 15:13] ganyfml commented on #1836
That is a clear explanation, thank you very much!
I suggest you add getCigarString() to document/tutorial, since it is a really useful function.....

[2016-08-25 15:14] #1836 closed

[2016-08-27 15:19] ganyfml opened #1838 "Generate IndexEsa for fasta/fastq file with multiple seqs [Question]"
Hi,

I am writing my own code to do the non splicing alignment by using IndexEsa to do the search.
When I creating the IndexEsa index, I get a little confused about how to create IndexEsa index for a fasta/fastq file with multiple seqs inside.

I have a around 2.5GB reference genome(mm9), In below is my minimal working example of creating index and get the result range.

[code]

My question is:
1.

[2016-08-27 16:05] ganyfml commented on #1838
I have used the above way to generate index and try to save to a file. But it throw the error in the following:
[code]

[2016-08-28 14:16] xenigmax opened #1839 "BAM's first line header parsing"
This is a bug.
Strings must be specified for each of sorting types.
https://github.com/seqan/seqan/blob/develop/include/seqan/bam_io/bam_header_record.h#L417-L424

eg.
https://samtools.github.io/hts-specs/SAMv1.pdf
"unsorted" for BAM_SORT_QUERYNAME
"coordinate" for BAM_SORT_COORDINATE
.
.

[2016-08-29 07:32] rrahn commented on #1838
Hi,

to answer your questions swiftly. 1) Well, it depends on how much memory you have available.
If you build the index over the entire genome, it will be larger than loading one index at a time, but search will be more inefficient, because you have to trigger the same search for every chromosome instead of one time only. To use the string set more efficiently, you should use a http://docs.seqan.

[2016-08-29 08:32] rrahn commented on #1835
@holtgrewe Can you fix it?

[2016-08-29 09:02] holtgrewe commented on #1835
@rrahn OK, just added a patch for 3 more lines to #1837. The fix is to trim the trailing `'\0'`s so they don't end up polluting the strings.

[2016-08-29 09:08] rrahn commented on #1833
Hi,

it seems this functionality is not yet implemented.
```extractTagValue``` only works for _Z_ fields or atomic types such as ```int``` not for arrays I am afraid.

[2016-08-29 12:48] rrahn commented on #1835
Fixed by #1837

[2016-08-29 12:48] #1835 closed

[2016-08-30 11:23] eik-dahms opened #1840 "_printBinary() function in myers_hirschberg pollutes stdout [ Question ]"
Since seqan-v2.2.0 the function _printBinary() in global_alignment_myers_hirschberg_impl.h is writing directly to the stdout. (and therefore polluting the output of my program)

Is this an intended behaviour ?

@rrahn

[2016-08-30 11:45] rrahn commented on #1840
Hi, sorry it's not intended.
It must be a leftover. We'll remove it soon.
Thanks for reporting.

[2016-08-30 13:43] bestrauc opened #1841 "SeqAn::T-Coffee library input"
Hi,
there seems to be a small bug in Seqan's T-Coffee implementation when you supply an externally generated T-Coffee library that specifies alignments and residue pairs that you want T-Coffee to use. The `T-COFFEE_LIB_FORMAT_01` I'm referring to is specified [here](http://www.tcoffee.org/Documentation/t_coffee/t_coffee_doc.pdf) on page 71 and as you can see, it ends with `!<space>SEQ_1_TO_N `, wh

[2016-08-30 15:27] ganyfml commented on #1838
Thanks rrahn! I have looked the tutorial you suggest and ConcatDirectStringSet class, I think it is very helpful! But I still have a little confusion at some places....

1.

The inefficient here, you mean efficient, right?

2.
Since what I use is mainly a suffix tree iterator to go down(never go up), do you think the indices I use (IndexEsa) is right? I found it is really memory consuming, for a 1

[2016-08-31 08:08] rrahn commented on #1821
Fixed by #1828

[2016-08-31 08:08] #1821 closed

[2016-08-31 14:34] ganyfml opened #1842 "Generating and save IndexEsa file for large genome (2.6G fasta) throw error"
I am trying to create the IndexEsa of mm9 genome (2.6G fasta file) using the code below:

[code]

I have tried twice using the same code, and it throws the same error:

[code]

System Configue:
[code]

[2016-08-31 15:11] smehringer commented on #1830
@h-2 your example now looks like this:

[code]

[2016-09-01 09:43] cpockrandt commented on #1842
Hi @ganyfml

@smehringer was so kind to test it and ran into the same issue.

Our index creation algorithm is using secondary memory. The error suggests that you don't have enough space left on your disk or the quota of your `TEMP` is exceeded. Try changing your temp directory or increase the quota.

If you need more help, feel free to ask :-)

[2016-09-01 09:55] cpockrandt commented on #1838
To decrease the index size, you should choose smaller data types. Since you are having less than 4 billion bases, you can use 32bit integers, instead of 64 bit integers, see [here](http://seqan.readthedocs.io/en/master/Tutorial/DataStructures/Indices/StringIndices.html#reducing-the-memory-consumption).

If you want to use a smaller index, I recommend using the [FMIndex](http://docs.seqan.de/seqan/

[2016-09-01 10:35] smehringer commented on #1834
I gave it a try. Works with a little example for me. @holtgrewe @rrahn can you take a look at it?

[2016-09-01 15:01] ganyfml commented on #1838
@cpockrandt Thank you very much for your time and clarification, and sorry for asking so many questions.......
Now it makes much sense to me. I am trying to use the 32 bit integers to decrease the index size....

I am wondering if I use FMIndex instead of IndexEsa, will the speed be slower dependents on what I am doing? (creating iterator and goDown())

Also, does seqan support to load index into

[2016-09-01 18:42] cpockrandt commented on #1838
I'm not very familiar with IndexEsa but from what I've heard our FMIndex occupies less space and is also faster (one reason might be because our research is currently focussed on the FMIndex). Since the FMIndex is a prefix tree, you have to reverse the sequences before building the index).

You can use tmpfs and move your files to `/dev/shm` to avoid loading them from hard disk.

From a theoretica

[2016-09-01 21:55] ganyfml commented on #1842
@smehringer Thanks for your time for this issue.

@cpockrandt Thanks for your reply. Based on your suggestion, I have set the `$TMPDIR` variable and use `mktemp` to make sure the `TEMP` path point to my current disk.

System Configue:
[code]

Error message:
[code]

I have changed the code a little bit, for your convenience, I paste my code here:

[code]

Thanks !
Yue

[2016-09-02 07:25] holtgrewe commented on #1834
What about adding a unit test?

[2016-09-02 09:03] h-2 commented on #1782
@holtgrewe thanks that looks promising, the only problem is, that we need gcc4.9, not 4.8 and that we also need a static bz2 lib. But maybe we can adapt the images!

[2016-09-02 09:52] smehringer commented on #1834
Sure. Any suggestions to which existing tests this might fit?
Since ```formattedfile.h``` belongs to ```include/seqan/stream/```, I looked into the stream tests but I'm having a little trouble to understand all the test cases and figure out where to best place an isOpen-test.

[2016-09-02 12:23] smehringer commented on #1834
I added unit tests for each of the formatted file IO's. (See PR)

[2016-09-02 12:27] rrahn commented on #1842
Hey, it's likely that 90GB is not enough.
Can you try too create the index on just one chromosome to see if it works in general.

[2016-09-05 15:05] h-2 opened #1845 "Investigate use of HugePages / SuperPages"
especially for MemoryMapping:
https://www.kernel.org/doc/Documentation/vm/hugetlbpage.txt
http://lxr.free-electrons.com/source/tools/testing/selftests/vm/map_hugetlb.c
(needs changes by administrator)
http://man7.org/linux/man-pages/man2/mmap.2.html
https://www.freebsd.org/cgi/man.cgi?sektion=2&query=mmap

[2016-09-07 09:25] h-2 commented on #1833
@temehi can you look into this for 2.3.0?

[2016-09-07 09:48] h-2 commented on #1841
@joergi-w can you have a look at this?

[2016-09-07 09:53] h-2 commented on #1825
@smehringer if you think this issue is resolved, feel free to close it.

[2016-09-07 09:56] h-2 commented on #1825
@bjpop of course you can reopen it if you switch back to using the ArgParser and it doesnt work for you ;-)

[2016-09-07 09:58] h-2 commented on #1820
@xenigmax since you have worked with the dox system recently I am reassigning this to you, I hope thats ok!

[2016-09-07 13:16] joergi-w commented on #1841
Sure. Thank you @bestrauc for pointing that out.
I suggest skipping comment lines (starting with '!') completely.

[2016-09-08 07:55] joergi-w commented on #1841
The issue was solved in Pull Request #1850 and can be closed.

[2016-09-08 08:53] #1841 closed

[2016-09-08 08:53] h-2 commented on #1841
@bestrauc If the issue persists, please reopen.

[2016-09-11 14:05] ganyfml commented on #1842
Sorry for the late reply, I am finally able to create the index using a much powerful machine. It seems indeed the disk size is the problem.

Thank you !

[2016-09-11 14:05] #1842 closed

[2016-09-12 14:44] #1825 closed

[2016-09-16 10:44] xenigmax commented on #1820
I can't predict exact consequences after removing that parts, but I would say @rrahn is correct about this.
You will encounter problems on building docs which we can't cope with immediatly.
I would like to recommand you to follow @h-2 's suggestion about this.

[2016-09-18 14:09] h-2 commented on #1820
@xenigmax @rrahn I still think that removing legacy code from the repository is a worthwhile effort especially binary stuff like flash (why is that even there!?). If this helps getting an up to date version of seqan into Debian it is all the more important.
Could you have a look at what specifically inside the dddoc is still required and isolate and move that to dox?

[2016-09-19 03:51] kdmurray91 commented on #1820
@h-2 That information would be extremely useful. We currently just exclude this files from our packages, and do not attempt to build any documentation. We would be very keen to have documentation in the archives.

[2016-09-19 07:20] temehi commented on #1833
@h-2  will do!

[2016-09-19 07:52] xenigmax commented on #1820
@h-2 Unfortunately, I can't do that until October. But if nobody wants to do that, I will be working on it in November.

[2016-09-20 04:16] kdmurray91 commented on #1820
@xenigmax Sure, this isn't super urgent. Seqan is now in debian (unstable) as `libseqan2-dev`. We keep the old V1 headers around as `seqan-dev` as many programs use V1 still.

[2016-09-20 10:13] h-2 opened #1854 "remove remaining uses of 'register' storage class"
See http://cdash.seqan.de/viewBuildError.php?type=1&onlydeltap&buildid=194381

The task is just to remove the register keyword everywhere in seqan.

[2016-09-20 10:35] h-2 commented on #1820
@kdmurray91 thanks a lot, that's really great to see! A quick question: To me it looks like the pkgconfig file and the Cmake file are not included. Was this done on purpose?

[2016-09-20 10:54] h-2 opened #1855 "update link to debian package in manual"

[2016-09-20 16:31] aseyboldt opened #1856 "zip archive for seqan-library release"
Since the 2.2.0 release [packages.seqan.de](http://packages.seqan.de) does not list zip archives for the `seqan-library` release any more. On linux using the `tar.xz` release is straightforward, but not so much on windows. I think this was introduced in #1667. Unless this was an intentional change (in the pull request only the binary releases are mentioned) it would be great to get zip archives ag

[2016-09-20 23:12] kdmurray91 commented on #1820
Nope, that was accidental. @satta has plans to fix that. We also need to ensure that seqan-dev and libseqan2-dev are co-installable (don't provide the same files/directories). Any tips on this?

[2016-09-21 06:09] mr-c commented on #1820
Kevin, they don't need to be co-installable but one has to be marked in
conflict with the other.

Pe 21 sept. 2016 2:12 a.m., "Kevin Murray" <notifications@github.com> a
scris:

[2016-09-21 09:33] satta commented on #1820
Well, according to Debian's policy 7.4 [1] just marking packages with `Conflicts` is usually not the best solution, and it might help exploring other options. Can you think of a reasonable case where one would want both versions of SeqAn installed in `/usr/include/seqan` at the same time? If not, I'd say setting `Conflicts` is OK.

@h-2 While packaging Lambda I have prepared some additions to the

[2016-09-21 09:59] cpockrandt commented on #1838
@ganyfml I think all questions in here and #1842 are answered so far. If you have still any further questions, feel free to reopen this ticket!

[2016-09-21 09:59] #1838 closed

[2016-09-21 10:53] h-2 commented on #1820
Unfortunately there is no clean way to do this. For the (distant) future SeqAn3 we will switch to `include/seqan3` and also namespace seqan3 so that it can coexist peacefully with SeqAn2, but for 2.x and 1.x this is not possible.

Since seqan is always used as a build dependency only, I don't think this scenario exists. If debian packaging works like other systems I am more familiar with, this mea

[2016-09-21 10:56] h-2 commented on #1856
@xenigmax can you create a zip file for 2.2.0 and update our TODOs in case creating a zip file is missing?

[2016-09-21 11:04] satta commented on #1820
Thanks @h-2 for the reply. It looks like marking them as conflicting (and thus mutually exclusive) will be sufficient.

[2016-09-23 12:59] satta commented on #1820
Just one more question from a CMake non-expert: how does one build the `.pc` file from the `.pc.in`? I'd like to include it in the -dev package but apparently it doesn't get populated with the versions and paths by default?

[2016-09-23 13:12] h-2 commented on #1820
@satta The configuring of the pc-file happens via cmake (although ultimately the pc file is of course completely unrelated to cmake) if the target ist SEQAN_RELEASE_LIBRARY which is the procedure that it is used for creating the "library tarballs" -- I told you it would be easier to use those :wink:

I really don't know how pkgconfig works, but likely you can do some regexing on the file. Maybe th

[2016-09-23 14:31] satta commented on #1820
@h-2 Thanks!

[2016-09-25 18:55] mr-c opened #1861 "Debian related package issues"
Open Debian Issues:
- [x] CPU architectures
  - [x] amd64
  - [x] arm64
  - [x] armel : out of memory while building apps, disabled ~~WONTFIX because of GCC BUG: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=64735~~
  - [x] armhf:  ~~using `-O3`, out of memory during yara_mapper `cc1plus: out of memory allocating
1761548 bytes after a total of 66174976 bytes`~~
Builds on Ubuntu now, try again? http

[2016-09-25 21:11] ganyfml opened #1862 "Write output to SAM/BAM format [ Question ]"
Hi,

I am currently developing a pipeline which contains two programs:

1. The **program 1** will build the index for the reference genome and save them to files.
2. The **program 2** will then load the index file and file contains query reads and do the search for each query read, and output results to SAM/BAM format.

I get two questions:

1. When I building the index using the **program 1**, is

[2016-09-26 15:42] martinjvickers opened #1863 "Print the help at will"
Is there a method to print the help whenever I want to, not just when parsing the command line arguments?

[2016-09-26 16:52] smehringer commented on #1863
Hi @martinjvickers,

there is a function called ```void printHelp(parser[, stream, format, showAdvancedOptions])``` that lets you print out the help. Please take a look at our [API](http://docs.seqan.de/seqan/master/) for further details.

A minimal working example could be:
[code]
which prints the help to the standard error output.

I hope this answers your question. If there is anything else you

[2016-09-27 08:44] martinjvickers commented on #1863
Hi @smehringer,

That's fantastic, exactly what I needed.

Thank you very much for your help and swift response.

Cheers,

Martin

[2016-09-27 08:44] #1863 closed

[2016-09-27 23:00] h-2 commented on #1861
We do not test any non-intel/amd platforms, however i386 is fully tested every night and before release..
I will look into once I am back from vacation, next weekend.

[2016-09-27 23:21] h-2 commented on #1820
@satta Thanks for the lambda port! Concerning the Seqan pacage: I have just looked at the package again, and now I see that the entire cmake folder is included. This should not be necessary, only the FindSeqAn.cmake file is required for cmake-based projects to find SeqAn. The exception to this are the official apps in our repo, they need the complete dir -- so actually the app-specific cmake thing

[2016-09-28 08:19] rrahn opened #1864 "Typos in Manual"
http://seqan.readthedocs.io/en/master/Tutorial/GettingStarted/BackgroundAndMotivation.html
1. "You might already have get in touch with global function interfaces while working with the STL" replace "get in touch" with "seen"
2. "The rationale behind is the following observation." add "this"
3. "Such task can be performed by metafunctions" -> tasks

http://seqan.readthedocs.io/en/master/Tutorial/W

[2016-09-28 12:40] h-2 commented on #1820
@satta @mr-c
I am moving the general discussion about the debian packages to #1861 and will keep this issue about the dddoc/dox if thats ok.

[2016-09-28 13:20] h-2 commented on #1861
This issue might be related to the changes of the cmake folder done @satta, please see also my second last statement in #1820 .

On an unrelated note: some of the seqan-apps require boost which is apparently also picked up during build of the seqan-apps packages, but it is not listed under:
https://packages.debian.org/unstable/seqan-apps
(I don't know if it would have to be listed there or whether

[2016-09-29 08:13] satta commented on #1820
Hi @h-2, thanks for opening a new issue for that! I'm a little busy at the moment but will take a closer look once things settle a bit.

[2016-10-05 08:35] h-2 opened #1865 "check implicit fallthroughs"
New compilers now warn if one has an implicit fallthrough, i.e.
[code]
This is often a bug, so to explicitly state that this is desired behaviour, you can now add:
[code]
This is formally a c++17 feature, but unknown attributes should be ignored on older versions so it should work anyway on c++14, too.

We need to
* [x] check that the is the case for all our platforms (i.e. every supported compile

[2016-10-05 08:46] h-2 opened #1866 "windows nightlies broken"
* [x] klette seems to down
* [x] margerite/icpc seems to be broken
* [x] Change builds of master to weekly

PS: we can change the builds for the master branch to be weekly instead of nightly since there are no changes to master anyway.

[2016-10-05 08:46] h-2 opened #1867 "nightly build failures on mac"
... related to SIMD.

[2016-10-05 08:47] h-2 commented on #1862
@temehi can you reply to this?

[2016-10-05 08:53] h-2 commented on #1854
resolved by #1860

[2016-10-05 08:53] #1854 closed

[2016-10-05 09:24] h-2 commented on #1482
Even if we are working on SeqAn3, SeqAn2 will be used for a long time and we need to come up with something here that works also in the future.
@xenigmax and @smehringer how much time would it take to port the scripts to a dialect that works on python2 and python3? Since we want to get rid of the dddoc dependency[ #1820 ]  , someone needs to look into the scripts anyway...

@karel-brinda we have `

[2016-10-05 09:37] h-2 opened #1868 "Get Intel 2017 stuff installed"
While I don't _expect_ anything to have broken, it is quite important that we verify before the enxt release. Also the new compiler brings in KNL support.

For 2.3 @marehr
- [x] ask staff to install Linux ICPC 17 and
- [x] ping @h-2 to add it to the nightlies
- [x] see if there are any issues and fix them

For 2.4 @rrahn
- [x] setup windows VM with new intel windows compiler

[2016-10-06 07:05] smehringer commented on #1482
@h-2 I don't think there is chance of writing a python script in a dialect that supports both python2 and python3 since I remember major syntax and namespace changes. Maybe we can have one script for each version and auto-detect which one is needed?

[2016-10-06 12:20] h-2 commented on #1834
fixed by #1844

[2016-10-06 12:20] #1834 closed

[2016-10-06 12:21] h-2 commented on #1830
fixed by #1843

[2016-10-06 12:21] #1830 closed

[2016-10-06 13:05] #1810 closed

[2016-10-06 13:05] #1855 closed

[2016-10-06 13:08] #1813 closed

[2016-10-06 13:08] h-2 commented on #1811
@xenigmax maybe discuss this with the IT

[2016-10-06 13:12] h-2 commented on #1782
Depends on phusion/holy-build-box/issues/2

[2016-10-06 13:13] #1770 closed

[2016-10-06 13:16] h-2 commented on #1716
@holtgrewe reopen if you have a PR.

[2016-10-06 13:16] #1716 closed

[2016-10-06 13:17] h-2 commented on #1702
@holtgrewe what is the state here?

[2016-10-06 13:18] holtgrewe commented on #1702
worksforme?

[2016-10-06 13:19] h-2 commented on #1683
@cpockrandt can you add static_asserts that fail with reasable error messages?

[2016-10-06 13:24] h-2 commented on #1385
@marehr we will wait for the new windows virtual machines with this

[2016-10-06 13:28] h-2 commented on #1105
@xp3i4 What is the state here?

[2016-10-06 13:29] h-2 commented on #1085
We will move to W3 for SeqAn3, but not anymore for SeqAn2.

[2016-10-06 13:30] h-2 commented on #1016
we recommend to use the yara read mapper instead.

[2016-10-06 13:30] #1016 closed

[2016-10-06 13:31] h-2 commented on #1017
we recommend to use the yara read mapper instead.

[2016-10-06 13:31] #1017 closed

[2016-10-06 13:32] h-2 commented on #955
@cpockrandt ping

[2016-10-06 13:33] h-2 commented on #838
@xp3i4 what is the state of this?

[2016-10-06 13:34] h-2 commented on #1702
why is it a question? does it work for you or not?

[2016-10-06 13:34] h-2 commented on #1702
@JakobSch if this is still an issue, please reopen

[2016-10-06 13:34] #1702 closed

[2016-10-06 13:36] h-2 commented on #701
closed due to bitrot

[2016-10-06 13:36] #701 closed

[2016-10-06 13:37] h-2 commented on #514
@smehringer will this be fixed with your deprecation PR?

[2016-10-07 07:23] marehr commented on #1482
@h-2 There is a pep http://legacy.python.org/dev/peps/pep-0394/ that suggest that python2 and python3 should exist. Can you tell my, why BSD's don't follow that?

-    `python2` will refer to some version of Python 2.x.
-    `python3` will refer to some version of Python 3.x.
-    for the time being, all distributions should ensure that `python` refers to the same target as `python2`.
-    however

[2016-10-07 09:00] h-2 commented on #1482
Interesting.

FreeBSD follows it. MacOS and OpenBSD apparently don't. I will ask the OpenBSD-people.

I still propse that we
1) adapt the cmake script to detect python2 properly
2) adapt the shell script to call  {python2|python2.7|python2.6} **explicitly**
3) we *can* change the shebang to python2, as well, seeing that step 1 and 2 should work on MacOS and OpenBSD, too.

[2016-10-07 14:59] cpockrandt commented on #1677
@h-2 Can you check whether the error still occurs? Last time I checked I couldn't reproduce the error with your input.

[2016-10-07 15:01] cpockrandt commented on #1728
Since it will most likely not be included in SeqAn3 anymore, I will include it only in the docs when I rewrite them for the FM and BiFM index.

[2016-10-10 10:13] bjpop opened #1873 "Open an empty FASTA file fails"
Using seqAn 2.1.1. When I try to open an empty FASTA file (zero bytes), the open function returns false.

This behaviour makes it difficult to distinguish between file I/O errors and an empty file. We might like to handle these cases differently.

Example code below demonstrates the problem:

[code]

[2016-10-10 10:43] bjpop commented on #1873
This is fixable if we open ifstream first, and construct a SeqFileIn from that.

This behaviour is different than the code mentioned above. Is that intentional?

[code]

[2016-10-10 12:34] rrahn commented on #1873
If you open the file using the ```SeqFileIn``` using it's constructor like so:
```cpp SeqFileIn file(argv[1])``` it will throw an exception instead.
It can throw an ```FileOpenError``` if it cannot open the file, or an ```UnknownFileFormat``` or ```UnknownExtensionError``` exception. In the last two cases the file had to be parsed, to read the magic number. If it is 0 bytes or an format that does

[2016-10-10 12:46] bjpop commented on #1873
Yes, that is helpful. Thanks for the information.

[2016-10-10 12:56] mr-c commented on #1861
Re: boost, we have boost as a compile time dependency. The apps package will automatically depend on the needed library packages, so the boost libraries used are either header only or being optimized out of the final binaries.

[2016-10-10 13:15] mr-c commented on #1861
A quick summary of the build failures:

1. Assembly error: `Error: unknown mnemonic `rep' -- `rep'` from `include/seqan/basic/basic_simd_vector.h` (arm64/armhf/mips/mips64el/mipsel/powerpc/ppc64el/s390x/alpha/sparc64)
2. `invalid use of incomplete type 'class std::future<void>` from `include/seqan/stream/iostream_bgzf.h:523:41` (armel)
3. pthread linking on hurd-i386, kfreebsd-amd64, and kfreebsd-

[2016-10-10 13:41] h-2 commented on #1861
SIMD is entirely optional and should only be activated if the system provides macros indicating that it is available. @rrahn can you say more about this? Didn't we already include some fixes for this? Maybe they are not yet in the released version...

This is likely a too old C++ compiler, maybe gcc on debian armel is older than 4.9?

Hm, that might be related to our build scripts, can you try add

[2016-10-10 13:50] mr-c commented on #1861
Looks like armel is stuck on gcc 6.1.1: https://packages.debian.org/search?arch=armel&keywords=gcc

I'll try a new build with your patch. That might also fix https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=840030

[2016-10-10 14:07] rrahn commented on #1700
@rrwick please reopen if the issue is not solved for you yet.

[2016-10-10 14:07] #1700 closed

[2016-10-10 14:20] h-2 commented on #1861
Also @satta : The build failure is related to AsyncIO. On FreeBSDit is not available unless the `aio.ko` kernel module is loaded. Most FreeBSD systems I know do this, but it is not default and in my experience it is not stable on FreeBSD/32bit, only on FreeBSD/64bit.
I don't know if kFreeBSD loads it by default, but in any case the issue would be a run-time problem and not a build problem.
Maybe t

[2016-10-10 14:22] h-2 commented on #1861
The version is not a problem, but apparently other things are just broken on armel: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=64735
Nothing we can do about that AFAICT.

[2016-10-10 14:25] mr-c commented on #1861
Would some apps build there, or should we skip armel entirely for
seqan-apps?

Pe 10 oct. 2016 5:23 p.m., "Hannes Hauswedell" <notifications@github.com> a
scris:

[2016-10-10 14:41] h-2 commented on #1861
@mr-c We just discussed this and think that especially with the next release all apps will be affected so we propose not to build on armel at all until GCC/libstdc++ is fixed there.
It might be prudent to also not offer libseqan2-dev there since nothing will be able to build with it...

[2016-10-10 14:51] h-2 commented on #1861
Sorry, you might be right, that `-lrt` on GNU/kFreeBSD will fix this. We are currently preparing a patch for the cmakefile...

[2016-10-10 14:58] h-2 opened #1877 ""Git Workflow" tutorial outdated"
http://seqan.readthedocs.io/en/master/Infrastructure/Contribute/GitWorkflow.html#infra-contribute-git
doesn't correctly describe our current git workflow, also some things should maybe be stated in CONTRIBUTING.rst more prominently.

Change the tutorial:
- [x] all bug-fixes, feature and other PRs go to the develop branch
- [x] only severe issues, such as packaging mistakes, regression and interfac

[2016-10-10 15:36] marehr commented on #1868
@h-2 I wrote the `technik` an email.

[2016-10-10 15:38] marehr commented on #1866
@h-2 I deleted 33gb of temporary files and restarted the builds on klette. The HDD was full.

[2016-10-10 16:02] temehi commented on #1789
@martinjvickers thanks again for reporting and also for finding out what causes the error.

Since there are many gff/gtf files available for download with an extra space at the beginning of attributes column (col 9) we should accommodate these files and ignore the extra space. I will create a PR with a fix soon.

[2016-10-10 21:45] h-2 commented on #1861
@mr-c we just committed a related patch that might solve some of the mentioned issues: #1878
Can you verify this?

[2016-10-11 09:06] marehr commented on #1866
@h-2 I changed the builds of the master branch to weekly on klette and margerite. They will trigger in the night from sunday to monday.

[2016-10-11 09:08] marehr commented on #1866
@h-2 margerite/icpc seemed to build this night. I restarted all nightlies to see if they all work again.

[2016-10-11 10:52] h-2 commented on #830
I have a fix for it in #1881, can you see if this makes it work? I don't have any of the effected architectures to test...

[2016-10-11 11:57] sagitter commented on #830
I'm rebuilding `seqan-2.2.0` by including this patch but i obtain this error with `GCC-6.2.1`:

[code]

Full log on Fedora: https://kojipkgs.fedoraproject.org//work/tasks/6760/16046760/build.log

[2016-10-11 12:15] h-2 commented on #830
This should have been fixed by other commits to develop, could you checkout the develop branch and try that instead? [ we just merged the above changes so you just need to checkout develop].

Thank you!

[2016-10-11 12:53] mr-c commented on #1861
@h-2 I uploaded a new release with a simpler patch that will be built soon. Check out https://buildd.debian.org/status/package.php?p=seqan2 and look for "2.2.0+dfsg-4~test"

[2016-10-11 13:00] sagitter commented on #830
https://github.com/seqan/seqan/commit/f1ec3e8f9e91b8c6bb7c02cdaef1fe7577f94a19 is the code of  `seqan-2.2.1` i suppose.

[2016-10-11 14:00] h-2 commented on #1861
@mr-c there are still problems with the SIMD stuff. As mentioned in #830 these *should be* fixed in the current develop branch. Could you give that try (without extra patches)?
The develop branch will become the 2.3.0 release in roughly three weeks, it would be great if we can get things sorted out in time :smile:

[2016-10-11 18:00] mr-c commented on #1861
@h-2 I uploaded seqan2_2.3.0~0.20161011~73a5aaf+dfsg-1, builds will show up at https://buildd.debian.org/status/package.php?p=seqan2&suite=experimental as they come in

[2016-10-11 19:09] mr-c commented on #1861
@h-2 No luck, sorry :-( https://buildd.debian.org/status/fetch.php?pkg=seqan2&arch=ppc64el&ver=2.3.0~0.20161011~73a5aaf%2Bdfsg-1&stamp=1476211826

[2016-10-11 20:36] h-2 commented on #1861
@rrahn I thought SIMD/intrinsics detection was fixed? Can you please have a look at this? Thanks!

[2016-10-12 08:28] mr-c commented on #1861
Also from the new build of the 2.2.0 release with your pthread/rt patch, on hurd-i386 there is a new failure:

[code]
https://buildd.debian.org/status/fetch.php?pkg=seqan2&arch=hurd-i386&ver=2.2.0%2Bdfsg-4&stamp=1476232417

And a compiler error was hit on kfreebsd-amd64
[code]
https://buildd.debian.org/status/fetch.php?pkg=seqan2&arch=kfreebsd-amd64&ver=2.2.0%2Bdfsg-4&stamp=1476231171

[2016-10-12 09:53] #1866 closed

[2016-10-12 10:26] satta commented on #1861
[code]
https://buildd.debian.org/status/fetch.php?pkg=seqan2&arch=kfreebsd-amd64&ver=2.2.0%2Bdfsg-4&stamp=1476231171

It could be possible that this is just a memory issue? When trying to build the seqan2 package in my development Vagrant box, I had to increase the amount of memory in the VM to >3GB, otherwise I started hitting strange issues not unlike the one above. I can try rebuilding on a kfr

[2016-10-12 11:05] sagitter commented on #830
Is `aarch64` (64-bit ARM architecture) supported?

[code]
Full log:
https://kojipkgs.fedoraproject.org//work/tasks/8387/16058387/build.log

[2016-10-12 12:13] rrahn commented on #830
Not yet, but working on it. See #1861 for more infos.

[2016-10-13 08:59] h-2 commented on #1861
Yes, the crash is very likely related to lack of memory.
Concerning the other CPU archs @rrahn is preparing a patch for our spinlock implementation that uses cpu specific intrinsics. Note however that we have none of the mentioned platforms to test on so it might require some back and forth between us -- unless you can provide us remote login so we can test ourselves.

[2016-10-17 08:47] smehringer commented on #514
@h-2 I don't think so since I only replaced the usage at specific places to numeric_limits but did not touch the implementation of the meta function.

[2016-10-17 14:12] #1840 closed

[2016-10-17 14:12] #699 closed

[2016-10-17 15:13] joergi-w commented on #1865
Issue was solved with Pull Request #1882 and can be closed.

[2016-10-19 13:35] ktrappe opened #1886 "yara_mapper not thread safe"
I run Yara in a pipeline multiple times, and every now and then Yara would produce an invalid Sam file. This is only detected later in the pipeline or by other programms, meaning Yara writes the file w/o any error or warning. The problem only occurs w/ 24 or 120 (default) threads but not with 1 (or 10 or 20) threads, that is why I think this is an issue depending on the number of threads you use.

[2016-10-19 13:49] h-2 commented on #1886
@ktrappe did you have this problem only with the newest version, or also before?
Do you only have logical errors in the file like wrong CIGAR or also syntactical errors, like a bad format? Can you provide the Picard output?

If it is only in recent versions, it might be due to the bam changes by @rrahn . If it has always been there it is likely to be some problme in Yara and not in SeqAn. @esiragu

[2016-10-19 14:17] esiragusa commented on #1886
Hey @ktrappe thanks for reporting this problem. In the past I have seen this rare error of wrong CIGARs with multithreading on. I thought this had been fixed by 0.9.7 but apparently this is not the case... Anyway, could you please try the [latest yara package](http://packages.seqan.de/yara/yara-0.9.7-Linux-x86_64_sse4.tar.xz) instead of the current dev version?

[2016-10-19 14:41] ktrappe commented on #1886
java-1.8 -jar picard.jar ValidateSamFile I=yaramap_error.sam MODE=SUMMARY
## HISTOGRAM    java.lang.String
Error Type      Count
ERROR:MATES_ARE_SAME_END        6019
ERROR:MATE_NOT_FOUND    18012
ERROR:MISMATCH_FLAG_MATE_NEG_STRAND     31434
ERROR:MISMATCH_FLAG_MATE_UNMAPPED       1923
ERROR:MISMATCH_MATE_ALIGNMENT_START     61512
ERROR:MISSING_PLATFORM_VALUE    1

[2016-10-19 14:43] esiragusa commented on #1886
Hmm and what about CIGARs?

[2016-10-19 14:52] ktrappe commented on #1886
samtools view -c yaramap_error.sam
[E::sam_parse1] CIGAR and query sequence are of different length
[W::sam_read1] parse error at line 1001629
[main_samview] truncated file.

It stops at the first occasion but there are multiple wrong CIGAR lengths. As @h-2 said, this is a logical problem and I think therefore not detected by syntax evaluation through picard

[2016-10-19 15:34] h-2 commented on #1861
@sagitter @mr-c The patch by @rrahn in #1887 should add optimized yield methods for aarch64, Sparc and PPC and a fallback for the rest. Can you please test this? Do you also run unit tests or only build tests? ... Because it would be good to know that it actually works as well. We can't test the mentioned platforms here.
Thanks!

[2016-10-19 16:10] ktrappe commented on #1886
We have yara_mapper version 0.9.3 on our servers and I tested that one, same issue.
Same for the latest yara package.

[2016-10-19 16:42] h-2 commented on #1861
@mr-c concerning the kfreebsd-build, can you try with more memory?
concerning the hurd-build: I suspect `TANDEM` has a special meaning in hurd-land and cannot be used as an enum value. I guess you could replace all occurrences in the gustaf-folder with another word like `SEQAN_TANDEM`, but TBH I don't mind if you selectively deactivate the build of gustaf on hurd. [If you do have a patch that work

[2016-10-19 17:06] h-2 commented on #1862
The same way you save your index to disk, you can also save the reference IDs' StringSet with `save()`:
[code]

In the second program you should be able to do:
[code]

They should just be in the same order...

[2016-10-20 08:19] mr-c commented on #1861
@h-2 The tests are run, though they currently fail: https://buildd.debian.org/status/fetch.php?pkg=seqan2&arch=amd64&ver=2.2.0%2Bdfsg-4&stamp=1476229097

[2016-10-20 10:04] h-2 commented on #1862
@ganyfml I hope the explanations could help you, if you still have questions, please feel free to re-open this issue.

[2016-10-20 10:04] #1862 closed

[2016-10-20 10:35] h-2 commented on #1861
@mr-c thanks for testing. You encountered another, unrelated issue. I have updated the initial post to present a better overview of whats currently still open and what I think could to be done to fix the issues.

Do you agree? Did I miss something?

Maybe it's easiest to tackle the FTBFS first? I think the proposed solutions should be quite close to fixing things... We can look into cmake and our

[2016-10-20 19:23] fschopp opened #1889 "Empty CStyle Strings not properly initialized"
When a `CStyle` string is constructed (or assigned), memory allocation happens in method [`allocate`](https://github.com/seqan/seqan/blob/seqan-v2.2.0/include/seqan/basic/allocator_interface.h#L230). Backtrace at that point:

[code]

If the string is empty, a memory block of 1 byte is allocated. However (and this is the bug), it is never initialized to zero.

[2016-10-21 14:23] kneubert commented on #1736
I found 11 broken external links in the documentation (html page and line in brackets) :

404: http://seqan.readthedocs.io/en/develop/Tutorial/BlastIO.html [html/specialization_BlastTabularFileOut.html(339)]

404: http://seqan.readthedocs.io/en/develop/Tutorial/PairwiseSequenceAlignment.html [html/global_function_globalAlignment.html(385)]

404: http://seqan.readthedocs.io/en/develop/Tutorial/Seed

[2016-10-24 08:16] temehi commented on #1787
The problem occurred due to the fact that an annotation can have multiple parents as it is the case in the GFF file in question. see the segment bellow.
[code]

I am no GFF file expert but I can see two ways to go, one is to consider just the first parent and ignore the rest, the other is to handle the case of multiple parents properly and change from  `parentName` to `parentNames`.
The first way

[2016-10-24 11:02] h-2 commented on #1861
Indeed the mips failure looks like something different. A quick search revealed that either of these CXX_FLAGS might "fix" it:
`-xgot` (https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=274090)
`-mxgot` (https://lists.exim.org/lurker/message/20120724.163838.8fcfc213.en.html)
`-G4`, `-G2`, or `-G1` (https://www.linux-mips.org/archives/linux-mips/2003-05/msg00231.html)
Note that I have no clue about

[2016-10-24 11:13] h-2 commented on #1889
@kneubert can you have a look at this?

@fschopp Thanks for the bug report. We will look into it. However I strongly recommend against using the SeqAn cstyle string, what are you particular reasons? Why not using a regular `CharString` or an `std::vector`?

[2016-10-24 11:15] h-2 commented on #1865
@joergi-w  Even the second pull request introduced new warnings. Please resolve them and in the future always check the cdash after one of your PRs has been merged to see its effect on other platforms! Thanks!

[2016-10-24 11:17] h-2 commented on #1481
solved by #1184

[2016-10-24 11:17] #1481 closed

[2016-10-24 12:05] mr-c commented on #1861
Hmm... We already set `-mxgot` and `-O0` for mips and mipsel http://sources.debian.net/src/seqan2/2.3.0~0.201610110~af07bc1-dfsg-1/debian/rules/#L24

[2016-10-24 12:10] h-2 commented on #1861
Well, then I have no clue... Maybe we deactivate mips* for now? I don't see those large metagenomic analysis happening on the firewall anytime soon anyway :laughing:

[2016-10-24 12:37] mr-c commented on #1861
Is there an easy way to turn off a single app?

The earlier mention of 2.3.0~0.20161019~af07bc1+dfsg-2 didn't get built, so I've resubmitted it with the addition of `-O1` for mips and an attempt to turn off parallel builds for armhf, mips, kfreebsd-*

[2016-10-24 13:57] h-2 commented on #1861
I am afraid not. If it is possible to use variables in variable names in cmake, I guess we could introduce a check here: https://github.com/seqan/seqan/blob/master/util/cmake/SeqAnBuildSystem.cmake#L182

OK, maybe that helps. Some of the links mentioned that a higher optimization level would work. Is there a reason for not choosing `-O2` or `-O3`?

Yes, that should reduce the memory requirements,

[2016-10-24 14:09] mr-c commented on #1861
Per app config would be great, thanks.

I believe choosing `-O0` in the first place was to save memory -- hopefully not parallelizing will be good enough to return to `-O2`

amd64 uses `-O2` (Debian's default). Should that be `-O3` on all platforms that have enough memory?

[2016-10-24 14:15] h-2 commented on #1728
document the (lack of) functionality

[2016-10-24 14:17] h-2 commented on #1656
could not be reproduced on current setup

[2016-10-24 14:17] #1656 closed

[2016-10-24 14:22] h-2 commented on #514
Is part of #1794 now

[2016-10-24 14:22] #514 closed

[2016-10-24 15:03] h-2 opened #1891 "Make it possible to turn individual apps off"
Here we add our individual apps to the build:
https://github.com/seqan/seqan/blob/master/util/cmake/SeqAnBuildSystem.cmake#L182

It would be good if we add another check to the if-clause, something like:
[code]
that enables you to selectively block certain apps from being built. NOTE that I am not sure this syntax is supported by cmake. If it doesn't work, one might need to add a `SKIP_APP_LIST` a

[2016-10-24 15:05] h-2 commented on #1861
I have added #1891

Yeah, that would be good.

Well our build-system sets `-O3` by default, did you deactivate that? For some of the apps some differences were measured so we always recommend `-O3` -- people often use SeqAn apps with large data...

[2016-10-24 18:18] fschopp commented on #1889
@h-2 The cstyle string was used in an initialization of this form:
[code]
where `dnaString` is of type `seqan::DnaString`. Given your comment, the suggested conversion would rather be
[code]
instead?

[2016-10-24 18:19] fschopp commented on #1889
For what it's worth, here is a test that reliably demonstrates the bug:
[code]

[2016-10-25 09:56] smehringer commented on #838
@h-2 @esiragusa

So as I see it there are two possible ways to fix the issue for parameters (I will change the valid file extension for arguments as you proposed) and I wanted to ask which one you prefer before working on it:

1. Don't use parameters but arguments. :trollface: (I could change all apps accordingly, introducing e.g. -i or --index-prefix for each parameter)

2. Add a global section t

[2016-10-25 11:16] h-2 commented on #838
I would prefer 2.

[2016-10-26 08:48] h-2 commented on #1861
Isn't that what I created #1891 for?
I guess you can deactivate some app by just renaming the CMakeLists.txt in its directory, but I am not 100% sure.

There is another type in the sparc64 code that I will fix.

Concerning the memory usage: If you cannot give the machines more RAM, have you thought about just creating a 1GB file and using swapon on that? Since peak memory usage is only for very sh

[2016-10-26 09:35] mr-c commented on #1861
Re: https://github.com/seqan/seqan/issues/1861#issuecomment-256125739

Looks like a cached response finally got sent, I wasn't online 15 hours ago :-)

[2016-10-26 13:04] mr-c commented on #1861
The new build with the missing semicolons finished on sparc64!

@h-2 About memory usage: https://lists.debian.org/debian-mentors/2014/02/msg00075.html

[2016-10-27 07:29] joergi-w commented on #1865
Now the warnings are gone, so we can close this issue.

[2016-10-27 07:29] #1865 closed

[2016-10-27 14:11] h-2 opened #1896 "g++7 detected another bug"
http://cdash.seqan.de/viewBuildError.php?type=1&buildid=199354

It is
[code]
It should either be
[code]
or
[code]

@joergi-w Can you investigate this since you have experience in fixing warnings now? ^^

[2016-10-27 15:27] kneubert commented on #1889
The problem is in a constructor of the String class for CStyle Strings:
https://github.com/seqan/seqan/blob/f1ec3e8f9e91b8c6bb7c02cdaef1fe7577f94a19/include/seqan/sequence/string_cstyle.h#L140

Initialization with the default constructor (1) or with an empty char array (2) works with the test code above. But if we use an empty string (3) the bug shows up.

(1) `seqan::String<char, seqan::CStyle> c

[2016-10-28 09:13] joergi-w commented on #1891
see PR #1894

[2016-10-28 09:13] #1891 closed

[2016-10-28 09:53] xenigmax opened #1899 "option for # of thread in bgzf stream"
In my opinion, we should not fix this. (16 threads always)
At least, we have to provide an option for changing this number.

https://github.com/seqan/seqan/blob/master/include/seqan/stream/iostream_bgzf.h#L496-L498

[2016-10-28 11:04] xenigmax commented on #1809
@h-2, I will make a pull-request after merging #1900 .

I understand that architectural part. I will do that.

However, for other DEB/RPM specific tags, would you let me know which tags do you want to add?
I found several tags in here : https://cmake.org/Wiki/CMake:CPackPackageGenerators

.DEB, for example, these are already set.
CPACK_DEBIAN_PACKAGE_MAINTAINER
CPACK_PACKAGE_DESCRIPTION_SUMMARY
CP

[2016-10-28 11:36] smehringer commented on #838
Since @esiragusa didn't answer yet I worked on solution 2:

I also noticed that neither an arguments numerical range, default values or helpText is displayed (if specified at all). So I included those too.

Additionally the help page did not inform the user whether the argument or option is a List. I changed the parser according to display ```List of [type]'s``` or ```List of 2 [type]'s``` instead

[2016-10-28 11:38] smehringer commented on #838
Note that I used the words Options and Arguments consistently with the naming in our documentation (not parameters and arguments as in your comments above).

[2016-10-28 13:03] esiragusa commented on #838
@smehringer @h-2 That's perfect! Thank you 😄

[2016-10-28 13:06] esiragusa commented on #838
Shouldn't PREFIX be something like FILENAME_PREFIX?

[2016-10-28 13:32] #1896 closed

[2016-10-28 13:33] #1839 closed

[2016-10-28 14:16] temehi commented on #1833
@bayolau could you please provide us with a small example BAM file with floating point array in a tag?

Cheers!

[2016-10-30 09:09] smehringer commented on #838
Hm yes, or maybe INDEX_PREFIX. I'll have a look if I can change that (it automatically detects the argument input types somewhere)

[2016-10-31 15:56] xenigmax commented on #1856
@h-2
We don't need to change TODOs.
Our python script can handle the situation if .zip exists.

[2016-10-31 17:00] h-2 commented on #1861
@mr-c thanks for investigating this. We never realised, because we cross-compile the 32Bit binaries also on 64bit. Can you selectively deactivate pair_align on 32bit platforms? We have added functionality for that through #1894.
Or did you do this already? The build matrix looks a lot better! Do you need any feedback from me for the remaining build errors or do we assume these are out-of-memory pr

[2016-10-31 17:20] xp3i4 commented on #838
Thank you @smehringer , I was stuck in the issue for a long time.

[2016-10-31 17:28] smehringer commented on #838
I'm happy to help :smile:

[2016-10-31 21:07] h-2 commented on #830
@sagitter can you try if the current develop branch builds fine on Fedora/arm? The debian test matrix looks quite good now, with `pair_align` being disabled and only yara using a little too much memory on some platforms.

[2016-11-01 11:26] xenigmax commented on #1820
**1.  javascripts  / flashes**
The flash files are for the clipboard function.
There is a "copy permalink to clipboard" function in our dox system.
(Just visit http://docs.seqan.de/seqan/2.2.0/ and click any title like "home", "getting started")
This function is dependent on flash.

Other javascripts are also necessary for the fancy UIs of dox.
So the entire removal of those flash/javascripts can

[2016-11-01 11:42] h-2 commented on #1820
Concerning flash: it is apparently used for clipboard acces, can we replace it with https://clipboardjs.com/?
dropping clipboard functionality on old browsers is ok

@kdmurray91 concerning minified javascript: what does debian do in other cases where something uses jquery? Some of the stuff we might be able to get rid of, but certainly not all of it,,

We shouldn't spend too much time on this as w

[2016-11-01 13:22] #1889 closed

[2016-11-01 13:22] #1736 closed

[2016-11-02 11:10] h-2 commented on #1787
Yes, I would propose to the "easy fix" for the release and make an issue for seqan3 that we consider this situation when modernizing the module. Losing information is not ideal, but a lot better than crashing :smile:

For your proposed fix, note that you can use `auto` instead of the typedef.

[2016-11-02 11:19] h-2 opened #1908 "EPR changes create new warnings on windows"
Please double-check the cdash yourself after larger PRs have been merged!

[2016-11-02 13:37] #1355 closed

[2016-11-02 14:54] rrahn commented on #1780
Fixed by #1913

[2016-11-02 14:55] rrahn commented on #1867
should be fixed now!

[2016-11-02 14:56] #1867 closed

[2016-11-02 17:34] xenigmax commented on #1820
@h-2  The link you gave me uses HTML5 instead of flash. That means old browsers can't use this function. If it's the decision, that's OK. I can change them.

Regarding minified javascripts, maybe there is a way for a popular project like jquery..
But I'm not sure about the others. For example,
https://github.com/seqan/seqan/blob/master/util/py_lib/seqan/dox/tpl/js/less.min.js
https://github.com/se

[2016-11-02 19:36] xenigmax commented on #1482
I just made a pull request about this.

Now CMake can find 2.x .
Please check my pull request about this.

I would like to make sure about this.

Currently, all the python executables in /util/bin/ use  *#!/usr/bin/env python2.*.
And this is the standard way according to PEP.

So there are two ways...

1) Let MacOS/OpenBSD users know we need python2 that is linked to python2.x for **building dox**

[2016-11-02 23:32] Martinsos commented on #1711
@rrahn thanks, this fixes error with global alignment not working for MyersHirschberg! I would like to warn you - you have left a debugging output in the release version 2.2.0, when doing MyersHirschberg alignment, so a lot of binary values gets printed - you will probably want to remove this.

[2016-11-03 07:35] rrahn commented on #1711
@Martinsos you are right, we fixed it for the current release.
Thank you.

[2016-11-03 13:52] temehi commented on #1787
Then I will create a pull request!

[2016-11-03 18:27] #1856 closed

[2016-11-04 03:56] kdmurray91 commented on #1820
Minified JS is considered "compiled output" by the DFSG. Personally, for my own projects, I just dump the full source in there. That way debian et al. can either remove and replace with distro-wide installs of the JS source/min, or accept that as a package-specific embedded source. But what we can't do is package minified JS as an embedded copy, in the same way we couldn't do that with a SHLIB or

[2016-11-04 12:09] #1780 closed

[2016-11-07 14:42] smehringer commented on #838
Fixed by #1901

[2016-11-07 14:42] #838 closed

[2016-11-08 11:51] h-2 commented on #1820
@kdmurray91 Yes, that makes sense. It's simply not the preferred form of making changes to it, i.e. not the source.  @xenigmax Can you replace the minified js with non-minified js? Does this have any impact on performance?

[2016-11-08 13:06] smehringer commented on #1864
fixed by #1919

[2016-11-08 13:06] #1864 closed

[2016-11-08 21:19] joergi-w opened #1921 "rna_io errors with Windows"
cdash reports some errors from the rna_io module
- [x] read_ebpseq test fails on icpc compiler
- [x] build errors occur in bracket2graph function in dot_bracket_read_write.h

[2016-11-08 21:39] joergi-w commented on #1921
Tested successfully on icpc (ICC) 16.0.3, so read_ebpseq is fixed now.

[2016-11-08 22:42] joergi-w commented on #1921
Probably, the Windows errors in bracket2graph were caused by the auto-Type variable elem. The resulting iterators of the std::find function are not of equal types, because the arrays have varying lengths. In the recent commit I use three separate variables to avoid the ambiguity. Sadly, I could not yet test the result in a Windows environment.

What do you think of this solution @h-2 ?

[2016-11-09 05:45] kdmurray91 opened #1922 "RFC: zstandard compression"
HI all,

[zstd](https://github.com/facebook/zstd) is a relatively new compression algorithm with incredible speed and compression ratios. I've been using zstd (via stream redirection) on fastq files extensively, with great effect (and speed ups compared to gzip).

Would zstd compression be considered for inclusion within seqan?

Cheers,
K

[2016-11-09 09:49] h-2 commented on #1922
I would like to support more compression formats, as well. My priority was lz4, because its so fast, its basically transparent. You could even use it for im-memory compression of strings…
On the other end of the speed VS compression-ratio scale there is XZ which would also be nice to have. TBH my analysis of the compression landscape was:
 * if you want speed, take lz4
 * if you want high ratio, t

[2016-11-09 10:40] rrahn commented on #1921
You can run windows in a VM to test it locally. Here https://www.zedat.fu-berlin.de/Benutzerservice/DreamSpark you can get access to Win OS.
You can log into klette.imp.fu-berlin.de with your zedat account and use VS there.

[2016-11-09 13:40] xenigmax commented on #1820
@h-2
I think performance is not a big issue. As far as I know, the primary purpose of the minified .js is size reduction. However, I  have to check whether I can change them completely first since I'm not the original author and has limited knowledge about js.

And.. I  have some fundamental question. I assume that you don't have enough time for thinking about this because you have to manage so ma

[2016-11-09 14:43] #1787 closed

[2016-11-09 14:43] #1789 closed

[2016-11-09 15:33] xenigmax commented on #1820
@rrahn
Frankly, I can't imagine a scenario that somebody needs API docs in local. But I will convince myself that there is a bioinformatician / computational biologist who has to work in offline. However, if we wish to keep this policy, we have to make docs **really simple** so that it works smoothly with any browsers / os / packaging policies. Or we have to take care of so many HTML/Javascript is

[2016-11-09 15:33] h-2 commented on #1820
We will for SeqAn3, but not anymore for SeqAn2, because it would change too many workflows.

Most probably not.

Yes, please!  I think we need to get it done, because SeqAn3 will probably not see its first release before 2017Q4 and SeqAn2 will be used for a long while. Apps still use SeqAn1 :fearful:

[2016-11-09 15:35] h-2 commented on #1820
PS: we won't worry more about compatibility, this is just to satisfy legal requirement of downstream distributions...

[2016-11-09 15:53] xenigmax commented on #1820
Does removing docs affect workflows? I didn't know that. I don't want to make the situation more complex.
We already have encountered several compatibility problems(malfunction, broken layout) when modifying javascript / HTMLs. I'm just afraid that kind of situation.

[2016-11-09 15:56] xenigmax opened #1924 "Replace flash using HTML5"
Replace clipboard function based on flash using HTML5/javascript (https://clipboardjs.com/)

Refer : #1820

[2016-11-09 15:57] xenigmax opened #1925 "Replace minified javascript"
There are several minified javascript in the repository.
Replace them if possible.

Refer : #1820

[2016-11-09 16:28] temehi opened #1926 "Auto static linking against pthread for the Apps"
Apps are built static by default through the Macro [`seqan_register_apps ()`](https://github.com/seqan/seqan/blob/develop/util/cmake/SeqAnBuildSystem.cmake#L139) under SeqAnBuildSystem.cmake.
PR  #1878 fixed the problem for all other cases but this auto static thingy.

It looks like  ` seqan_register_apps ()` comes after the[ if-check](https://github.com/seqan/seqan/blob/develop/util/cmake/FindSeq

[2016-11-09 16:39] xenigmax opened #1927 "A rare deadlock case in bam file loading"
I tried to read 100G bam file, and it couldn't finish the job.
I think it's about event management of multiple thread in bgzf stream since CPU usage became 0.

Since # of threads is fixed in bgzf stream(#1899), I manually changed this to 1 thread / 1 job.
And now it's not working with relatively small file( < 10GB).

I'm working on this.

[2016-11-09 16:46] xenigmax commented on #1826
I would like to up-vote this. Several large-scale projects provide their bam files on Amazon.
https://aws.amazon.com/1000genomes/

And popular programs including samtools support this function which is really useful.
`samtools view http://s3.amazonaws.com/1000genomes/phase1/data/NA12878/exome_alignment/NA12878.mapped.illumina.mosaik.CEU.exome.20110411.bam 1:1000000-1001000
`
(https://www.biostars.

[2016-11-09 17:10] xenigmax opened #1928 "module for bioconductor"
This is just an idea.

SeqAn heavily uses templates. So it may not possible to support all the functions.
However, if we make some of the function(eg. some alignment module) available for this project, I think it will be helpful for expanding our user base.
https://www.bioconductor.org/

[2016-11-09 17:12] xenigmax opened #1929 "module for biopython"
This is just an idea.

Same as #1928

[2016-11-09 21:35] xenigmax opened #1930 "BWT for graph"
I think there will be a huge demand for this function since many people wish to represent genome based on graph.
http://m.bib.oxfordjournals.org/content/early/2016/10/19/bib.bbw089.full

RNA-seq
https://ccb.jhu.edu/software/hisat2/index.shtml

Variation graph(alignment of sequence to graph)
https://github.com/vgteam/vg

[2016-11-09 21:41] xenigmax opened #1931 "Support bcf"
BCF is a binary version of vcf.
Many tools support this format as an output instead of vcf.

https://samtools.github.io/bcftools/bcftools.html

[2016-11-09 23:13] kdmurray91 commented on #1922
@h-2 That makes perfect sense. The rationale for my use of zstd is, a) it seems to hit the sweet spot between compression ratio and decompression speed with the hardware I use most often, and b), you can tweak compression to be as high (and slow) as xz while having a massively increased decompression speed, for situations where disc space is limited. You're right that between lz4, xz and gz, most

[2016-11-09 23:33] xenigmax commented on #1931
https://github.com/samtools/hts-specs

[2016-11-09 23:44] kdmurray91 opened #1935 "User question: Using input file format for output file"
Hi all,

Firstly sorry if this isn't a good place to ask such questions, or if my confusion is the result of not reading the docs closely enough.

I'm attempting to write a tiny tool using seqan that reads either fasta or fastq records, does a tiny transformation, and write either fasta or fastq records, depending on the format of the input.

In short, I use

[code]

The correct number of records

[2016-11-09 23:50] kdmurray91 commented on #1820
@xenigmax FWIW I extensively use offline API docs, as the internet where I often code is abysmal. That doesn't really require having everything in one repo though, so long as I can build a `libseqan2-doc` package :).

[2016-11-10 12:00] h-2 commented on #1826
What happens in the background, doesn'it it just stream over http(s)?

[2016-11-10 12:00] h-2 commented on #1931
this is a duplicate of #1652

[2016-11-10 12:00] #1931 closed

[2016-11-10 12:06] h-2 commented on #1935
Hm, I haven't used our streaming with cout, yet, but in theory it should work :sweat_smile:
Have you tried using user-specified names for both input and output? Then it should work, I think.

In any case it should work with cout, as well. @temehi can you ahve a look?

[2016-11-10 12:14] h-2 commented on #1926
Ah, thats true. It's a regression caused by #1884

What we need to to do is move the static block from line 142 to line 313 in SeqAnBuildSystem.cmake

I will take it.

[2016-11-10 13:08] #1683 closed

[2016-11-10 13:15] kdmurray91 commented on #1935
Thanks for the prompt response @h-2. I tried setting the input format with:

[code]

and nothing changed.

Cheers,
K

[2016-11-10 14:11] temehi commented on #1935
at the moment formats of `SeqFileIn` are not compatable with those of `SeqFileOut`. So there is no way to set the format of your `outstream` based on `seqan::format(instream)`.

A silly workaround would be to get your `SeqFileIn` extension and create a dummy `SeqFileOut` with a temp_file of the same extension and set the format of the actual  `SeqFileOut` based on that.

example:

[code]

[2016-11-10 15:37] xenigmax commented on #1820
I just made 2 pull requests regarding this.  >130 files were affected.

I've tested them with Chrome / Firefox in Debian.
However, I assume that there are more issues after this change which I can't reproduce.

So please feel free to let me know if you see something weird with your OS / browser version.

[2016-11-10 15:42] xenigmax commented on #1820
@kdmurray91  First of all, thank you for reporting us this issue. Many of the team members use Debian and it would be really cool if we can ship SeqAn to some official repositories.

I raised some question since current dox system is too hard to maintain for us. SeqAn3 may use simpler one and it will solve all the problem. Thank you for your effort about the packaging, again!

[2016-11-10 16:22] h-2 commented on #1820
@kdmurray91 we have merged the removal of flash, but before merging the "un"-minifiying PR, I would like to double-check that this actually fulfills the requirements for debian. Could you please have a look? Thanks!

[2016-11-10 16:42] #1924 closed

[2016-11-10 16:47] h-2 commented on #1935
@temehi can you write a function that does this? should be somthing along the lines
[code]

[2016-11-14 09:10] smehringer opened #1939 "No length() function for const string set dependent generous?"
The `length()` function is overloaded by the dependent generous string set ([here](https://github.com/seqan/seqan/blob/master/include/seqan/sequence/string_set_dependent_generous.h#L185)) but only for **non const** string sets. Is this intentionally?

(same applies for `getValueById()`)

[2016-11-14 10:50] h-2 commented on #1939
We have general non-const to const wrappers in case there are no overloads that are more specific. Or do you have a case where this doesn't work?

[2016-11-14 11:07] smehringer commented on #1939
Yes I do

[code]

outputs
[code]

[2016-11-14 12:34] h-2 commented on #1939
Well, then I guess you get to fixt it :laughing:

[2016-11-14 16:49] joergi-w commented on #1921
Thank you for the suggestions! I have tested successfully, so I start a pull request now.

[2016-11-16 20:29] xenigmax commented on #1927
Sometimes our decompression function for bgzf stream got 0 here.
https://github.com/seqan/seqan/blob/master/include/seqan/stream/iostream_bgzf.h#L588-L591

And in some situation, this cause a **deadlock** between the parent and child threads like below.
< Parent thread >
[code]

< Child thread >
[code]

(1) Normal case
[code]

(2) Deadlock
[code]

Since we are running 16 threads in parallel for I/

[2016-11-17 10:50] h-2 commented on #1927
assigning to @rrahn because of the threading and @temehi because of bam io

[2016-11-17 17:58] lemogras opened #1943 "Error while installing only header files"
I followed the instructions in User Library Installation (http://xenigmaxseqan.readthedocs.io/en/fix-1043/BuildManual/UsingTheSeqAnBuildSystem.html). However I get this error when I run "make dox".

[code]

[2016-11-18 11:11] xenigmax commented on #1943
The link is not official SeqAn documentation.
Many contents in the link are out-of-date.
You can refer here instead.
http://seqan.readthedocs.io/en/master/Infrastructure/Use/Install.html#library-package

May I ask how did you get the link?

[2016-11-21 16:17] #1908 closed

[2016-11-21 16:20] rrahn commented on #1833
Maybe we reconsider the entire BamTagDicts for 3.0

[2016-11-21 16:30] rrahn commented on #1105
@xp3i4 ping

[2016-11-21 16:59] lemogras commented on #1943
Thanks for answering. I will review the link you provided.

The link I provided was shown on google search, not hard to find actually.

[2016-11-21 17:37] hannespetur opened #1944 "Unexpected 'hasAlignments' returned from BamIO's jumpToRegion function"
Hello,

I think I might have noticed a bug in the seqan::jumpToRegion function, its API page is here: http://docs.seqan.de/seqan/master/specialization_BamFileIn.html#BamFileIn#jumpToRegion
More specificly, sometimes the 'hasAlignments' parameter is unexpectecly set to true. Here is how it is defined:

And here is the implementation of the function: https://github.com/seqan/seqan/blob/master/includ

[2016-11-21 18:24] h-2 commented on #1820
@kdmurray91 polite ping as we want to get 2.3.0 out the door. This is the PR: #1937

[2016-11-22 11:45] xenigmax commented on #1943
I deactivated the link. That was made for a testing :)
Thank you for letting me know.

[2016-11-22 11:59] h-2 commented on #1833
Yes, we will definitely do somthing else, probably a vector of std::variant or some such.

[2016-11-22 12:57] #1943 closed

[2016-11-22 13:58] h-2 commented on #1922
True, it seems to preserve the good decompression speed even at higher compression ratios. We will keep this issue open for seqan 3.

[2016-11-23 01:30] kdmurray91 commented on #1820
@h-2 Sorry for the slow response. AFAICT, the policy of debian is now satisfied. We will either replace embedded full JS sources with symlinks to debian packaged versions ([per this lintian error](https://lintian.debian.org/tags/embedded-javascript-library.html)), or package the full sources.  This will be fine so long as all the JS sources are freely licensed. I'm unable to check that in the diff

[2016-11-23 10:33] h-2 commented on #1820
@kdmurray91 no problem, thanks for the feedback, I have merged the PR!

[2016-11-23 10:33] #1820 closed

[2016-11-23 10:34] h-2 commented on #1820
I am closing this issue because all legal issues regarding inclusion into debian should be resolved now.

[2016-11-23 11:20] martinjvickers opened #1945 "Creating and editing a BAM/SAM header"
Are there any (simple) examples of how to create a BAM/SAM header from scratch or how you go about editing an existing header?

[2016-11-23 13:13] h-2 opened #1946 "Some additions to arg parser"
- [x] add boolean arguments that can be set with `{on,1,true,yes}` or `{off,0,false,no}`
  - [ ] add INPUT_DIRECTORY and OUTPUT_DIRECTORY which are the same as _FILE but with different label

[2016-11-23 18:14] b-schubert opened #1949 "[Bug] KNIME T-coffee Node FileListParameter conversion to FileParameter"
Hi

I might have encountered a bug in Tcoffee's KNIME-Node:

[code]

I think the "method" String-List is causing this, but I can be mistaken. Input was a multi-fastas file at input port 0. Tested on Mac OS 10.12.1, KNIME 3.2.1, and the stable release of Seqan, as well as the nightly release.

[2016-11-24 14:20] temehi commented on #1945
Take a look at [test_write_sam.h](https://github.com/seqan/seqan/blob/master/tests/bam_io/test_write_sam.h#L43)

[2016-11-24 15:09] smehringer opened #1952 "[QGramIndex] indexRequire() does not work with simple Strings instead of StringSets"
When an index is required, it calls the function createCountsArray() which is only implemented for StringSets [here](https://github.com/seqan/seqan/blob/develop/include/seqan/index/index_qgram.h#L1696)

[2016-11-29 11:11] #1925 closed

[2016-11-30 19:37] h-2 commented on #1782
@kdmurray91 cool that you worked on this! Do the images also contain bzip2?
@rrahn we should use this for the release if possible. In the medium term: can we integrate this with our docker plans / continuous deployment?

[2016-12-01 00:50] kdmurray91 commented on #1782
@h-2 Yep, the images contain everything they used to, plus bzip2 and boost 1.62.0. I've pushed another test release to docker hub, so `docker pull kdmurray91/kdm-hbb-64:latest` to update.

[2016-12-01 08:23] rrahn commented on #1782
@h-2 well I agree and I think that's possible for or docker plans anyway.

[2016-12-01 09:42] cpockrandt commented on #1722
I just read into this recently published paper [1]. They give an implementation of a popcount operation on 256 bits using AVX2 intrinsics which they claim to be twice as fast as using the builtin popcount operation multiple times on 64 bit integers.

[1] https://arxiv.org/pdf/1611.07612v3.pdf

[2016-12-01 11:34] h-2 commented on #1722
Interesting, but it seems like it is only faster, when using blocks of at least 256 Byte which means that for thr FM index it wouldn't be helpful.

[2016-12-01 11:36] cpockrandt commented on #1722
The FM index already supports bigger blocks and uses a for loop of builtin popcounts.

[2016-12-01 15:27] cpockrandt commented on #262
I think we can close this issue.

Since last year we have a bidirectional FM index (already taking care of synchronizing its two indices) and since Seqan 2.2.0 an even faster bidirectional FM index with constant time running time. I don't see any need to implement other indices such as affix arrays since they take up much more space and will probably not be faster.

[2016-12-01 15:27] #262 closed

[2016-12-01 15:28] cpockrandt opened #1954 "Introduce parallel interface for index-based find module"

[2016-12-01 15:30] cpockrandt commented on #1677
@h-2 Have you tried it yet? If we can't reproduce it, I think we can close this issue.

[2016-12-06 10:04] joergi-w commented on #1921
The errors and warnings on cdash have been patched with PR #1940, so I close this.

[2016-12-06 10:04] #1921 closed

[2016-12-07 14:46] esiragusa opened #1957 "New website issues"
Hi, I am posting here some issues with the new website. Excuse me if such issues are not meant to be collected here.

* Remove URLs like https://www.seqan.de/APP/. The left pane on https://www.seqan.de/applications/ points to correct pages like [this](https://www.seqan.de/apps/yara/) but when people [google it](https://www.google.com/#q=yara+mapper) they hit [this](https://www.seqan.de/yara/).

*

[2016-12-07 14:56] esiragusa commented on #1954
Hey @cpockrandt, the parallel interface is here:
* https://github.com/seqan/seqan/blob/master/include/seqan/find/find_lambda.h
* https://github.com/seqan/seqan/blob/master/include/seqan/index/find_index_lambda.h

At best, indexed find interface should be consistent with online find. See also #545, #1403.

[2016-12-07 17:08] h-2 commented on #1957
merge with #1738

[2016-12-08 12:36] h-2 commented on #1939
fixed

[2016-12-08 12:36] #1939 closed

[2016-12-08 13:43] h-2 commented on #1782
Let's try to use it for the release packages. Infrastructure integration moved to next release...

[2016-12-08 13:43] h-2 commented on #1782
@rrahn reassigning this to you, as you will be working on the deployment, ok?

[2016-12-08 14:34] rrahn commented on #1766
for clang-3.9 we have to wait for the apt resources to become whitelisted. For the moment we have to deal with clang-3.8

[2016-12-08 16:03] h-2 commented on #1861
we will tag 2.3.0 beginning of next week so this issue formally moves to 2.4.0
However the cmake packaging things are unrelated to our builds and only depend on Debian so let's please discuss them before you push a 2.3.0 package to Debian! Thanks!

[2016-12-08 16:04] h-2 commented on #830
AFAICT this issue should be resolved. Please re-open if you encounter any further issues.

[2016-12-08 16:04] #830 closed

[2016-12-08 18:40] h-2 commented on #1482
@xenigmax  Is this issue done?

[2016-12-08 18:41] #712 closed, assigned to temehi

[2016-12-08 18:42] h-2 commented on #1105
closing this as there was no progress in more than a year.

[2016-12-08 18:42] #1105 closed

[2016-12-08 19:27] esiragusa commented on #1105
😭

[2016-12-08 19:27] esiragusa commented on #1105
Couldn't you backlog it instead?

[2016-12-09 11:10] rrahn commented on #1694
@SoapZA I updated the portfile patch. It will now install SeqAn.config into ${prefix}/share/seqan. I tested it with a little project and cmake finds the package successfully. Once the patch has been accepted I'll close this issue. I will also add one for 2.2 and 2.3.

[2016-12-09 11:11] SoapZA commented on #1694
@rrahn thanks for your time

[2016-12-09 11:49] #1728 closed

[2016-12-09 11:51] #955 closed

[2016-12-09 12:08] xp3i4 commented on #1105
@h-2 @esiragusa This issue was originally to improve the kmer counting of open addressing. But it turns out the performance didn't come to expectations. So, I think it's not very useful just to update the interface now.  I began to look into its details  again last week since the Swift algorithm needs it to speed up, If there is something useful, we can reopen the issue later, I think.

[2016-12-09 14:45] h-2 commented on #1926
fixed by #1960

[2016-12-09 14:45] #1926 closed

[2016-12-09 14:45] h-2 commented on #1814
fixed by #1960

[2016-12-09 14:45] #1814 closed

[2016-12-12 09:29] rrahn commented on #1946
@smehringer the INPUT_DIR and OUTPUT_DIR are work in progress or should it be put to 2.4?

[2016-12-12 09:29] rrahn commented on #1935
@temehi can this be closed now?

[2016-12-12 09:30] rrahn commented on #1877
fixed by #1965

[2016-12-12 09:30] #1877 closed

[2016-12-12 09:30] rrahn commented on #1809
@h-2 what's the state about the PR? Can it be merged and this ticket closed?

[2016-12-12 09:32] rrahn commented on #1794
@h-2 I propose to put this to 2.4, since I am afraid, that it will break a lot in the nightlies, which we won't be able to fix until tomorrow.

[2016-12-12 09:33] rrahn commented on #1482
@xenigmax ping

[2016-12-12 10:34] temehi commented on #1935
Sure! @kdmurray91 With the next release (2.3.0) you can do
`result = tagSelectIntersect(outstream.format, instream.format);`

`result` is a boolean which will be true after successful assignment and false otherwise.

[2016-12-12 10:34] #1935 closed

[2016-12-12 11:03] smehringer commented on #1946
@rrahn  This was fixed by #1956.
Input_dir and Output_dir were much easier to add, since by specifying
" `isInputFileArgument( Input_dir-argument ) = true` " ([here](https://github.com/seqan/seqan/pull/1956/files#diff-b0c140fa651e589e7b5c8653cab13768R431); vice versa for outputdir) the complete behaviour of file arguments now applies for directories as well (as @h-2 requested)

[2016-12-12 11:03] #1946 closed

[2016-12-12 12:30] h-2 commented on #1794
postponed to 2.4

[2016-12-12 14:27] rrahn commented on #1738
move to 2.4, since independent of release.

[2016-12-12 17:14] xenigmax commented on #1482
@h-2 @rrahn  Please check my another PR #1969

[2016-12-12 22:24] kdmurray91 commented on #1935
@temehi Did that make it into the docs/tutorial somewhere?

[2016-12-12 23:26] h-2 commented on #1809
done

[2016-12-12 23:26] #1809 closed

[2016-12-13 11:24] #1482 closed

[2016-12-13 16:39] rrahn commented on #1694
Fixed for SeqAn 2.1.1 (https://trac.macports.org/ticket/51344)
I will add ports for 2.2 and 2.3

[2016-12-13 16:40] #1694 closed

[2016-12-16 13:07] joergi-w commented on #1949
Thank you for reporting this issue. It is indeed caused by the "method" option of the seqan_tcoffee app. The --method option can be specified multiple times in the command line version, but this behavior is not correctly transformed into the Knime node. We should either replace the option behavior to take one comma-separated string instead of specifying the option multiple times (API change) or fi

[2016-12-17 19:27] sagitter opened #1979 "[SEQAN 2.3.0] Tests failed on PPC64"
Hi all.

`app_test_ngs_roi` `app_test_samcat` `app_test_yara` are failed on PPC64:

[code]

`17: Error when trying to compare /builddir/build/BUILD/seqan-seqan-v2.3.0/apps/samcat/tests/ex1_merged.bam to /tmp/tmpXTcIGL/ex1_merged.bam: CRC check failed 0xb135639a != 0x9a6335b1L <type 'exceptions.IOError'>`

[code]

Fedora 26 ppc64
Full log: https://kojipkgs.fedoraproject.org//work/tasks/101/16930101

[2016-12-19 07:50] rrahn opened #1980 "Nightly Master/Develop Tests fail on Win 32/64"
There seems to be a sporadic issue, when develop and master builds are executed in parallel on windows.
I assign this at the moment to @smehringer, since it might be related to the version checker, since this is involved on develop and master.

[2016-12-19 07:57] rrahn commented on #1979
@sagitter thx for reporting. We'll investigate. Can you reproduce that it is always these 3 app tests that fail, or is it more sporadic?

[2016-12-19 12:36] h-2 commented on #1861
@mr-c @kdmurray91 SeqAn-2.3 was released and we have done some changes also affecting the open TODOs in this issue:
* we have renamed `FindSeqAn.cmake` to `seqan-config.cmake`, see #1963. AFAICT Debian installs these files to  $PREFIX/share/$name/cmake/$NameConfig.cmake so you could adapt the package to do this, as well. The library package should not contain any other cmake files.
* since we clea

[2016-12-20 10:11] sagitter commented on #1979
Yes.

[2016-12-21 17:49] #1980 closed

[2016-12-22 13:02] h-2 opened #1986 "GCC 7 issues"
- [x] compiler crash → https://gcc.gnu.org/bugzilla/show_bug.cgi?id=78901 (fixed)
  - [x] test failure of test_stream → https://gcc.gnu.org/bugzilla/show_bug.cgi?id=78977

see cdash nightly for details

[2016-12-23 15:32] h-2 opened #1988 "INPUT_DIRECTORY and OUTPUT_DIRECTORY don't accept trailing /"
The arg parser now explicitly supports directories. However, if I specify `.lambda` as directory extension, this does not include `.lambda/`.
This is unintuitive and some shells automatically add this with auto-completion.

[2016-12-29 12:30] bkehr opened #1989 "Argument parser --version-check"
Hi,

congratulations for the release! I am currently looking through the new features and changes in 2.3.1.

Can you point me to or add some documentation about the new --version-check option of the ArgumentParser? I found the compiler flag -DSEQAN_DISABLE_VERSION_CHECK listed somewhere hidden on the Tutorial pages but no other documentation. Does it work for programs not distributed as a part of

[2017-01-01 22:51] h-2 opened #1990 "version check is making tests fail"
http://cdash.seqan.de/testDetails.php?test=37456702&build=207602

on a side-note: since we have two different kind of checks now, one aimed at the app-developer, and one aimed at the app-user, we should save two different timestamps. Otherwise one test on a machine can "deactivate" the other.

[2017-01-02 11:31] rrahn commented on #1989
Hi @bkehr thank you very much.

We have some documentation about building this feature in different modi. Please see: http://seqan.readthedocs.io/en/master/Infrastructure/Use/CustomBuildSystem.html#seqan-version-check-opt-in and http://seqan.readthedocs.io/en/master/Infrastructure/Use/FindSeqAnCMake.html#checking-for-newer-versions-of-seqan-optional for more information.
So external app developer

[2017-01-03 16:51] h-2 commented on #1868
@marehr what is the status here? Can you please keep bugging the staff until they do it?

[2017-01-03 17:56] h-2 opened #1992 "cmake edits files that are under version control"
#1969 changes existing files that are under version control. This is not good practice, because it causes files locally to change again and again, making it very likely that someone commits them by mistake. If the files really need to be system dependent, than the should be generated completely by cmake, not edited in place.
This could be done by tracking a `dox/dox_only.sh.in` in the repo (but no

[2017-01-03 18:36] h-2 commented on #1992
This effectively breaks out-of-source builds and might be rejected by down-stream package systems for this reason. Possibly we need to make a 2.3.2 release for this. @rrahn what is your opinion as the person who merged #1969 ?

[2017-01-04 12:28] h-2 commented on #1990
Also, shouldn't the "This app version is newer than the one we know of" warning be shown only for developers?

[2017-01-04 17:35] h-2 opened #1994 "static builds with the version checker crash immediately on linux"
... this is at least true for lambda, but it probably affects other apps, too.

Deactivating the version check at run-time or compile time fixes the issue, early debugging suggests that the std::promise is doing something it shouldn't,

[2017-01-05 14:40] h-2 opened #1995 "valgrind issues"
We need nightlies with valgrind :sos:

[code]
→ tokenization.h:111

[code]
→ arg_parse_argument.h:728 why wasn't `strSplit()` used instead?

...

[2017-01-06 16:52] h-2 opened #1996 "make a symlink from seqan-config.cmake to FindSeqAn.cmake"
... so that apps that ship with SeqAn bundled, don't break.

@rrahn I really think we should do this for backwards compatibility. What do you think?

[2017-01-10 14:30] rrahn opened #1997 "Wrong example in doc for cmake projects in manual"
In the [example](http://seqan.readthedocs.io/en/develop/Infrastructure/Use/FindSeqAnCMake.html#building-the-project) for using the sedan-config.cmake module, we have an outdated example using the old -DCMAKE_MODULE_PATH=~/devel/seqan/util/cmake

[2017-01-10 16:02] h-2 commented on #1861
@mr-c @kdmurray91 I would like to politely ping you :sparkles:
I think Debian stretch is nearing freeze and it would be really great if we could get the aforementioned issues addressed, especially the cmake mess. Also it would of course be good, if the app tests also work…
We are planning to do one more patch level release (2.3.2) in the next week so any changes you might propose could be upstream

[2017-01-10 16:37] mr-c commented on #1861
@h-2 Thanks for the ping, I'll work on it at this weekend's Debian Med sprint in Bucharest, Romania -- not too late to buy a cheap plane ticket if you'd like to join us!

https://wiki.debian.org/Sprints/2017/DebianMed2017

[2017-01-11 01:04] kdmurray91 commented on #1861
I'm sorry @h-2  and @mr-c, but it's unlikely I'll have time to help before the freeze deadline, which happens to be the same day as the deadline for two peer review rebuttals. Hope all goes smoothly, and ping me if there's anything you urgently need from me.

[2017-01-11 16:56] h-2 commented on #1861
@h-2: Thank you for the invitation, but I still have my FreeBSD packaging to do and that is enough for now :) But great that you are looking into it at the weekend. Our availability at weekends is not so good, but I will try to look into this issue once in a while in case questions come up! @kdmurray91 no problem!

[2017-01-12 15:07] #1986 closed

[2017-01-14 10:34] mr-c commented on #1861
FYI, since we manage our packaging using git, the `SEQAN_REVISION` erroneously gets set using the latest commit in our git repository -- I'm patching that out, but it'd be nice if there was a flag I could set or parameter I could pass to ignore it instead.

[2017-01-14 13:18] mr-c commented on #1861
@h-2 What's up with `SEQAN_PKGCFG_CFLAGS` in `util/pkgconfig/seqan.pc.in`? It isn't defined anywhere and I get a serious error from our QA system:

[code]

[2017-01-14 15:57] h-2 commented on #1861
@mr-c

We'll have a look at that!

That was actually patched in by you guys ( @kdmurray91 ) in #1938 :thinking:
But from my POV we can just remove it.

[2017-01-14 16:01] mr-c commented on #1861
@h-2 Checking the commits from #1938 reveals that it is a vestige of @kdmurray91 earlier, fancier version

Yep, at least two PRs will be coming your way :-)

[2017-01-15 01:13] kdmurray91 commented on #1861
Ah crap, mea culpa. Sorry all, I though I'd fixed that.

[2017-01-15 08:01] mr-c commented on #1861
seqan 2.3.1 has been accepted into Debian unstable and is making its way into the archive; it will migrate to the testing distribution in 10 days unless there is a problem.

https://tracker.debian.org/news/832651

The problematic architectures have been disabled: https://buildd.debian.org/status/package.php?p=seqan2&suite=sid

And the promised pull requests have been filed #1999 #2000 #2001

[2017-01-16 14:49] xenigmax commented on #1992
Hmm.. As far as I remember, we had some discussion about this.
But I totally ignored the possibility of changing run.sh to run.sh.in.
I made a PR for this.

[2017-01-16 15:16] h-2 commented on #1861
Thank you for your pull requests and bringing a new version to Debian! One thing, could you recreate the PRs against master? 2.3.2 will be branched from master since its a patch level upgrade...
[strictly speaking our release model does not require those changes to be in the patch level release, but since the next minor release is probably some time away we might as well include them]

[2017-01-16 15:28] mr-c commented on #1861
Sure, especially if you add a `CONTRIBUTING.md` with a link to http://seqan.readthedocs.io/en/master/Infrastructure/Contribute/index.html with a note about this exception to the PR workflow :-)

(see https://help.github.com/articles/setting-guidelines-for-repository-contributors/ )

[2017-01-16 17:11] h-2 commented on #1861
We have a CONTRIBUTING.rst file that should be shown (although I just saw that some formatting is broken) and that links to the manual. The manual states that master only gets changes for an emergency fix release and these are usually only submitted by team members so I think the general recommendation to always PR against develop is valid. The current exception really is rare, and to be honest th

[2017-01-16 17:17] #1992 closed

[2017-01-16 17:20] #1990 closed

[2017-01-16 17:28] h-2 opened #2008 "app_test_searchjoin timeouts on travis/gcc49"
@cpockrandt can you look into this?

[2017-01-16 17:29] h-2 opened #2009 "use two different timeouts in argparser ?"
for developer and user? Otherwise the developers might never see the developer info, because she is also user (release binaries) and the other runs always invalidate the timer.

[2017-01-17 12:23] #1996 closed

[2017-01-18 07:10] smehringer commented on #2009
What difference do you propose? About 5 or 10 seconds when in debug mode?

The server response should normally be really fast, since it's only a small request.. so three seconds (current timeout) is already thorough time I think. But I suppose it's not that inconvenient to wait a little longer for developers.

[2017-01-20 07:33] rrahn commented on #1989
@smehringer We should add a more detailed description of this feature into readthedocs for the patch level release. So I switch the milestone.

[2017-01-20 12:05] h-2 opened #2014 "warnings in jst from clang-trunk"
http://cdash.seqan.de/viewBuildError.php?type=1&buildid=209442

[2017-01-23 11:31] h-2 commented on #2008
@cpockrandt whats the status here?

[2017-01-24 15:21] h-2 opened #2015 "warnings in blast module on gcc7"
http://cdash.seqan.de/viewBuildError.php?type=1&buildid=209879

[2017-01-25 15:27] rrahn opened #2016 "We need to forward mail seqan@support.de to sedan-team..."
Please write the IT.

[2017-01-26 22:03] kdmurray91 commented on #1861
@h-2  *et al.*: https://lists.alioth.debian.org/pipermail/debian-med-packaging/2017-January/050524.html states that we have seqan2.3 in testing, which means that we should have seqan in stretch! w00t!

[2017-01-27 11:17] cpockrandt commented on #2016
@rrahn Done. But mails going now to support@seqan require moderation on the mailing list ...

[2017-01-27 16:55] h-2 opened #2017 "severe performance issues of SIMD code with GCC 4.9"
Something is  bugged in GCC 4.9 or in our SIMD code in relation to GCC 4.9.
Lambda run times with SIMD enabled are on average 10-15% better than without SIMD. This is true for GCC>=5 and clang.
For gcc-4.9 however the run-time **increases** by a factor of 2x to over 10x! I am not sure what that amount of slow-down depends on, it seems to just increase with the amout of SIMD that you are doing (in

[2017-02-06 14:36] h-2 opened #2018 "SeqIO incorrectly assumes support for .bam"
... although gzip is not available.

In:
https://github.com/seqan/seqan/blob/master/include/seqan/seq_io/sequence_file.h#L86
the Bam extension should be macro-guarded by zlib presence, like in bam_io:
https://github.com/seqan/seqan/blob/master/include/seqan/bam_io/bam_file.h#L122

@temehi can you fix it this week? Should be very easy to do...
Thanks!

[2017-02-07 10:34] rrahn commented on #2016
@marehr can you do that, and btw, add me and @h-2 to the maintainer of the list.
thanks

[2017-02-07 10:35] rrahn commented on #2018
@temehi ping

[2017-02-07 10:36] rrahn commented on #2017
@h-2 the first version should do it.

[2017-02-07 10:37] rrahn commented on #2008
@cpockrandt whats the status?

[2017-02-07 11:07] #2009 closed

[2017-02-07 11:56] marehr commented on #2016
I'm already moderating the list. Btw, @h-2 and @rrahn are admins on the list, so you should be able to add yourself as a moderator.

[2017-02-07 13:28] #2016 closed

[2017-02-07 13:33] #2014 closed

[2017-02-07 14:39] rrahn commented on #2017
So as for what we know, this is issue comes from the implementation of the intrinsics of gcc-4.9.
This is not really a bug, but a nasty thing, as it remains hidden.
Since it seems other code changed the structure (@marehr)  and the fix would touch these files, we could as well move this issue to 2.4.

[2017-02-08 17:19] smehringer commented on #2015
This is a compiler bug fixed by gcc in the latest release.

@h-2 can I close this or is there anything that still needs to be done?

[2017-02-08 17:22] h-2 commented on #2015
can be closed!

[2017-02-08 17:22] #2015 closed

[2017-02-09 19:50] #1945 closed

[2017-02-10 10:38] ktrappe commented on #1886
@esiragusa any news on this issue?

[2017-02-10 13:05] temehi opened #2026 "CTD support broken by new function _typeToString"
GenericKnimeNodes expects `int` instead of `integer`as a type. When we replaced the hardcoded types [here](https://github.com/seqan/seqan/blob/966da62f2ba61867359cad18f4db2dbaf431243e/include/seqan/arg_parse/arg_parse_ctd_support.h#L394) with _typeToString() the `int` was replaced by `integer` ([here](https://github.com/seqan/seqan/blob/966da62f2ba61867359cad18f4db2dbaf431243e/include/seqan/arg_pa

[2017-02-10 14:50] #2018 closed

[2017-02-10 16:40] h-2 opened #2029 "arg parser language and usability"
I just noted a few denglish symptoms and spelling errors in the arg parser, maybe we can change it for the next release?

[code]
(same for seqan info)

Also, since the arg parser knows the application name, it would be good to replace "this application" with the actual application name.

[code]
How does the user know if it is developed "by SeqAn"? Didn't we want to include a custom URL? Or at leas

[2017-02-10 22:12] #1997 closed

[2017-02-11 23:21] cpockrandt commented on #2008
Fixed with #2027

[2017-02-11 23:21] #2008 closed

[2017-02-12 12:49] #1989 closed

[2017-02-13 10:34] temehi commented on #2026
There are yet more things to fix! the in the CTD files `input-prefix` is expected instead of `input_prefix` and the same is true for `output_prefix`, `input_files` and `output_files`. And `bool` type is not allowed at all. gkn expects a `string` type with `true,false` restrictions and will later convert it to boolean.

I will create a pull request after checking all things are fixed.

[2017-02-13 10:53] cbielow opened #2032 "Dead links in ReadTheDocs"
When reading
http://seqan.readthedocs.io/en/master/Tutorial/GettingStarted/BackgroundAndMotivation.html

there are several dead links, e.g. to [template subclassing](http://seqan.readthedocs.io/en/master/Tutorial/GettingStarted/tutorial-getting-started-template-subclassing) or [ the section “From OOP to SeqAn” in the First Steps Tutorial.](http://seqan.readthedocs.io/en/master/Tutorial/GettingStar

[2017-02-13 15:35] martinjvickers opened #2034 "Compiling with TBB -ltbb flag with cmake"
I'm trying to use the threading building blocks library within a program I'm writing and I can't seem to get it to compile. The library is installed on my ubuntu machine (`apt-get install libtbb-dev`) and a simple hello world (non-seqan/cmake) program compiles and runs fine;

`g++ hello.cpp -ltbb -std=gnu++11`

So I don't think there is an issue with tbb on my machine.

To add tbb into my seqan pr

[2017-02-15 14:05] h-2 commented on #2034
@jtroehr can you respond to this? You are using TBB, right?

[2017-02-15 14:46] martinjvickers commented on #2034
Thanks for the reply @h-2 @jtroehr. I've found what the issue is but I'm not sure how to solve it. It's because in my CMakeList.txt file I have the following;

```set (CMAKE_CXX_FLAGS  "-${CMAKE_CXX_FLAGS} ${SEQAN_CXX_FLAGS} -ltbb")```

which creates the following in the link.txt file.

```/usr/bin/c++ -std=c++14 -ltbb -O3 -DNDEBUG   CMakeFiles/tbb_test.dir/tbb_test.cpp.o  -o tbb_test -rdynamic -l

[2017-02-15 15:29] h-2 commented on #2034
Yes, instead of adding `-ltbb` to your CXX_FLAGS, instead add `tbb` to your `target_link_libraries`. In case that you are including `SEQAN_LIBRARIES` at that point anyway, you can just add it to `SEQAN_LIBRARIES`.

[2017-02-15 15:54] #2026 closed

[2017-02-15 15:57] martinjvickers commented on #2034
@h-2 that's great, it works perfectly!

[2017-02-15 15:57] #2034 closed

[2017-02-17 15:39] h-2 opened #2037 "Unneccessary memory allocation when opening FM index"
Heap profiling the process of opening an FM index reveals that the size of the LF is allocated twice and then one is freed again. This increases the over-all memory requirements of an application significantly.

![image](https://cloud.githubusercontent.com/assets/2996863/23071560/0dc9441e-f52f-11e6-8367-08db67c012cd.png)

(the read triangle is the memory that is obviously not needed after opening)

[2017-02-17 17:13] h-2 opened #2038 "icpc errors in master"
Apparently some of the SIMD codepaths are not unit tested. If I try to build lambda with the current master branch (to-be-2.3.2) I get compile error:
[code]
After this the icpc hangs with 100% and never terminates :hankey:

Since the interfaces are not yet documented, I wouldn't see this as a release blocker, but it would still be good if someone could look at it next week, because I need to do so

[2017-02-22 14:11] eldariont opened #2042 "Replace getValue(it) with *it in tutorials"
getValue(it) is deprecated but used in tutorials. Replace with operator*.

Deprecated: http://docs.seqan.de/seqan/develop/concept_IteratorAssociatedTypesConcept.html#IteratorAssociatedTypesConcept%23getValue

Tutorial example: http://seqan.readthedocs.io/en/master/Tutorial/DataStructures/Sequence/StringsAndSegments.html#assignment-5

[2017-02-28 02:29] esiragusa opened #2044 "Latest macOS packages lack multithreading"
Try [yara-0.9.10](http://packages.seqan.de/yara/yara-0.9.10-Mac-x86_64_sse4.zip) for instance. I guess binaries were built with macOS clang rather than macports g++-mp.

[2017-02-28 08:37] rrahn commented on #2044
Mhmm. OK I can rebuild them.
Thx for the hint.

[2017-03-01 00:24] alexanderwhatley opened #2048 "Memory issues"
I'm running razers3 on a 28GB BAM file using 32GB of RAM on a HPC cluster, and it is crashing as the memory limit is being exceeded. Do you have any recommendations on what to do when the input file sizes are large? Thanks.

[2017-03-01 09:24] rrahn commented on #2048
You could try out yara (https://www.seqan.de/apps/yara/). It also has an exact mode, while using much less memory.
If you really need razers3 for any reasons, then the only option that comes to my mind is to split the bam file and run the job in batches. So you can then also distribute over the nodes of your HPC if possible.

[2017-03-03 10:32] martinjvickers opened #2049 "Writing BAM to file"
**TL:DR**
I'm trying to create a BAM file from scratch and write it out. I want to be able to do this record by record.

I've been struggling with this on and off for a while and I'm clearly missing a crucial element somewhere. All of the examples of writing out to a BAM file in the how-to assume you've already read in a BAM file therefore you copy the context, e.g.

`BamFileOut bamFileOut(context

[2017-03-03 10:35] martinjvickers commented on #2049
As an aside, I was getting some mileage out of doing something like this (psudo-code);

[code]

This creates a sensibly sized BAM which samtools will show a fully readable header along with the first read in my test file which happens to not align. It then dies due to it being a truncated file.

I understand the reason for this, that I've not been able to give bamFileOut a context. I just don't kn

[2017-03-03 13:17] usf-tfawcett opened #2050 "re-evaluate testing different combinations of C-stdlibs, C++-stdlibs and C++-rtlibs"
cmake flags = -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/where/i/am/going

The CMakeError.log file contains:

If I compile `int main(){}` with icpc --std=c++14, i get no compile errors

I have no issues using gcc 6.2.0, but would like to use Intel for obvious reasons.  Any help would be greately appreciated.

[2017-03-03 13:41] usf-tfawcett commented on #2050
OK, so...  I see now that this is expected as the test does indeed fail.  However, Intel 17.0 supports (at least some) of c++14.  If Intel 17.0 not supported?  We have not installed 16.0 on our cluster, just 15.0 and 17.0.

[2017-03-04 07:46] alexanderwhatley opened #2051 "Error building yara from source"
I am getting an error source when building yara from source, during the "make all" step. Here is the traceback:

[code]

[2017-03-09 12:49] sccluisx commented on #1484
Hi I am retaking this project, now I have isolated the problem and know what is what triggers the bug.
In the zip file I have a very simple code:
`
#include <iostream>
#include <seqan/store.h>
int main(int argc, char * argv[]) {
    seqan::FragmentStore<>  fragStore;
    const char *r1 = argv[1];
    const char *r2 = argv[2];
    auto c1 = loadReads(fragStore, r1, r2);
    std::cout<<"call: "<<std

[2017-03-27 19:13] ilovezfs opened #2052 "http://www.seqan.de offline?"
The homepage http://www.seqan.de seems to be blank, displaying no content. This a temporary situation or did it move somewhere else?

[2017-03-28 18:52] rrahn commented on #2052
It seems like a bug in one of the WP plugins. We are working on that. Thanks for notifying us.

[2017-03-30 02:00] cartoonist opened #2053 "Compile error when calling goRight on a FMIndex iterator"
Hi there,

I am trying to walk through the prefix tree of a text indexed by FMIndex. I skimmed through the source code (`seqan/index/index_fm_stree.h`), and it seems that the `goRight` method is implemented for FMIndex iterators. But when I try:

[code]
It would not compile. Compiler complains that the constructor of `VertexFM` requires 4 arguments but 3 are provided. The exact compiler (gcc 4.9.3

[2017-03-31 05:56] ilovezfs commented on #2052
You're welcome. This looks like it's now fixed. Thanks!

[2017-03-31 05:56] #2052 closed

[2017-04-03 08:20] cbielow opened #2054 "FASTA Reader: supported file endings"
we'd like to upgrade from Seqan 1.6 to Seqan 2.x for OpenMS in the near future.
Currently, `readRecord()` is holding us back a little, since it seems to enforce certain file endings on FASTA input files, and refuses to read *.tmp files, which can occur in auto-generated class-test files or maybe even workflow systems. This is a deal breaker for us.
Is there a way to add a flag in readRecord() or s

[2017-04-03 10:04] rrahn commented on #2054
I am afraid that's not so easy.
Here is a solution:

The FormattedFile Class can be overloaded by a third template parameter.
In that case you can create a tag like ```OpenMSFastaAdaptor``` or something like that and create an instance of your formatted file.
For this you need to overload the ```FileFormat<...> ``` metafunction which returns a set of valid file formats. Here you need to define a t

[2017-04-04 12:29] AlexanderFillbrunn opened #2055 "YARA Mapper to output CIGAR strings for secondary alignments"
I am using SeqAn 2.3.2 with the YARA mapper version 0.9.10 [d80e19a]. I use the YARA mapper to find all occurrences of a query sequence in a library of around 6 million other sequences. Unfortunately all secondary alignments are lacking the CIGAR string, which would be very useful to have for all alignments, not just the primary one. Is that possible or could it be added?

[2017-04-04 18:03] zengfengbo opened #2056 "read bam error on mac, sam right"
# code
[code]

# ERROR:
Could not open /Users/fb/src/seqan-src/demos/tutorial/sam_and_bam_io/example.bam
Program ended with exit code: 1

[2017-04-05 07:23] rrahn commented on #2056
Hi that's strange. We don't see this in our nightly builds. But demos are tested as well. Can you please check that the macro ```SEQAN_HAS_ZLIB``` is set?

[2017-04-05 07:57] zengfengbo commented on #2056
I installed using brew.
`brew install  --HEAD homebrew/science/seqan`
and added the include path `/usr/local/Cellar/seqan/HEAD-d80e19a/include`.
how to check the macro `SEQAN_HAS_ZLIB` ?

[2017-04-05 08:05] rrahn commented on #2056
In your source file add a line in your main with something like:
[code]
or you can call
[code]
which shows you what make would do. There should be the definition ```-DSEQAN_HAS_ZLIB``` listed.
Here is the [link](http://seqan.readthedocs.io/en/master/Infrastructure/Use/index.html) to some documentation of installing and using SeqAn in cmake-based projects or when you use your own build system.

[2017-04-05 08:17] zengfengbo commented on #2056
the macro `SEQAN_HAS_ZLIB` not found.
[code]
Nothing happened.

[2017-04-05 08:30] rrahn commented on #2056
Ok, so this means that you did not link against zlib properly.

1.  make sure zlib is installed on your system.
2. make sure that libz.a is in your library path (should be the case, if installed via macports or homebrew)
3. in your build command add: ```g++ -I${prefix}/seqan/include -DSEQAN_HAS_ZLIB  ... main.cpp -lz```

That should make reading bam files to work.
If you use cmake then please read

[2017-04-05 08:40] zengfengbo commented on #2056
Thanks, @rrahn , It works.
[code]

[2017-04-05 08:48] rrahn commented on #2055
@esiragusa Can you answer this?

[2017-04-05 08:55] #2056 closed

[2017-04-06 18:09] temehi commented on #2055
One particular situation where this creates a problem is when you use samtools to processes the output of yara. Samtools raises a warning that says `mapped sequence without CIGAR` and sets the `read unmapped` flag. So the secondary alignments records are not preserved after any kind of processing using samtools.

[2017-04-18 13:11] h-2 commented on #2050
@marehr Any news on this? We have 17 now, as well, don't we?

[2017-04-18 14:20] marehr commented on #2050
Hi @usf-tfawcett,

I'm terribly sorry that I somehow missed your bug report. First of all, great to hear that someone uses the Intel Compiler that took some time to get it working. And yes, we do support the Intel Compiler 17.

I tried to execute cmake on our internal buildsystem and on an external app like [lambda](/seqan/lambda) and it worked in both cases with 17.0.1 and 17.0.2.

I also compile

[2017-04-19 17:25] usf-tfawcett commented on #2050
Ended up being my error, BUT worth documenting for building with Intel
compilers.

I thought I had been adding gcc 6.2.0 to the environment for Standard
Libs to work with the Intel 2017 compiler.  However, I just realized
(through testing to get you cmake output files) that this was not the case.

The problem stems from Intel compilers not shipping with their own
copies of Standard Libs, so the In

[2017-04-19 18:54] marehr commented on #2050
We can incorporate this in our documentation. Your solution is unfortunately to custom tailored for a cluster. So it would be better to give our users a more general hint:

Maybe something like this:

Have you any suggestions on the wording?

[2017-04-19 19:00] usf-tfawcett commented on #2050
I think that would be great!  Thank you!

*Timothy J. Fawcett, Ph.D.*
Computational Scientist/Research Professor
University of South Florida - Information Technology
Research Computing
4202 E. Fowler Ave, SVC 5024
Tampa, FL 33620
Email: tfawcett@usf.edu <mailto:tfawcett@usf.edu> | Tel: (813) 974-6141

------------------------------------------------------------------------

*From:* Marcel
*Sent:*

[2017-04-21 12:40] mikael-s opened #2059 "README for seqan_tcoffee needs an update"
Hi guys,

The installation section of the [README](https://github.com/seqan/seqan/tree/master/apps/seqan_tcoffee) for `seqan_tcoffee` mentions directly using make to compile the application, while you use CMake for a while.

Mikaël

[2017-04-21 13:12] h-2 commented on #2050
I thought about documenting the standard library requirements separately, as well, because there are other pitfalls, e.g. libc++ (clang) vs libstdc++ (gcc)  and also OS (on Linux clang uses libstdc++ by default, on BSD and Mac it uses libc++). To make it even worse, there are also completely operating systems specific c-standard-libraries, and since modern c++ standards incorporate modern c-standa

[2017-04-24 14:12] skptic opened #2060 "Writing alignment objects to file (aligned FASTA, CLUSTALW etc)"
I have been unable to find any documentation/examples for writing out alignments to file.

Ideally I'm wanting to output aligned FASTA or CLUSTALW type MSA files.

The only reference I can find is to the deprecated, old-style I/O `write()` function.

I assume there must be a way of doing it with `writeRecord`?

[2017-04-24 14:44] h-2 commented on #2060
@joergi-w Can you help?

[2017-04-26 22:01] LakeMendoza opened #2061 "FASTA writeRecord line length"
Is it possible to adjust FASTA output line length? Currently the following line produces a FASTA file with lines of 70 bp, but I would like to be able to adjust this if it's at all possible. I found SequenceOutputOptions in the docs.seqan.de but I don't know how I should use this. Any help would be much appreciated.

[code]

[2017-04-27 09:36] temehi commented on #2061
Hello,
Yes it is possible. You can assign your `SequenceOutputOptions` object  to the context of `seqFileOut`.

[code]

[2017-04-27 09:41] LakeMendoza commented on #2061
Great, many thanks! It worked!

[2017-04-27 09:41] #2061 closed

[2017-04-27 09:44] temehi commented on #2061
@LakeMendoza One more thing,

- if lineLength = -1 (default) ---> lines will be of length 70
- if lineLength = 0 it means no line-wrapping at all.

[2017-04-28 00:03] roger-liu-bina opened #2062 "Fragment Store loadContigs cannot handle 'M' in the contigs."
If the reference, for example human hs37ds, contains letter M, seqan fails immediately.

[2017-05-02 09:38] h-2 opened #2063 "Bug in alignedReadStore ?"
From the mailing list:

[code]

[2017-05-03 14:56] joergi-w commented on #2060
Sure. You need to use the AlignmentGraph and the [write](http://docs.seqan.de/seqan/master/class_Graph.html#Graph%23write) function there, which is not deprecated. It allows you to print to a file or to std::cout in any format listed here:
[http://docs.seqan.de/seqan/master/group_AlignmentGraphFormatTags.html](url)

I give you some example code:
[code]

[2017-05-03 15:37] joergi-w commented on #2059
Thank you for reporting this!
The fix is contained in PR#2047

[2017-05-03 15:37] #2059 closed

[2017-05-05 12:09] joergi-w opened #2065 "compiler crash with g++-5 and g++-6"
The target test_align_simd_sse4 make the compilers crash: http://cdash.seqan.de/viewBuildError.php?buildid=222160

EDIT: cdash points to this build https://travis-ci.org/seqan/seqan/builds/228898434

[2017-05-05 12:34] marehr commented on #2065
I'm on it! #2064 fixes some of those issues.

But, the errors described in this issue are due to travis, which has some different problems.
My pull request did run successfully on travis :roll_eyes:

[2017-05-05 14:23] marehr commented on #2065
@h-2 I would suggest to gradually and iteratively fix all remaining bugs by multiple pr and see after each nightly build what remains. Could you review #2064 and merge it? I try to find a solution for the out-of-nowhere failing travis and the failing darwin builds.

[2017-05-10 11:25] h-2 commented on #2037
@cpockrandt Is this something we could maybe look into soon-ish?

[2017-05-12 10:16] mikael-s opened #2067 "bad_alloc with seqan_tcoffee"
Hi!

When launching `seqan_tcoffee` (version 1.13.7, seqan: 2.3.2) on a pair of similar sequences I encounter an uncaught `bad_alloc` exception.

The command line is `seqan_tcoffee  -s test.fasta -a dna` and the exception is raised almost immediately:
[code]

The `test.fasta` file can be obtained in the following way:
[code]

Thanks,
Mikaël

[2017-05-15 10:57] joergi-w commented on #2060
@skptic : Was my answer helpful and can we close this issue?

[2017-05-15 11:00] skptic commented on #2060
Absolutely, thank you very much.

The confusion stems from the comment for write here claiming it to be deprecated.

http://docs.seqan.de/seqan/2.3.2/

[2017-05-15 11:27] h-2 commented on #2067
@joergi-w can you have a look?

[2017-05-15 16:23] h-2 commented on #2037
@weese @esiragusa Do you have any thoughts on this? Memory consumption is 30% higher for every app that uses the FM-Index!! I am quite sure this affects Yara, too.

[2017-05-15 16:28] esiragusa commented on #2037
Is the 2x allocation issue affecting only LF or everything? Did you look into open() - that should use External Strings. This shouldn't be a problem for Yara because it uses MMap Strings.

[2017-05-16 11:10] h-2 commented on #2037
@esiragusa It effects only the LF. And, yes, it uses ExternalStrings and apparently the external string for the LF just doesn't free its pages (it keeps the entire memory until destruction).

Maybe that's why I didn't see this before – Lambda1 used mmapped strings, as well, but because they perform poorly with concurrent access I turned it off for Lambda2.

[2017-05-16 15:07] esiragusa commented on #2037
The problem with open() and ExternalString should affect every container, not just LF... BTW the CSA stores a pointer to the LF, so that there's only one copy of LF - you might want to check if everything looks okay there.

Did you benchmark concurrent access to memory mapped data?

[2017-05-17 09:35] h-2 commented on #2037
Yes, but it's not, that's whats freaking me out :fearful:

Ok, we will have a look there. But we actually did step through just the reading process of the LF, and could see the memory spike and subsequent drop, just inside the reading process so it does look like a problem of the ExternalString to me.

I didn't do a stand-alone benchmark, but the current version of Lambda can use mmapped based on

[2017-05-17 14:46] JakobSch opened #2068 "FormattedFile is not move constructible"
Hi,
I am trying to create several .bam files simultaniously and I am failing to create a working `std::vector<seqan::BamFileOut>`.

In the following I show the used seqan version and a working code snippet (although without the functionality I need) as well as several not working snippets.

    $git -C /home/schulzeja/tools/seqan/ log HEAD^..HEAD
    commit d80e19a20e8de488d235cf9d611f5e20eb7fc131

[2017-05-17 17:41] h-2 commented on #2068
@temehi can you have a look?

[2017-05-17 17:43] h-2 commented on #2051
This is actually a bug by GCC and not by us! I wonder why we are not seeing this? @marehr @rrahn

[2017-05-17 17:44] h-2 commented on #2053
@cpockrandt can you have a look?

[2017-05-17 17:45] h-2 commented on #2051
@alexanderwhatley Can you use the binaries for now? Or try a different gcc version?

[2017-05-17 18:09] marehr commented on #2051
@alexanderwhatley  A quick google on your error gave me this bug report https://gcc.gnu.org/bugzilla/show_bug.cgi?id=59463

Can you test the suggestions in that bug report?

Can you especially check `echo $LD_LIBRARY_PATH` in a terminal?

[2017-05-17 18:23] marehr commented on #2051
@alexanderwhatley Also note https://gcc.gnu.org/bugzilla/show_bug.cgi?id=64364, which - if I interpret it right - that openmp (gmp) might not be correctly build for your system. (You use https://github.com/tfhartmann/fasrcsw as a package manager, right?)

[2017-05-18 19:41] cpockrandt commented on #2053
@cartoonist Hi, thanks for reporting this bug. You can find a bugfix in #2069, it'll be merged into develop soon!

[2017-05-19 11:01] paulmenzel opened #2070 "Use more secure HTTPS URL in GitHub description"
Please use the more secure HTTPS URL in the GitHub description.

[code]

[2017-05-22 08:00] JakobSch commented on #2068
Any news?

[2017-05-22 10:36] martinjvickers commented on #2068
@JakobSch I think our problems #2049 are related, just you've got a little further than I have with trying to solve it. I've been trying to write to a BAM/SAM file without copying the context information from an existing BAM/SAM but to no avail. A working example of this would be fantastic if we could get it and update the readthedocs manual with the example.

[2017-05-22 15:32] h-2 commented on #2068
The assigned person is currently on vacation and other people in the lab are also quite busy unfortunately :( You can have a look at how our programs do it, maybe that will answer some questions already:
* Yara https://github.com/seqan/seqan/tree/master/apps/yara
* Lambda https://github.com/seqan/lambda/tree/master/src

[2017-05-22 16:35] martinjvickers commented on #2068
@JakobSch I've just noticed on my testing (I'd not noticed this when I first opened my issue) that if you simply change the output file name from a bam file to a sam file (changing nothing else at all) then it works. Obviously it produces a SAM rather than BAM which is not what I want either. When the output file is has a bam file extension it just seg faults. Below is my example;

[code]

[2017-05-23 09:44] JakobSch commented on #2049
Hi,
nice linking to this thread. The official test told me something new. In the past, I tried writing several BamHeaderRecords to a BamFileOut which created trouble when writing .bam files. Obviously one have to write only one BamHeader and append several BamHeaderRecords to it using appendValue().

However isn't this thread here answered?
The code you posted in my question seems to work.

[2017-05-23 10:02] JakobSch commented on #2068
@h-2 Thank you for the hints but after a quick glance at the command line parser of yara and lambda, both seem to write only one output file (which I can also do at the moment).
However I might have missed something.

[2017-05-23 10:03] martinjvickers commented on #2049
Hi @JakobSch. The code I posted in your question, #2068 does produce a valid SAM file but it segfaults when trying to produce a BAM file. I was hoping to get a good example of how to do it so that we can add to the manual.

[2017-05-23 10:11] martinjvickers commented on #2068
@h-2 Is it possible that there is an actual bug here? In my example above I can create a SAM but if I rename the output file with a bam extension I get a segfault. Have I made a mistake here or should this work?

To clarify I just tried this on 2.2.0 as well as the most recent master branch.

[2017-05-23 16:33] martinjvickers commented on #2049
#2068 goes some way in answering some questions about how to achieve what I need (the reason I opened this issue) however I'm still unable to get it to do what I need.

The below small example demonstrates what I am trying to do (the `CharString input` data would be a stream coming from another aligner, e.g. bowtie2 which would be intercepted/processed/analysed and the result written to a BAM file

[2017-05-23 18:16] JakobSch commented on #2049
I exchanged .sam with .bam and it worked.
Have you tried my cmake script?
Possibly your error has something to do with zlib, as it is not only needed but has also to be loaded before seqan.

[2017-05-24 09:21] JakobSch commented on #2049
Ok, now to the code from your last code here:

When I compile and run it I get the error:

    terminate called after throwing an instance of 'seqan::ParseError'
      what():  Unexpected character '\n' found.
    Aborted

just removing the last or all of them did not work, so further debugging would take much more time.

[2017-05-24 12:36] martinjvickers commented on #2068
@JakobSch You suggested (in another Issue) to take a look at the CMakeList.txt file to see if zlib was working correctly. And it wasn't. The issue I had was that I had called --static after the find_package step (I now noticed that there is some information about this in the docs https://seqan.readthedocs.io/en/master/Infrastructure/Use/FindSeqAnCMake.html#static-builds).

A working version of the

[2017-05-24 13:02] martinjvickers commented on #2049
Hi @JakobSch. Thanks for helping out and taking a look.

That's interesting, I don't get that at all. I just get the following;
[code]
I've added this example to a repo (https://github.com/martinjvickers/write_sam_from_stream) and added a travis build for it just to ensure it's not my desktop here doing something odd and that does the same thing (https://travis-ci.org/martinjvickers/write_sam_from

[2017-05-24 13:20] martinjvickers commented on #2049
@JakobSch The key to solving this was the line in your previous issue #2068
[code]
By adding that to mine I was able to get it all to work correctly. I've updated the working example on my [github repository](https://github.com/martinjvickers/write_sam_from_stream).

Thank you for your help, it was useful to debug out loud.

[2017-05-24 13:20] #2049 closed

[2017-05-24 16:26] JakobSch commented on #2049
Glad I could help :)

[2017-05-26 14:20] cpockrandt opened #2072 "goDown on empty string breaks iterator"
typedef Index<DnaString, FMIndex<> > TIndex;
    typedef Iter<TIndex, VSTree<TopDown<> > > TIter;

    DnaString text("GCCTC");
    TIndex index(text);
    TIter it(index);

    goDown(it, "C");    cout << representative(it) << endl; // outputs C
    goDown(it);         cout << representative(it) << endl; // outputs CC
    //goDown(it, "");     cout << representative(it) << endl; // outputs CC

[2017-05-29 20:50] lkuchenb commented on #1899
This can is actually quite an issue. Programs using SeqAn I/O that are run on a cluster will be kicked from the cluster by the grid engine if the user didn't happen to request a large enough  number of threads, without any way to control this as a developer or user.

[2017-06-01 00:01] sarahet opened #2075 "read_vcf not up to date"
The functions for reading a vcf file (vcf_io/read_vcf.h) are not matching the current vcf specification as they require 9 mandatory fields to be present in a file. In vcf specification 4.2 is stated that only 8 fields are mandatory (the FORMAT field is not required). In particular the readHeader function fails if less than 9 fields are present.

[2017-06-05 15:58] nevergonefan opened #2077 "bandedChainAlignment get position of first match"
I use the bandedChainAlignment method to align two sequences. Actually, the seq2 is part of the seq1, so the beginning part of the alignment are all gaps and I want to get the position of the first match, what should I do?
I know that there is a method in LocalAlignment.

[2017-06-07 08:24] temehi commented on #2068
Hi, I think the problem is due to `seqan::BamFileOut` not being  **copy-assignable**. [`std::vector<T>` requeres the type T to be **copy-assignable**1](http://en.cppreference.com/w/cpp/container/vector) and `seqan::BamFileOut` is not.

you can check this using:
[code]

[2017-06-07 10:04] h-2 commented on #2075
Thanks for pointing this out! Do you want to make a PR? 😄

[2017-06-07 10:57] martinjvickers opened #2078 "Accessing Name from nameStoreCache by id"
How do I go about accessing the Name (string/CharString?) from a nameStoreCache if I have the id but not the string name?

I can't find a method of doing the opposite of `getIdByName(idx, cache, name)`.

[2017-06-07 12:44] h-2 commented on #2078
@smehringer since you worked on this recently, can you help?

[2017-06-07 16:42] martinjvickers commented on #2078
Hi @smehringer and @h-2

I managed to get something working by adding a `getNameById` function to `name_store_cache.h`. It's probably not the best way but as it stands I don't understand enough of the inner-workings of SeqAn to do much better. But it works and it might provide a basis for me to understand how this is supposed to work.

[code]

[2017-06-08 10:06] h-2 commented on #2072
well, then please fix it :)

[2017-06-08 10:07] h-2 commented on #2070
done

[2017-06-08 10:07] #2070 closed

[2017-06-08 10:09] h-2 commented on #2062
This depends on which alphabet you use. Dna handles A,C,G,T, Dna5 handles A,C,G,T,N and Iupac handles all of the 16 Iupac characters. Did you try with Iupac, and if yes, can you post a more complete example?

[2017-06-08 10:10] h-2 commented on #2054
@cbielow Does this solve your problem?

[2017-06-08 10:10] h-2 commented on #2042
Can you make a pull request?

[2017-06-08 10:11] h-2 commented on #2032
Should these prodcue errors  in our sphinx build? @xenigmax can you check this?

[2017-06-08 10:51] martinjvickers commented on #2062
When using Dna5String it should convert anything other than an AGCT to an N.
http://docs.seqan.de/seqan/master/?p=Dna5
[code]
According to the docs for Dna, anything other than an AGCT is converted to an A?
http://docs.seqan.de/seqan/master/?p=Dna
[code]

[2017-06-08 12:06] h-2 commented on #2062
That depends. When doing an assignment this is true, but when doing IO SeqAn is "strict" by default. This is to prevent wrong data from just being re-interpreted, like an amino acid fasta file just being converted to lots of Ns without diagnostic.

[2017-06-08 15:03] martinjvickers commented on #2062
That makes sense, thanks for the clarification.

[2017-06-09 10:16] martinjvickers commented on #2032
@xenigmax @h-2 Regarding the `template subclassing` link, I'm not sure where this should point to. If anyone knows let me know and I can correct it.

[2017-06-09 11:47] martinjvickers opened #2080 "ReadTheDocs Sphinx setup for SeqAn manual"
Is it worth having the information in the manual about how to setup Sphinx so that you can compile the SeqAn manual to check links etc locally?

My notes about getting this to work are here;

https://gist.github.com/martinjvickers/8f303c72c9ba999cfdfe868b07cdfd8a

If this is useful I'm happy to add this information somewhere within the manual if you let me know where might be an appropriate place.

[2017-06-09 13:38] h-2 commented on #2080
Well, it should be the place:
http://seqan.readthedocs.io/en/master/Infrastructure/Manage/RepositoryStructure.html#manual
Do these instructions not work?

[2017-06-09 14:02] martinjvickers commented on #2080
You're right, I didn't quite catch that, that would of course work. :-)

From my point of view, I was simply trying to view the rst files locally to ensure a URLs worked while I do a bit of tidying up on a lazy document stuff Friday. It's a bit of a high barrier for entry if you don't use python much beyond the basic functionality, don't have virtualenv installed, don't have Sphinx and the depende

[2017-06-10 08:46] smehringer commented on #2078
Hi @martinjvickers,

could you supply me with an example of what you are trying to do?

The way I see it so far is that `NameStoreCashe` is an efficient way to query for a position of a name in a list of names.
e.g. `names = ["Tom","Marten","Mark"]`
Which position is `"Marten"` -> create `NameStoreCashe` and query `getIdByName` for `"Marten"` -> `1`

So now you have the id/position and you want to

[2017-06-10 16:51] cartoonist commented on #2053
Thanks. It worked for me.

[2017-06-12 06:55] smehringer commented on #2077
Hi @nevergonefan,

You might want to look at our Tutorial for [Overlap Alignments](https://seqan.readthedocs.io/en/master/Tutorial/Algorithms/Alignment/PairwiseSequenceAlignment.html#overlap-alignments).

If I understand you correctly, you still want a full global alignment between two sequences but you want to allow initial gaps at the beginning (and end?) of seq1. In SeqAn you can do this by pas

[2017-06-12 08:55] #2080 closed

[2017-06-13 11:51] #2053 closed

[2017-06-14 09:33] #2042 closed

[2017-06-14 09:34] h-2 commented on #2062
@roger-liu-bina does this answer your question, solve your problem?

[2017-06-14 10:08] h-2 commented on #2060
@skptic Yes, the interface with a pure write function was deprecated for most of the IO which switched to new interfaces for SeqAn2, but for IO of Graphs it is not deprecated:
http://docs.seqan.de/seqan/2.3.2/class_Graph.html#Graph#write
Or did you see it makred as deprecated somewhere else?

[2017-06-16 11:14] JakobSch commented on #2068
Hi, thank you for the answer.
This explains "not working 1" but not the others. At least as far as I have understood c++ (which is not really far).
Shouldn't ```bamFileOuts.emplace_back(``` and ```bamFileOuts.push_back(std::move(``` still work as it does not copy the object?

At least creating the objects on the heap as done in "not working 4" should neither require copying or moving of the object

[2017-06-18 17:12] h-2 commented on #1994
Contrary to what I thought this is not fixed on newer GCC version on Debian. Re-opening. I suggest re-habilitating #2006

[2017-06-19 23:04] cpockrandt commented on #1085
@h-2 We can close this issue, right?

[2017-06-19 23:04] cpockrandt commented on #1677
@h-2 ping ;)

[2017-06-20 07:21] stevschmid opened #2082 "Unexpected results with chainSeedsGlobally"
In this scenario:
[code]

seed1 has length 3 and seed2 has length 2.  `chainSeedsGlobally` returns seed2, which is not the `optimal` solution.

This is the test case I added to `tests/seeds/test_seeds_global_chaining.cpp`:

[code]

An extreme case:
[code]

From what I can see in <em>Gusfield 1997</em>, the algorithm does not cover this case. The algorithm only discards solutions which are "higher

[2017-06-20 08:19] catkira commented on #1085
yes

Am 20. Juni 2017 01:04:14 MESZ, schrieb cpockrandt <notifications@github.com>:

--
Diese Nachricht wurde von meinem Android-Mobiltelefon mit K-9 Mail gesendet.

[2017-06-20 10:32] #1085 closed

[2017-06-20 12:02] #1677 closed

[2017-06-20 23:16] xhongyi opened #2083 "FMIndex doesn't work with large StringSet"
Hi, Hongyi here.

I kept running into runtime I/O problems when generating a FM-Index with large StringSets (human genome v37 for example).

I kept getting this:

Asynchronous I/O operation failed (waitFor): "Bad file descriptor"
fildes:  a
buffer:  7fbf3d584000
offset:  344b0000
nbytes:  b0000
event:   1
Raddr:   0x1003b88
/usr0/local/include/seqan/file/file_page.h:816 FAILED!  (WRITING operation

[2017-06-21 00:09] xhongyi commented on #2083
If in the case that I do not have enough disk storage, I assume it is writing some intermediate data somewhere?

Is it writing to tmpfs or is it writing to my current folder?

[2017-06-21 09:11] Krannich479 opened #2084 "seqan (very) out-of-date in Ubuntu mirrors"
Hey,
is it perhaps possible to update seqAn in the Ubuntu source repository (e.g. xenial)?
Using your preferred first install option "Native package management of the operating system" I run into errors with undefined references while following your [Index Iterators](http://seqan.readthedocs.io/en/master/Tutorial/DataStructures/Indices/IndexIterators.html) tutorial, Assignment 1. According to the

[2017-06-21 11:18] cpockrandt commented on #2083
@xhongyi

Hi Hongyi,

the index creation is using secondary memory. Yes, you're right: the error suggests that you don't have enough space left on your disk or the quota of your temp directory is exceeded. Try changing your temp directory (`export TMPDIR=/somewhere/else`)

If you have any further questions, feel free to ask!

[2017-06-21 19:45] xhongyi commented on #2083
Yep. Worked like wonders. Suggest putting this point into the tutorial. Some people have very small /tmp partition and it could be a potential problem in building larger indices.

[2017-06-22 06:47] smehringer commented on #2078
@martinjvickers Did this help with you problem?

[2017-06-22 06:48] smehringer commented on #2077
@nevergonefan How's your problem? Did my suggestion provide any help?

[2017-06-22 10:42] martinjvickers commented on #2078
Hi @smehringer. Thanks for your reply. I've only just had chance to look at this.

I've found generally the BAM header very confusing. What I was working on was a small tool to give stats from a BAM/SAM file. Everything within code works fine with the rID until I wanted to say "Chr1 bla bla bla" where I had a rID = 0.

The final solution was to use something like this rather than editing the SeqAn

[2017-06-22 10:42] #2078 closed

[2017-06-22 11:31] martinjvickers commented on #2054
@h-2 @rrahn A documented solution to this issue in ReadTheDocs would be very useful as this problem also affects developers who wish to create tools for Galaxy.

When writing a Galaxy plugin you need to account for Galaxy changing all file formats to become a `.dat` file. The current solution is to write quite terrible wrappers around your program Galaxy https://biostar.usegalaxy.org/p/1965/

It w

[2017-06-22 15:20] nevergonefan commented on #2077
@smehringer I used the AlignConfig<true,true,true,true> when I called bandedChainAlignment method, but what I really want to know is the offset position of the first "not gap". Now I used a for loop to check the alignment result and it works though a little clumsy!
I have another problem! I found the bandedChainAlignment method is really slow, will seqan cooperate with NVBIO to accelerate in the f

[2017-06-23 11:20] h-2 commented on #2084
We have an up-to-date version in ubuntu zesty and artful:
https://packages.ubuntu.com/search?keywords=seqan&searchon=names&suite=all&section=all
(the new package name is `libseqan2-dev`)

You can probably just use that package? I am not sure how backports work, but maybe that would work, too. All work in this regard is done by the debian-med team.

[2017-06-23 11:24] h-2 commented on #2054
@martinjvickers There is no nice solution for this in the SeqAn2 code base and tbh I think any other solution will be bad usability wise for users (it should auto-detect!) and confusing for programmers: what if you set `-i foo.fastq --format fasta` should it be treated as fastq or fasta?
That having been said, we will provide workarounds for this in SeqAn3, although the default will still be to ma

[2017-06-23 11:25] h-2 commented on #2083
@xhongyi true! @cpockrandt can you do this for the next release?

[2017-06-23 11:32] h-2 opened #2085 "translation shouldn't crash on empty input"
see seqan/lambda#102

[2017-06-23 11:58] martinjvickers commented on #2054
@h-2 I 100% agree with the current way that SeqAn treats file formats. For command line tools it makes perfect sense and I don't think that should change. I've found it quite annoying that Galaxy renames the file. However Galaxy is very popular so it has been important to ensure the tools I write can be used with it, leading to the need to write the terrible wrappers in Galaxy (e.g. symlinking the

[2017-06-23 20:12] cpockrandt commented on #2083
@h-2 I made a PR for that.

@xhongyi If you have any further questions or suggestions, please feel free to open another issue. I'm closing this one now.

[2017-06-23 20:12] #2083 closed

[2017-06-25 09:32] xhongyi opened #2087 "FastFMIndexConfig problems and Function to build index"
Hi I have 2 separate questions:
1. It seems that for some reason, if I use FastFMIndexConfig instead of FMIndexConfig the finder won't find the correct query sequence. Is there special settings that I missed?

2. Is there anyway to load the Text beyond calling the constructor? For example, I have to StringSets but I only want to use a single FMIndex, can I just unload the previous and load the nex

[2017-06-26 12:34] cpockrandt commented on #2087
Hi Hongyi,

1. Can you provide an example with data? I wasn't able to reproduce this behavior in a quick test.

2. I would suggest to move your code into a separate function and call it twice (once for each StringSet). This way you would essentially only have one FMIndex. We don't officially support modifying the text in an FMIndex and rebuilding it.

[2017-06-26 13:37] smehringer commented on #2077
I'm sorry, seems I was to rush reading your question that I missed the main point.
The function [```countLeadingGaps()```](http://docs.seqan.de/seqan/master/class_Gaps.html#Gaps#countLeadingGaps) might be what you were looking for?

[2017-06-27 06:14] xhongyi commented on #2087
Sure. Try the code below. If I swap out "typedef FastFMIndexConfig<void, uint64_t> TConfig;" to "typedef FMIndexConfig<void, uint64_t> TConfig;", it prints "<0, 0>". Otherwise it prints nothing.

#include <iostream>
#include <seqan/sequence.h>
#include <seqan/index.h>

using namespace seqan;

typedef FastFMIndexConfig<void, uint64_t> TConfig;
typedef Index<StringSet<String<Dna5> >, FMIndex<void, T

[2017-06-27 06:27] xhongyi commented on #2087
This leads to my other point. I was trying to use the Iterator instead of Finder. However, I always run into some problems with it.

For example, after the above code, if I use:

`Iter<BWTIndex, VSTree<TopDown<ParentLinks<> > > > bwt_iter(fmIndex);`
`goDown(bwt_iter, String<Dna5>("TCATCTCCTTGGC") );`

Then I will run into a segfault.

The part of index iterator and all the associated tags is not v

[2017-06-29 16:29] h-2 opened #2088 "arg parser crashes on macOS..."
... if one supplies a wrong argument.
E.g.
[code]
Expected behaviour:
[code]
Actual behaviour:
[code]

Only happens on macOS. If one uses only correct arguments, everything is fine.

[2017-06-30 11:10] h-2 commented on #2084
Otherwise you will have to use our library package which is also described in the documentation.

I hope this answers your questin, if not, please re-open this issue.

[2017-06-30 11:10] #2084 closed

[2017-07-03 06:35] xhongyi commented on #2087
Hi, it has been a while. Can I ask if the problem has been confirmed? Or I missed something with FastFMIndexConfig?

[2017-07-03 07:55] xhongyi opened #2089 "How to obtain the FM range after a search"
Hi,

Is there anyway to access the pointers into the BWT-location array after an FMIndex query?

I asked in a separate thread but haven't heard back in a while. So I decided to try my luck again (sorry for the spam). If I have the code below:

`#include <iostream>`
`#include <seqan/sequence.h>`
`#include <seqan/index.h>`

`using namespace seqan;`

`typedef FMIndexConfig<void, uint64_t> TConfig;`
`

[2017-07-03 09:47] #2060 closed

[2017-07-03 12:39] cpockrandt commented on #2087
Hi @xhongyi

Sorry for coming back so late to you. I'm still looking into this issue. Insert a SeqAn-String into the find-method, then it should work:

    while(find(fmFinder, Dna5String("GTGCTCATCTCCTTGGCTGTGATACGTGGCCGGCCCTCGCTCCAGCAGCTGGACCCCTAC")))

But I agree that this behavior is odd and should be the same for both configurations. I'll let you know when I made a PR to fix this.

Regarding

[2017-07-03 12:43] cpockrandt commented on #1676
I close this issue now, it doesn't make sense to keep this issue open for 3.0. @h-2 Please reopen if you feel differently about it.

[2017-07-03 12:43] #1676 closed

[2017-07-03 19:03] xhongyi commented on #2087
@cpockrandt Actually, it worked.

However, there is a still a catch. If I load in a large dummy sequence, in my case the partial first chromosome of human_genome_v37.fasta (chr1). Build the FMIndex of that chromosome (with StringSet<String<Dna5> >). Then if I use the following code:

   while(find(fmFinder, String<Dna5>("GGTGGGCAGTTCTGGAATGGTGCCAGGGGCAGAGGGGGCAATGCCGGGGCCCAGGTC")))
        std::co

[2017-07-03 19:06] xhongyi commented on #2087
@cpockrandt The same issue won't happen for a smaller sequence.

[2017-07-03 20:45] xhongyi commented on #2087
@cpockrandt is there a way I can send you code snippets?

Iterator with FMIndex has many very weird behaviors. Depending on the StringSet, it is sometimes correct and other times very incorrect. It is as if it can only travel at most 24 layers in the suffix tree before it stops.

It would be much easier if I can just send over code snippets so that you can easily reproduce the problems.

[2017-07-03 22:33] xhongyi commented on #2089
I found a hacky way of achieving this:

From experiment, I think the order goes A->C->T->G. Therefore  fmFinder.range.i1 after find(fmFinder, 'A') will simply be the first entry of the BWT-array.

With that, all subsequent positions, relative to the first entry, in the BWT-array can be computed by simply subtracting fmFinder.range.i1 - first_entry_pos (first_entry_pos is simply the first entry of

[2017-07-04 04:31] Ahhgust opened #2090 "Seqan on Ubuntu 14.04"
There seems to be some issues with seqan on ubuntu 14.04
First, if you install seqan-dev using apt, the file seq_io.h is not in the include directory (I'm not sure what else is missing).

If you clone the repository from git then seq_io.h is present (yay!), however I am still having compilation issues. Bare bones example (should look familiar):
eg.cpp:
[code]
I attempted to compile the above using

[2017-07-04 08:43] smehringer commented on #2088
@h-2 I can't reproduce your error on macOS (10.12.5), g++7.1.0
 Can you provide more information about your case?

[2017-07-04 14:33] h-2 commented on #2090
@Ahhgust There are currently two major versions of SeqAn: SeqAn1 and SeqAn2. In Ubuntu the package name for SeqAn2 is `libseqan2-dev` but it is only available on the two most recent ubuntu releases. `seqan-dev` is the name of the SeqAn1 package.Github gives you SeqAn2, as well.

You seem to be mixing SeqAn1 and SeqAn2 code in your example, e.g. the RecordReader does not exist anymore. Please use o

[2017-07-04 14:34] h-2 commented on #2090
PS I also recommend that you use cmake, as it will set other compiler flags and includes correctly for you.

[2017-07-04 14:37] h-2 commented on #2088
Hm, it appeared with Lambda, but I don't see how it is related. I configured lambda with the following settings:
[code]

[2017-07-05 17:32] cpockrandt opened #2093 "Timeouts for test_index_bifm"
There's a bug when compiled with OpenMP (and gcc). I narrowed it down to the method

`partialSum()` in `parallel/parallel_algorithms.h` which is used for creating the Count table used for the LF mapping. For some reason the program spends > 400s in `do_spin`.

Anyway, there shouldn't be done any parallelization at all (when called by the FMindex). We usually never build indices on alphabet sizes l

[2017-07-05 18:38] h-2 commented on #2093
Well apparently there is no Serial version of the algorithm and it defaults to parallel (although it claims otherwise in the documentation). Can you make a PR with a serial version and make it default?

[2017-07-05 19:06] cpockrandt commented on #2093
That's by far the easiest way, but maybe we should look into the parallel code as well? I don't know whether the 400s overhead for spawning is realistic or whether there is another bottleneck in the code that could affect other parts of our library as well?

[2017-07-05 19:15] h-2 commented on #2093
Yes, that's a good idea, but please also add a Serial version in any case!

[2017-07-06 02:22] #2087 closed

[2017-07-06 02:24] xhongyi commented on #2087
Chris pointed out in an email. Since forward BWT and FM can only be traversed in reverse fashion, in order to iterate through the FMIndex, the query sequence has to be reversed first.

Confirmed that this will fixed the problem. Ticket closed.

[2017-07-07 00:29] sarahet opened #2095 "RazerS3 producing duplicates"
I used RazerS3 to map 5000 30bp SE reads to hg19 with Hamming distance, 10% error rate and full sensitivity. In the output SAM file I found one mapping doubled although RazerS3 should remove duplicates in the verification step.

My call:
[code]
These are all mappings for a specific read where the 7th and 8th line are the same:
[code]
As mapping position and number, positions and types of mismatche

[2017-07-07 01:00] sarahet commented on #2095
Edit: This problem seems only to appear in parallel mode.

[2017-07-10 10:18] h-2 commented on #2095
@weese Do you know anything about this?

[2017-07-10 11:42] cpockrandt commented on #2089
The code you provided does not throw any segmentation fault on my machines and it looks fine. But if you use the Iterator instead of the Finder, you can remove the Finder object and setHaystack function. There is no need to use both at the same time.

If you're interested in accessing the suffix array range, etc., I would recommend using the Iterator instead of the Finder.

    #include <iostream>

[2017-07-10 20:27] xhongyi commented on #2089
@cpockrandt
Thanks for the reply!. For bidirectional BWT, is there a way to access both the FWD and REV ranges?

P.S: I have sent you a code snippet which generates segfault.

[2017-07-10 22:09] cpockrandt commented on #2089
I just realized that there is an official interface for retrieving the range for unidirectional indices:

        std::cout << range(bwt_iter) << std::endl;

You should use the range-function instead of accessing the member (what I suggested above) since the implementation or naming could change in the future (which is very unlikely but it would be cleaner code).

For the bidirectional index there

[2017-07-12 19:17] xhongyi commented on #2089
@cpockrandt Thanks! Worked.

[2017-07-12 19:17] #2089 closed

[2017-07-13 06:15] xhongyi opened #2096 "Navigating a bidirectional FM Index"
Are  here equivalent functions of goUp and goRight for bidirectional FM index iterators just like goDown(iter, Fwd()) ??

[2017-07-13 06:34] xhongyi commented on #2096
@cpockrandt

[2017-07-13 09:15] xhongyi commented on #2096
When I do "goRight(iter, Rev())", the code won't compile and throw out an error saying:

In file included from /usr0/local/include/seqan/index.h:172:0,
                 from /usr0/home/hxin/workspace/seqAn/my_project_test.cpp:3:
/usr0/local/include/seqan/index/index_fm_stree.h: In instantiation of ‘typename seqan::VertexDescriptor<seqan::Index<TText, seqan::FMIndex<TSpec, TConfig> > >::Type seqan:

[2017-07-13 09:26] xhongyi commented on #2096
I saw a bug fix. Will try it out.

[2017-07-13 12:01] cpockrandt commented on #2096
@xhongyi Okay, let me know when you have further questions!

[2017-07-13 22:38] xhongyi commented on #2096
@cpockrandt Yes. The develop branch compiles and runs just fine! Closing the ticket!

[2017-07-13 22:38] #2096 closed

[2017-07-14 08:58] joergi-w commented on #2067
Thank you for reporting this uncaught bad_alloc exception.
You use SeqAn::T-Coffee with two very long sequences, which basically computes a full global alignment with traceback. The allocation of the dp matrix fails due to a lack of memory. I suggest you use seeded alignment instead, see this tutorial: http://seqan.readthedocs.io/en/master/Tutorial/Algorithms/SeedExtension.html
To catch the except

[2017-07-14 12:23] temehi commented on #1927
@xenigmax what is the status here? Should I start working on this?

[2017-07-15 02:54] xhongyi opened #2099 "Relative location in the hash table for Qgram Index"
Hi,

Is there a way to get the relative location in the hash table for a qgram?

For example, after I do
`hash(index, "CCCCCCCCCC");`
is there a way to know which qgram entry it is in the hash table? In other words, the relative position in the table to the first entry?

Also if I want to iterate through all qgrams in the qgramIndex and get their hash values, is there a method to do that?

The exa

[2017-07-15 02:59] xhongyi commented on #2099
Basically, after getting the indexShape Fibre, is there a way to know it's relative position in the hash table?

And is there a way to just iterate through the indexShape Fibre instead of indexCounts or indexCountsDir Fibre?

[2017-07-17 13:03] cpockrandt commented on #2099
Hi @xp3i4,

since you're working on q-gram indices and I'm not really familiar with the implementation in SeqAn, I thought you might be a better contact person. Could you help Hongyi out?

Thanks a lot!

[2017-07-19 10:09] Pbdas opened #2100 "Make SeqFileIn seek-able when index exists"
I couldn't find an API way of seeking a SeqFileIn opened from an indexed FASTA file. This would be great to have, as reading individual entries each from their offset (using the `readSequence(...)` and `sequenceName(...)`) seems to be somewhat slower than the standard.

I understand that the offset in the `.fai` points to the sequence itself, past the sequence name, so simply performing a seek on

[2017-07-19 10:20] rrahn commented on #2100
There is currently an interface that allows you to set the file to a specific position.
[code]
Let me know if that works for you.

[2017-07-19 12:14] Pbdas commented on #2100
Yes! Thank you, that seems to be a viable replacement for seeking directly on the underlying file pointer of the stream (`seekg`).

For posterity: I solved the off-by-one issue when purely using `readRecord` after seeking by reading the first record using `readSequence` and `sequenceName`, then seeking using `setPosition` and continuing on with `readRecord` for the rest.

Code looks something like

[2017-07-19 12:14] #2100 closed

[2017-07-24 04:24] sarahet commented on #2095
Just to mention this happened to me also with another dataset with sequences of the same length producing more than 100 duplicates. Do I miss some option that has to be set in order to avoid this?

[2017-07-24 07:57] smehringer commented on #2095
I just took a quick look so I hope you didn't try that already, but what about setting option `-m 1` ? (or the equivalent `--unique`)
The documentation says:
[code]

[2017-07-24 08:44] sarahet commented on #2095
As far as I understand it (and also tried) -m controls the maximum number of best matches which means that if I set the sensitivity to 100% - and want all matches I can find with a certain error rate - then this option shows me a limited number (with the 1000 best matches and -m 100 I would only get 100 of this 1000). But that does not mean that I get 100 times the same match at the same position

[2017-07-24 08:51] sarahet commented on #2095
ELAND format would also only give me one record per read but I want the exact positions and mismatches of all possible matches

[2017-07-25 00:45] sarahet commented on #2095
So I tried it again to make sure that I was correct and indeed setting -m 1 results in a single match output for each read which is not my intention. I do want all different matches that may have the same score but for example different mismatch positions and I assume it should not be the case that the exact same match can be found multiple times in the output.

[2017-07-25 07:19] smehringer commented on #2095
Hm it seems to be unwanted behaviour then.
Leaves you with ` ... > output | sort | uniq ` until @weese takes a look at it.

[2017-07-25 11:35] sarahet commented on #2095
Yes that's what I'm doing at the moment :) I just thought it would be good to report it!

[2017-07-25 13:39] h-2 commented on #2088
I was able to reproduce with regular apps like razers3...

[2017-07-26 22:31] zijuexiansheng opened #2101 "Uncaught exception of tyep std::bad_alloc: std::bad_alloc when running Stellar"
The following is the uncaught exception when I tried to run Stellar.

[code]

The command I used is `stellar ref.fa joined.reads.fa -o joined.gff`

I was just following the readme file to find SVs using gustaf, with a reference genome and Illumina MiSeq pair-end reads. But I got this error. Any idea of the reasons for this uncaught exception?

The issue exists in both master branch (commit a0691b9

[2017-08-05 02:47] ZaMaZaN4iK opened #2102 "[boost] Use approximate matching algorithms in Boost.Algorithm"
Hello.

I am Boost.Algorithm developer and currently i am working on approximate matching algorithms.

I found in seqan a lot of algorithms for approximate matching, so i must ask to you: can i use it in Boost.Algorithm under Boost license?

[2017-08-05 13:35] ZaMaZaN4iK opened #2103 "Add library to Conan package mabager"
Hello.

I think you know about modern package manager for C++ - Conan.

Can you please add your library to the package manager? It will be very useful for C++ developers.

[2017-08-08 18:18] singerj opened #2104 "Null pointer in iter_stream.h"
Dear all,

There seems to be an issue with the casting in iter_stream.h.

When applying the following patch:

[code]

example
```seqan/demos/tutorial/sam_and_bam_io/example1.cpp```
 will throw
```streamBuf: (nil)```

Best,
Jochen

[2017-08-09 06:07] singerj commented on #2104
By the way, I tested it using g++-5.2.0 and g++-6.2.0

[2017-08-10 13:50] klmr opened #2105 "Citing packages (e.g. Yara)"
Hi, I’m using YARA (in conjunction with SLIMM) in my workflow. However, it doesn’t seem to be published separately. How should I cite it in our publication? Relatedly, how should I cite recent versions of SeqAn? The original publication is rather dated and doesn’t acknowledge any of the recent authors’ contributions.

[2017-08-11 09:57] smehringer commented on #2105
Hi @klmr, thanks for using SeqAn.

Unfortunately @esiragusa has not published YARA yet, so I think it's fine to reference to the GitHub page (https://github.com/seqan/seqan/tree/master/apps/yara) and cite SeqAn.

As you asked, we actually got accepted into the Journal of Biotechnology last month with the current state of our library.
Title: The SeqAb C++ template library for efficient sequence ana

[2017-08-11 12:30] esiragusa commented on #2105
Hey Konrad! As Svenja said, there is no journal article describing the latest Yara. However you can use one of these two references [here](https://github.com/seqan/seqan/tree/master/apps/yara#references): my dissertation describes the latest version of Yara, while the NAR paper describes an older version.

[2017-08-11 14:30] h-2 commented on #2102
Can you not include it with our 3-Clause BSDL? Are they incompatible? It might be difficult to get a license change, but I can check around at the beginning of september

[2017-08-11 22:25] ZaMaZaN4iK commented on #2102
I can't inlude it with 3-Clause BSD, right.

Thank you. I hope that you will check question about relicensing ASAP.

[2017-08-14 09:43] #2105 closed

[2017-08-14 09:45] klmr commented on #2105
So, to clarify, the Masai paper describes an earlier version of Yara? Cool, didn’t know that.

[2017-08-15 18:47] smehringer commented on #2101
Hi @zijuexiansheng,

we are really sorry for answering so late. I don't know much about Stellar but since the error occurred while constructing the index @cpockrandt might be able to help?
From experience, index construction errors often occur due to memory issues, so make sure you don't exceed your quota limits anywhere.

[2017-08-15 18:50] zijuexiansheng commented on #2101
@smehringer Thank you very much. I'll try and see if I can solve the issue by myself. At least I have some clues now.

[2017-08-15 18:52] smehringer commented on #1873
Feel free to re-open the issue.

[2017-08-15 18:52] #1873 closed

[2017-08-15 19:03] smehringer commented on #2101
I'm really not sure about this, but in case the index is created on secondary memory in your temp directory, you could try `export TMPDIR=/somewhere/else/with/more/space` to avoid the quota or disk space limitation.

[2017-08-15 19:12] cpockrandt commented on #2101
@zijuexiansheng This doesn't look like an out-of-secondary-memory error from the index module to me but it's worth a shot. You could also try one of the binaries of stellar (see http://packages.seqan.de/stellar/) and check whether the error occurs there as well or whether it might be a bug in newer SeqAn versions.

[2017-08-16 10:33] smehringer commented on #2104
Hi @singerj,
we're sorry for answering so late but a lot of us are on vacation around this time.

Why do you need this patch?

Since `StreamBuffer` is a derived class of `std::basic_istream`, a dynamic_cast will always fail because you are "down casting", so a `static_cast` is the proper thing to do is it not?

[2017-08-16 10:49] singerj commented on #2104
Hi @smehringer,

thanks for the reply. The code changes from above are not meant to be a patch, but much rather should only show the problem.

If I use -fsanitize=undefined,float-cast-overflow,float-divide-by-zero as compiler options for gcc(5.2.0/6.2.0) I get the following results on the original code:
[code]

Note that this problem is also present in seqan2.3.2 and most likely in the develop bra

[2017-08-17 14:14] cbielow opened #2110 "building FM index fails"
I'm currently trying to build an FM index using code written by a student in Seqan 2.
Basically using this code-base: https://github.com/jpalbrecht/OpenMS_PI2 (with slight modifications such that it actually compiles)
Test-System: redwood
Seqan: latest release

This is what I get when building the index for a 9 GB FASTA input file:
[code]

the output directory contains files like `160406_Uniprot_P

[2017-08-18 07:52] cbielow commented on #2110
the crash above occurs when writing the index to a network-mapped drive.
So I thought, the timeouts might be network related. But they are not. Trying the same using a local drive (for both reading the FASTA and writing the index), crashes at the exact same point, i.e. 32812 files are written, then it crashes.

[2017-08-18 08:22] cbielow commented on #2110
same error message and number of files written before the crash in Windows

[2017-08-18 08:32] cbielow commented on #2110
using another FASTA database (160MB instead of 9GB), the index creation succeeds, yielding 358k output files. Go figure ...

[2017-08-20 14:31] h-2 commented on #2110
I assume with "network-mapped" you are referring to SAMBA? Have you tried setting the temporary directory to a local directory with sufficient space? Note that the space requirements for the index-construction with skew are around 30n.

[2017-08-22 08:29] cbielow commented on #2110
using a non-default TMPDIR (with 13 TB free space) seems to 'solve' the problem, but raises another (after 10h of index-building):
after creating 5611794 files in the output directory, it crashes again saying
`Open   failed on file   bacteria/160406_Uniprot_Proteome_Bacteria_+crap+MQ_FWBW.txt.txt.5578982:   "No space left on device"`

And indeed,
`echo "bla" > bacteria/160406_Uniprot_Proteome_Bact

[2017-08-23 07:31] cbielow commented on #2110
`typedef seqan::StringSet<seqan::Peptide, seqan::Owner<seqan::ConcatDirect<> > > StringSetConcat;` solved the issue, creating only 78 files. thanks @h-2 :)

[2017-08-23 07:31] #2110 closed

[2017-08-24 12:27] #2067 closed

[2017-08-29 07:41] singerj commented on #2104
Hi @smehringer,

are there any news?

Cheers,
Jochen

[2017-08-30 13:55] h-2 commented on #2104
Hey Jochen,

yeah, looks like something is broken. @temehi can you have a look at this? @rrahn will be coordinating another release of SeqAn2 in September, but right now many people are unavailable...

Best,
Hannes

[2017-08-30 15:11] Funatiq commented on #1670
The problem still consists in the mason apps. There were some suggestions in #838 to fix this, but it got closed without resolving this issue here.

[2017-08-30 19:33] SoapGentoo commented on #2104
@smehringer `dynamic_cast` is a superset of `static_cast`, and whenever `static_cast` is valid, so is `dynamic_cast`.

[2017-09-01 10:26] h-2 commented on #1670
Renaming and re-opening.

The abovementioned line in mason needs to be changed from
[code]
This is now tagged for milestone 2.4.0, but if  you could make a PR for this it would certainly be fixed faster 😃

[2017-09-01 11:20] Funatiq commented on #1670
Well I'm a little confused about how you handle those things. I've seen something like
`setValidValues(parser, "seq", getFileExtensions(Fasta()));`
or
`setValidValues(parser, "o", SeqFileOut::getFileExtensions());`
in the other apps. There are many apps like mason that still have hardcoded file extensions for parsing.
Is there a difference between those code lines?

[2017-09-01 13:07] h-2 commented on #1670
Yes, there is. The SeqFileOut's getFileExtensions also add extensions based on supported compression formats, e.g. `.faa.gz`. The line I posted above is how other apps like Lambda do it so I am sure that will work.

[2017-09-05 00:41] sarahet opened #2111 "RazerS3 misses matches and gives inconsistent results"
I am working a lot with RazerS3 lately and I came along the following problem: I am working with short reads (23 bp) and try to get all hits for each read up to a specific number of mismatches (no gaps and full sensitivity). An example call would be:

[code]
As according to the manual RazerS3 can deal with up to 50% error rate, I wanted to detect mismatches up to 7 (percent-identity 68 for example

[2017-09-05 09:26] h-2 commented on #2111
@weese can you comment on this?

[2017-09-07 12:25] h-2 commented on #2103
There is a growing number of these OS agnostic package manager, but TBH packaging already consumes lots of resources.
If you are acquainted with Conan, can you add and maintain the SeqAn package?

[2017-09-07 13:30] ZaMaZaN4iK commented on #2103
I can try to package it.

P.S. Conan is the most popular package manager now in the C++ world.

[2017-09-07 16:12] okulev opened #2112 "readRecords from GffFileIn with ending "###" line fails with "seqan::UnexpectedEnd""
Using Debian seqan2-dev 2.3.1+dfsg-4 and genome annotations tutorial snippet:

[code]

on uncompressed ftp://ftp.ensembl.org/pub/release-90/gff3/homo_sapiens/Homo_sapiens.GRCh38.90.gff3.gz fails with the following message:

[code]

After removing the last line `###` from the GFF3 file, it is parsed successfully.

[2017-09-17 02:41] fritzsedlazeck opened #2114 "Mason2 methylation simulation"
Hi,
I wanted to simulate some methylation treated reads, but all the reads are starting between position 1 and 10 of the reference genome.
Any suggestions?
Thanks
Fritz

[2017-09-17 03:13] fritzsedlazeck commented on #2114
To be more precise. It appears that they start from different positions, but the positions that are reported are always between 0 and 10.

[2017-09-17 07:55] xhongyi opened #2115 "[Urgent!!] Is globalAlignmentScore thread safe?"
Hi,

I just briefly read through the code of globalAlignmentScore. It seems like it is thread safe. Each function call will allocate its own stack to store the DP data. Therefore calls to globalAlignmentScore from different threads won't cause data races.

Please confirm this is correct. Thanks!

[2017-09-18 09:03] rrahn commented on #2115
This assumption is correct.

[2017-09-18 09:05] rrahn commented on #2114
Can you please provide your command line settings for the tool?

[2017-09-18 09:32] rrahn commented on #2112
Mhmm, as far as I understand gff3 format, the `##` indicates a new section.
Following this document here: http://gmod.org/wiki/GFF3
So if your file ends with these section indicator, the parser assumes more data.
So in this case I wouldn't strictly say that the parser is wrong but the file format is not following the specifications.

[2017-09-18 09:36] rrahn commented on #2103
Currently we are developing strategies for continues deployment. If conan can be automated well we might add it in the future. Thanks for pointing this out.

[2017-09-18 09:41] rrahn commented on #2111
Hi at the moment the core developer of Razers3 is no available anymore. Can you give us access to your data via an ftp share or something. We can than investigate this issue. But please bare with us, since we first have to transfer the ownership of the code to another developer.

[2017-09-18 09:42] rrahn commented on #1670
is this issue resolved?

[2017-09-18 10:17] #2115 closed

[2017-09-18 10:31] rrahn commented on #2101
What is the state of this issue?

[2017-09-18 10:33] rrahn commented on #2099
@xp3i4 please answer the question.

[2017-09-18 10:34] rrahn commented on #2095
@xp3i4 can you have a look please.

[2017-09-18 10:41] rrahn commented on #2093
partialSum without any parallel tag defaults to Serial: https://github.com/seqan/seqan/blame/master/include/seqan/parallel/parallel_algorithms.h#L201
Well, the parallel partialSum version is mainly used by the qGram Index creation. At least what I know.
But anyway, what is the state here?

[2017-09-18 10:42] rrahn commented on #2090
Please reopen if this issue is not resolved.

[2017-09-18 10:42] #2090 closed

[2017-09-18 10:44] rrahn commented on #2088
@joergi-w can you please look into it?

[2017-09-18 10:45] rrahn commented on #2085
@h-2 please fix 😆

[2017-09-18 11:37] joergi-w commented on #2088
Sure! I already looked into it in July together with @smehringer and we could not reproduce it (see above). I will try again and report here...

[2017-09-18 11:39] rrahn commented on #1952
Well, this might be by design, not documented well. I currently don't know if certain functionality of the Stringset is supported by strings. Not always they can be used interchangeably.
Where do you need it?

[2017-09-18 11:41] rrahn commented on #1995
I make it a task to add valgrind to the nightlies.

[2017-09-18 11:43] rrahn commented on #2051
@alexanderwhatley please reopen if you think that this issue is not resolved yet.

[2017-09-18 11:43] #2051 closed

[2017-09-18 12:23] ZaMaZaN4iK commented on #2103
Yes, it can be. You should just use simple python script for this and create your own repo on BinTray. After that you. If your package will be well-maintained, Conan maintainers will include your package to official conan-center repo (central official repo for Conan packages).

[2017-09-18 12:46] fritzsedlazeck commented on #2114
I have called the methylation part:
mason_methylation -i ~/projects/ref/Schizosaccharomyces_pombe.ASM294v2.22.dna.genome.fa -o S_meth.fa

then the read simulation part:
 mason_simulator -ir ~/projects/ref/Schizosaccharomyces_pombe.ASM294v2.22.dna.genome.fa --enable-bs-seq --meth-fasta-in S_meth.fa -n 100 --illumina-read-length 50 -o reads.fasta -oa reads.sam

I have tried to vary different options

[2017-09-18 12:47] fritzsedlazeck commented on #2114
Here are the version that I am using:
mason_methylation version: 2.0.7 [75beba3]
SeqAn version: 2.3.1

I installed them over bioconda.
Thanks
Fritz

[2017-09-18 13:28] okulev commented on #2112
The GMOD document talks about sections only in FASTA section explanation, for FASTA sequence that follows `##FASTA` line.

The [specification](https://github.com/The-Sequence-Ontology/Specifications/blob/master/gff3.md) talks about pragma directives:

The `###` used by Ensembl is specifically listed as such directive:

[2017-09-18 14:08] rrahn commented on #2112
Ok, thanks for pointing to this.
We'll take care of it.

[2017-09-18 14:12] rrahn commented on #2062
please reopen if the issue is not solved yet.

[2017-09-18 14:12] #2062 closed

[2017-09-18 20:54] smehringer commented on #1952
Umm, sorry. It's been too long for me to remember.. I'll reopen it if I come across it again.

[2017-09-18 20:54] #1952 closed

[2017-09-18 22:34] fritzsedlazeck commented on #2114
From the code and from what I tested it seems that the fragment positions is not added.
If I do this: infos[i].beginPos+fragments[i / 2].beginPos (mason_simulator.cpp line 699 for paired ends) I seem to get the correct position.
However, I could not found the location where this should be different between the methylation part and the "normal" read simulation.
I hope that helps.
Cheers
Fritz

[2017-09-19 08:40] rrahn commented on #2114
Thanks for the input. We'll have a look.
cheers,

René

[2017-09-19 14:49] h-2 commented on #1547
Blocked by ContinuumIO/anaconda-recipes#67

[2017-09-19 14:56] h-2 commented on #1547
@esiragusa @weese On a more general note: I will not add SeqAn apps to other package management systems if these apps are not maintained any longer. We have many open issues for both Yara and RazerS. Increasing the visibility of these apps will just increase the amount of reports we get.
Unless you make an effort to react to issues regarding the apps or find new maintainers, Yara and RazerS will b

[2017-09-19 17:00] h-2 commented on #1979
Hm, this will be hard to figure out. @sagitter Do you have recommendations for virtualizing this, or can you provide remote access to a ppc64 machin?

[2017-09-20 08:49] sagitter commented on #1979
We have remote accesses to test machines for package maintainers of Fedora only.

Fedora 25 PPC64
Fedora 25 PPC64le (little endian)

[2017-09-20 10:00] mr-c commented on #707
@holtgrewe I don't think the issue with the suggested workaround was ever fixed: https://github.com/seqan/seqan/issues/866

[2017-09-20 10:52] h-2 commented on #707
@mr-c What are you referring to exactly? readRecord+std::string or multi-threaded IO?

[2017-09-20 10:54] mr-c commented on #707
readRecord+std::string

[2017-09-20 11:11] rrahn commented on #707
@mr-c you are right. #866 is not fixed and probably won't be fixed for SeqAn 2.x.
Though, we will have a working version of that for a new SeqAn 3 cycle. That however is on our mid-term/long-term roadmaps and won't be available before the next year.

[2017-09-21 06:23] xhongyi opened #2117 "telling apart 'A' and 'N' for Dna5 during DP pattern matching."
Hi,

I have been using `String<Dna5>` and it seems to me that during DP, 'N' is treated as 'A'. Is there a way that I treat 'N' as 'N' and get penalties when it is matched against any letter other than 'N' (for example, 'N' matched to 'A' is a counted as a mismatch)?

Thanks,

[2017-09-22 13:48] xp3i4 commented on #2095
7th and 8th lack enough mapping details. They may be different since they can be mapped in different ways to the same region in the ref that outputs as the same results. not sure.

[2017-09-22 13:48] xp3i4 commented on #2111
I'm not sure the details of the tests here.
But the possible reason I think is  Razsers3 was not optimized for such short length and large error rate of reads in the tests since benchmark from its paper were almost for 100bp high quality reads.
Besides different filters may have different results, I think.

[2017-09-22 14:05] xp3i4 commented on #2099
Hi Hongyi,  I remember I have written something  in the email month ago. Does it works now?

[2017-09-25 23:39] sarahet commented on #2111
I don't think that the different filters should give different results. First of all, the read mapper should have full sensitivity according to my parameter settings and full sensitivity is just all matches - no matter what filter is used. Besides, the documentation states that the two filters are just more optimized concerning runtime for either short reads or long reads.

[2017-09-25 23:42] sarahet commented on #2095
What do you mean concerning "lack enough mapping details"?  In general they can't be mapped in different ways to the same region as I used the no-gap parameter which means mismatches only. For one read there is only one way it can map to a specific reference region then.

[2017-09-26 15:14] xp3i4 commented on #2111
Hi Sara, please consider the decoys/false positive.  Full sensitivity doesn't  mean same results.
Yes,  but what is the limitation of its length? I remember pigeonhole search qgram where q<=lengh/error+1 in your case, q<=3.  Such short length is not efficient to use pigeonhole.  So I think Razers3 is not designed for such task.

[2017-09-26 15:28] xp3i4 commented on #2095
No gaps in your case seems to be no gaps both for the read and the genome. But if so just searching kmers is enough. It's meaningless to map reads.
Otherwise it can be mapped in different ways. I think.
so I think may be you can check what -ng exactly mean

[2017-09-27 20:13] zijuexiansheng commented on #2101
I tried from Stellar 1.4.6 to 1.4.10 (Linux 64bit). Still no luck.

[2017-09-28 06:09] rrahn commented on #2101
Ok. We have to look at the tool pipeline because the maintainer of these apps are not available anymore. So just to make sure I understand you correctly. You want to do SV detection using Gustaf but you have to run Stellar before?
Can you give us more specifics of the size of the reference genome, the number of reads and their length etc. The error typically indicates an allocation of to much main

[2017-09-28 13:45] temehi commented on #680
@rrahn could you please close this issue as its milestone is 3.0.0 and doesn't make sense to have it in this repo. (SeqAn  2.x.x)?

[2017-09-28 13:47] temehi commented on #866
I will modify the milestone to 3.0.0 and close this issue,

[2017-09-28 13:51] mr-c commented on #866
? Why was this closed?

[2017-09-28 13:59] xhongyi commented on #2117
Hi can someone confirm that right now 'A' is matched to 'N'?

[2017-09-28 14:01] temehi commented on #866
@mr-c we were unable to fix this due to a complicated design issue for any of 2.x.x releases. Sorry for the inconvenience.

[2017-09-28 14:13] tungufoss opened #2119 "Reading bgzip fastq files"
Is it possible to read bgzipped fastq files in seqan? Do I maybe need to rewrite the file ending beforehand? Because the automatic .gz ending of bgzip terminates with an instance of 'seqan::UnexpectedEnd' of input. Regular gzip files work fine, but I have a subsequent program that needs the file to be bgzipped instead of gzipped.

[2017-09-28 14:42] mr-c commented on #866
@temehi That's fine, I understand moving to a new milestone, but shouldn't the issue remain open?

[2017-09-28 14:45] temehi commented on #2119
Hi,

1. Do you have BZip2 library installed?  If not, you can do so following the guidelines at:
http://seqan.readthedocs.io/en/master/Infrastructure/Use/InstallDependencies.html

2. are you using CMake? Was CMake able to locate the BZip2 package?

[2017-09-28 16:14] tungufoss commented on #2119
I'm using bgzip version 1.5, not bzip2. Is there support for that? Or do I need to use bzip2 instead?
Seqan is 'successful' opening the bgzip file, however, it's when I start reading the records it suddenly fails after processing a few reads. Probably because it thinks it's a gzip compression given the .gz file extension, and isn't actually opening it correctly.
The easiest solution is simply to g

[2017-09-28 16:31] mr-c commented on #1861
I've uploaded v2.3.2, now with `armel` enabled as the GCC bug was fixed

The new build result will eventually be visible here: https://buildd.debian.org/status/package.php?p=seqan2

[2017-09-28 17:04] tungufoss commented on #2119
It was easier to fix the subsequent program. Back to using regular gzip files instead of bgzip.

[2017-09-28 17:04] #2119 closed

[2017-09-28 20:05] zijuexiansheng commented on #2101
The reference genome

* total length: 4641702
* only 1 contig

reads before mate joining (Illumina Miseq read pairs)

* total length: 6702992347 + 6703466407
* number of read pairs: 22391084
* Picard statistics
    * mean insert size: 597.043745
    * standard deviation: 150.504076
    * pair orientation: FR

reads after mate joining

* total length: 13406458754
* number of reads: 22391084

[2017-09-29 16:25] zijuexiansheng commented on #2101
I added some code and noticed that Stellar threw the bad_alloc exception when allocating 34359738369 * 8 bytes (about 256 GB) of data. I was able to replay this exception for a few times using a simpler code, but after that, the exception was gone. But obviously, Stellar has more frequent allocate/deallocate behavior, so every time I run it, the exception will occur.

If there is a simpler way to

[2017-10-01 21:05] h-2 commented on #2119
The file has to be named .bgzf since we detect format by extension!

[2017-10-01 21:06] h-2 commented on #866
Yes, please keep it open!

[2017-10-01 21:09] h-2 commented on #680
No, please don't close the issues for 3.0.
We need to have an overview over the open issues  when working on Seqan3. When we end-of-life seqan2 we can then iterate over the issues and decide which ones to move to seqan3 and which to close.

[2017-10-04 09:38] rrahn commented on #2117
Hi sorry for the late answer.
The [SimpleScore](http://docs.seqan.de/seqan/develop/) can only differentiate between mismatch and match. In this case 'N' against 'N' matches and 'N' against everything else will not match.
You can, however, use a custom scoring matrix. Please follow the following tutorial http://seqan.readthedocs.io/en/master/Tutorial/HowTo/Recipes/WorkWithCustomScoreMatrices.html t

[2017-10-04 15:14] rrahn commented on #2117
Mhmm, actually the SimpleScore class would not differentiate. It simply checks if two values are the same. If, however, someone overloaded the comparison for Dna5 than this could be possible. I will create a test case and check the scenario.

[2017-10-04 15:32] rrahn commented on #2117
@xhongyi can you verify, that you align a `Dna5` vs a `Dna` sequence?
If both are `Dna5`, then the comparison is as I mentioned already. But if one of the alphabet types is `Dna`, then both types will be converted to the smaller alphabet type (`Dna` in this case) forcing the `N` to be converted to an `A` implicitly. That's why you might see the odd behaviour.

[code]

[2017-10-04 15:42] xhongyi commented on #2117
Hi,

I aligned 2 DNA5 strings.
I will give an example code when I reach office.

Hongyi

[2017-10-04 18:39] xhongyi commented on #2117
Just confirming 'A' and 'N' are different. Perhaps there were some errors in my earlier test... Sorry for the confusion. Good to have the confirmation!

I'm closing the issue. Thanks for answering the question!!!

[2017-10-04 18:39] #2117 closed

[2017-10-05 14:58] rrahn opened #2120 "Check if SEQAN_CONSTEXPR_IF can be used to speed up the alignment code"
We can add a macro `SEQAN_CONSTEXPR_IF` in if statements to enable the `if constexpr` feature if c++17 is enabled, which can `no-op` some branches based on compile time decisions.
Before c++17, the compiler might or might not decide to remove a branch.
This also effects some portability issues, because the c++17 based `if constexpr` is more powerful than the current behaviour, as all branches (als

[2017-10-05 16:10] martinjvickers opened #2121 "Reading BAM Records into a FragmentStore in batches"
How do I go about reading BAM Records into a FragmentStore in batches?

I'm trying to work with the reads at specific bases within the TAIR10 genome. So first I created a FragmentStoreConfig to deal with Iupac bases and now I'd like to extract regions out, iterate over the genome etc. without using all the RAM.

[code]

A small BAM file (1.3GB - 28million reads) locks up my 32GB RAM workstation ju

[2017-10-07 11:01] rrahn opened #2122 "No MoveConstructibleConcept"
We apparently don't have this in SeqAn 2.x

[2017-10-07 11:57] rrahn opened #2123 "Default text of datarace field in API docu could be improved"
Change the default text of the datarace field in the dox API to:
`If not stated otherwise, concurrent invocation is not guaranteed to be thread-safe.`

[2017-10-08 00:45] hia3 opened #2124 "Trying to access an element behind the last one!"
**$ cat bug.cpp**

    #include <seqan/index.h>

    int main() {
        using namespace seqan;

        auto s = std::string(100, '\xff');
        String<char> myString = s;

        using TMyIndex = Index<String<char>>;
        TMyIndex myIndex(myString);

        Iterator<TMyIndex, SuperMaxRepeats>::Type myRepeatIterator(myIndex, 3);
    }

**$ g++ -DSEQAN_ENABLE_DEBUG=1 bug.cpp -o bug -Iseqan

[2017-10-09 13:32] rrahn commented on #1949
Keep the issue open for ArgParser in SeqAn 3.0

[2017-10-09 13:33] rrahn commented on #1979
Can we have access to these machines?

[2017-10-09 13:41] rrahn commented on #2038
Might be already fixed by #2118

[2017-10-09 13:46] rrahn commented on #2054
* [ ] Add tutorial

[2017-10-09 13:50] rrahn commented on #2065
Have a final check on the status

[2017-10-09 15:31] joergi-w commented on #2088
The problem is specific to compiler g++-4.9 (tested both homebrew and macports) and relates to all try/catch blocks in the program. We should set the `SEQAN_EXCEPTIONS` macro to false for this compiler.

This issue is also reported [here](https://github.com/Homebrew/homebrew-core/issues/7837).

[2017-10-10 10:15] h-2 commented on #1861
@mr-c Thanks for letting us know! One more thing: do you currently run the test-suite after the builds? I remember this used to be turned on, but then you turned it off again, because some things were broken.

I am asking, because there might be run-time problems as we are seeing on fedora/ppc64 as well: #1979
I suspect there might be minor issues on other platforms, especially *el..

[2017-10-10 10:27] h-2 commented on #2085
false positive; the seqan code is ok; the problem was somewhere else in lambda

[2017-10-10 10:27] #2085 closed

[2017-10-10 10:55] h-2 commented on #1994
re-opened #2006, please review

[2017-10-10 10:56] h-2 commented on #2044
@temehi and I replaced the last builds in KNIME, but the issue itself was not fixed IIRC. It should be fixed by a mac person before 2.4.0

[2017-10-10 10:59] h-2 commented on #2102
This seems to be more difficult here... do you need a copyright-waiver, or would you accept the BOOST license text with the current copyright holders (Knut Reinert and Freie Universität Berlin)?

[2017-10-10 11:01] h-2 commented on #1182
done

[2017-10-10 11:01] #1182 closed

[2017-10-10 11:03] h-2 commented on #879
@rrahn Can you incorporate this when making the new tokenization in seqan3?

[2017-10-10 11:08] h-2 commented on #355
@rrahn @marehr I would like to get this right from the beginning in SeqAn3!

[2017-10-10 11:38] joergi-w commented on #2088
For the case that `SEQAN_EXCEPTIONS` is not defined, the current definition of the `SEQAN_CATCH` macro is wrong. It requires a `constexpr if (false)` such that the following block is not compiled. In the current `if (false)` implementation the (unreachable) code block produces warnings and errors due to undeclared variables.
We will fix it partially: if `SEQAN_CONSTEXPR_IF` evaluates to `if conste

[2017-10-10 15:39] rrahn commented on #2123
@h-2 what do you think?

[2017-10-10 16:29] hh1985 opened #2128 "Manipulation of the bit code of a DNA sequence"
Hi,

I think the most compact way of encoding DNA is like: A --> 00,  C --> 01, G --> 10,   T --> 11.  I want to manipulate DNA sequence directly through bits (different bit operations).  Is there any easy way of getting std::bitset like object from DnaString object?

Thanks,

-Han

[2017-10-10 16:54] temehi commented on #2075
I am not really a fan of the new format.  An optional column in the middle is a bit tricky. Anyways I will create a PR, that enables reading the new format. When it comes to writing we will use the old format with the "FORMAT" column present but empty.

[2017-10-10 17:27] rrahn commented on #2128
We do have a packed string that does exactly what you want wrapping the SeqAn String interface.
http://docs.seqan.de/seqan/develop/?p=PackedString
Does this help?

[2017-10-10 18:24] hh1985 commented on #2128
@rrahn Thanks a lot!  I will give it a try.

-Han

[2017-10-10 18:24] #2128 closed

[2017-10-11 18:23] marehr commented on #2038
#2039 already fixed it

[2017-10-12 10:31] mr-c commented on #1861
@h-2 You are welcome!

The tests are only on amd64 and kfreebsd-amd64; currently not all of them pass as documented in the top post (" seqan pylib stuff not found")

[2017-10-12 11:33] h-2 commented on #1861
We would be interested in them running on other platforms especially since we don't have many of the architectures to test on ourselves.

Do you have current logs somewhere? I am not sure how the whole packaging thing  works in Debian and when tests take place.

There is a `seqan2` package that produces `libseqan2-dev` and `seqan-apps` packages, correct? Do you have different terminology to keep t

[2017-10-12 15:06] mr-c commented on #1861
@h-2
We were excluding the `util/py_lib` folder. When the `util/py_lib` folder is added back to the source package then we get `99% tests passed, 2 tests failed out of 399`

Failing is `build_manual` (due to missing dependencies) and `test_test_arg_parse_version_check` (unknown, see below)

Is there a simple way to skip a test or two?

After I finish the license audit of `util/py_lib`. I will try

[2017-10-12 16:04] h-2 commented on #1861
That's good news already.

One of the debian-med people already looked at it at some point and found minified JS and other issues. However, this is only needed for the doc which you are not building anyways, correct? ( `-DSEQAN_NO_DOX=1`)

So you would need to include `util/py_lib.`, but can then exclude `util/py_lib/ddoc` and `util/py_lib/dox` with the offending files.

This should not be built i

[2017-10-12 16:14] h-2 commented on #1861
I just checked the package description, and saw:

adep: python-jinja2
adep: python-sphinx
adep: python-nose
adep: default-jdk

If you are not shipping the manual, you don't need these packages.

[2017-10-13 07:37] mr-c commented on #1861
FYI: `-DSEQAN_NO_DOX=1` doesn't disable the manual -- I'm adding a local patch to skip the manual for now

[2017-10-13 09:25] h-2 commented on #1861
Yep, you are right. However not having sphinx installed should 😆

[2017-10-13 10:15] mr-c commented on #1861
@h-2 Ah, good to know -- I've backed that patch out.

I've also patched out a single line from `test_arg_parse_version_check` as we aren't turning off `-DSEQAN_DISABLE_VERSION_CHECK=YES` for the main build and I don't see how to turn it on for just the tests.

[2017-10-13 10:18] mr-c opened #2132 "organize the third party Python code into a common directory"
`util/py_lib/third_party` for example

[2017-10-13 10:19] mr-c commented on #2132
This would be helpful to packagers; thanks!

[2017-10-13 12:56] h-2 commented on #2132
Yeh, sorry, that's a real mess. I think the only thing required for the (application) tests is `util/py_lib/seqan/app_tests.py`. I am not sure if that depends on anything else in there, but I think not. The rest is for building the documentation...

In general we are currently focusing our efforts on a last feature-release of SeqAn2 (possibly to be followed by 1-2 bugfix releases next year) and th

[2017-10-13 12:58] mr-c commented on #2132
@h-2 That's fine, I just wanted to make sure this got recorded.

[2017-10-13 12:59] h-2 commented on #2120
Yes, this will be only a replacement for regular if clauses, not type-specific branching. Since we test with c++14 by default, we don't run the risk of mixing these up, I think.

But, we would need to add a c++17-ified compiler to travis.

[2017-10-13 13:04] h-2 commented on #2120
Btw, I would propose
[code]
i.e. if_constexpr instead of constexpr_if and including the if in the macro.
But no strong feelings about it.

[2017-10-13 13:08] h-2 commented on #2124
Sure looks like a bug. @cpockrandt can you look into it?

[2017-10-13 13:10] h-2 commented on #2029
fixed via #2125

[2017-10-13 13:10] #2029 closed

[2017-10-13 13:18] h-2 commented on #1861
Yeah, but it is not ideal, I have patched it myself now: #2133

Ok, sounds good!

[2017-10-13 13:41] mr-c commented on #1861
Test failures on `ppc64el` from `test_test_stream`

[code]
[code]
/<<BUILDDIR>>/seqan2-2.3.2+dfsg2/include/seqan/file/file_mapping.h:700 FAILED!  (mapFileSegment(4096,4096,3) failed (filesize=5000000): "Invalid argument")

stack trace:
  0       [0x11dea3038]  seqan::ClassTest::fail() + 0x28
  1       [0x11dee6e0c]  void* seqan::mapFileSegment<seqan::MMapConfig<seqan::File<seqan::Async<void> >, un

[2017-10-13 13:41] #2132 closed

[2017-10-13 13:42] mr-c commented on #1861
and `sparc64` is experiencing the [most struggle](https://buildd.debian.org/status/fetch.php?pkg=seqan2&arch=sparc64&ver=2.3.2%2Bdfsg2-1&stamp=1507901461&raw=0) so far:

[code]

[2017-10-13 15:07] mr-c commented on #1861
@h-2 How do you want these build failures reported? Separate issues?

Here's [`s390x`](https://buildd.debian.org/status/fetch.php?pkg=seqan2&arch=s390x&ver=2.3.2%2Bdfsg2-1&stamp=1507902905&raw=0)

[code]

[2017-10-13 15:23] h-2 commented on #1861
The feeling when your exceptions where met, but you expected bad news 😆

Could you make individual issues for the platforms, please?

As a first culprit I assum async-io. Fortunately we have an (undocumented) flag for this already. Could you check whether passing `-DCMAKE_CXX_FLAGS="-DSEQAN_ASYNC_IO=0"` to the builds improves the situation? If yes, we could default this to 0 for those platforms al

[2017-10-13 15:28] mr-c commented on #1861
@h-2 Oddly, that makes me feel better :-P

So one issue per platform? Can do.

I will add `-DCMAKE_CXX_FLAGS="-DSEQAN_ASYNC_IO=0"` to each platform that is failing `test_test_stream` (which is all platforms with a test failure so far), sure.

[2017-10-14 11:18] mr-c opened #2134 "2.3.2 test errors on ppc64el"
This was tested by a real ppc64el CPU on Debian.
This build does have `-DCMAKE_CXX_FLAGS="-DSEQAN_ASYNC_IO=0"` as requested by @h-2
- [x] test_basic_alphabet_adapt_builtins
- [x] test_test_sequence
- [x] test_test_stream
[code]

[2017-10-14 14:43] mr-c commented on #2134
Interestingly, when [build on a real `ppc64el` system](https://buildd.debian.org/status/fetch.php?pkg=seqan2&arch=ppc64el&ver=2.3.2%2Bdfsg2-2&stamp=1507990225&raw=0), we get a failure on `test_test_stream` and not `test_test_sequence`

[code]

[2017-10-14 14:59] mr-c opened #2135 "2.3.2 test errors on ppc64"
Built on `ppc64` for `ppc64`

This build does have `-DCMAKE_CXX_FLAGS="-DSEQAN_ASYNC_IO=0"` as requested by @h-2

[Full log](https://buildd.debian.org/status/fetch.php?pkg=seqan2&arch=ppc64&ver=2.3.2%2Bdfsg2-2&stamp=1507990431&raw=0)
- [ ] test_test_bam_io (SEGFAULT)
- [x] test_test_basic_alphabet (Failed)
- [ ] test_test_seq_io (Failed)
- [ ] test_test_store (Failed)
- [x] test_test_stream (Faile

[2017-10-14 15:07] mr-c opened #2136 "2.3.2 test errors on powerpc"
Built on `powerpc` for `powepc`

This build does have `-DCMAKE_CXX_FLAGS="-DSEQAN_ASYNC_IO=0"` as requested by @h-2

[Full log](https://buildd.debian.org/status/fetch.php?pkg=seqan2&arch=powerpc&ver=2.3.2%2Bdfsg2-2&stamp=1507990044&raw=0)
- [ ] test_test_bam_io (SEGFAULT)
[code]
- [x] test_test_basic_alphabet (Failed)
[code]
- [ ] test_test_seq_io (Failed)
[code]
- [ ] test_test_store (Failed)
[co